[2019-05-23 02:02] mtxr commented on #242
@saulfautley would you mind sharing the result of this query? Even with the explorer tree not working you should be able to run queries.

[code]

If you prefer, you can send it to me via email: matheus@mteixeira.dev

What is happening is that somewhere in the tree we might have found a char that is breaking the tree creator, so I will need to now if we have an invalid char in the `tree` prop this

[2019-05-23 02:08] mtxr commented on #241
You are right! If the file is inside of a workspace, it should be relative.

Would you mind submitting a PR? Your solution is half way there.

https://github.com/mtxr/vscode-sqltools/blob/05ebdc6080c6b588c91a1015c7f8d1ad3ff01476/packages/plugins/connection-manager/screens/settings.ts#L42-L52

We should basically do what you said before `commands.executeCommand` if the dialect is SQLite and the fil

[2019-05-23 02:10] mtxr commented on #239
is it ok assign this issue to you, @lando-cal ?

take your time, you don't need to hurry with that because it's very new so we have time to work on that before a huge adoption.

[2019-05-23 02:28] mtxr commented on #152
@julientype do you want to work on this issue?

[2019-05-23 02:33] mtxr commented on #152
Actually, I'll remove that table from tree.

All other tools doesn't show it. So I won't show it too.

[2019-05-23 02:41] #152 closed

[2019-05-23 02:50] mtxr commented on #202
This error `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory` happened before in other projects when we got a memory leak.

I'll debug registering the footprint tomorrow in my work with a full day using that the extension to see how it goes. But I haven't seen this before. It's weird

[2019-05-23 03:57] lando-cal commented on #239
Yep, totally fine!
I'll keep ya posted.

On Wed, May 22, 2019, 8:10 PM Matheus Teixeira <notifications@github.com>
wrote:

[2019-05-23 12:41] saulfautley commented on #242
Looks like the issue is due to one of my databases having a `.` in its name. Tested with a fresh container, created a new database `test_1`, worked fine in SQLTools. Copied the database to `test_2.0`, refreshed SQLTools and immediately got the same error.

[2019-05-23 12:46] mtxr commented on #242
Got it! Thanks! I'll fix that tonight

[2019-05-23 21:10] julientype commented on #152
sqlite_sequence    just needs to be hidden when you load your tables .... its relay an internal table you should not edit..... in fact sqlight will prevent any operation to it even delete....

[2019-05-23 23:33] nmggithub opened #246 "ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MariaDB client"
I am in college, and my University has given us each a MariaDB database login for a database course we have. PHPMyAdmin can connect, as well as the Linux mariadb package, and also the Node.js mariadb package. This extension does not work and gives the above error. I have tried the known fix and it did not solve it.

[2019-05-23 23:38] nmggithub commented on #246
Update: it appears my user is: "IDENTIFIED VIA pam". Not sure if this is what is causing the auth failure.

[2019-05-23 23:57] mtxr commented on #246
Witch MariaDB version are you using?

Also, can you try to connect using 'xprotocol' as described in https://vscode-sqltools.mteixeira.dev/connections/mysql#know-errors-and-how-to-fix
On May 23 2019, at 8:38 pm, Noah Gregory <notifications@github.com> wrote:

[2019-05-24 08:01] mickeypearce commented on #222
@callamaris , are you maybe working on this? if not I will go ahead...

[2019-05-24 11:47] ZgrK opened #247 "command 'mysql.runQuery' not found"
**Describe the bug**
**command 'mysql.runQuery' not found** This error showing when trying to run the query

**Screenshot**
[https://i.ibb.co/S7McLWp/Screen-Shot-2019-05-24-at-14-42-29.png](url)

**Desktop :**
 - SQLTools Version 0.19.1
 - VSCode Version:  1.34.0 (1.34.0)
 - Dialect Used: Mysql
 - OS: Mac

[2019-05-24 12:34] mtxr commented on #247
Hi @ZgrK

I believe we have a misunderstanding here. This command is from another extension, the MySQL extension, look:

https://github.com/formulahendry/vscode-mysql/blob/af46548fa0190ab4c6ab360aecbdedefcae3120a/package.json#L66-L70

I believe you have both extensions installed.

To run the query using SQLTools, you  need to setup a connection and use the command `CMD+e CMD+e` (or `SQLTools Conne

[2019-05-24 12:34] #247 closed

[2019-05-24 12:35] mtxr commented on #246
@nmggithub did you get it working?

I'll close this issue, but please, re-open if you still face some problems.

[2019-05-24 12:38] ZgrK commented on #247
oo sorry :) I see my mistake everything working well now 👍

[2019-05-24 13:24] nmggithub commented on #246
It is MariaDB v10.1.32. And, per my last message, "I have tried the known fix and it did not solve it." So, yes I did try the xprotocol fix. It did not solve it.

[2019-05-24 13:26] nmggithub opened #248 "ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MariaDB client"
Remaking this issue as I cannot reopen my previous issue. Please see previous issue for details so we can continue our dialogue.

[2019-05-24 13:53] mtxr commented on #248
Closed in favor of #246

[2019-05-24 13:53] #248 closed

[2019-05-24 13:57] nmggithub commented on #246
After looking into it some more, it appears the issue is with the `mysql` Node.js package. I just installed it locally and am receiving the same error. I do not receive the error when using the `mariadb` Node.js package. There is an [open issue](https://github.com/mysqljs/mysql/issues/2001) over at the repository for the `mysql` package and I informed them of this. I can look through the source co

[2019-05-24 13:58] mtxr commented on #246
Which port are you using? Did you try adding a 0 in the end? Eg: 3306 -> 33060

MySQL/MariaDB xprotocol usually runs in another port.

Would you mind sharing your connection settings? blurring username, password and server of course.

I'll try to reproduce this here during the weekend.

[2019-05-24 13:59] mtxr commented on #246
That's awesome! If you want, you can submit a PR implementing a dialect for MariaDB only. Then we could detach the support from mysql to mariadb.

Take a look at #219

[2019-05-24 14:02] #242 closed

[2019-05-24 14:03] nmggithub commented on #246
I can definitely give that a look. I'm not sure when I will be able to fully do it as I am busy with college work. However, I will look into it.

[2019-05-26 13:28] ransagy opened #251 "Column filtering breaks results panel"
**Describe the bug**
Trying to filter a query after it was done via the Results panel's filtering text boxes causes the results panel to go blank and further queries don't seem to display their results anymore until closing the panel and possibly even requiring a reconnection/restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new SQL file and connect to a DB.
2. Perform some que

[2019-05-27 07:32] dik111 opened #252 "Failed to install dependencies for SAPHana Request"
OS:WIN10
VSCODE version ：1.33
SQLTools version: 0.19.1
When I try to install dependencies for SAP Hana , It reported the following error:

INFO: Executing SQLTools.selectConnection
INFO: Executing SQLTools.selectConnection
ERROR: Error:  { [Error: Request DependencyInstaller/install failed unexpectedly without providing any details.
	at handleResponse (C:\Users\11007166\.vscode\extensions\mtxr.sql

[2019-05-27 08:15] mtxr commented on #252
@ariel-bentu can you give a hand here?

[2019-05-27 08:21] mtxr commented on #235
We need to develop this feature.

By the link you sent, I believe you are using xprotocol, right?

[2019-05-27 11:29] ariel-bentu commented on #252
Eventually, what runs under the hoods, is:

npm install @sap/hana-client@2.4.126 --@sap:registry=https://npm.sap.com

@dik111, Can you try run it directly in the command-line?

[2019-05-27 14:45] dik111 commented on #252
HI @ariel-bentu,it got an error,here is the log:

verbose argv "E:\\Blog\\node.exe" "E:\\Blog\\node_modules\\npm\\bin\\npm-cli.js" "install" "@sap/hana-client@2.4.126" "--@SAP:registry=https://npm.sap.com"
verbose node v8.11.4
verbose npm  v5.6.0
error code E404
error 404 Not Found: @sap/hana-client@2.4.126

[2019-05-27 22:33] paultissue opened #253 "Support MSSQL LocalDB"
MSSQL LocalDB is not supported.  Please support this.

To Reproduce:

Try Connection string setting.
{
    "sqltools.connections": [
        {
            "name": "LocalDB",
            "dialect": "MSSQL",
            "connectString": "Server=(LocalDB)\\MSSQLLocalDB;Database=master",
            "connectionTimeout": 30
        }
    ]
}
Error opening connection The "config.server" property is requ

[2019-05-28 01:57] mrchypark commented on #235
Oh, I just fallow you guys docs like below.

https://vscode-sqltools.mteixeira.dev/connections/mysql

[2019-05-28 07:30] ariel-bentu commented on #252
My mistake, the @SAP should be @sap (as it is in the code. try running this:
`npm install @sap/hana-client@2.4.126 --@sap:registry=https://npm.sap.com`

[2019-05-28 08:25] dik111 commented on #252
it work!
thanks a lot @ariel-bentu

[2019-05-28 08:25] #252 closed

[2019-05-28 09:55] ransagy commented on #253
see #61 #129 #214

[2019-05-28 09:59] ransagy opened #254 "Running a selected query changes the keyboard focus to the results panel"
**Describe the bug**
Running a selected query moves the keyboard focus to the results panel from the SQL tab. This worked before as far as i remember and allowed for a more streamlined workflow - For example, I could re-run the query again and again with a keyboard shortcut to see progress.

**To Reproduce**
1. Open a new SQL tab and connect to a DB.
2. Run the query either via keyboard shortcut o

[2019-05-28 14:03] mitchellsimoens commented on #241
PR #255

[2019-05-28 17:39] OmarMAbbasi opened #256 "SQlite3 is installed but fails to install dependancies"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Add sqlite3 server
2. Try to connect
3. Try to install sqlite3 (sqlite3 is already installed via npm and is current... so unclear why this step is required)

**Expected behavior**
Opens SQlite database I pointed it at

Failed to install dependencies for SQLite Request DependencyInstaller/install failed un

[2019-05-28 17:58] OmarMAbbasi opened #257 "Cannot destructure property `connId` of 'undefined' or 'null'."
**Describe the bug**
Trying to save a PostgreSQL to JSON or CSV

**To Reproduce**
Steps to reproduce the behavior:
1. Run any Query
2. Try to save as JSON/CSV
3. Cannot destructure property `connId` of 'undefined' or 'null'.

**Expected behavior**
Expected to save....

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information

[2019-05-28 20:03] OmarMAbbasi commented on #256
Did a few clean installs and now I am getting

Electron is not supported. You should enable 'sqltools.useNodeRuntime' and have NodeJS installed to continue.

I have nodejs installed and the option is enabled...

/home/omarmabbasi/.nvm/versions/node/v10.13.0/bin/nod

[2019-05-29 10:22] Eggybread610 opened #258 "Bookmarks getting wrong CodeLens comments"
**Describe the bug**
Nothing severe. If I make a bookmark, give it a name and a group. Then I edit that bookmark, it opens a new page with the query and some codelens comments. However it states the the @group is the query name and the @name is the query group.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bookmark, give it a name and group
2. Edit the same bookmark (ctrl+shift+p

[2019-05-29 23:13] shemco opened #259 "Button to write query results to csv temp file and open with Excel"
**Is your feature request related to a problem? Please describe.**
Exporting query results to csv then opening the file is slow, and messy from a UX perspective.

**Describe the solution you'd like**
Add a button that causes a csv file to be written to a Temporary folder and opened with the default program.

**Describe alternatives you've considered**
n/a

**Additional context**
SQLTools SQL clien

[2019-05-30 03:13] #241 closed

[2019-05-30 03:24] mtxr commented on #256
What is being outputted before this error on SQLTools output channel?
Also, what is being outputted by SQLTools - Language Server output channel?

Can you run `npm -prefix /home/omarmabbasi/.vscode/extensions/mtxr.sqltools-0.19.2/ ls` and check if it lists `sqlite@4.0.6`?

SQLite should be installed inside of the extension folder by the dep installer.

Even if you have it globally, we install in t

[2019-05-30 03:26] mtxr commented on #257
Close in favor of #259.

It's the same issue.

[2019-05-30 03:46] mtxr commented on #256
@OmarMAbbasi  Forgot to say, set `"sqltools.useNodeRuntime": true,` in your settings

[2019-05-30 03:56] mtxr commented on #259
This is definitely a good first issue.

If anyone want to take a shot, here is a quick guidance:
- we could use https://www.npmjs.com/package/tempfile to create a tmp file
- we already have a function that open files externally (core/utils/vscode.ts -> openExternal), just reuse
- add a setting to allow user to open file in VSCode or externally, can be a simple boolean I guess

@shemco any thoughts

[2019-05-30 04:00] mtxr commented on #202
@omiba any updates?

I've tried again to track it down, still can't reproduce

I'll close this since I believe it's gone. I are already in version v0.19.x, it might have been an isolated issue in that version.

Please, reach me back if you have any updates or the problem persists, we can reopen and try to dig deeper on this

[2019-05-30 04:00] #202 closed

[2019-05-30 04:11] #257 closed

[2019-05-30 04:17] nmggithub commented on #246
OK, I am not sure if you noticed, but I am currently in the process of working put a pull request over at the mysqljs repository. Once done there, I can then make a pull request to this repository to add an option in the New Connection dialog, which will allow it to use the new featured added.

[2019-05-30 04:18] #254 closed

[2019-05-30 04:19] mtxr commented on #254
Thanks @ransagy .

I can't remember why I changed it, but taking focus is very obtrusive.

[2019-05-30 04:24] mtxr commented on #246
Nice @nmggithub !

No hush. Let's do it in your time.

[2019-05-30 04:28] #251 closed

[2019-05-30 05:10] OmarMAbbasi commented on #256
useNodeRuntime is set to true :D. That was the first thing that I ran into and ended up having to strip down brew and and uninstall/reinstall the whole nvm-sql suite to even get it up and running -.-. I'm pretty sure a ton of my terminal is still corrupted because of how linuxbrew was doing things.

 As to your reccomendations:

npm -prefix /home/omarmabbasi/.vscode/extensions/mtxr.sqltools-0.19.2

[2019-05-30 05:11] #224 closed

[2019-05-30 05:14] mtxr commented on #256
@OmarMAbbasi sorry, I've typed the wrong command.

Should be `npm -prefix /home/omarmabbasi/.vscode/extensions/mtxr.sqltools-0.19.2/ install sqlite3@4.0.6`.
It's sqlite3, not sqlite :(

Please try again.

But before that, try to install using the extension and post the logs here (from SQLTools and SQLTools Language Server)

[2019-05-30 05:38] OmarMAbbasi commented on #256
Gonna Break This up for you. Have fun.

Language Server

Telemetry enabled!
Event: sessionStarted:language-server
Message: Initialized with node version:v12.3.1
Configs reloaded!
Request connection/RefreshAllRequest received
Request connection/RefreshAllRequest received
Request connection/ConnectRequest received
Request DependencyInstaller/install received
Received request to install deps: [{"type

[2019-05-30 05:39] OmarMAbbasi commented on #256
SQLTools

ERROR: (node:11924) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
DEBUG: Expanded command for shell /bin/bash [ '-l', '-c', 'solargraph socket --port 0' ]
DEBUG: Congratulations, your extension "vscode-postgres" is now active!
DEBUG: Configs reloaded!
INFO:

[2019-05-30 05:50] OmarMAbbasi commented on #256
Oh and running this command gives me this.... I think this might be some sort of edge case regarding my system...

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   '/home/omarmabbasi/.nvm/versions/node/v12.3.1/bin/node',
1 verbose cli   '/home/omarmabbasi/.nvm/versions/node/v12.3.1/bin/npm',
1 verbose cli   '-prefix',
1 verbose cli   '/home/omarmabbasi/.vscode/extensions/mtxr.sq

[2019-05-30 06:00] mtxr commented on #256
You are running node v12. Haven't tested it yet. That's an issue with `sqlite3` package and not with the extension itself.

Give me a day, I reach you back. I need to test this.

If it's urgent, you can install node 10 that is more stable and most of the libraries support it.

Thanks @OmarMAbbasi!

[2019-05-30 06:04] mtxr commented on #256
@OmarMAbbasi did a quick test, works if upgrading to sqlite3@4.0.8

I got the same error upgrading to node v12 and trying to install sqlite3@4.0.6 (current used version)

I'll fix this and release. Thanks!

[2019-05-30 06:13] #256 closed

[2019-05-30 06:23] mtxr commented on #258
Hi @Eggybread610 !

Thanks for reaching us with this issue. This is a good first issue to contribute. Would you like to try to fix it?

[2019-05-30 06:25] mtxr commented on #214
@raedwa01 did you get it working?

[2019-05-30 06:27] mtxr commented on #253
@paultissue try to take a look in those issues @ransagy aforementioned.

[2019-05-30 12:23] #222 closed

[2019-05-30 15:35] mcardia opened #261 "Oracle - Timeout"
Oracle connection takes to long to load and most of the time it raises timeout.

I think it's related with oracle owner with a big dictonary.

I don´t know how the extension load the list of table/objects for the explorer/navigator, but,
if it´s using dba_* or all_* views, i would suggest to use user_* views and ignore public synonyms.

![image](https://user-images.githubusercontent.com/11967511/5

[2019-06-01 00:07] ADWolfe-LoyNO opened #262 "Great difficulties with settings, postgresql connection seems ok but dead"
**Serious operating issues - basically can hardly get it to do anything**

I have a new install of VS Code and installed the current (2019-05-31) SQL Tools extension on Microsoft Windows 10.

In the command palette, I selected "sql tools add new connection" several times.  Usually I would get a window labeled SQL Tools Settings that was completely blank. The new connection wizard/form has only com

[2019-06-01 17:48] #235 closed

[2019-06-01 18:06] mtxr commented on #235
@mrchypark next release will allow you to set ssl ca.

If you are using MySQL default protocol, just to like this:
[code]

If you are using MySQL xprotocol protocol, just to like this:
[code]

[2019-06-02 04:26] mtxr commented on #203
Hi @weltherrschaf!

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:27] mtxr commented on #207
Hi @KorneiDontsov!

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:28] mtxr commented on #216
You are welcome @gulshan!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:29] mtxr commented on #224
Hi @shyce !

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:30] mtxr commented on #226
Hi @Drogon1573!

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:31] mtxr commented on #235
@mrchypark How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:31] mtxr commented on #241
Hi @mitchellsimoens!

Just came to remember, if you like the project, please consider reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:32] mtxr commented on #242
Hi @saulfautley!

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 04:33] mtxr commented on #256
HI @OmarMAbbasi!

How is it going with the extension? Is it working as expected now? Hope so!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-02 07:54] Drogon1573 commented on #226
@mtxr

I have received your comment. Thank you very much for your ability to fix the bug in time. Now it can work correctly.

![image](https://user-images.githubusercontent.com/49941141/58758371-23bbd880-854d-11e9-977d-ab967b6266fd.png)

![image](https://user-images.githubusercontent.com/49941141/58758479-2ff46580-854e-11e9-9e60-055d9207729d.png)

I want to donate to your project. But I have no cr

[2019-06-02 09:36] benyaminl commented on #240
@mtxr is it only me or this also effect other people?

[2019-06-02 17:47] mtxr commented on #240
@benyaminl I'll check it deeper. Still don't have this answer right now.

I'll take a look on it later today, together with #238.

They are not really related (at least in a first look), but I plan to fix both today/tomorrow

[2019-06-02 17:54] mtxr commented on #226
@Drogon1573 nice!

No problem, just please, take a few minutes to review it at https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools

That will help more people find the extension as well. More people using, more feedbacks, more improvements, more donations :smiley:

Thanks!

[2019-06-03 11:29] KorneiDontsov commented on #207
Hi @mtxr!
I became your patreon and reviewed the extension. Thank you for you work! All is working pretty good. Nice to meet the new releases. It just keeps getting better and better :)

[2019-06-03 11:30] mtxr commented on #207
Thanks @KorneiDontsov!

Glad to hear that :smiley: !

Let's keep it moving forward!

Have a great week,

Best regards,
@mtxr

[2019-06-03 13:15] OmarMAbbasi commented on #256
It's working great. Ran into a bit of an edge case regarding loading up the
wrong file as a sqlite. It stops loading things entirely and keeps throwing
errors.

I'll try and recreate it later but I have an exam today. I'd donate but I'm
a broke student :(. I'll leave a review for sure though!

On Sat, Jun 1, 2019, 9:33 PM Matheus Teixeira <notifications@github.com>
wrote:

[2019-06-03 14:24] mickeypearce commented on #261
hey @mcardia ,

extension uses queries from https://github.com/mtxr/vscodesqltools/blob/master/packages/core/dialect/oracle/queries.ts file to load tables: `fetchTables`, columns in tables `fetchColumns`, functions `fetchFunctions`, etc...

[2019-06-04 17:05] forrcaho opened #264 "Please support AWS Redshift"
[AWS Redshift](https://aws.amazon.com/redshift/) is a dbms specializing in data warehousing originally forked from PostgreSQL 8.x.

I tried using the postgresql driver to connect, but get this error:
[code]
This function was introduced with postgresql version 9.0.

A postgresql 8 compatible driver should be able to work with AWS Redshift.

[2019-06-04 18:24] mtxr commented on #264
Hi @forrcaho!

PostgreSQL 8.x doesn't have this function `pg_get_function_result` so Redshift.

Do you have any ideas of how to list functions (system/users) in Redshift? I don't have any idea now, but I'll take a look on how to make it work. Is there any other tool (DBeaver, datagrip) that provides function listing for Redshift that you are aware?

Thanks!

[2019-06-04 19:08] forrcaho commented on #264
In my own case, we don't use functions (or stored procedures, which I suspect will exhibit the same problem) in our Redshift instance. So, disabling any function/stored procedure querying would probably be the simplest fix, and that would most likely work fine for me personally.

That said, it appears that functions and stored procedures do exist in Redshift, as documented from a database user per

[2019-06-04 19:10] mtxr commented on #264
What's the output of this query:

[code]

If it works, we can still list functions and procedures for both postgres and redshift. The plan is to use this listing later on intellisense, so I prefer to keep it for all dialect.

Let me know if this query works.

Thanks again @forrcaho !

[2019-06-04 19:14] forrcaho commented on #264
The query works! I can't share the results as it's a private database, but there were some rows returned, and it looks fine.

[2019-06-04 19:19] mtxr commented on #264
Nice! Would you like to contribute to the project? We basically need to replace this query on
https://github.com/mtxr/vscode-sqltools/blob/ee858e7213159cfcf530367476f69fde5649d52b/packages/core/dialect/pgsql/queries.ts#L79-L95

After replacing, you can easily build and test it there, check the explorer on sidebar etc..

If it's ok for you, I would appreciate. I don't have an easy way to test it on

[2019-06-04 19:38] forrcaho commented on #264
I don't think I'd be able to get to it any sooner than you. My situation is complicated a little by the fact that I'm using VSCode Insiders [Remote - SSH](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) and don't have access to the db from my local system.

I looked in the `~/.vscode-server-insiders/extensions/mtxr.sqltools-0.19.4` directory and it appears that the

[2019-06-05 07:57] janosimas commented on #13
You may be behind a restricted network, check this link: https://stackoverflow.com/a/21385322

[2019-06-05 08:19] Danieleeee commented on #13
Thanks, it works!
Now I have this errors when I try to connect:
`ERROR: Error:  NJS-040: connection request timeout
WARN: rejected promise not handled within 1 second: Error: NJS-040: connection request timeout
WARN: stack trace: Error: NJS-040: connection request timeout
	at handleResponse (C:\Users\dricci\.vscode\extensions\mtxr.sqltools-0.19.4\extension.js:919:48)
	at processMessageQueue (C:\Us

[2019-06-06 18:33] SciFreakholic commented on #214
Hello, please excuse my ignorance, but is it possible to connect with integrated credentials? I've been trying to do that in Windows with no successful results. Thanks in advance.

[2019-06-06 21:36] mehmeteminisik opened #265 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `sqltools`
- Extension Version: `0.15.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\mei_g\mtxr.sqltools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-l

[2019-06-07 03:55] #264 closed

[2019-06-07 04:01] mtxr commented on #264
Hey @forrcaho!

I've just published a new version that supports Redshift. Please test it and let me know how it goes. Hope everything works perfectly!

Also, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-07 19:12] jbunselmeyer opened #266 "Unable to Expand Database Connection To See Tables, Etc."
I am a new user to SQLTools. I was able to install the extension and create several connections to SQL Server database servers. I appear to be able to connect to those connections normally (icon is yellow) but when I attempt to expand a connection that is currently connected no additional items (tables, etc.) are displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Connect (pl

[2019-06-07 19:21] jbunselmeyer commented on #266
May be related to #262 as the end results were similar (showed connected, clicking arrow/triangle to expand shows nothing).

[2019-06-09 16:56] forrcaho commented on #264
Confirmed that this works for me. Thanks!

[2019-06-10 02:16] mtxr commented on #264
HI @forrcaho !

Glad to hear that!

Just came to remember, if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-06-11 17:30] ilnerdchuck opened #268 "SQLTools.Selectconnection not foud"
**Describe the bug**
Hi i'm trying to oper a new connection but VS shows an error message command "SQLTools.Selectconnection" not foud

**To Reproduce**
Just run the command to open a MySQL connection

**Expected behavior**
Shoud open the connection congif file

**Screenshots**

![Capture](https://user-images.githubusercontent.com/13486351/59293152-e3f89d80-8c7e-11e9-89a6-87cf69ff8bdc.PNG)

**Desk

[2019-06-11 18:04] zyxifrash opened #269 "ORA-24415: Missing or null username on LDAP connection for OracleDB"
**Describe the bug**
Connecting to an Oracle DB using LDAP does not send the username/password, even when manually forced in the settings.json file.

**To Reproduce**
Steps to reproduce the behavior:

- SQLTools->Connections->Add New Connection
  - Change Dialects to `OracleDB (Node Native)`
  - Change Connection Method to `Connection String`
  - Note the Username/Password fields disappear
  - Ent

[2019-06-12 08:26] skotlex opened #270 "codelens/query problem"
**Describe the bug**
1. -- @conn function does not work as expected
2. desc(describe) [table_name] not work

**To Reproduce**
Steps to reproduce the behavior:
*db: oracleDB
1. Add connections. ex. PGSQL1 and PGSQL2
2. Create sql file
3. Screen shown after coding
Run query block on active connection
-- @block select
-- @conn PGSQL1
select * from [table_name]

Run query block on active connection
--

[2019-06-12 09:19] mickeypearce commented on #270
@skotlex, Q2: no, oracledb-node driver unfortunatelly does not support script execution (SQL*Plus commands).

[2019-06-12 11:28] benyaminl commented on #268
Do you use the global or project based connection?

[2019-06-12 20:44] ilnerdchuck commented on #268
Global based

Francesco Mignone

On Wed, 12 Jun 2019, 13:28 Benyamin Limanto, <notifications@github.com>
wrote:

[2019-06-13 14:19] crowne opened #271 "Build fails on Windows 10"
**Describe the bug**
The build fails on Windows 10 with the following error:
webpack not installed, consider installing it using
npm install --save-dev webpack

It is installed in root/node_modules/.bin
I also tried running the install command above in packages/extension, but got the same result.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. Open in VSCode
3. Click "Ter

[2019-06-13 15:53] zyxifrash commented on #270
I'm not sure I follow, how is this a SQLPlus/oracledb-node issue?

According to /packages/plugins/codelens/provider.ts, it's specifically looking for a @conn statement at the top of the block, then at the top of the file - only using the active connection if neither were found. It's not specific to oracle in any way.

https://vscode-sqltools.mteixeira.dev/executing-queries also states that you're

[2019-06-13 15:54] vladimir-kotikov opened #272 "Getting Unsupported startup parameter: statement_timeout error when connecting to PostgreSQL"
**Describe the bug**
I'm getting the error when connecting to a remote Potgres:

[code]

**To Reproduce**
Nothing special, just create a connection to local postgres and try to connect

**Expected behavior**
It should connect flawlessly

**Screenshots**
![image](https://user-images.githubusercontent.com/3857604/59447590-2a2f3780-8e0c-11e9-9a6a-0d56ec4ed3fe.png)

**Desktop (please complete the foll

[2019-06-13 17:36] mickeypearce commented on #270
I was referring to Q2. Describe is a sql*plus cmd, isn't it?

[2019-06-14 01:15] qwas368 opened #273 "Test output was be blocked and no longer display to debug console when testing extension"
**Describe the bug**
As title. I developed my vs code extension and found that test output was blocked by SQLTools extension.

**To Reproduce**
Steps to reproduce the behavior:
1. Install SQLTools extension
2. create any extension by `yo code` (ref: https://code.visualstudio.com/api/get-started/your-first-extension)
3. Testing Extension (ref: https://code.visualstudio.com/api/working-with-extensio

[2019-06-15 17:25] skotlex commented on #270
I understand if it's not for support. Can I hear the answer to Q1?

[2019-06-19 11:43] ariel-bentu opened #274 "npm link before npm install"
**Is your feature request related to a problem? Please describe.**
In some cases, you'd like to deliver a fully working set of tools at once. now, with vscode remote container, it gets more clear how.
In such cases you may want to pre-install the dialect's driver.
To do so, you may run npm install -g <driver> on the Dockerfile build.

I'm looking for a way to tell sqltools to use the globally inst

[2019-06-19 12:11] bodzebod opened #275 "SQLTools is blocking user snippets"
Hi,
I used to have user snippets for inserting static code in my SQL files, based on my company's standards.
My snippets are called by entering the words "head" and "tail".
However, when I install SQLTools, those words are no longer recognized.
Please can you advise ? Thank you!

My user snippet:
[code]

[2019-06-19 12:32] mtxr commented on #275
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:33] mtxr commented on #274
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:33] mtxr commented on #273
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:33] mtxr commented on #272
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:33] mtxr commented on #271
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:33] mtxr commented on #270
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:34] mtxr commented on #269
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:34] mtxr commented on #268
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:34] mtxr commented on #266
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:34] mtxr commented on #265
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:34] mtxr commented on #262
Hi,

sorry for the late reply, I had to deal with some stuff here in the past week, I'll take a look at this within this week.

Thanks!

[2019-06-19 12:51] jbunselmeyer commented on #266
A quick update/clarification. I can run queries successfully so this issue may differ from #262 in that respect.

[2019-06-20 05:08] skotlex opened #276 "oracle db connection problem"
**Describe the bug**
Connection issue of oracle db automatically disconnected after a certain period of time.

**To Reproduce**
Steps to reproduce the behavior:

1. Connect oracle db
2. 10 minutes elapsed without any DB related work
3. DB search
4. _**Failed to search and timeout: (NJS-040: connection request timeout)**_
5. Disconnect current db for re-connection
6. Attempt to connect to DB
7. **_

[2019-06-20 06:43] ilnerdchuck commented on #268
No problem XD
Francesco Mignone

Il giorno mer 19 giu 2019 alle ore 14:34 Matheus Teixeira <
notifications@github.com> ha scritto:

[2019-06-21 03:48] pkkid opened #277 "Run query under cursor position"
**Request Description**
I'd like to set a hotkey to run the query under the current cursor position without having to select all the text. Currently I need to keep highlighting the full query and executing "Run Selected Query". It would be very convenient if I could just place my cursor anywhere in that query and execute "Run Query Under Cursor" or similar.  It's a bit tedious to keep highlighting

[2019-06-21 05:54] micodls opened #278 "Create From Selection when with long JSON fields are not save properly"
**JSON format not saved properly**
When the query has a JSON string that is long, the query is not bookmarked properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a query to be saved example:
`IINSERT INTO
  myTable (
    creds,
    flags
  )
VALUES
  (
    '{"test1":{"id":"jgsquA^00#*YQmsNDVsFuzTyJZCQBgB5","secret":"nCFeeMg9UvhIv49Azn#&CmtBj2Yr@p3u$2z2XKkkI8HoxfhM!8fz1H@3W^!7SEn

[2019-06-22 03:04] qwfys opened #279 "Vscode-sqltools cannot connect to mysql 8.0.x."
**Describe the bug**

In the Spring boot, I can connect to my mysql server with the following configuration, but I don't connect to my mysql server with vscode-sqltools.

Below is the data source configuration fragment for my spring boot project.

[code]

The following is a configuration file fragment generated when I create a mysql connection with vscode-sqltools. The current configuration file i

[2019-06-25 11:06] mickeypearce commented on #269
Hi @zyxifrash ,
can you please confirm If I understand you problem correctly.
- If you insert settings direclty into `settings.json` from the start (after vscode reload) it now works as you expected?
- Can you please post your DB confuguration settings (`settings.json`) for future reference?
Thanks for now. :)

[2019-06-26 03:53] #273 closed

[2019-06-26 03:57] mtxr commented on #279
HI @qwfys,

Try to switch port from 3306 to 33060 as seen in #195.

MySQL 8 uses xprotocol in the library we are using.

[2019-06-26 04:00] #279 closed

[2019-06-26 04:01] mtxr commented on #279
@qwfys I've added some details on docs to help on MySQL 8 setup.

Let me know if you get it working and if you need feel free to reopen this issue.

[2019-06-26 04:26] mtxr commented on #271
Are you running using `npm run watch` or `yarn run watch`?

This project rely 100% on yarn. I looks like a bug with NPM since we are using workspaces.

Anyway I've changed the script command to use relative paths for webpack. Should work now with NPM too. But I discourage NPM usage for now.

[2019-06-26 04:27] #271 closed

[2019-06-26 04:30] mtxr commented on #268
@ilnerdchuck do you still face this problems?

I could't reproduce it. Can you share the logs of `SQLTools` output channel and `SQLTools Language Server` output channel? That will help a lot! You can mask any private info, eg. paths.

Thanks!

[2019-06-26 04:32] mtxr commented on #266
@jbunselmeyer can you share the logs of SQLTools output channels?

Is you DB huge?

[2019-06-26 04:33] mtxr commented on #262
@ADWolfe-LoyNO which SQLTools version are you using?

Would you mind sharing the logs of SQLTools output channels?

Is you DB huge?

[2019-06-26 04:35] mtxr commented on #261
I must take a look on #218.

I think we are having a feel issues because of loading all data after connecting

[2019-06-26 04:36] mtxr commented on #229
VSCode's June release will bring this to stable channel!

[2019-06-26 04:56] #278 closed

[2019-06-26 04:56] mtxr commented on #278
FIxed. Will be released tomorrow.

Thanks @micodls

[2019-06-26 04:59] mtxr commented on #272
can you share you settings? You can mask private stuff.

This is only used here, and it only breaks if connectionTimeout is a string.
[code]

[2019-06-26 07:35] vladimir-kotikov commented on #272
I think it's very simple, no extra stuff. That's what I have in my workspace config file:
[code]

[2019-06-26 07:43] vladimir-kotikov commented on #272
Alternative configuration produces the same error:

[code]

Note that corresponding terminal command connects to DB just fine:

    psql -d database -h 127.0.0.1  -p 6543 -U user -W

[2019-06-26 08:15] ransagy commented on #229
Nice! Looking forward to it :]

[2019-06-26 08:58] skotlex opened #280 "Adjust the default position of the sql result tab."
The result of sql query is always a lot of column displayed.
I always move down because I don't see many columns when I get sql results on the right tab.
So I request the feture.

as-is: (default sql result tab position= right)
![1](https://user-images.githubusercontent.com/31692408/60165814-f526da00-983a-11e9-86f9-a44a2d83c447.png)

to-be: (default sql result tab position= bottom)
![2](https://us

[2019-06-26 09:10] skotlex commented on #276
I solved it using "oracleOptions" "poolMax","poolMin","poolIncrement"
In case of the same problem, I'll ask you again.
Thank you

[2019-06-26 09:10] #276 closed

[2019-06-26 09:52] mickeypearce commented on #276
Could you please share your settings?

[2019-06-26 11:23] skotlex commented on #276
"oracleOptions": {
  "poolMax": 1,
  "poolMin": 1,
  "poolIncrement": 0
}

But it's not clear if this is the perfect solution. I will test in my company's Oracle environment for a few days, and if there is a problem, I will write the issue again.

[2019-06-26 11:56] mtxr commented on #239
@lando-cal any updates on this?

[2019-06-26 12:02] mtxr commented on #238
@ransagy I believe this is fixed now per #235. I've tested with requestTimeout and tweaking pool config and it worked as expected.

 Try to tweak your settings a bit with this options: https://www.npmjs.com/package/mssql#general-same-for-all-drivers

Remember this should be inside of `mssqlOptions`. This is how we pass those options:
https://github.com/mtxr/vscode-sqltools/blob/4de76e30fb109538f09

[2019-06-26 12:02] #238 closed

[2019-06-26 12:04] mtxr commented on #44
For those who want to work in this feature request, here is a guide of how to add a new dialect.

Check this example PR: https://github.com/mtxr/vscode-sqltools/pull/219

[2019-06-26 12:07] mtxr commented on #214
@raedwa01 any updates?

@SciFreakholic We similar issues before, take a look at #61, #126 and #129. Keep me posted

[2019-06-26 12:08] mtxr commented on #240
@benyaminl does it still happens on new versions?

[2019-06-26 12:28] jbunselmeyer commented on #266
Database is ~250GB.

DEBUG: Configs reloaded!
INFO: Telemetry enabled!
DEBUG: Event: sessionStarted:extension
DEBUG: Activation time: 12.683082ms
ERROR: (node:15968) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
WARN: Git installation not found.
INFO: Executing SQLToo

[2019-06-26 12:31] #270 closed

[2019-06-26 12:33] mtxr commented on #274
@ariel-bentu what happend if the linekd version is not compatible with the extension?

That's my only concern. I set an exact version to be used with SQLTools, but I can't guarantee that it will work with a linked version.

Any suggestions?

[2019-06-26 12:38] mtxr commented on #280
Hi @skotlex,

To open results view we rely on https://code.visualstudio.com/api/references/vscode-api#ViewColumn.
We can specify which view column webviews are open, but ViewColumn doesn't have a flag to open below.

I know VSCode team have some issues open about this, but for now there's nothing I can do.

I suffer from the same problem here.

If you have any ideas on how to do this, please let m

[2019-06-26 13:19] mtxr commented on #272
I've published a new version. Will be available to update in a few minutes. Can you test again with this new version?

It's weird to see this message for you setup. Looks just fine..

[2019-06-26 13:23] benyaminl commented on #240
For now It's not,
I can't confirm more for now because sometimes the problem exist and sometimes not.
Anyway about only show the database that's defined on the connection, when will it implemented? Now every database that's assigned to that account is shown on the pannel cause slowdown.

On Wed, 26 Jun 2019 05:08:53 -0700
Matheus Teixeira <notifications@github.com> wrote:

--
Regrads,
Benyamin Lim

[2019-06-26 13:23] lando-cal commented on #239
Not at the moment. I've been in the middle of a move. Should have my rig back up by end of next week though, this is top of my list if it hasn't been tackled by then.

⁣Get BlueMail for Android ​

On Jun 26, 2019, 5:56 AM, at 5:56 AM, Matheus Teixeira <notifications@github.com> wrote:

[2019-06-26 14:20] vladimir-kotikov commented on #272
Updated and still seeng the same error :( Logs are even less verbose than last time and don't contain any errors

[2019-06-26 14:38] ADWolfe-LoyNO commented on #262
0.19.6
the database is tiny
I’m not even getting connections saved, I can’t do logs right now

I just reinstalled again, tried to create a connection, filled out the new connection and hit Create, and it went directly to another “Setup a new connection” panel.  The new information was not saved.  Repeated.  An old connection was rediscovered when I reinstalled, and it seems to connect but will not

[2019-06-26 17:03] ariel-bentu commented on #274
as you may see in the documentation, the command allows specifying version as well:
npm link [<@scope>/]<pkg>[@<version>]

when testing it, I noticed that if it is missing, it installs it (npm install). which is not good for our case.

So the way I found is the following:
-> in the dependency manager can't find the package, before asking the user to install, it executes:
npm list -g <pkg>@<version

[2019-06-26 17:20] bergamin opened #281 "Add option to force the path to the Oracle client"
**Is your feature request related to a problem? Please describe.**

At work I normally use a 32 bits Oracle (I don't know why. The environment comes ready for every new employee and it targets a shared drive), but SQLTools requires 64 bits, giving me the following error when I try to connect:

![image](https://user-images.githubusercontent.com/14339291/60200119-d8c77500-981b-11e9-9ca9-2f870eb6aa11

[2019-06-27 04:36] skotlex commented on #280
There is an option among user settings in vscode (settings.json)
= "workbench.editor.openSideBySideDirection": right | down

This is the option to change the default direction of the split editor. The advantage is that I can change the default position of the sql result tab down, and the disadvantage is that the new direction of creation of all other tabs changes downwards.

To compensate for this

[2019-06-27 04:43] skotlex commented on #280
I don't know about development, but is it possible to do the following process?

1. User clicks the execute query menu
2. SQLTools temporarily adds "workbench.editor.openSideDirection": "down" to settings.json line to save
3. Generate query results in tab below
4. After outputting the result, delete the line that was inserted in 2 and save.

I think this is an absurd opinion because I have no know

[2019-06-27 05:03] renkun-ken opened #282 "Support MySQL defaults option file and group suffix"
**Is your feature request related to a problem? Please describe.**
I cannot connect to MySQL server that `REQUIRE SSL` using local `~/.my.cnf` file that specifies `ca-cert`, `client-cert`, `client-key` file in a group like `[client-ssl]` like the following:

[code]

**Describe the solution you'd like**

More options should be supported in `mysqlOptions`:

1. `defaults-file`: https://dev.mysql.com/

[2019-06-27 21:14] bergamin opened #283 "Reopen existing session .sql file when reconnecting instead of trying to create a new file over it."
**Is your feature request related to a problem? Please describe.**
Whenever I try to connect to a database, SQLTools try to create a new SQL file in the root of my workspace. In case this is the second time I'm connecting to the same database, since the file was already created, I get the following error message (the connection does work though):

![image](https://user-images.githubusercontent.com

[2019-06-28 17:21] bergamin opened #284 "Newly created Oracle connection not being shown on sidebar (and not able to connect to it for possibly the same reason), but it is shown in the settings.json"
**Describe the bug**

![image](https://user-images.githubusercontent.com/14339291/60359102-6aff8280-99ae-11e9-8145-003f953969b1.png)

**To Reproduce**

- Created a new connection to Oracle
- Commanded it to connect just after creation in the confirmation message.
- It didn't connect and it is not shown in the connection lists
- It is still available in the settings.json

**Expected behavior**

All

[2019-06-28 17:26] C1ARKGABLE opened #285 "Add support for Teradata"
Teradata has developer tools for Visual Studio, but they’re showing no love to VS Code.

The ability to connect using LDAP would be amazing!

[2019-06-28 20:28] JRAVILES opened #286 "Create Connection Button Issue"
Hello when the VsCode Theme is setted to High Contrast, the create button on new connection wizard does not display properly. Tks

[2019-06-30 00:07] benyaminl commented on #240
Happened again if the database is hugh,
![image](https://user-images.githubusercontent.com/2817332/60390665-a365a480-9b05-11e9-8225-75f02ddfbe10.png)

[code]

[2019-06-30 00:14] benyaminl commented on #240
It even cause server running some query for non sense
![image](https://user-images.githubusercontent.com/2817332/60390692-6817a580-9b06-11e9-9778-df6e1826d868.png)
![image](https://user-images.githubusercontent.com/2817332/60390698-92696300-9b06-11e9-8d53-18f3e3cfa461.png)
see th traffic, seems the way you query it cause some problem for massive database.
Hmm...

[2019-06-30 06:17] vrokolos commented on #277
What toad for oracle does is figuring out the current query by looking at blank lines. It gets your cursor position, finds the previous blank line, next blank line and everything between those is the current query. That would be fairly easy to implement I guess

[2019-07-02 07:29] crowne commented on #271
My default way of building is:

- git clone
- open in vscode
- Terminal / Run Build Task (Ctrl + Shift + B)

This seems to launch `npm run watch`

I'm up to date with the master branch, and I tried building from command line both npm and yarn, but I was still getting errors.
After deleting the node_modules directory and rerunning `npm install` it seemed to fix the issue,
so now I can compile - Tha

[2019-07-02 22:01] mtxr commented on #271
Awesome @crowne!

[2019-07-02 22:05] mtxr commented on #240
Thanks @benyaminl!

I'll do some changes to workaround this. You did a pretty great job digging into it

[2019-07-02 22:07] mtxr commented on #286
Hello @JRAVILES and thanks!

Can you send me a screenshot of the bug?

That would help to fix it. There are some themes that it work, so I need to see how is it being displayed for you

[2019-07-02 22:08] mtxr commented on #285
Hi @C1ARKGABLE , I don't have time to work on this right now.

But if you want to try to develop this, we have a guide for new dialects.

Would you like to try?

Take a look here: #219

[2019-07-02 22:28] mtxr commented on #280
Yeah, it's a good workaround but still painful >.<

Yes, this is possible, but I don't know if this is good. To do it we should rely in a lot of sequenced events that can be easily broken. I will check with other authors if opinions about this, but even temporary, we try to change just our extension settings and any changes outside user scope are usually persistent and requires user to change it m

[2019-07-02 22:53] C1ARKGABLE commented on #285
Sure @mtxr! I’ll dip my feet in tomorrow. Will you be around if I have questions at this same time?

[2019-07-03 03:26] mtxr commented on #285
Can't promise this, I have a lot of work for tomorrow since it's a holiday in US on Thursday. But you can always drop your message and I'll reply as fast as I can.

I really appreciate you working on this since I have no experience with Teradata
Thanks!
On Jul 2 2019, at 7:53 pm, Gable Brown <notifications@github.com> wrote:

[2019-07-04 06:31] keepscoding commented on #231
Is it the same problem when i'm using date type in **postgres** and it'll show date+time with timezone offset?

[2019-07-04 06:43] BlackLight commented on #50
Not sure if I'm missing something obvious, but I really can't find the "Run Query" menu entry anywhere. Right clicking either on the query itself, on the database or any of its tables doesn't show any entry (that's the case for basically any other db editor out there). How am I supposed to run a query without adding each single one as a bookmark?

[2019-07-04 18:50] bergamin opened #288 "Add option to group similar connections into folders in the sidebar"
**Describe the solution you'd like**
I work with dozens of different connection configurations in different environments, so I would like to be able to, for example, group all the Production connections in one folder and all the Test connections in another.

I have around 10 different owners I usually work with (they are a lot more in total). I have 5 separate environments to work with (Prod, a mi

[2019-07-05 20:09] mtxr opened #290 "ATTENTION! Sorry guys! I'm in a hurry now :("
Hi everyone,

First of all, I'm sorry I've been a bit far from the project this month.

I'm having a lot of stuff to deal with in my free time, my kid is on vacation so the project is a bit stuck for now.

I'll try my best to keep things going, but please, don't expect releases in the same pace like we had before June for the next 3 weeks.

If you have the possibility to work in some issues, pleas

[2019-07-06 12:15] JRAVILES commented on #286
![image](https://user-images.githubusercontent.com/5407512/60756022-9ac21200-9fce-11e9-81ff-a4dea863ad4b.png)

[2019-07-06 13:48] mtxr commented on #286
Thanks!

[2019-07-06 13:48] #286 closed

[2019-07-06 14:05] #283 closed

[2019-07-08 03:51] mtxr commented on #272
@vladimir-kotikov  Apparently some PostgreSQL version doesn't support this as a startup parameter.

Which version are you using? I'm planning to switch the strategy for timeouts if need, but I want to confirm this hypothesis first

[2019-07-08 08:39] mickeypearce commented on #281
Node-oracledb driver used in extension doesn't include pre-built 32-bit binaries at the moment unfortunatelly. https://github.com/oracle/node-oracledb/releases/tag/v3.1.0 and https://github.com/oracle/node-oracledb/issues/923

[2019-07-09 21:31] JimFung commented on #290
Take some time for yourself man 👍

[2019-07-10 07:15] qwfys commented on #279
Thank you, I will give it a try.

[2019-07-10 07:16] qwfys commented on #279
Thank you, I will give it a try.

[2019-07-10 15:35] BrettMoan commented on #290
Enjoy your holiday! It's important to not work all the time. :)

[2019-07-11 14:54] xarielx commented on #274
I have the same issue, it does not let me use the feauture to show the dependencies, am I doing something wrong? @ariel-bentu @mtxr

DEBUG: Settings updated!
INFO: Telemetry enabled!
DEBUG: Event: sessionStarted:extension
DEBUG: Activation time: 16.2897ms
INFO: Executing SQLTools.selectConnection
ERROR: Error:  { [Error: Request DependencyInstaller/install failed with message: You need to install

[2019-07-12 17:44] NatoBoram opened #292 "Formatter is too aggressive on newlines"
## Describe the bug

I have format-on-save enabled to enforce good formatting for all my projects. However, this extension has an auto-formatter that's way too aggressive and it doesn't help the code to be actually maintainable.

## To Reproduce

Let's take a simple MSSQL script, with many updates.

[code]

Formatting this would result in some unmaintainable code.

[code]

## Expected behaviour

T

[2019-07-12 17:44] NatoBoram opened #462 "Add more options to format queries"
## Describe the bug

I have format-on-save enabled to enforce good formatting for all my projects. However, this extension has an auto-formatter that's way too aggressive and it doesn't help the code to be actually maintainable.

## To Reproduce

Let's take a simple MSSQL script, with many updates.

[code]

Formatting this would result in some unmaintainable code.

[code]

## Expected behaviour

T

[2019-07-14 15:11] ariel-bentu commented on #274
Your issue seems to be connected that npm itself cannot run to install the
dependency. It assumes node and npm to be present on your machine...

בתאריך יום ה׳, 11 ביולי 2019, 17:54, מאת Ariel Barboza ‏<
notifications@github.com>:

[2019-07-14 16:23] vrokolos commented on #277
So I implemented this and a bunch of other stuff. Please see my pull request

[2019-07-15 03:40] mtxr commented on #50
Hi @BlackLight , you can select a query and use this option from the command palette:
![image](https://user-images.githubusercontent.com/707561/61194631-1e4bc500-a699-11e9-8b18-d58f1c6a8b28.png)

Anyway I like the idea of adding it to the context menu, I'll do this tonight and release it ASAP.

Thanks for the feedback

[2019-07-15 21:08] jabacchetta commented on #195
@mtxr Wonder if this should be added to the documentation? Adding `xprotocol` and adding a `0` to the end of the port `3306` were both required to connect.

[2019-07-17 06:01] fatangare commented on #72
I am facing same issue while connecting to aws redshift

[2019-07-17 12:06] greenkeeper[bot] opened #294 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project

[2019-07-21 00:34] mtxr commented on #290
Kid is back to school next week. Let's fix some issues!

[2019-07-21 00:34] #290 closed

[2019-07-21 16:00] mato777 opened #296 "connection with a database get all databases in the connection"
I connect to a server with multiple databases. I've specified in the connection the name of the database.  Queries go to that database and work but I get the list of all databases present in that connection.  The expected result would be to see the only one database I've configured

[2019-07-22 11:08] Rid opened #298 "Add/edit rows"
**Describe the solution you'd like**
At the moment we have to use a 3rd party tool for manipulating existing tables, such as for quick table row edits or additions. It would be great if we had one tool inside VS code for doing this.

I have been using `@devexpress/dx-react-grid-material-ui` myself in another project in uncontrolled mode, it's quite simple to add this kind of manipulation. I've not

[2019-07-22 18:05] katzelad opened #299 "Change the keyboard shortcuts to use a non-otherwise functional key"
**Is your feature request related to a problem? Please describe.**
The keyboard shortcuts currently use CTRL+E, overriding one of the most useful keyboard shortcuts in VS Code.

**Describe the solution you'd like**
Use an otherwise unused key combination instead, such as CTRL+SHIFT+Q (which also intuitively matches the extension name).

**Describe alternatives you've considered**
CTRL+Q is also po

[2019-07-23 20:53] profbaco opened #300 "MySQL Database Filter (Filtro de banco de dados no MySQL)"
When connecting to a MySQL database the system is loading all the databases, not just the one I put in the connection. With the PostrgreSQL database it works fine, but not in MySQL.

(Ao fazer a conexão com um banco MySQL o sistema esta carregando todas as bases de dados, e não somente a que eu coloquei na conexão. Com o banco PostrgreSQL funciona certinho, mas no MySQL não.)

[2019-07-24 07:29] tonilxm commented on #50
@mtxr : when to release context menu feature?

[2019-07-24 15:37] mtxr commented on #50
Doing it right now.

[2019-07-24 15:38] mtxr commented on #195
Go ahead @jabacchetta . Do the changes needed in the docs and submit a PR please.

[2019-07-24 15:46] mtxr commented on #299
@katzelad, thanks for reaching us.

About the hotkeys, users can change it whenever they want using vscode keyboard shortcuts editor. The project is now 2 years old with a lot of installs, it's hard to do this kind of change. I believe you are the second one to suggest this kind of change, so I believe it's working for the other users.

In the very beginning of vscode, CTRL+Q was used and CMD+Q is

[2019-07-24 15:46] #299 closed

[2019-07-24 15:49] mtxr commented on #274
@ariel-bentu you are right.

@xarielx please install nodeJS and it should work just fine.

Closing.

[2019-07-24 15:49] #274 closed

[2019-07-24 15:50] mtxr commented on #272
Closing due lack of response.

[2019-07-24 15:50] #272 closed

[2019-07-25 05:50] mtxr commented on #298
This is upcoming!

I've started a new PR to switch from react-table to @devexpress/dx-react-grid-material-ui as seen on #297 .

I'm now working on add the vscode color scheme to it and I'll release it.

Add and edit rows will be done right after that, because it requires some work on the dialects to respect the changes required by the user. SQLTools needs to be very careful with this kind of chang

[2019-07-25 05:52] mtxr commented on #300
@profbaco there's a PR that fixes this for Oracle. I'll extend this PR to have the same behavior for other dialects. It will allow user to have an array of DB's to show for the same connection.

[2019-07-25 18:05] ClintWeaver opened #301 "Beautifier don't process global variables correctly"
**Describe the bug**
When running the Beautifer on a script with a global variable (@@SERVERNAME for example), the Beautifer splits the two @ symbols (@ @SERVERNAME), breaking the variable.

**To Reproduce**
Write a script that uses a global and run the Beautifer

**Expected behavior**
The @ symbols in global variables should not be split

**Screenshots**
If applicable, add screenshots to help exp

[2019-07-25 19:46] profbaco commented on #300
Yeah @mtxr , but if I determined which DB to use in the settings, shouldn't it respect what is in the configuration file?
---------------------
Pois é, mas se eu determinei qual o DB que é para usar, nas configurações, ele não deveria respeitar o que esta no arquivo de configuração?

[2019-07-26 09:12] lmichelin opened #302 "SQLTools table view window crashes when typing `[` in a _Filter By ..._ field"
**Describe the bug**
When I type `[` in a _Filter By ..._ field, the SQLTools table view window crashes. The following error in logged in the developer console: `[Embedded Page] Uncaught SyntaxError: Invalid regular expression: /[/: Unterminated character class`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the SQLTools panel
2. Click on the _Show Table Records_ button on a table
3.

[2019-07-26 12:29] bergamin opened #303 "SQLTools is asking for oracledb once again"
**Describe the bug**
SQLTools started asking me to install oracledb once again.

**To Reproduce**
I'm not sure if could be related, but I had to scrap my workspace because VSCode thought it would be a good idea to rebuild all applications I have in it after an update when I didn't configure it to do so (I mostly just use it as a text editor, with some limited IDE functionality).

So there were two

[2019-07-26 13:00] EmpireDemocratiqueDuPoulpe opened #304 "ER_BAD_FIELD_ERROR: Unknown column 'f.data_type' in 'field list'"
Hi,

When I set up the login settings, I get this error:
**ER_BAD_FIELD_ERROR: Unknown column 'f.data_type' in 'field list'**

**Config file:**
[code]

**Here is the console:**
![Console](https://i.imgur.com/XO4l8vY.png)

**Desktop:**
 - SQLTools Version: 0.19.7
 - VSCode Version: 1.36.1
 - Dialect Used/Version: MySQL 5.1.73
 - OS: CentOS 6.7

**Additional context**
I'm sure that login information

[2019-07-29 06:27] mtxr commented on #298
Just moved to react-grid. Next step is to allow editing :tada: :tada: :tada:

[2019-07-29 06:29] mtxr commented on #121
Vscode recently added this to custom tree views. But the community is not happy it their solution.

Try to focus on connections explorer view and start typing what you are looking for. Let me know what you think. Honestly I don't like it

[2019-07-29 06:31] mtxr commented on #127
I'll close this issue for now.

I can't add this support for all dialects. If someone wants to try it and send PRs, I'll be glad!

But for now I'll try to focus on enhance the results screen features and finish the autocomplete that is stuck for a while

[2019-07-29 06:31] #127 closed

[2019-07-29 06:32] mtxr commented on #268
@ilnerdchuck any updates on this?

[2019-07-29 06:32] mtxr commented on #214
Closing due a lack of response.

[2019-07-29 06:32] #214 closed

[2019-07-29 06:33] mtxr commented on #239
@lando-cal any updates on this?

[2019-07-29 06:36] mtxr commented on #282
I believe this was fixed on #263 .

Related to #235.

Closing.

[2019-07-29 06:36] #282 closed

[2019-07-29 06:37] mtxr commented on #253
Closing due lack of response.

[2019-07-29 06:37] #253 closed

[2019-07-29 13:13] ransagy commented on #238
Sorry for taking so long; Busy few weeks :)

Right now when i try to query something that should time out, The window crashes for me. As usual, MSSQL + Azure, With or without a custom `requestTimeout` value.

[2019-07-29 15:08] Rid commented on #298
Great job @mtxr!

[2019-07-30 07:32] juneX05 opened #307 "Failed to connect SQLite database with SQLTools"
Every time I connect my sqlite database it prompts
 "You need to install "sqlite3@4.0.8" to connect to database.sqlite."
And after I finish installing it asks to connect to the database then it repeats the prompt again

I wonder why it fails to connect with SQLite

**Desktop (please complete the following information):**
 - SQLTools Version [e.g. v0.19.7]
 - VSCode Version: [e.g 1.36.1]
 - Dialect

[2019-07-30 09:06] vladimir-kotikov commented on #272
Hey @mtxr, sorry for the delay. I'm using PostgreSQL version 10.9

[code]

however the issue does seem to be resolved now (extension version is 0.19.7) - I can connect to the same database successfully.

[2019-07-30 11:40] MLutt commented on #307
Same here, at least you're not alone. On Mint19/Ubuntu18.04/Linux via the snap store, just installed SQLTools...

[2019-07-30 13:42] mtxr commented on #307
Can you send me the logs?

[2019-07-30 19:01] MLutt commented on #307
Unfortunately, the logs don't seem to provide anything of use. However, here you go - zipped the whole logs directory of a fresh instance after trying to connect to the sqlite DB, getting the prompt to install sqlite3@4.0.8 and trying to open the connection
[20190730T205617.zip](https://github.com/mtxr/vscode-sqltools/files/3448455/20190730T205617.zip)

[2019-07-31 13:52] MLutt commented on #307
My settings json has been cleared - reinstating the setting (@juneX05 https://vscode-sqltools.mteixeira.dev/connections/sqlite ) got it to work again...

However, now I'm getting syntax errors upon opening the connection so that much to that^^ - That's nothing to do with the issue though.

@mtxr I'd say feel free to close

[2019-07-31 18:08] skamansam opened #308 "The connection list refresh button does not work."
**Describe the bug**
The connection list refresh button does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new connection via the new connection panel or by editing the settings.json file.
2. Click on the refresh button on the connections list panel.

**Expected behavior**
The new connection(s) should show up in the list of connections.

**Screenshots**
![vscode-sqltools-re

[2019-08-01 15:15] lando-cal commented on #239
I loaded it up in remote WSL, and it works fine.
Then I realized that the issue was about web view proxy-ing, which would in fact need a remote host to test properly..
Unfortunately, I don't have a container infrastructure up at the moment, so I'll have to circle back this afternoon.

[2019-08-04 02:18] #302 closed

[2019-08-04 02:19] mtxr commented on #302
@lmichelin thanks!

[2019-08-04 02:22] mtxr commented on #307
Ok. I'll close.

But can you describe this syntax errors a bit more? Is it something caused by the extension? I didn't get it

[2019-08-04 02:23] #307 closed

[2019-08-04 10:56] MLutt opened #309 "SQLite syntax error during connection initialization"
New issue requested by @mtxr in #307

@mtxr I can do better than just sending over the logs.... Try opening this SQLite database in SQLTools :stuck_out_tongue:

[X Series.sqlite.zip](https://github.com/mtxr/vscode-sqltools/files/3464820/X.Series.sqlite.zip)

Result should be:

![Screenshot from 2019-08-04 12-52-05](https://user-images.githubusercontent.com/12535109/62422685-bb0ceb80-b6b6-11e9-9db7

[2019-08-04 12:56] mtxr commented on #309
Whats the name of this Ships table? is it just Ships or is it something llike "Ships whatever"? It looks like a escaping issue

[2019-08-04 13:09] #309 closed

[2019-08-04 13:09] mtxr commented on #309
Confirmed and fixed

[2019-08-04 15:01] #304 closed

[2019-08-04 15:02] mtxr commented on #285
@C1ARKGABLE any updates on this?

[2019-08-04 16:59] C1ARKGABLE commented on #285
Haven’t had much luck. I’d have to make calls to Python or Java because there aren’t any JS drivers. I don’t want to jank it together. @mtxr

[2019-08-04 18:37] mtxr commented on #308
@skamansam I see you are using insiders. Can you confirm it still happening? I've just tested it and it worked pretty well here both Insiders and Stable.

The logs are fine. That's all supposed to be written. But I'm adding new logs to show that it was updated.

[2019-08-04 18:42] mtxr commented on #303
@bergamin if you deleted VScode config folder, you will need to reinstall it for sure. Check if it's one of this places you had a reset: https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations

The driver is installed there. Please keep me posted. That's the only situation expected this to happen (except driver updates).

[2019-08-04 18:52] mtxr commented on #275
@bodzebod I don't know exactly if I got this issue to reproduce it.
Look, if I hit `Ctrl+space` to get suggestions, I see your snippets that I've added here:

![image](https://user-images.githubusercontent.com/707561/62427840-86595e00-b6cf-11e9-8acf-a5dbb40547c9.png)

And if I start `h` and wait or hit `ctrl_space`, I see it too:
![image](https://user-images.githubusercontent.com/707561/62427847-a

[2019-08-05 08:17] PapsOu commented on #110
Hello @mtxr Did you have merged this feature into master ? I'm under 0.19.7 and I don't have this autocomplete filter.

[2019-08-06 15:06] greenkeeper[bot] opened #312 "An in-range update of css-loader is breaking the build 🚨"
## The devDependency [css-loader](https://github.com/webpack-contrib/css-loader) was updated from `3.1.0` to `3.2.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fcss-loader-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

css-loader is a devDependenc

[2019-08-07 07:04] greenkeeper[bot] opened #313 "An in-range update of csv-stringify is breaking the build 🚨"
## The dependency [csv-stringify](https://github.com/adaltas/node-csv-stringify) was updated from `5.3.0` to `5.3.1`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fcsv-stringify-5.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

csv-stringify is a direct

[2019-08-07 11:20] greenkeeper[bot] opened #314 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.9` to `12.7.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40types%2Fnode-12.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is

[2019-08-07 19:59] Joascode opened #315 "Date result formatting"
First of: I'm pretty new to the package, so I might be missing something obvious. If that's the case, I'm incredibly sorry for the trouble I cause. I totally enjoy the package and love what's been done so far (keep it up! 👏)

**Is your feature request related to a problem? Please describe.**
It's a pretty minor inconvenience: Currently when querying for date values in Postgres, the result is alway

[2019-08-08 05:12] greenkeeper[bot] opened #316 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.24` to `16.8.25`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40types%2Freact-16.8.25).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/re

[2019-08-08 15:32] forrcaho commented on #275
I am also having a problem with snippets.

I did not know about the Ctrl+space shortcut; I'm used to just typing in the snippet prefix, and it will show up in the list of completions (along with other possible completions).

The Ctrl+space shortcut makes my snippets show up, which is a good workaround to have, but unless I use that, I do not see snippets in my list of completions whenever I have a

[2019-08-08 18:22] greenkeeper[bot] opened #317 "An in-range update of husky is breaking the build 🚨"
## The dependency [husky](https://github.com/typicode/husky) was updated from `3.0.2` to `3.0.3`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fhusky-3.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a direct dependency of this project, and **it is very

[2019-08-09 06:43] ghLoser opened #318 "Endless loop connectiong to Oracle"
When trying to connect to an Oracle DB i get the following message:

Clicking on Install, i get:

Clicking on Connect I get again:

And this keeps going on and on and on and on...

OS: Win10 Pro

[2019-08-09 11:13] greenkeeper[bot] opened #319 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.8.6` to `16.9.0`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.8.6` to `16.9.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fmonorepo.react-201908090902

[2019-08-09 12:47] greenkeeper[bot] opened #320 "An in-range update of sass-loader is breaking the build 🚨"
## The devDependency [sass-loader](https://github.com/webpack-contrib/sass-loader) was updated from `7.1.0` to `7.2.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fsass-loader-7.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sass-loader is a devDepen

[2019-08-09 22:52] greenkeeper[bot] opened #321 "An in-range update of pg is breaking the build 🚨"
## The dependency [pg](https://github.com/brianc/node-postgres) was updated from `7.12.0` to `7.12.1`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fpg-7.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg is a direct dependency of this project, and **i

[2019-08-10 00:58] mtxr commented on #315
Hi @Joascode

This was fixed in the last commit here. I didn't see the issue in time, otherwise I would have linked it here, but here is the commit hash: https://github.com/mtxr/vscode-sqltools/commit/f36dfb6605a1db8845a6e109f6af1d3f34ea4ef0

It's about to be released together with the new UI.

[2019-08-10 00:58] #315 closed

[2019-08-10 02:45] #313 closed

[2019-08-10 03:00] #312 closed

[2019-08-10 03:00] #314 closed

[2019-08-10 03:00] #316 closed

[2019-08-10 03:00] #317 closed

[2019-08-10 03:00] #320 closed

[2019-08-10 03:01] mtxr commented on #321
updated

[2019-08-10 03:01] #321 closed

[2019-08-10 04:00] mtxr commented on #268
I tried to reproduce it a lot, but I've never get this bug. Closing due lack of response.

@ilnerdchuck if you are still facing this issue, please, let me know and reopen it.

[2019-08-10 04:00] #268 closed

[2019-08-10 04:04] mtxr commented on #246
@nmggithub any updates on the mysqljs issue?

[2019-08-10 04:05] mtxr commented on #239
Ok, thanks @lando-cal. Keep us posted please

[2019-08-10 04:07] mtxr opened #322 "Filter/select database(s) to list on explorer"
This issue is a group of similar issues across dialect.

We have a performance issue that leads to bugs related to connections timeouts, explorer not listing and some other weirdnesses.

See:
#240
#262
#265
#266
#296
#300

Closing other tickets in favor of this one.

[2019-08-10 04:08] mtxr commented on #240
Closing in favor of #322.

[2019-08-10 04:08] #240 closed

[2019-08-10 04:08] mtxr commented on #262
Closing in favor of #322.

[2019-08-10 04:08] #262 closed

[2019-08-10 04:08] mtxr commented on #265
Closing in favor of #322.

[2019-08-10 04:08] #265 closed

[2019-08-10 04:08] mtxr commented on #266
Closing in favor of #322.

[2019-08-10 04:08] #266 closed

[2019-08-10 04:08] mtxr commented on #296
Closing in favor of #322.

[2019-08-10 04:08] #296 closed

[2019-08-10 04:08] mtxr commented on #300
Closing in favor of #322.

[2019-08-10 04:08] #300 closed

[2019-08-10 04:11] #258 closed

[2019-08-10 04:14] mtxr commented on #285
Got it.

That's sad. It will be a bit hard to do this kind of integration for now.

I'll close this ticket since we don't have real plans for this soon, ok?

I'll tag it as a `third-party-blocking` to revisit it in the future.

Thanks for your effort @C1ARKGABLE

[2019-08-10 04:14] #285 closed

[2019-08-10 09:10] Joascode commented on #315
Awesome! Thanks alot for the update :) Looking forward to the new release!

[2019-08-10 21:03] greenkeeper[bot] opened #323 "An in-range update of csv-stringify is breaking the build 🚨"
## The dependency [csv-stringify](https://github.com/adaltas/node-csv-stringify) was updated from `5.3.2` to `5.3.3`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fcsv-stringify-5.3.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

csv-stringify is a direct

[2019-08-10 22:42] nmggithub commented on #246
Hey, so sorry. I've been busy and this issue was largely in regards to connecting to the database set up by my school. I have since finished the course, so I don't really necessarily need this issue to be fixed for me personally.

[2019-08-11 03:45] #229 closed

[2019-08-11 03:48] mtxr commented on #318
@ghLoser HI,

Hey, do you have all pre requisites? Check here: https://vscode-sqltools.mteixeira.dev/connections/oracledb#1-prerequisites

I think maybe `sqltools.useNodeRuntime` is not enabled or you have a different node version.

Can you check it and reach me back?

[2019-08-11 04:28] #318 closed

[2019-08-11 04:29] mtxr commented on #318
Actually you are right.

I've tried it and since VScode update electron version, the checking for node runtime was broken.

Just fixed.

[2019-08-11 04:32] mtxr commented on #292
I'll move this to the formatter project repository.

The way it's working now is the way we inherited from the most downloaded formatter nodeJS library for SQL. I'll consider this as a feature request to add more options to format queries and allow user to select some behaviors instead of a bug.

[2019-08-11 04:58] #281 closed

[2019-08-11 04:58] mtxr commented on #281
Just added a config that allows you to achieve this.

This is the text added to the docs:

If you want to use 32bits drivers or set a different ORACLE_HOME to be used with the node driver, you can achieve this using the `sqltools.languageServerEnv`.

[code]

[2019-08-11 05:00] mtxr commented on #246
Thanks for the update @nmggithub. I'll close this since the aforementioned possible solutions works for most of the cases.

If this come up again in the future, we can work on this, but now I'll prioritize some other issues.

[2019-08-11 05:00] #246 closed

[2019-08-11 05:32] mtxr commented on #322
Created a project to check individual issues.
https://github.com/mtxr/vscode-sqltools/projects/5?add_cards_query=is%3Aopen

[2019-08-11 11:29] MOZGIII opened #324 "Formatting issue with PostgreSQL with ALTER TABLE with multiple closures"
`ALTER TABLE` with multiple closures is not formatted properly.

## Example

### Got
[code]

### Want
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Autoformat the example above.

**Desktop (please complete the following information):**
 - SQLTools Version v0.20
 - VSCode Version: 1.37.0
 - Dialect Used/Version: PostgreSQL
 - OS: Linux

[2019-08-11 15:00] Lips7 opened #325 "Error opening connection Received packet in the wrong sequence."
**Describe the bug**
A clear and concise description of what the bug is.

In **remote-wsl**, wsl-version-**2**.
**Error opening connection Received packet in the wrong sequence.**
It worked well yesterday.
And I don't know what exactly trigger this, I can access mysql server with python-pymysql, it works well, but just broken within SQLTool.

**To Reproduce**
I really don't know what happens.

**E

[2019-08-11 15:22] carsalgl commented on #325
I just loaded this extension for the first time and am having the same issue.

[2019-08-11 19:49] klukiyan commented on #325
same issue here. Any workaround for it?

[2019-08-11 21:08] MrLexJR commented on #325
Apparently the problem is with MySQL, because if it allows me to connect to a PostgreSQL database

[2019-08-11 21:19] Joca9227 opened #326 "connection oracle (ERROR: Error: { [Error: Cannot find module 'oracledb')"
ERROR: Error:  { [Error: Cannot find module 'oracledb'
	at C:\Users\Joca\.vscode\extensions\mtxr.sqltools-0.20.0\extension.js:1:14086
	at C:\Users\Joca\.vscode\extensions\mtxr.sqltools-0.20.0\extension.js:1:14380
	at Immediate.module.exports.W.R.size.setImmediate (C:\Users\Joca\.vscode\extensions\mtxr.sqltools-0.20.0\extension.js:1:14741)
	at runCallback (timers.js:694:18)
	at tryOnImmediate (time

[2019-08-11 21:45] lesfen commented on #325
I am having the exact same problem.  This extension worked perfectly until the last update that was dated today 8/11/1019.   The update broke it.

Received packet in the wrong sequence.

[2019-08-12 09:15] a-m-dev commented on #326
me too

[2019-08-12 10:15] PapsOu commented on #325
I can confirm that `v0.20.0` introduces this bug for MySQL existing and new connections.

[2019-08-12 11:56] #325 closed

[2019-08-12 12:28] mtxr commented on #325
Fixed and released. Soon you can update

[2019-08-12 12:29] mtxr commented on #325
It was a packing issue while doing the minification of the files ti publish

[2019-08-12 13:07] mtxr commented on #326
Can you guys upgrade to the new version and try again? We had an issue because of the VSCode migrations to new electron version. Also, after updating, we need to reinstall the driver since it's installed inside of the extension folder

[2019-08-13 02:08] ht22pt opened #327 "Support wordwarp in row results"
**Describe the solution you'd like**
In my database has many row configuration, I store JSON configuration in that. It so long and when I view by this tool just show with ...., I have export to JSON file to view it. It show hard to view data in database. So I request support word warp in row for easy to view long text data.

**Describe alternatives you've considered**
Maybe reference from vscode-d

[2019-08-13 11:45] PapsOu commented on #325
`v0.20.1` fixes the issue. Thanks @mtxr !

[2019-08-13 12:07] PapsOu opened #328 "Double click on a MySQL connection trigger the connecting process twice"
**Describe the bug**
On the list of database connections, if you double click a non-connected item, it will trigger the connection process twice.

**To Reproduce**
Steps to reproduce the behavior:

Double click on a MySQL connection on the connection explorer.

**Expected behavior**
A double click should not trigger the connect process twice

**Screenshots**

![vscode-sqltools-bug-double-click](ht

[2019-08-14 00:35] greenkeeper[bot] opened #329 "An in-range update of rimraf is breaking the build 🚨"
## The dependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.3` to `2.7.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Frimraf-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a direct dependency of this project, and *

[2019-08-14 07:53] bodzebod commented on #275
Sorry for the late reply, I retried and I don't have issues anymore indeed.
I guess I made a mistake somewhere and misunderstand what happened. It looks like sqltools is not preventing my snippets to work.
So the issue report can be closed. Thank you for your support!

[2019-08-14 07:53] #275 closed

[2019-08-15 09:12] mbaghert opened #331 "cannot install extention in windows 10"
cannot install extension

version Info

Version: 1.37.0 (system setup)
Commit: 036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8
Date: 2019-08-08T02:33:50.993Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

ERROR: Error:  { [Error: Request DependencyInstaller/install failed with message: You need to install node@6 or newer and npm first to in

[2019-08-15 10:31] nlaplante opened #332 "Cannot connect to previously working MariaDB connection (invalid semver)"
**Describe the bug**
When trying to connect to a previously working connection to a MariaDB server, I get the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open SQL Tools panel
2. Click on connect icon of previously configured connection
3. See error message in notification popup

**Expected behavior**
The connection opens successfully

**Screenshots**
![ima

[2019-08-15 12:55] Napster2709 commented on #332
Got the same Problem. Rolling back to 0.19.7 fixed it for me.

[2019-08-15 13:57] mtxr commented on #331
You just need to install `NodeJS` to get it working. ` You need to install node@6 or newer and npm first to install dependencies. Install it and restart to continue.`

Just download the latest version or anything newer than version 6.

[2019-08-15 13:57] #331 closed

[2019-08-15 14:15] #326 closed

[2019-08-15 14:18] #332 closed

[2019-08-15 14:19] mtxr commented on #332
Fixed. Will be visible for you guys to update soon.

Try version 0.20.2.

[2019-08-15 14:48] romgerman opened #333 "OracleDB show users"
It'll be nice if SQLTools will show database users. Because in our db we have different users for different types of tables. E.x. `select * from username.tablename`.

[2019-08-16 10:55] nlaplante commented on #332
I confirm it works with 0.20.2. Thank you for your fast response!

[2019-08-17 07:09] Linh1706 commented on #137
I tried to use this plugin to connect to my work database but no luck.
Still using Datagrip with no problem.

[2019-08-19 08:34] guerbai opened #334 "bigint unsigned column display loss of precision"
**Describe the bug**
value 6684121293811353602 display in results is 6684121293811354000

**To Reproduce**
Steps to reproduce the behavior:
1. create a table with bigint unsigned column id
2. insert a row with id 6684121293811353602
3. run `select id from table where id=6684121293811353602`

**Expected behavior**
value 6684121293811353602 display in result is 6684121293811353602

**Screenshots**
!

[2019-08-19 18:12] greenkeeper[bot] opened #335 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.17` to `24.0.18`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40types%2Fjest-24.0.18).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest

[2019-08-19 18:34] greenkeeper[bot] opened #336 "An in-range update of @types/mysql is breaking the build 🚨"
## The devDependency [@types/mysql](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `2.15.6` to `2.15.7`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40types%2Fmysql-2.15.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/mysql

[2019-08-19 20:24] greenkeeper[bot] opened #337 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.5` to `16.9.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40types%2Freact-dom-16.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@typ

[2019-08-20 11:40] shivangag opened #338 "SAP HANA connection fails"
Error log:

Connection setting:
[code]

[2019-08-20 14:46] greenkeeper[bot] opened #339 "An in-range update of sass-loader is breaking the build 🚨"
## The devDependency [sass-loader](https://github.com/webpack-contrib/sass-loader) was updated from `7.2.0` to `7.3.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fsass-loader-7.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sass-loader is a devDepen

[2019-08-20 16:46] wupaz opened #340 "Stored procedure not available on mssql (12.0.5000.0)"
**Describe the bug**
I didn't see SP for my connection.

**To Reproduce**
I just create a connection and I have Tables but no SP

**Screenshots**
![image](https://user-images.githubusercontent.com/14102653/63350927-4c719400-c32c-11e9-9997-3c7e935cf599.png)
![image](https://user-images.githubusercontent.com/14102653/63350996-6ad78f80-c32c-11e9-8742-f3bb517d072b.png)

**Desktop (please complete the

[2019-08-21 15:22] bmorgan365 commented on #340
I was just going to add this issue, thanks for beating me!

[2019-08-22 17:10] josecanciani commented on #284
Same here with Mysql. I'm trying to add connections using the user settings json, and it's ignored.
It seems when you also have workspace settings, the connection list is not merged, but rather overwritten and only the workspace is taken into consideration. Even if you have an empty list, just having the "sqltools.connections" defined, then the user setting's "sqltools.connections" is ignored.

[2019-08-23 09:20] blassmegod opened #341 "Add support for autocommit option"
Please try and add autocommit option, as is very useful when creating a session/connection.
Also support for multiple queries to be sent would be interesting (on same connection), and just display for each the results as plain text.

[2019-08-23 10:48] PedroL129 opened #342 "Show column aliases"
In this case:
[code]
The context menu show all tables in database.

It could be possible show fields of ```MyTable```?

[2019-08-24 22:13] mtxr commented on #334
Confirmed. Will be fixed and release in the next version. (~1 day)

[2019-08-24 22:14] #334 closed

[2019-08-24 23:45] mtxr commented on #342
Yes! But it's not simple, it's being developed for a few months :(

This issue is being tracked on #110 .

I'l close this one, ok?

[2019-08-24 23:45] #342 closed

[2019-08-24 23:47] mtxr commented on #338
@ariel-bentu do you have any idea or tips for @shivangag ?

[2019-08-25 02:20] #328 closed

[2019-08-25 02:27] mtxr commented on #303
@bergamin I'll close it since reinstalling is expected (for now). Please, feel free to re-open if you believe we still need to investigate it.

[2019-08-25 02:27] #303 closed

[2019-08-25 09:22] sj-dev opened #343 "Oracle return SYS_REFCURSOR"
PD_TEST_GETDATA(O_CUR => REF CURSOR)

[2019-08-25 12:17] ariel-bentu commented on #338
Hi,

try this code with Node.js and see if it works regardless SQLTools. I would suspect it has something to do with network visibility to you HANA server

[code]

[2019-08-27 08:01] ransagy opened #344 "MSSQL: Display of rowversion columns isn't intuitive"
SQL Server has a column type of `rowversion` that keeps an automatically incremented number, mostly used to verify when a row was changed.

Right now it's displayed as raw data (`{"data":[0,0,0,0,124,213,26,20],"type":"Buffer"}`) instead of the actual value (i.e. `0x00000000000007D3`).

The way it is displayed in SQL Tools is different to other DB tools I've used in the past and the inconsistency

[2019-08-28 08:37] guerbai commented on #334
Thank you, waiting next version.

[2019-08-28 12:42] ariel-bentu commented on #338
Hi,
I found that the HANA as a service requires ssl. and I saw that I did not allow easy passing of other connection options, so I now added them in a PR: https://github.com/mtxr/vscode-sqltools/pull/346

So now for it to work, add
[code]

if you wish to verify ssl-server-cert, you'd need to follow the instruction in /docs/Connections/SAPHANA.md regarding trust-store. (until PR is accepted, you ca

[2019-08-29 07:55] coldfault opened #348 "You need to install "oracledb@3.1.1" DependencyInstaller/install failed unexpectedly without providing any details"
When trying to connect to oracledb i am getting prompted to install above mentioned dependency, which fails with the following error...

Output:
ERROR: Error:  { [Error: Request DependencyInstaller/install failed unexpectedly without providing any details.
	at C:\Users\username\.vscode\extensions\mtxr.sqltools-0.20.2\extension.js:1:22983
	at C:\Users\username\.vscode\extensions\mtxr.sqltools-0.20.

[2019-08-29 17:11] thiago-paz opened #349 "Oracle - Schema Browser"
When I connect an Oracle database, I can't see the database explorer properly. This is because my read-only user needs to switch the schema browser of another user. Is it possible to fill the database explorer using a parameter from settings.json?

For example... I access my oracle read-only user, but I would like to see the schema browser (tables, views) from "services" user:

Setting.json:
"sqlt

[2019-08-30 15:49] MrSnowball-dev opened #350 "Unable to run more than 1 query at a time - OracleDB"
**Describe the bug**
I have a large script of about ~800 'INSERT INTO...' queries which I need to run in OracleDB. It is formatted correctly, and each statement runs fine, showing me a result. But when I select all queries at once and try to run (ctrl+e+e), result window shows me an error 'ORA-00911: Invalid character'.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to OracleDB
2. W

[2019-08-30 15:51] MrSnowball-dev commented on #333
Yes, please!

[2019-08-31 10:57] mtxr commented on #350
Hi @MrSnowball-dev , thanks for reaching us.

Hey @mickeypearce , can you take a look at this later?

[2019-08-31 11:04] mtxr commented on #348
This is already fixed here https://github.com/mtxr/vscode-sqltools/commit/094f7a27c28db5105ab0cfc4b406c9fff643949e. It will be release this weekend. Ok?

[2019-08-31 11:04] #348 closed

[2019-08-31 11:54] #327 closed

[2019-09-01 04:18] sshantt opened #351 "Database gets disconnected when vim extension changes status bar color"
**Describe the bug**
The database gets disconnected whenever the vim extension changes mode with status bar color change turned on. Within the VScode Vim extension, there is the following option

    "vim.statusBarColorControl": true|false,

When this is set to true, it changes the bottom status bar color depending on the current Vim mode. Whenever this option is turned on and a mode change is inv

[2019-09-01 04:30] sshantt opened #352 "Connection errors out with long running queries"
**Describe the bug**
Whenever I run a long running (>1 minute) query, the execution errors out and shows the following message:

```Error fetching records. Connection got disposed.```

The message is shown 40 seconds into the query running.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a database
2. Create a query that takes longer than 4 minutes to execute and/or contains resul

[2019-09-01 04:40] sshantt opened #353 "Column suggestions appear from all tables as opposed to mentioned tables"
**Describe the bug**
When writing a query, column suggestions appear from all tables in the database as opposed to the ones that have been mentioned in the query. Beyond that, the "." (dot) operator does not invoke suggestions from the table/schema name preceding it. Also, as a side note, suggestions are slow to pop up and sometimes do not end up popping up at all before I finish typing even when

[2019-09-01 04:46] sshantt opened #354 "Execute region"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to execute a query is to use codelens or highlight the query and invoke the execute command.

**Describe the solution you'd like**
It would make it a lot easier to execute queries by only having to have the cursor in the bounds of the query and having vscode-sqltools recognize the bounds of the query. This u

[2019-09-01 04:52] sshantt opened #355 "Database specific function suggestions"
**Is your feature request related to a problem? Please describe.**
When connected to Redshift, I do not get keyword and function suggestions.

**Describe the solution you'd like**
Some functions are hard to remember (json_extract_array_element_text, etc...) and it would be useful for the suggestion box to include those somehow.

**Describe alternatives you've considered**
I don't mind populating t

[2019-09-02 10:28] u33aga opened #356 "Error opening connection The "config.server" property is required and must be of type string."
Error opening connection The "config.server" property is required and must be of type string.

{
  "name": "123",
  "dialect": "MSSQL",
  "connectString": "Data Source=123;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False",
  "connectionTimeout": 30
}

[2019-09-02 17:33] #239 closed

[2019-09-02 17:36] mtxr commented on #353
dup of #110

[2019-09-02 17:36] #353 closed

[2019-09-02 17:38] mtxr commented on #349
Closing. Will be tracked in #322

[2019-09-02 17:38] #349 closed

[2019-09-02 17:53] odebroqueville opened #357 "Please add the option to capitalize SQL keywords"
**Is your feature request related to a problem? Please describe.**
I saved the following statement in a query.sql file:
`select * from wakanda where alpha = 8 and beta = 9 limit 10;`

and then formatted it (btw, cmd+e cmd+b for OS X Mojave didn't do anything!) producing this result:
[code]

**Describe the solution you'd like**
I would very much have preferred the following result which I find more

[2019-09-02 17:56] mtxr commented on #344
Hi @ransagy . I'm trying to figure out how to convert that buffer to the desired value you provided.

To add the support you want, the better place would be here
https://github.com/mtxr/vscode-sqltools/blob/f1f4dd12a0cb7958fd206d3d29037ac40c4cb329/packages/ui/screens/Results/ResultsTable.tsx#L55

But we need to know how to convert it first

[2019-09-02 18:07] odebroqueville opened #358 "Greenkeeper badge missing"
The Greenkeeper badge is missing from your website, [here](https://vscode-sqltools.mteixeira.dev/):

as well as from the extension's home page as can be seen here:
<img width="1024" alt="Screenshot 2019-09-02 at 19 34 03" src="https://user-images.githubusercontent.com/4818315/64129478-82972500-cdbc-11e9-9e47-13dd0da2ed39.png">

I believe the badges may be found [here](https://github.com/greenkeepe

[2019-09-02 18:09] mtxr commented on #357
Hi @odebroqueville .

Actually keywords already have the option to transform to upper case. Take a look here: https://github.com/mtxr/vscode-sqltools/blob/084759a15f5152a05fec4f12579fae60ab247578/.test-database/.vscode/settings.json#L13

The formatting you suggested is pretty cool. We already have a ticket for that in the formatter project. I'll link it here after work.

Closing since we already h

[2019-09-02 18:09] #357 closed

[2019-09-02 18:11] #358 closed

[2019-09-02 20:18] #344 closed

[2019-09-02 21:56] dnlw07 opened #359 "Comments after sql in selection cause an error during running a query"
**Describe the bug**
Comments after sql in selection cause an error during running a query;
Error: _ORA-00933: SQL command not properly ended_

**To Reproduce**
1. Write a comment after SQL query
2. Select all (Ctrl-A)
3. Run query

**Expected behavior**
Ignores the comment after the query and return query result

**Screenshots**

![screenshot 23](https://user-images.githubusercontent.com/23562689

[2019-09-02 22:06] dnlw07 opened #360 "Add an option to save only selected part of query results to csv in context menu"
**Is your feature request related to a problem? Please describe.**
Add an option to save only selected part of query results to CSV in context menu.
If possible please, also include if results should contain headers or not.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Example Screenshot**
![screenshot 24

[2019-09-02 22:11] dnlw07 opened #361 "Remember or auto attach connection to chosen files"
**Is your feature request related to a problem? Please describe.**
1. Add an option to specify which files should be **automatically** attached to connection, each time when a file is opened.
2. **Remember** the connection which has been attached to file after closing VSCode.

[2019-09-02 22:13] dnlw07 opened #362 "Open chosen file name after conneting to a database"
**Is your feature request related to a problem? Please describe.**
Add an option to choose which file(s) should be opened after connecting to a database.

[2019-09-02 22:17] dnlw07 opened #363 "run a query which has a cursor placed inside the query"
**Is your feature request related to a problem? Please describe.**
If cursor is placed in the middle of query, automatically select the query before running.

[2019-09-02 22:21] dnlw07 opened #364 "option to show result as backgourd tab"
**Is your feature request related to a problem? Please describe.**
Add an option to choose, if query result tab should appear in background/foreground and in the same or separate tab group as query.

[2019-09-02 22:23] dnlw07 opened #365 "Add option to return next #N rows when showing table records"
**Is your feature request related to a problem? Please describe.**
Add option to return first 50 rows only, and add button in query result **"return next 50 records"**  and **"return all results"**

[2019-09-02 22:25] dnlw07 opened #366 "read tnsnames.ora file during defining connection"
**Is your feature request related to a problem? Please describe.**
Add a feature to define connections using tnsnames.ora file.

[2019-09-03 00:54] luiz-rocha opened #367 "Error opening connection with SQLite"
**Describe the bug**
After installation and creation of a connection, it was working fine.
Then I needed to change my project's directory, and now SQLtools can't connect anymore to the same SQLite database file.

**To Reproduce**
Steps to reproduce the behavior:
1. Add new connection

2. Fill data
2.1 Connection name: MyDB
2.2 Dialects: SQLite (Node Native)
2.3 Database: mydb.db

3. Click on CREAT

[2019-09-03 02:13] mtxr commented on #356
This is fixed in another branch. Will be merged soon.

Anyway, maybe you will need to change your `connectString` to `Server={localhost,1433};Data Source=123;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False` for example.

I'll keep you posted

[2019-09-03 02:15] #184 closed

[2019-09-03 02:15] #356 closed

[2019-09-04 00:32] luiz-rocha commented on #367
Hey, problem solved.

If someone comes up with the same problem, do as follows:

1. Open `%appdata%\Code\Workspaces\`
You'll see a folder with some big number
2. Enter this folder and open workspace.json
3.Locate  **"sqltools.connections"** and edit **"database"** with the absolute path to your sqlite db:

this:

to something like this:

[2019-09-04 02:43] acumenrev opened #370 "Exporting/Importing connections"
**Is your feature request related to a problem? Please describe.**
Currently, we manually provide credentials for a connection

**Describe the solution you'd like**
Exporting connections to a config file, then I can import this one in a new machine

[2019-09-04 10:57] willstocks opened #371 "Intellisense/Autocomplete returning columns from every single table that is similarly named"
**Describe the bug**
Hello!
I've just installed and have noticed that the column autocomplete in some cases can be fairly... difficult to use.
For instance, I had a query:
[code]

I was then going to expand this by implementing a simple JOIN:

[code]

However the intellisense/column autocomplete on the JOIN pulled back every single ID column from the connected database when I typed `ON A.I` (the d

[2019-09-04 11:29] mtxr commented on #371
Dup of #110. Closing

[2019-09-04 11:29] #371 closed

[2019-09-04 11:41] willstocks commented on #110
Apologies, did not realise this was here (coming from #371)!!! Clearly ran a rubbish search 😆

Is there any ETA for this to land?

[2019-09-04 11:45] mtxr commented on #110
Not yet. I have to main issues for now. Auto complete and enhance the
explorer to reduce memory consumption for large dbs.

I believe I did the hardest part so far from the auto complete, the
tokenizer, now I need to map the tokens with the data that we already have.
Problem is that I running out of time everyday :(

On Wed, Sep 4, 2019 at 8:42 AM willstocks <notifications@github.com> wrote:

[2019-09-04 18:58] #367 closed

[2019-09-05 12:13] mtxr commented on #370
Is it really needed?

Currently we have an amazing project called [code-settings-sync](https://github.com/shanalikhan/code-settings-sync) by @shanalikhan. It does exactly what you want but "automagically".

Even if you don't want to use his project, you can just open your `settings.json`/`*.code-workspace` file(s) copy and paste anywhere you want.

As much as possible, I would like to keep the pro

[2019-09-05 12:13] #370 closed

[2019-09-05 12:17] mtxr commented on #365
Hi.

We currently have the option to return just the `#N records`. See: https://github.com/mtxr/vscode-sqltools/blob/bb29d5bf8259243d5fab58329a8f5e80599f97eb/.test-database/project.code-workspace#L29

I like the idea of paginating it. But meanwhile you can show the first `#N` records and if needs more, the query needs to be manually.

[2019-09-05 13:15] mtxr commented on #364
This is not supported by VSCODE. Currently when opening a tab or view, it will show up to the user. The only change possible is if we can focus or not to that tab.

We could do a "hacky" change and switch back to the previous tab/view, but it would cause a glitch in the screen.

To select where it shows, you can use this setting:
https://github.com/mtxr/vscode-sqltools/blob/bb29d5bf8259243d5fab583

[2019-09-05 13:15] #364 closed

[2019-09-05 13:18] mtxr commented on #355
Merging into #110 .

[2019-09-05 13:18] #355 closed

[2019-09-05 13:24] mtxr commented on #354
Dup of https://github.com/mtxr/vscode-sqltools/issues/277. Closing.

[2019-09-05 13:24] #354 closed

[2019-09-05 13:24] mtxr commented on #363
Dup of https://github.com/mtxr/vscode-sqltools/issues/277. Closing

[2019-09-05 13:24] #363 closed

[2019-09-05 13:25] mtxr commented on #308
Closing due lack of response

[2019-09-05 13:25] #308 closed

[2019-09-05 13:28] mtxr commented on #343
Can you provide more context on this?

[2019-09-05 13:34] mtxr commented on #218
Merging into #322

[2019-09-05 13:34] #218 closed

[2019-09-05 16:19] GAZ082 opened #372 "ORACLE: ORA-00923: FROM keyword not found where expected. When trying to connect."
**Describe the bug**
Cant connect.

**To Reproduce**
Steps to reproduce the behavior:
Try to connect to the DB.

Oracle Database 10g Enterprise Edition Release 10.2.0.5.0 - Prod
Windows10
VSCode 1.38.0
SQLTools 0.20.3

![sql](https://user-images.githubusercontent.com/100194/64359977-d9307900-cfdf-11e9-909e-b9a315cfd740.gif)

[2019-09-06 10:28] dnlw07 commented on #365
Thanks for feedback,
I have checked that setting, but I am afraid `"limit": 100, ` is not working.

After applying that setting, querying a big table still returns its all results, instead first 100 only.

I need to manually add condition `where rownum >100` to sql to return first 100 only.

[2019-09-06 20:10] ketan86 opened #374 "Connection string format for Postgres database for SSL connection using certificate."
I could not find information on how to connect to Postgres database using ssl certs.

There is no option for ssl certs on the settings page so was trying "connection string" option but that also does not work since i am not sure how exactly that connection string should be formatted.
I want to provide following inputs:
1. host
2. port
3. dbname
4. user
5. ca file
6. cert file
7. key file

can anyo

[2019-09-10 09:56] ransagy opened #375 "Support for Azure Active Directory login in MSSQL/Tedious"
Would it be possible to support Azure Active Directory (password) logins in the extension?

As per the tediousjs documentation (http://tediousjs.github.io/tedious/api-connection.html), tedious and the version used by node-mssql already supports it.

Where would i look to if i wanted to add a PR for this?

[2019-09-10 19:01] luigicpereira commented on #269
Hi, i am also having the problem as @zyxifrash that it is throwing ORA-24415 when trying to connect even after adding username and password in the settings.json. It seems like that even after modifying the settings.json it is still using the configuration that it was set when the connection was created. After a few resets on vscode it finally worked, all the modifications made on settings.json was

[2019-09-11 00:13] sundaycat commented on #195
Hi,  I set up the setting exactly as this post suggested(except the port was set to 33060), but it still doesn't work. The error I got is

 `Error opening connection ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MySQL client`

[2019-09-11 01:13] sundaycat opened #376 "Vscode-sqltools cannot connect to mysql 8.0.x server"
**Describe the bug**

I installed mysql 8.0.17 on an idle Mac as server and tried to remotely access it with my own computer. Everything works fine in command line. But it doesn't work with Sqltools in VScode. I set up the settings exactly as [#195](https://github.com/mtxr/vscode-sqltools/issues/195) suggested(except the port number was set to 33060) and the x plugins has been installed on MySQL S

[2019-09-11 04:11] asitemade4u opened #377 "SQLIte integration: How to Load a SQLIte Extension on a per database basis?"
**Context**: I am using Spatialite on SQLIte and its requirement is that a library be loaded for each database. As I work on Ubuntu, the path of the library is `/usr/local/lib/mod_spatialite.so`
If I do not load the library, the extension sends an error about VirtualElementary, which is precisely related to Spatialite [https://www.gaia-gis.it/fossil/libspatialite/wiki?name=VirtualElementary]

**My

[2019-09-12 01:03] watanabelikewelltech opened #378 "UTF-8 not supported"
**Describe the bug**
The formatter breaks a sql which has utf-8 table/column banes

**To Reproduce**
paste following code on text editor.
"select  * from 注文 inner join  注文明細 on 注文.注文id = 注文明細.注文id"
sqlttols incorrectly formats as
"
select
  *
from
  inner
  inner join on 明細 on 注文.注文id = 注文明細.注文id
"
**Desktop (please complete the following information):**
 - SQLTools Version 0.20.3
 - VSCode Versio

[2019-09-12 06:43] snyang opened #380 "Need permissions to push changeset for support DB2"
**Describe the solution you'd like**
Write an extension via [node ibm_db](https://github.com/ibmdb/node-ibm_db/)

**Describe alternatives you've considered**

**Additional context**
I've implemented the feature, but I need permissions or guide to push my fix.

[2019-09-16 12:02] ramonrosa opened #381 "Add sorting and filtering options for datasets, schemas and tables"
**Describe the solution you'd like**
Add an option to sort the items listed in Connections by name. Maybe even add an option to regex filter/search for datasets, schemas and tables.

[2019-09-16 19:04] BrightSchema opened #382 "Error opening Oracle connection on MacOS 10.14.5"
**Bug**
After creating the connection, any attempt to connect is met with this error message.
[code]
**Desktop (please complete the following information):**
 - SQLTools Version v0.20.3
 - VSCode Version: v12.10.0
 - Dialect Used/Version: Oracle CE
 - OS: Mac

[2019-09-16 20:26] BrightSchema commented on #382
And `libclntsh.dylib` does exist in `/usr/local/lib`

[code]
The other basic package files in `/opt/oracle also exist, but were omitted because it was hard to read.

[2019-09-16 20:28] BrightSchema commented on #382
After overwriting the `libclntsh.dylib` in `/usr/local/lib` to the one downloaded and placed in `/opt/oracle` (`libocci.dylib.19.1`) it now works.

[2019-09-16 20:28] #382 closed

[2019-09-17 01:22] jscul opened #383 "SQLTools keeps connecting to the same database"
**Describe the bug**
The connections all connect to the same exact database even though they're described as different databases in the settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Add two connections:
[code]
2. Connect to either database, the same database shows up.
3. ![image](https://user-images.githubusercontent.com/22265367/65003648-441a6380-d8ae-11e9-97f4-ccfab81c716c.png)

[2019-09-17 03:03] snyang commented on #380
@mtxr may you add me as a contributor? I've implemented 'support DB2', want to create a PR for my changes.

[2019-09-17 05:33] Lips7 opened #384 "Can't auto complete and show tabel detail"
**Describe the bug**
Didn't show auto complete and table detail.

**Screenshots**
![image](https://user-images.githubusercontent.com/51849534/65013963-a37c8000-d94f-11e9-8e14-688ea6b9f0a1.png)

**Desktop (please complete the following information):**
 - SQLTools Version 0.20.3
 - VSCode Version: 1.39.0
 - Dialect Used/Version: MySQL 5.7.27
 - OS: WSL2

**Additional context**
Add any other context

[2019-09-17 05:53] #384 closed

[2019-09-17 09:41] mtxr commented on #380
Thanks @snyang !

For sure I'll add. In fact when you open a PR, I'll add you on the change log as I did to other contributors.

And thinking about a long term relationship, would you like to be assigned to new issues opened for DB2?

noite How to merge your changes, just open a PR, I'll review the code and approve the changes. After that I'll merge and update the change log. Ok?

Please see #379

[2019-09-17 16:16] Deathnerd opened #385 "Ability to add/modify objects (Databases, Schemas, Tables, etc) graphically via sidebar option"
**Is your feature request related to a problem? Please describe.**
It's a nice feature to have the ability to visually, with a form, generate objects for your database especially if you switch between multiple database types. DataGrip, SQL Server Management Studio, IntelliJ, SQL Developer, PgAdmin... all of these solutions allow this behavior

**Describe the solution you'd like**
The ability to ri

[2019-09-17 16:21] Deathnerd commented on #385
To add, I would like to try implementing this, but I wouldn't have time until the end of the year

[2019-09-18 08:19] snyang commented on #380
@mtxr yes. I'd like to handle new issues for DB2.

[2019-09-18 09:10] xgdgsc opened #386 "Run selected not working"
**Describe the bug**
run selected not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tab of session.sql
2. select the region you want to query
3. call run selected query
4. error shows you have selected nothing and opens up an untitled tab.

**Expected behavior**
query works.

**Desktop (please complete the following information):**
 - SQLTools Version 0.20.3
 - VSCode Version

[2019-09-18 12:08] vadi2 opened #388 "Timezone is assumed"
**Describe the bug**
Timezones in `DateTime` formats are assumed, which is misleading.

**To Reproduce**
Steps to reproduce the behavior:
1. Run http://docs.simplifier.net/_downloads/86acc454cdad36b5d1ece286b582d9f0/CreateDatabase.sql
4. Observe how plugin assumed the dates are in UTC when they aren't:

![Selection_485](https://user-images.githubusercontent.com/110988/65147057-9332d680-da1d-11e9-8

[2019-09-18 13:33] mtxr commented on #351
@sshantt I'll release a new version today and it doesn't seem to be happening anymore.

We had a few enhancements on explorer. It might have fixed this.

Please, let me know if the issue persists

[2019-09-18 13:33] #351 closed

[2019-09-19 13:41] snyang commented on #380
@mtxr I still cannot push my changes.

[2019-09-19 14:06] mtxr commented on #380
Sorry, I didn't have time yesterday to release. I'll try to do it today.

On Thu, Sep 19, 2019 at 10:41 AM Yang Ning (Steven) <
notifications@github.com> wrote:

[2019-09-19 19:46] mtxr commented on #380
@snyang can you open a PR? everyone should be able to do it.

I believe you've already forked, right?

[2019-09-19 20:22] mtxr commented on #388
@vadi2 this is bug is because of MSSQL driver.

For now you can workaround this using this in you settings:
[code]

[2019-09-19 20:23] mtxr commented on #388
This is a driver setting. It will fix you problem for now, but I'm trying new drivers to allow us to display date and times for SQL server like other tools

[2019-09-19 20:23] #388 closed

[2019-09-19 20:25] mtxr commented on #386
@xgdgsc can you try latest version and see if the problem persists?

If error still exists, can you send me a few screenshots or logs of the bug?

[2019-09-19 20:27] mtxr commented on #383
@jscul  can you try latest version and see if the problem persists?

If error still exists, can you send me a few screenshots or logs of the bug?

Also, do you have a session file open or have you attached a connection to any files?

[2019-09-19 20:31] mtxr commented on #381
Merging into #322

[2019-09-19 20:31] #381 closed

[2019-09-19 20:42] mtxr commented on #374
@ketan86 you can pass driver specific settings like this:

[code]

More info: https://node-postgres.com/features/ssl

The only problem so far is that you need to put the file contents in the settings since there is no way we can read the files for you now.

in the future you will be able to use a path like `file:///path/to/cert/cert.crt` and we will read it before connecting.

[2019-09-19 20:42] jscul commented on #383
I just installed the latest version (looks great) but the bug continues :(

These are the settings I'm using in the global settings ⬇️
[code]

But the problem persists...
![image](https://user-images.githubusercontent.com/22265367/65279298-bd9a9780-dae2-11e9-84ed-728c90083668.png)

I don't see any session files in my editor.

Further the databases are showing up properly in the terminal.
![image](

[2019-09-19 20:45] mtxr commented on #376
Please, take a look at this issue on driver's repository: https://github.com/mysqljs/mysql/issues/1616

You might need to allow UDP packages in you network.

[2019-09-19 20:46] #376 closed

[2019-09-19 20:50] mtxr commented on #383
Oh! I see what you mean now.

Well, actually we are showing all DBs if they are in the same MySQL instance, so you don't need 2 connections for now. I'm working on #322 that is more likely what you need. I'll close this issue and add it to #322 list since it will be fixed together, ok?

[2019-09-19 20:50] #383 closed

[2019-09-19 20:51] jscul commented on #383
Ah okay - thanks for your help!

[2019-09-19 20:56] mtxr commented on #375
Hey @ransagy is possible for sure.

But I believe we already support this, it's just not documented.

Did you try to add it those options to `mssqlOptions` like this:
[code]

[2019-09-19 20:57] #380 closed

[2019-09-19 21:00] mtxr commented on #352
Did you try to increase connection timeout? By default is ~30

[2019-09-20 00:17] snyang commented on #380
@mtxr oh. I followed process of creating a private branch. I will try to fork and create a PR process soon.

[2019-09-20 03:10] xgdgsc commented on #386
Thanks. After uninstalling https://github.com/Microsoft/vscode-mssql it works.

[2019-09-20 03:10] #386 closed

[2019-09-20 06:54] Im-On-Fire opened #390 "Generate UPDATE query"
At the time we can click on a table and generate an insert query for it. However it's often needed to generate update queries too. It seems to me, it would be more prettier if we can do this with a one click instead of pasting the insert one and modifying it to update one.
------------------
I'm sure you should pay more attention to the features lets users to generate queries automatically. For ex

[2019-09-20 16:53] sshantt commented on #352
Yes I did set the connect timeout to a couple of minutes and then tried an hour

[2019-09-20 18:54] sshantt commented on #352
I think this is related

`
{
  "header": {
    "event": "Allocation failed - JavaScript heap out of memory",
    "trigger": "FatalError",
    "filename": "report.20190920.181924.17795.0.001.json",
    "dumpEventTime": "2019-09-20T18:19:24Z",
    "dumpEventTimeStamp": "1569003564313",
    "processId": 17795,
    "cwd": "/home/username/Code",
    "commandLine": [
      "/home/username/.vscode-server

[2019-09-21 12:35] themightychris opened #392 "Postgres materialized views not shown in"
**Describe the bug**

Materialized views in a postgres database do not show up in the connections explorer tree

**To Reproduce**
Steps to reproduce the behavior:
1. Create a materialized view within a postgres database
2. Connect to the postgres database with SQL Tools
3. Materialized view is not shown under tables or views subtree

**Expected behavior**
Materialized views should show up under a

[2019-09-22 09:34] ransagy commented on #375
@mtxr You're right, it does work; but only if the password is embedded in the configuration. if i try to use `"askForPassword": false` and only leave the username part of that, authentication fails.

[2019-09-23 07:32] nirzaf opened #393 "Not working for keyboard shortcuts"
Error Notification "command 'extension.vscode-git-automator.pushLocalCommits' not found"

- Issue Type: `Performance`
- Extension Name: `sqltools`
- Extension Version: `0.21.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Nirzaf\mtxr.sqltools-unresponsive.cpuprofile.txt`

Find more d

[2019-09-23 07:36] mtxr commented on #296
@mato777 which dialect are you using?

[2019-09-23 07:45] mtxr commented on #393
@nirzaf  This issue is not from this extension. Closing.

[2019-09-23 07:45] #393 closed

[2019-09-23 07:45] mtxr commented on #392
Merging into #322

[2019-09-23 15:41] cstyve opened #394 "Cannot connect to SQL server using windows authentication."
When attempting to connect to sql server using the following valid connection string as an example
"server=mydbserver;database=mydatabase;Integrated Security=true;"
 sql tools report s the following error

**Login failed for user ''.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Add New Connection"
2. Click on 'MSSQL' icon
3. Click on "Connection Method" and change to "Connection

[2019-09-24 09:16] steffan-c opened #395 "Support connections over SSH"
Great extension!

A common solution for production environments is to require a connection over an SSH tunnel.  It is possible to achieve this by opening the tunnel on the command-line and then creating the DB connection to connect to localhost and whatever port has been used for the near end of the tunnel.  However, it would be far more convenient to specify the tunnel as part of the DB connectio

[2019-09-25 03:20] T1mL3arn opened #396 "SQLite connection demands password"
**Describe the bug**

SQLite connection demands password.

**To Reproduce**

Execute command 'Add New Connection' and choose SQLite. You can see `askForPassword` setting is `true`.

![sqlite pass](https://user-images.githubusercontent.com/9349164/65565215-9afcf880-df92-11e9-94bd-5327bd922ffd.jpg)

Also it forces vscode to prompt a password input dialog when testing connection (it accepts any passw

[2019-09-25 06:18] minatverma opened #397 "Ability to Customise the Results panel."
**Is your feature request related to a problem? Please describe.**
Ability to customise the Results panel to view and copy data.

**Describe the solution you'd like**
It will be great if you provide options like:
1. View data as raw CSV(user-defined De-limiter) in the results panel itself without the need to export.
2. Remove pagination for records.

[2019-09-25 20:55] drk-mtr commented on #396
I just came along to log this and saw it's already captured.

Firstly - thank you for the brilliant plugin! I love not having to leave vscode and have found it really useful - and I really like a lot of the design choices that have been made.

I was a bit confused by this one. I like the fact that we get to see a summary of the json schema when adding the connection - however it would be brilliant

[2019-09-25 21:12] drk-mtr opened #398 "Can no longer save global connections (specifically SQLite but not sure whether this impacts other platforms)"
**Description**

I was previously able to save connections globally. This no longer appears to work - at least for sqlite databases.

**Reproduction Steps**

1. Start the `Connection Assistant`
2. Select `SQLite (Node Native)`
3. Add a connection name (in my case I used an alpha string with no space or special characters)
4. Add a Database File (I am using one that works when I add it as a local b

[2019-09-25 21:18] drk-mtr commented on #398
Closing this issue. I hadn't realized connections were stored in vscode settings.json.

The cause was that it had added the same database multiple times with the same name, so I imagine it wasn't showing up because of this.

[2019-09-25 21:18] #398 closed

[2019-09-26 09:27] apupier opened #399 "Publish Language Server part to npm repository"
**Is your feature request related to a problem? Please describe.**

The SQL language server cannot be used in other editors.

**Describe the solution you'd like**

I would like to have the language server that can be easily consumed in other editors.
https://github.com/mtxr/vscode-sqltools/tree/master/packages/language-server

**Describe alternatives you've considered**
A clear and concise descrip

[2019-09-27 13:37] cbertozzi commented on #395
+1 votes

[2019-09-27 18:18] BobbyMcWho commented on #375
@ransagy wouldn't you want "askForPassword" to be true if you're not embedding it in the json?

[2019-09-27 18:25] BobbyMcWho commented on #394
You need to add a User ID and password to the connection string:
`server=mydbserver;database=mydatabase;Integrated Security=true;User ID=domain\username;Password=your_pass`

[2019-09-27 18:26] ransagy commented on #375
@BobbyMcWho that's just the problem; it doesn't input the password into the specific aad password field in this case, vut in nto

[2019-09-28 02:13] mtxr commented on #399
That's something I have I mind. I've made a lot of changes decoupling LS from the extension. But still a lot to do.

If you have intention on participating on that, I would love. It's being hard to keep the project mostly alone. But this could help with some issues we currently have like intellisense. I'll dive depper into this issue and see if I can get some outcomes

[2019-09-28 03:24] #396 closed

[2019-09-28 03:25] mtxr commented on #266
@jbunselmeyer can you confirm this issue still exists?

[2019-09-28 03:26] mtxr commented on #394
Thanks @BobbyMcWho. Would you mind adding this to the docs as well?

[2019-09-28 03:26] #394 closed

[2019-09-28 03:36] #375 closed

[2019-09-28 03:36] mtxr commented on #375
@ransagy I just did a commit. I don't have a way to test it. Would you mind testing and reaching me back?

[2019-09-28 03:57] mtxr commented on #300
To be released

[2019-09-28 07:24] ransagy commented on #375
@mtxr I'll try grabbing the repo and building to test, will get back to you.

[2019-09-28 08:09] ransagy commented on #375
@mtxr confirmed working, thanks!

[2019-09-28 12:21] mtxr commented on #375
Awesome!

On Sat, Sep 28, 2019, 05:09 Ran Sagy <notifications@github.com> wrote:

[2019-09-28 13:44] jbunselmeyer commented on #266
Yes, it still exists. In fact, in v0.21.0 I've noticed the connections section looks a bit different and now I don't even have the arrow to the left of the database icon that I would assume is suppose to be an "expand" function that would show the schema, etc.

![image](https://user-images.githubusercontent.com/12647017/65817378-c61e5c80-e1cb-11e9-9767-743b78d35988.png)

[2019-09-28 16:56] brandonlipman commented on #396
Is there a way to locally make this patch or best to wait for an update to roll out?

[2019-09-30 02:24] mtxr commented on #396
If you remove `askForPassword` from your settings file, it will be working fine.

Anyway, I plan to release it today or tomorrow.

[2019-09-30 02:26] mtxr commented on #266
Would you mind sending the logs? We should see something logged on output channels. I can't reproduce it here

[2019-09-30 12:42] jbunselmeyer commented on #266
Not much to provide. All it logs when I open VS Code and connect to a database is this...

DEBUG: Settings updated!
INFO: Telemetry enabled!
DEBUG: Event: sessionStarted:extension
DEBUG: Activation time: 13.985231ms
INFO: Executing SQLTools.getConnectionStatus
DEBUG: Connection explorer updated.
INFO: Executing SQLTools.selectConnection
DEBUG: Connection explorer updated. Updated Help Desk
INFO: E

[2019-10-01 08:38] mickeypearce commented on #365
The limit applies only to "Show table records" command and not when executing a general query ("Run this file | query"), is that correct @mtxr?

With "Show table records" it works in my case. You can see the actual query executed if you click on "QUERY DETALS" at the bottom of the results grid.

[2019-10-01 12:21] mtxr commented on #365
That's correct.

We just limit queries we generate. What user type we avoid changing

On Tue, Oct 1, 2019, 05:38 Mickey Pearce <notifications@github.com> wrote:

[2019-10-01 13:56] cstyve commented on #394
Using integrated security in the connection string allows an app to connect to a server without coding the actual credentials (username/password).  Entering and saving in the configuration file the username and password reveals the domain authentication used to whomever looks at the connection settings.

I believe this provides a significant vulnerability in the security of the server having usern

[2019-10-01 14:38] mtxr commented on #352
This is a common issue. It's more like a problem on VSCode language server. See:

https://github.com/MicrosoftDocs/live-share/issues/245
https://github.com/julia-vscode/julia-vscode/issues/430
https://github.com/reasonml-editor/vscode-reasonml/issues/247

I've found issues about it everywhere. I'll try to contact someone in the VSCode team and see what we can do about that.

[2019-10-02 10:07] mtoma opened #401 "Can't connect to Oracle - Invalid node version: 10.16.3"
**Describe the bug**
Connection to an Oracle DB fails with: "Failed to install dependencies for OracleDB: Request DependencyInstaller/install failed with message: Invalid node version: 10.16.3"

**To Reproduce**
Create an Oracle DB connection and click "Connect"

**Expected behavior**
Should connect to the DB

**Screenshots**
![Screenshot_20191002_120351](https://user-images.githubusercontent.com/

[2019-10-03 05:55] komalbb opened #402 "Not able to connect to docker mysql8 from sql tools with protocol tcp"
**Describe the bug**
I am trying to connect to mysql8 running on docker instance from VSCode sqltools. The error is:
Connection String: Server=localhost;Database=test;Uid=user;Pwd=user;Protocol=tcp;Port=3307
Docker is running on my localhost on port 3307
1f2898611348        mysql/mysql-server   "/entrypoint.sh mysq…"   6 days ago          Up About an hour (healthy)   33060/tcp, 0.0.0.0:3307->3306/

[2019-10-03 09:00] NEgorE opened #403 "New driver please! :)"
Hey, dear developers of this tool.

Thanks a lot for this tool. It's nice for all db-developers.

1 question: can u add driver for connect to TERADATA DB? and how mach of time need for to do  this?

Neliubin Egor
Teradata developer
A1 Belarus
neo.8318731@gmail.com

[2019-10-03 14:59] Gloix commented on #322
I think it's not been reported, but in MySql connections the dropdown arrow is not even shown
![database-entry](https://user-images.githubusercontent.com/5000394/66137998-50076480-e5d4-11e9-9520-3060ee7a2f54.png)

Querying works fine though.

[2019-10-04 12:09] dnlw07 opened #404 "If executing command than DQL, return result instead of no data prompt"
**Is your feature request related to a problem? Please describe.**
While executing command other than **DQL**, **no data** prompt is shown. As instead **success** or **failure** result should be shown.

For example:
`GRANT SELECT ON OWNER.TABLE TO ANOTHER_OWNER;`

DML script returns **query** output:
![screenshot 26](https://user-images.githubusercontent.com/23562689/68085182-7f60f980-fe3e-11e9-96

[2019-10-04 12:16] dnlw07 opened #405 "Hold query execution until attached connection is switched"
**Is your feature request related to a problem? Please describe.**
While working and switching between multiple sql files with connection attached, it takes moment to switch DB connecton.
If you run query quickly enough, its not enough time for connection to switch to proper DB and query is executed at connection which is attached to previous file you were working on.

**Describe the solution you'

[2019-10-04 16:53] dnlw07 opened #406 "Allow to select multiple table columns from connections tree and copy them into text editor"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to copy multiple table columns from connection pane. Extension allows only to directly paste into text editor single column by clicking on a particular column.
If you want to paste multiple columns you need to click each column one by one.

**Describe the solution you'd like**
Allow to select multiple t

[2019-10-04 16:57] dnlw07 opened #407 "Connection tree at table level expands also table columns"
**Is your feature request related to a problem? Please describe.**
Connection tree at table level expands also table columns.

**Describe the solution you'd like**
As instead it would be more convenient to list only tables and expand particular table to see its columns.

[2019-10-04 17:19] dnlw07 commented on #365
Yes, you are right.
However I believe it would be a nice option to add this functionality even for what user is typing.
Many tools already have it, like SQL Developer or SQuirreL, etc.
I found myself it's a bit annoying to each time add/remove the additional filter condition `rownum <= 100`, to not "kill" DB.

[2019-10-08 06:53] JeongJuhyeon opened #408 "Node and NPM installed but seemingly not recognized"
**Describe the bug**
Node and NPM are installed but when trying to install OracleDB I get "You need to install node@6 or newer and npm first to install dependencies".

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to connect to DB
2. Tells me to install extension for the DB
3. Click Install Now

**Desktop (please complete the following information):**
 - SQLTools Version 0..21.0
 -

[2019-10-08 07:01] JeongJuhyeon commented on #408
Fixed by reinstalling VS Code

[2019-10-08 07:01] #408 closed

[2019-10-09 05:13] tweakimp opened #461 "Put "BETWEEN ... AND ..." in the same line"
Consider this query:
[code]
Currently, this is formatted to:
[code]

However, in my opinion, the second `AND` should be in line with `BETWEEN`, because they are part of the same keyword.

This would result in this:
[code]

There are probably other keywords with the same problem, for example `CREATE OR REPLACE VIEW` which creates a new line because of the `OR`.

[2019-10-09 20:06] johndevedu commented on #277
@mtxr would love to see this implemented. Looking at #293 it looks like the contributor stopped responding to your questions, so the PR was closed. Can I take a crack at it? Was thinking of just adding the "Run Current Query" part out of that PR since the PR was so large.

[2019-10-10 06:20] ChugunovRoman opened #409 "ClickHouse support"
Thanks for your awesome work! Can you add [ClickHouse](https://clickhouse.yandex/docs/) Support?

[2019-10-10 23:56] profbaco commented on #300
Hi @mtxr is scheduled to release the new version?

Olá @mtxr tem previsão de lançamento da nova versão?

[2019-10-12 13:16] benyaminl commented on #409
I'm afraid now @mtxr hand is full, maybe if you have a seperate project that support his, he will be okay with it sir.

[2019-10-12 13:17] benyaminl commented on #403
Hello, @mtxr hand is full now, maybe if you can create a connector for this plug in then it will be a great help for SQLTools and Teradata itself. Cheers!

[2019-10-12 13:19] benyaminl commented on #110
It will be a year we celebrate this issue. Horray! *keep on fire sir!*

[2019-10-13 07:30] psychelzh opened #410 "Show database driver in CONNECTIONS panel"
**Is your feature request related to a problem? Please describe.**
The connections on the CONNECTIONS panel are only listed with name and server, but it is very inconvenient to see the driver behind each connection.

**Describe the solution you'd like**
E.g., use the database driver logo as the icon of each connection.

[2019-10-16 16:01] miversen33 opened #411 "Connecting to MySQL Database is incredibly slow"
**Describe the bug**
When I try to connect to a MySQL database, it takes upwards of 5 minutes to actually open the connection. It takes less than a second to confirm my credentials and test the connection, however opening the database so I can execute SQL commands and view the database tables takes far too long. I can open my databases with other VS code extensions [Such As MySQL](https://github.c

[2019-10-16 16:07] miversen33 commented on #411
This will be edited after my connection is finished. I will replace this with the current log from SQLTools

[2019-10-16 19:24] sstirlin opened #412 "how to edit connection json manually?"
The docs suggest that to add any extra pgOptions (e.g. setting ssl to true) we should manually edit the connection json

https://vscode-sqltools.mteixeira.dev/connections/aws-redshift

How do we do this?  There doesn't appear to be any way to modify the json from the Connection Assistant.

Thanks!

[2019-10-17 09:55] Jakob-Winkler commented on #412
C:\Users\<name>\AppData\Roaming\Code\User\settings.json
Took me a while hope it helps

[2019-10-17 13:09] sstirlin commented on #412
Thanks!  I ended up doing the same thing you probably did (putting a file change monitor on my laptop, saving the file, and locating it that way).

@maintainers it would be super helpful to show the location of settings.json in the Connection Assistant.

Also recommend explicitly showing ssl example in the docs, e.g.

"pgOptions": {
    "ssl": true
}

Since that's a VERY common option (probably ne

[2019-10-17 14:25] CharlesSQL opened #413 "Result limiter"
Really love your extension! But I might have found a feature to make it into THE Extension of the decade!

It seems that out of the box a "SELECT * FROM TABLE" query retrieves all rows. And I find no easy way to limit the result-set without going to write the limit statement in the SQL query itself.

It would be super good to ju being able to browse a limited set of rows for a query. Maybe from a

[2019-10-17 17:17] bikramswain1992 commented on #340
Hi there. Seems like lot of folks like me would like to have SP listed. Please let us know if this is coming soon.

[2019-10-18 01:28] etimes2008 opened #414 "sqlite always fails to install"
**Describe the bug**
can you https://github.com/kripken/sql.js/ replace  https://github.com/mapbox/node-sqlite3

[2019-10-18 08:23] BraveOtter opened #415 "Failed to install dependencies using yarn"
**Describe the bug**
Following this guide to add a new driver: https://vscode-sqltools.mteixeira.dev/contributing/support-new-drivers I obtain an error while I execute "yarn".

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/mtxr/vscode-sqltools.git
2. Open CMD and go to project folder
3. Execute "yarn"

**Desktop (please complete the following information):**
 - SQLT

[2019-10-18 09:33] AdrianMadu commented on #415
I have managed to "solve" it by copying the folder /node_modules/vscode in /node_modules/node_modules/vscode very very very fast just after yarn downloads the dependencies.

Of course, this is not a good solution xD

[2019-10-18 16:26] dev-moonduck opened #416 "yarn run add-driver fails to run"
**Describe the bug**
I try to start to develop new driver, but the command(yarn run add-driver) shows me error. Not sure this is bug or just my mistake.
The full log is like this
[code]

Any idea?

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone 'vscode-sqltools' repo
2. cd vscode-sqltools
3. yarn
4. yarn run add-driver

**Expected behavior**
Initial files are created

**Screenshots

[2019-10-18 18:41] ScriptPup commented on #285
Hey there, is there still an issue with teradata not having a JS driver? I found this https://github.com/Teradata/nodejs-driver, but wasn't sure if that was something you'd already looked into. Just tossing it out there since I stumbled on this while looking for a decent non-1900's themed teradata IDE.

[2019-10-19 01:49] dev-moonduck commented on #416
It is because merge conflict.
docs/Connections.md, docs/SUMMARY.md is not in there in master branch
and there is conflict between master and add-driver-example with availableDialects.ts

[2019-10-19 09:43] Dragon1573 commented on #414
# Environments

- Microsoft Visual Studio Code: v1.39.2 (system setup)
- Node.js: v12.11.1
- SQLToos Extensions: v0.21.0
- Operating System: Windows 10 x64 Home China
- Location: Guangdong, People's Republic of China

# What had happened?

For several reasons, I can't access to the original `npm` mirror. So I used `cnpm` from <https://npm.taobao.org> instead and installed `sqlite3@4.0.8` by using

[2019-10-21 14:25] C1ARKGABLE commented on #416
Bumping for visibility. I’ve had the same issue on Ubuntu 19.04.

[2019-10-21 20:07] Fmstrat opened #417 "No way to see RAISE notices in Postgres"
**Is your feature request related to a problem? Please describe.**
In Postgres, you can raise notices, such as:
[code]
Currently there is no way to view this output like there is using the Microsoft Postgres plugin.

**Describe the solution you'd like**
A way to view notices.

[2019-10-22 12:19] glha opened #418 "Can't connect to MSSQL Server 8.x"
**Describe the bug**
Cannot connect to a MSSQL Server version 8.x. Versions 11.x and 13.x works just as expected, even though the configurations look the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Server to CONNECTIONS
2. Click on created connection to login into server
3. After some time, the error is displayed and the Log is as follows
4. See error log
--------==------------

[2019-10-23 21:48] mtxr commented on #416
@C1ARKGABLE @dev-moonduck I'm sorry, I'm still writing the docs for that.

But you can quickly fix this by running `yarn run add-driver:refresh && yarn run add-driver`

[2019-10-23 21:56] mtxr commented on #416
just updated the branch. should be working now. thanks

[2019-10-23 21:56] #416 closed

[2019-10-23 22:24] C1ARKGABLE commented on #416
Thanks! @mtxr

[2019-10-24 11:07] liatbor opened #421 "Can't create a SQLite connection using the connection assistant in remote development"
When creating a new SQLite connection using the connection assistant I need to provide a database file. Currently the way to choose the file is to click on the "Database file" field which opens a browse window to select the file from my local machine. However in a remote development scenario the file is not located on my local machine but reside in remote workspace

It should be allowed to provide

[2019-10-24 14:20] mtxr commented on #416
I've added a Github Action to auto update that branch.
Also update the script to generate the patch in run time to avoid conflicts

[2019-10-24 14:26] mtxr commented on #415
In the project root, try to `rm node_modules ../node_modules ../packages/*/node_modules -rf` and then `yarn`. This kind of error usually happens because of some broken packages.

The command that was breaking is an internal command of VScode package and generate just types, so removing and running `yarn` again.

[2019-10-24 14:26] #415 closed

[2019-10-24 14:30] mtxr commented on #409
@ChugunovRoman so far I've been trying not to add new drivers to enhance the currently existing ones. The project is growing a lot, and that's awesome, but the worklaod has increased a lot for me to take over all issues.

But I've developed a tool to help developers to quick start in a new drivers. This tool generates some boiler plates stuff where you can start on.

I'll close this issue for to t

[2019-10-24 14:33] mtxr commented on #403
@NEgorE so far I've been trying not to add new drivers to enhance the currently existing ones. The project is growing a lot, and that's awesome, but the worklaod has increased a lot for me to take over all issues.

But I've developed a tool to help developers to quick start in a new drivers. This tool generates some boiler plates stuff where you can start on.

I'll close this issue for to to keep

[2019-10-24 14:33] #403 closed

[2019-10-24 15:20] Dragon1573 commented on #414
@mtxr

I have no idea how to alias `npm` to `cnpm`, and [Taobao NPM Mirror](https://npm.taobao.org/) told me that `cnpm` is an alias of

[code]

If I alias `npm` to `cnpm`, this operation may create an **Alias Loop** and cause unexpected problems.

There's my suggestions:
1. Move all equirements of *SQLTools* from `%USER_HOME%/.vscode/extensions/mtxr.sqltools-<version>/node_modules` to the global

[2019-10-24 17:55] tmknight opened #424 "Add new MSSQL driver to support Windows Integrated Security"
**Describe the bug**
Trying to leverage integrated domain security to avoid hard-coded passwords.  The following connection has been created though results in untrusted domain with integrated security" error.
Similar, though different, to: #70

[code]

`Error opening connection Login failed. The login is from an untrusted domain and cannot be used with Integrated authentication.`

`INFO: Executing

[2019-10-25 02:12] mtxr commented on #424
@tmknight  I'll release a new version with some MSSQL updates tonight.

Try to take a look at http://tediousjs.github.io/tedious/api-connection.html and also https://github.com/mtxr/vscode-sqltools/issues/375

I believe you can achieve this with similar settings.

Problem is I can't test this scenario right now, but I'll try to find a way to reproduce it, ok?

[2019-10-25 02:13] mtxr commented on #418
Hi @glha.

I haven't test with MSSQL v8 for while. But I'll do it till Sunday and get it working again, ok?

[2019-10-25 03:08] #421 closed

[2019-10-25 03:33] mtxr commented on #412
Thanks @sstirlin .

I've s tarted working on this, see: https://github.com/mtxr/vscode-sqltools/compare/open-settings

About ssl options, it already existis in the docs.

This open settings will be release in a few days after testing, ok?

[2019-10-25 12:35] tmknight commented on #424
Thanks for digging into the problem.
Tried adding "type": "ntlm", though still no joy unless I populate a username and password.
FWIW, Microsoft's SQL extension is handling integrated auth without issue.

[2019-10-25 13:18] sstirlin commented on #412
Sounds great!  I'll let you close the issue.  Thanks

[2019-10-25 13:30] kvdveer opened #425 "Documentation offline"
**Describe the bug**
The link to the documentation returns a 404

**To Reproduce**
1. go to https://vscode-sqltools.mteixeira.dev/, or click on any of the documentation links

**Expected behavior**
I am shown awesome documentation

**Actual behavior**
I am shown a 404 page.

**Desktop:**
 - Firefox 70
- Google chrome 78

[2019-10-25 17:26] #425 closed

[2019-10-26 00:21] mtxr commented on #183
Hey guys, I'll close this issue. So far VSCode doesn't support anything new about this behavior.

Everything they provide for opening and selecting where to open is already implemented in the extension (if I'm not wrong).

Since now we can have one result window per connection, I'll consider this closed.

I'm tracking some issues in their repo about layout, if they decide to work in any of then, I

[2019-10-26 00:21] #183 closed

[2019-10-26 00:24] mtxr commented on #410
I like your Idea. But How would I show which database is connected and which one is active?

[2019-10-26 05:48] mtxr commented on #410
Hey, got and idea.

![image](https://user-images.githubusercontent.com/707561/67614901-21c41180-f79b-11e9-935c-22bb7e185c45.png)

This is done in `vnext` branch. Will be release with v0.22 but I still don't have a date for it yet

[2019-10-26 05:56] #410 closed

[2019-10-26 13:04] miversen33 commented on #411
Is there anything else I can provide for this? SQLTools was just updated and this issue is not any better.

[2019-10-26 14:33] MBetters commented on #414
I'm getting a similar error on Windows 10:

[code]

[2019-10-26 14:40] MBetters opened #428 "SQLite Driver Fails to Install for "VS Code - Insiders" with "data: undefined""
**Describe the bug**

In "VS Code - Insiders", SQLite driver fails to install for "VS Code - Insiders" with "data: undefined"

**To Reproduce**

In "VS Code - Insiders" I try to add a new SQLite connection. I select the file then click Test Connection. It prompts me to install the SQLite driver. The install fails with this:

[code]

**Expected behavior**

For the SQLite driver to install successfu

[2019-10-27 07:23] liatbor commented on #421
@mtxr you're too quick for me :)

[2019-10-27 10:07] voxpelli opened #429 "Support sql template literal in javascript?"
I'm currently using https://github.com/ForbesLindesay/vscode-sql-template-literal to get syntax highlighting for sql template literals, but it would be nice to get the functionality of this extension in those places as well, and not only have it in `.sql` files.

Is this something you are planning to support, would consider to support (or already support, but I have somehow missed it)?

Thanks for

[2019-10-27 12:44] mtxr commented on #429
Hi @voxpelli. I've use this extension as well. It's pretty cool.

So far I don't plan to add it soon. @ForbesLindesay has done a great job there so It's something that's already covered by his extension.

We could add this in the future for sure, but It would be better to add for at least most common programming languages to be valuable for a variety of users.

For now maybe it would be better to

[2019-10-27 12:44] #429 closed

[2019-10-27 12:52] mtxr commented on #428
Can you send `SQLTools Language Server` output logs as well?

This message by itself suggests the drier is installed, so do problem would be somewhere else.

![image](https://user-images.githubusercontent.com/707561/67634850-8799c180-f89f-11e9-80ba-243ce8e697bd.png)

[2019-10-27 13:04] mtxr commented on #414
I'm adding options to select which package manager user wants to use.

Having the requirements in a global folder is something I've tried, but that can lead us to a variety of bug because of wrong package versions. So I'll keep it the `node way`, managing all deps in the app folder.

About 3, we can certainly improve the dependency installer to add this feature. It shouldn't be difficult, but so f

[2019-10-27 16:05] bricakeld opened #430 "SQLite Selected DB Path includes current folder"
**Describe the bug**
When I select an sqlite file, the current folder is included in the path, resulting in an error that says the database file cannot be opened. It can be fixed manually by changing the file path in the connections json setting, but by default, I'm guessing the file selector should result in a correct path added to the json.

**To Reproduce**
Example project dir:
[code]
Steps to

[2019-10-28 01:03] mtxr commented on #401
@mtoma did you get it working?

[2019-10-28 12:06] drk-mtr commented on #428
I have the same issue in vscode 1.39.2. SQLTools Language Server output is:

[code]

[2019-10-28 17:35] ManPython opened #431 "Request connection/TestConnectionRequest failed with message: Cannot convert undefined or null to object"
**Describe the bug**
`Request connection/TestConnectionRequest failed with message: Cannot convert undefined or null to object`

**To Reproduce**
1. Trying open any .sqlite3 and test connection
2. After save of connection the `Unable to write into workspace settings. Please open the workspace settings to correct errors/warnings in the file and try again.` - we often need use this tool in django, b

[2019-10-29 13:42] sapiens-sapide commented on #428
Same error with vscode 1.39.2. SQLTools Language Server output is :
[code]

[2019-10-29 18:46] #414 closed

[2019-10-29 21:10] mtxr commented on #277
@johndevedu please go ahead! I'll be happy to accept your PR.

Just giving you more tools to work, @dnlw07 send me some instructions he thought could be useful.

Regarding the ‘Run query under cursor’ I have a regex script which can help you with that.

Let me know if you need any help, I'll be happy assisting you

[2019-10-30 08:40] mariusa opened #433 "Formatting testcase: results not as expected"
**Describe the bug**
Formatting doesn't work as expected

**To Reproduce**
Please see attached testcases
[test-input.txt](https://github.com/mtxr/vscode-sqltools/files/3787714/test-input.txt)
[test-expected.txt](https://github.com/mtxr/vscode-sqltools/files/3787713/test-expected.txt)

[2019-10-30 12:16] mtxr commented on #433
THanks @mariusa.

It will be fixed in the next version.

I'll move this issue to formatter repository, ok?

[2019-10-31 21:14] jbunselmeyer commented on #424
@tmknight You mention the Microsoft SQL extension is handling integrated auth without issue. I'm needing to try to utilize it to use my domain account for some of my server connections for audit reasons.

Is there a specific section you add in the config to make it work or is it a specific syntax in the mssql.connections section of the config that that specifies additional values?

Thanks!

[2019-11-01 12:21] tmknight commented on #424
The selection is simply "integrated" as you step through establishing a new connection.  This is what the end result looks like in the JSON:
`    "mssql.connections": [
        {
            "server": "the_server",
            "database": "the_db",
            "authenticationType": "Integrated",
            "password": ""
        }
    ]
`
Thanks for continuing to look into this...

[2019-11-01 12:34] jbunselmeyer commented on #424
@tmknight Does it then prompt you for the domain at some point when you connect?

[2019-11-01 13:10] tmknight commented on #424
It does not.  These are the server specific prompts:
![image](https://user-images.githubusercontent.com/548588/68026920-695d0880-fc87-11e9-923f-c6fa550b9497.png)
![image](https://user-images.githubusercontent.com/548588/68026933-711cad00-fc87-11e9-9a7c-1a00356b1347.png)
![image](https://user-images.githubusercontent.com/548588/68026937-74b03400-fc87-11e9-8d83-999c9662ca91.png)

[2019-11-01 13:31] jbunselmeyer commented on #424
How are you logging in with a domain account then? That's where I'm confused. I want to connect via a domain account. When I use SSMS I have a RunAs shortcut that specifies the domain credentials to use. I'm trying to figure out how accomplish the same thing using these SQL Server extensions.

[2019-11-01 14:16] tmknight commented on #424
Integrated authentication is predicated on the user being logged onto a domain joined device with a domain account.  Also the SQL server is domain joined and permissions are set leveraging Active Directory Users/Groups.

Thus no user information is required when setting up a connection with integrated authentication.

Hope that makes sense.

[2019-11-01 16:42] tmknight commented on #424
I'm joined to a Windows Active Directory domain.  To logon to my Windows PC, I authenticate with my domain user account.  From there kerberos tokens and ntlm take care of any other authentications on other domain joined resources.  Not sure how else to describe it.

[2019-11-01 16:49] jbunselmeyer commented on #424
Yeah, I follow what you are saying, I'm thinking for my situation I just may not be able to do it.
I log in to my Windows PC with an AD account as well, but the databases I'm connecting to are in two other domains and there is no domain trust between the domains.

Even to use SQL Server Management Studio to access those databases I have to have shortcuts that basically do this...

%windir%\system3

[2019-11-02 12:21] tmknight commented on #424
Are you able to RDP to a machine on one of the other domains then connect
to SQL?

On Fri, Nov 1, 2019, 12:49 jbunselmeyer <notifications@github.com> wrote:

[2019-11-02 13:11] mtxr commented on #428
Hey Guys, I've added more logs and I'm releasing a new version.

But can you guys test something? Try to:
1. uninstall the extension
2. delete extension directory.

3. Reinstall the new version

[2019-11-02 13:31] mtxr commented on #424
So if you fill username and password it does work? It does look with a similar issue we've got before. Let me see if I can find it.

Also, @ransagy do you think this is somehow similar to what you've got in your setup?

[2019-11-02 13:39] mtxr commented on #424
Actually the driver we are using (`tedious`) doesnt support integrated security as we have seem in other tools. See https://github.com/tediousjs/tedious/issues/836
I've found another driver that supports, it's https://www.npmjs.com/package/msnodesqlv8, but we would need to add that new driver to SQLTools.

We have a tool to add new drivers, also the docs, would you like to add it? would require yo

[2019-11-02 13:59] mtxr commented on #401
Just a question, how did you get SQLTools to work use 4.0.1 while in the code it's fixed in 4.0.0? Did you manually updated or installed the driver in the extension folder?

[2019-11-02 14:08] #401 closed

[2019-11-02 14:08] mtxr commented on #401
Please, reopen if will still have issues after clearing deps cache reinstalling

[2019-11-03 07:44] TomHermanSAP opened #434 "SQLite - prevent "install sqlite" notification"
**Describe the bug**
When applying first connection to SQLite DB using sqltools extension, a notification pops-up and the user is requested to install sqlite:
"You need "sqlite3@4.0.6" to connect to sqlite."

**To Reproduce**
Steps to reproduce the behavior:
Follow the instructions at:
1. https://github.com/SAP-samples/cloud-cap-walkthroughs/tree/master/exercises-java/exercise1
2. https://github.c

[2019-11-03 11:22] mtxr commented on #434
@TomHermanSAP  Why would we need to install manually?
If you have node installed, it will just install it for you..

[2019-11-03 11:25] mtxr commented on #430
are you using settings.json or vscode workspace files?

[2019-11-03 11:29] mtxr commented on #430
I'll make SQLite relative to settings file or workspace file. We've already had a lot of similar issues, that's very opinionated because which user has an understanding about this path. I'll use vscode standard, relative to current setting file dir.

[2019-11-03 11:29] mtxr commented on #277
@johndevedu any luck?

[2019-11-03 11:33] mtxr commented on #431
What happens if you try to update workspace settings manually?
This is a VSCode error. VScode is unable to save settings in your workspace.

Since we completely rely on VSCode settings API and it looks like a file permissions error, I'll close it for now. But please, keep me updated.

If you have any suggestions on how to do this, let me know.

[2019-11-03 11:33] #431 closed

[2019-11-03 11:42] mtxr commented on #210
Useful information:

https://code.visualstudio.com/docs/languages/json
https://www.npmjs.com/package/comment-json

Requirements:

1. Support json with comments
2. Include Connections schema somewhere else to allow autocomplete when not using vscode settings file

[2019-11-03 11:47] mtxr commented on #412
Useful info: https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations

[2019-11-03 11:55] mtxr commented on #411
There is some on going effort on that. But it's not about mysql only, we need to keep standards against all drivers.

I'll merge this issue into #322 since that's the root cause of slowness when connecting.

[2019-11-03 11:55] #411 closed

[2019-11-03 11:56] mtxr commented on #411
This will be released on v0.22

[2019-11-03 11:59] mtxr commented on #340
Hey guys, this will arrive on v0.22. Still don't have a date for that, but it's the next bigger release

[2019-11-03 12:02] mtxr commented on #413
This is a tricky question. I don't really want to change user's query, but I do see some benefits on having that.

I would say that's I'ld approach it with an alert like `This query doesn't have limit clause, would you like to add it?` before changing the query.

[2019-11-03 12:03] gogobook commented on #430
The same issue in ubuntu, can fix `.vscode\settings.json` directly.

[2019-11-03 12:04] mtxr commented on #413
Closing this issue in favor of #365.

[2019-11-03 12:04] #413 closed

[2019-11-03 12:10] mtxr commented on #365
Since we don't want to change the query without his approval, let's add an alert first.

Requirements:
1. Show an alert `You are running a select query that has no limit clause, would you like to add it before continue?` before changing the query.

[2019-11-03 12:15] mtxr commented on #407
@dnlw07 I don't think I completely understand your issue. Could you elaborate a bit more?

I thought you said when connecting we were expanding all the tree, that includes columns, but I've just tested here and we expand just the connection.

![image](https://user-images.githubusercontent.com/707561/68084952-5dee1680-fe1a-11e9-97ff-75fd28415bac.png)

[2019-11-03 12:19] mtxr commented on #352
They have some on going effort to avoid this. Since I update language server and client every time they release a new version, I'll close this issue since there's nothing I can do for now.

This is already tracked in #365

[2019-11-03 12:19] #352 closed

[2019-11-03 12:21] mtxr commented on #402
This is already described here: https://vscode-sqltools.mteixeira.dev/driver/mysql#mysql-8-and-er_not_supported_auth_mode

[2019-11-03 12:21] #402 closed

[2019-11-03 12:21] mtxr commented on #404
@dnlw07  Can you provide more details about this?

Examples, screenshots and an expected behavior?

Which driver are you using?

[2019-11-03 12:23] dnlw07 commented on #365
Yeah, good idea!
By default the alert should be always shown.
However, please consider the option to turn off the alert in settings.

[2019-11-03 12:28] dnlw07 commented on #407
I just have checked and the issue seems to be already solved with 0.21 release.

[2019-11-03 12:28] mtxr commented on #365
You are totally right. Evolving requirements:

Requirements:
1. Show an alert `You are running a select query that has no limit clause, would you like to add it before continue?` before changing the query.
2. Add an option to ignore this alerts

[2019-11-03 12:28] #407 closed

[2019-11-03 12:29] mtxr commented on #407
Thanks @dnlw07 <dnlw07@gmail.com>

On Sun, Nov 3, 2019 at 10:28 AM dnlw07 <notifications@github.com> wrote:

[2019-11-03 12:35] dnlw07 commented on #404
comment updated

[2019-11-03 12:35] mtxr commented on #417
You wanted to see it like this?

![image](https://user-images.githubusercontent.com/707561/68085201-2e8cd900-fe1d-11e9-9959-04c633cc4562.png)

We also show the message...

![image](https://user-images.githubusercontent.com/707561/68085211-44020300-fe1d-11e9-8e1e-21c88f16af4f.png)

[2019-11-03 13:54] mtxr commented on #404
Hmm, I see. That's something very annoying. The message is there, but hidden in the message panel ;p

[2019-11-03 14:14] dnlw07 commented on #404
Oh good to know! ;)

It's not that much annoying, but in the beginning when I started working with the extension, I got an impression that scripts other than DQL are not executing properly.

[2019-11-03 15:57] bricakeld commented on #430
I'm using vs code workspace files but regardless, I'm guessing the file path to be inserted should be relative to the current vs code project directory.

If it's global in settings.json perhaps using the full file path would be better? I've tried pasting the full file path into my workspace json and it is working.

[2019-11-03 20:55] ManPython commented on #431
When trying change in profile then
`You need to fix some issues in your machine first. Check the notifications on bottom-right before moving forward.`
When trying select the profile of connection then I see on notification:
`You need to install sqlite3@4.0.8 to connect test` source: sqltools...
When trying install by "install now" then:

[code]

details:
[code]

[2019-11-04 01:23] mtxr commented on #417
Nvm, I see what you are looking for.

Feature Requirements:
1. list all notices and raises when running queries.

More info: https://node-postgres.com/api/client

[2019-11-04 07:31] TomHermanSAP commented on #434
Hi @mtxr ,
1. We want to provide to the users a "**ready**" environment, and not ask them to install more dependencies by themselves, for more smooth experience.
2. If "SQLite" is one of the dependencies of sqltools, can't it be already packed as part of the extension?

Thank you!

[2019-11-04 08:44] sapiens-sapide commented on #428
didn't work for me, after uninstalling the extension, deleting extension directory and reinstalling.
Same error.

[2019-11-04 12:16] mtxr commented on #434
Hi Tom,

Not really, SQLite package includes some binary files platform attached, so
it's better to allow user to install that manually or having the dependency
manager. See https://www.npmjs.com/package/sqlite3#installing

Currently for any development project or some tools like DBeaver, DataGrip
etc, we need to install dependencies. it's hard to ship all drivers in the
code, This requires to cre

[2019-11-04 12:19] mtxr commented on #431
Just checking, did you enable setting `"sqltools.useNodeRuntime": true,` as in https://vscode-sqltools.mteixeira.dev/driver/sqlite#1-prerequisites?

Check here an working example: https://github.com/mtxr/vscode-sqltools/blob/master/.test-database/project.code-workspace#L31

I see you have `node 10.11.0` installed, so it's probably just a matter of enabling node binary.

[2019-11-04 12:52] #404 closed

[2019-11-04 12:52] mtxr commented on #430
Closed by mistake

[2019-11-04 12:55] #417 closed

[2019-11-04 13:36] #405 closed

[2019-11-04 15:53] dnlw07 opened #435 "Add fuzzy search during connection selection"
**Is your feature request related to a problem? Please describe.**
Fuzzy search during connection selection is not enabled.
In VSCode, fuzzy search is enabled by default in command palette.

**Describe the solution you'd like**
While typing connection name, fuzzy search should be performed.

[2019-11-04 17:32] #406 closed

[2019-11-04 17:37] dnlw07 opened #436 "Add option to exectue mutlitple commands"
**Is your feature request related to a problem? Please describe.**
Extension does not allow to execute multiple INSERT scripts at once.

**Describe the solution you'd like**
Please add an option to execute all scripts in file or only selected ones.

[2019-11-04 17:44] mtxr commented on #435
Currently not supported on extensions api.

See: https://github.com/microsoft/vscode/issues/34088

Will revisit this `3rd party blocked` stuff monthly. Closing for now

[2019-11-04 17:44] #435 closed

[2019-11-04 17:55] mtxr commented on #436
this is already supported.

just tested with this query.

The only problem is the messages not being displayed.

[code]

![Peek 2019-11-04 14-54](https://user-images.githubusercontent.com/707561/68144712-01baed80-ff13-11e9-8156-42cf7ad1a898.gif)

[2019-11-04 17:55] #436 closed

[2019-11-04 18:27] Fmstrat opened #437 "POSTGRES - Show full error including "at character""
**Is your feature request related to a problem? Please describe.**
Currently, Postgres errors don't show the full expanded error. For instance, when viewing Postgres output logs, you might see:
[code]
but in sqltools you get:
[code]
in the `messages` section.

**Describe the solution you'd like**
The full error message as displayed by postgres.

**Describe alternatives you've considered**
I have t

[2019-11-04 18:32] Fmstrat commented on #437
Note: Using the `show-offset` extension allows you to jump to a character in VSCode, which is why the above is so useful.

[2019-11-04 18:58] jbunselmeyer commented on #424
That doesn't seem to make any difference. I RDP into one of the actual database servers I'm trying to connect to with the appropriate domain account and then try to add the connection in Visual Studio Code, selecting integrated, and it returns...

mssql: Failed to connect: Microsoft.Data.SqlClient.SqlException (0x80131904): Failed to generate SSPI context.

[2019-11-04 19:06] bkbonner opened #438 "BasicClientLite Package . ORA-01804 errors . vs. BasicClient Package"
This isn't a bug per se, but more of a write-up on the steps I had to take to get sqltools working on catalina (I was installing it on OSX Catalina 10.15.1) with oracle.

I initially install oracledb@4.0.0 but it required upgrading from v10.15.3 . -> v10.16.1.  I upgraded to v10.17.0

After this I downloaded: https://download.oracle.com/otn_software/mac/instantclient/193000/instantclient-basiclite

[2019-11-04 19:50] mtxr commented on #438
@bkbonner awesome! Great job!

Hey @bkbonner, would you mind adding this to the docs?

I'll be happy to merge your pull request.

Users usually look there first, so might be better to put this guide there than here.

Here is the file for Oracle: https://github.com/mtxr/vscode-sqltools/blob/master/docs/src/pages/driver/oracledb.mdx

[2019-11-05 10:09] ManPython commented on #431
`"sqltools.useNodeRuntime": true,` exist.
But I not instaled node manualy or not do anything with this env. I belive that VSC do this or this ext. Should I do here something? There is no instruction or information that is required to do.

[2019-11-05 10:22] ManPython commented on #431
Looks that problems exist with sqlite. The test with mysql was ok. HVR I uninstaled this ext due that not speending my needs - I expect some option to write scripts, save these as files in dir and run if required to see data.

[2019-11-05 16:16] #437 closed

[2019-11-05 16:51] mtxr commented on #418
@glha the sql server v8 image I was using to test is not available anymore, so I can't test.

If you can go to another tool and run the queries in this file https://github.com/mtxr/vscode-sqltools/blob/master/packages/core/dialect/mssql/queries.ts (changing placeholders like `:table`), you should be able to see some errors. If you can send me this errors, I could try to updated the queries.

But t

[2019-11-05 18:11] mtxr commented on #412
Found a temporary solution. We still can't got directly to the file, but we take user to vscode settings screen, from there we can go to the correct file..

[2019-11-05 18:11] #412 closed

[2019-11-05 18:31] glha commented on #418
Oh, I see.
Most of it comes from CONCAT, that isn't a thing in v8.x. You can pretty much replace it with ISNULL and a plus sign, so this:
`concat(
    f.routine_schema,
    '.',
    f.routine_name
  ) as signature`
become this:
`(
    ISNULL(f.routine_schema, '') +
    ISNULL('.', '') +
    ISNULL(f.routine_name, '')
  ) as signature`
The first two queries are displayed, once changed like that. Yo

[2019-11-05 19:07] mtxr commented on #418
@glha Awesome. Let's replace than by `ISNULL`.

`f.routine_definition AS source FROM information_schema.routines AS f` to be honest, this is not really used, we could remove that for now.

I'm working in new queries for v0.22, and that will fetch pieces of information from other metadata tables, like DataGrip for example. That would probably fix this 8KB issue.

[2019-11-05 19:08] mtxr commented on #418
Do you plan to send a PR? if so, I'll assign this issue to you.

Just let me know.

Thank you for all the help debugging :D

[2019-11-05 19:26] glha commented on #418
Yes, I can fork and send the PR. Just give me a moment.

[2019-11-06 03:30] #430 closed

[2019-11-06 03:34] mtxr commented on #430
I've fixed this using vscode guides for workspaces. See: https://code.visualstudio.com/docs/editor/variables-reference#_variables-scoped-per-workspace-folder

Now files will be saved with `${workspaceFolder:<workspace name>}` if it's an saved workspace or `${workspaceFolder}` if it's just open folder(s).

We can still use dot syntax `.`, but that will make connections to be relative to the first o

[2019-11-06 03:35] mtxr commented on #430
@bricakeld this will be released tonight, so if will still face problems with paths, just edit you connection, select the file and save it again. It will update to new standard.

[2019-11-06 03:44] mtxr commented on #418
Great job!

I'll merge it right now.

Thank you @glha

[2019-11-06 03:45] #418 closed

[2019-11-06 03:45] bricakeld commented on #430
Thanks for the fix! I'll try it out next couple days and update again if needed

[2019-11-06 03:46] mtxr commented on #430
:metal:

[2019-11-06 03:50] mtxr commented on #121
Closing. This issue is more than 6 months old. VSCode team doesn't seem to be trying this soon.

[2019-11-06 03:50] #121 closed

[2019-11-06 04:18] mtxr commented on #340
Next v0.21.x release we will have a preview of that. Hope that helps. Still not fully supported but it's on the way.

![image](https://user-images.githubusercontent.com/707561/68268031-61101f00-0033-11ea-8d0b-f04cedbf2e0a.png)

[2019-11-06 04:19] #340 closed

[2019-11-06 04:42] #434 closed

[2019-11-06 04:42] mtxr commented on #434
I've added an option to bypass that message. But still can't completely remove that popup

[2019-11-06 08:46] 188008017 commented on #372
Function "listagg" in file "/packages/core/dialect/oracle/queries.ts".but is only with oracle 11g.
if you  connect 10g (before oracle 10g) then catch the error

[2019-11-06 08:54] jordyvandomselaar commented on #210
Hi @mtxr,

I stopped using VSCode so I won't be able to fix this issue after all, my sincerest apologies for that.  It would be awesome if someone else could help out!

[2019-11-06 12:26] mtxr commented on #44
@FireFighter1017 @ChrisTuckerNM DB2 support was developed and release by @EpicEric .

This issue covers many things and as we need specific queries for each RDBMS, I'll close it for now.

if you still need drivers to connect to CSV, Access and etc. it's better to open individual issues for each driver, and if possible write the queries regarding that driver to display tables, columns and functions

[2019-11-06 12:26] #44 closed

[2019-11-06 12:28] mtxr commented on #428
@MBetters @sapiens-sapide @drk-mtr please, let me now if the issue persists on v0.21.2

We've introduced new settings that can tweak dependency installing.

Keep me posted

[2019-11-06 12:31] mtxr commented on #341
@blassmegod can you explain a little what you are looking for?

I believe we are already using single connection for all queries.

Which driver/rdbms are you using?

[2019-11-06 12:34] mtxr commented on #377
For future reference: https://github.com/mapbox/node-sqlite3/wiki/Extensions

[2019-11-06 12:35] mtxr commented on #269
Closing due lack of response

[2019-11-06 12:35] #269 closed

[2019-11-06 12:36] mtxr commented on #284
@bergamin @josecanciani do you still have this issue on v0.21.x?

[2019-11-06 12:36] mtxr commented on #343
Closing due lack of response

[2019-11-06 12:36] #343 closed

[2019-11-06 13:41] sapiens-sapide commented on #428
It fixed the issue for me. Thanks @mtxr for your job !

[2019-11-06 13:43] #428 closed

[2019-11-07 11:38] blassmegod commented on #341
Hi @mtxr,
I'm using it to connect to an Oracle12c database, and the problem that I have is that even if the update/insert statements work, the changes are not committed in the database, so an option/functionality to choose to start the connection with auto-commit or not would really help. And for example if I'm trying to execute "commit;" after executing the "update table set col=val when blabla=s

[2019-11-07 12:01] mickeypearce commented on #341
We could add `oracledb.autoCommit = true;` for now...

[2019-11-07 12:07] mtxr commented on #284
Let me know if this issue persists. Closing for now

[2019-11-07 12:07] #284 closed

[2019-11-08 04:30] mtxr commented on #374
Closed in `vnext` branch.

[2019-11-08 04:30] #374 closed

[2019-11-08 06:39] SimonDever commented on #44
Where was it released? His fork is behind yours and I can't find where you've done a PR for it.

[2019-11-08 09:04] blassmegod commented on #341
there is a property called "oracleOptions", which could be used to add extra options in the connection settings, but from what I saw in the code this is used just for pool stuff, so adding something else there is ignored. Maybe this part here could be refactored so that it can handle also other arguments from node-oracledb. If I will have some spare time maybe I can help, but I don't promise anyth

[2019-11-08 09:34] mickeypearce commented on #341
Yes, currently "oracleOptions" gets passed to oracledb.createPool() function (https://github.com/oracle/node-oracledb/blob/master/doc/api.md#-331-oracledbcreatepool).

But It is not a bad idea to optionalize also the oracledb properties (https://github.com/oracle/node-oracledb/blob/master/doc/api.md#oracledbproperties), as you suggest.

[2019-11-08 12:29] mtxr commented on #44
It was release a few weeks ago. It's part of SQLTools extension. Just install version `v0.21.2` and you should be able to see it in the connection assistant

[2019-11-08 13:18] #288 closed

[2019-11-08 13:25] mtxr commented on #341
in the open() method:
[code]

and then in the query method:
[code]

This is make the flag to be evaluated in query run time instead of globally set.

we just need to add this to the docs.

what do you think @mickeypearce ?

[2019-11-08 15:02] EpicEric commented on #44
It wasn't me that added DB2 support, it was @snyang :sweat_smile:

The PR is #391

[2019-11-08 18:40] jbunselmeyer commented on #424
@tmknight Totally off-topic to this thread but didn't know how else to contact you to ask...

Does the mssql extension just not show record counts in it's message or results pane or am I missing/mis-configuring something?

[2019-11-08 18:47] tmknight commented on #424
It does not show results count.  An oversight, IMO.  Hoping they add it
soon.

On Fri, Nov 8, 2019 at 1:41 PM jbunselmeyer <notifications@github.com>
wrote:

[2019-11-08 18:49] jbunselmeyer commented on #424
Thanks for the quick reply. It's the one thing I'm really missing from SSMS based on some tasks I have to do daily. Easy enough to scroll to the bottom of the results or do a quick count query but so weird it isn't there.

[2019-11-08 18:50] tmknight commented on #424
https://github.com/microsoft/vscode-mssql/issues/1462

[2019-11-09 16:10] mickeypearce commented on #341
Optionalizing the whole global property object would be too much, you think?

[2019-11-09 16:45] mickeypearce commented on #341
And I would set also autoCommit to true by default.

[2019-11-10 00:47] SimonDever commented on #44
Thank you

[2019-11-10 12:08] mtxr commented on #44
Lol. That's true. Thanks @EpicEric and @snyang

[2019-11-11 14:29] frankyjuang opened #442 "mysql with xprotocol: Cannot read property 'length' of undefined"
**Describe the bug**

Connect to mysql 8.0 server with caching_sha2_password using xprotocol without password yields
`Error opening connection Cannot read property 'length' of undefined`

**To Reproduce**

My connection settings
[code]

**Expected behavior**
Connection established.

**Desktop (please complete the following information):**
 - SQLTools Version: latest 0.21.2
 - VSCode Version: lates

[2019-11-11 17:12] mtxr commented on #442
Hi @frankyjuang .

You could fix this in this file:

https://github.com/mtxr/vscode-sqltools/blob/master/packages/core/dialect/mysql/xprotocol.ts#L14-L39

This fix should be probably a missing flag or property in this object.

If you know how to debug node in vscode (or node inspector), you should be able to quickly find where you should change.

`launch.json` is already set to be used with VSCode

[2019-11-12 01:08] mtxr commented on #424
@tmknight @jbunselmeyer could you please move this to a different thread inside of the correct repository? With the exception of the first comments, everything else is all about vscode-mssql. They use proprietary driver/tools to achieve what you are looking for, something we currently not support. Let's try to keep this thread useful for adding this feature to SQLTools.

Don't get me wrong, it's j

[2019-11-12 01:14] mtxr commented on #341
@mickeypearce

That's up to you. To be honest I don't have a preference in this case. Whatever works better and brings more value for Oracle users.

Maybe this is to risky. We can enable it for sure, but we need to let users know about that. If you approach this default strategy, do you think would be nice to add this to connections assistant? A notice saying something like `by default autoCommit

[2019-11-12 10:55] zhutoutou opened #443 "Can't execute sql in mssql and alert Connection is closed"
**Describe the bug**
Recently I found that i can't execute mssql sql by using the tool any more And alert message connection is closed,by the way, the same sql use microsoft mssql tool with no problem.i have test the connection correctly.

**To Reproduce**
1. create a connection to mssql 2008 R2
2. choose the sql
3. Ctrl+E Ctrl+E
4. Use another computer repeat the operation

**Expected behavior**

[2019-11-12 12:07] jbunselmeyer commented on #424
Absolutely @mxtr, totally understand. I take responsibility for taking it off-topic, sorry about that.

[2019-11-12 20:27] yanickrochon commented on #376
This issue is cyclical and does not explicitly propose a resolution; how do I enable "UDP packages in [my] network"? Is that some option I set?

[2019-11-13 09:11] blassmegod commented on #341
@mtxr, I would say that autoCommit is a general option that should be useful also for other driver providers, not only for Oracle, so it would be nice that the SQLTools API would add it generally so that the rest of database drivers can use it.

P.S.: normally this should not be enabled by default as long as the transaction is not closed, I tried setting "poolMin":1 and "poolMax":1 and  "poolIncre

[2019-11-13 15:00] wesleydean opened #444 "Error when starting a connection to an sqlite database"
**Describe the bug**
Getting a red error banner when trying to connet to an sqlite.db

**To Reproduce**
Steps to reproduce the behavior:
1.Go to Connection Assistant. Fill out connection name and attach .db file.
2.Click on test connection.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercon

[2019-11-13 21:05] dnlw07 opened #445 "Modify tooltip to show column name instead of word "Sort""
**Is your feature request related to a problem? Please describe.**
For long columns names query results doesn't show it's full name. When hover pointer over the column name tooltip with word "Sort" appears. As instead tool tip could show column name or "Sort <column_name>"

Below I am attaching screen with current behavior:
![example](https://user-images.githubusercontent.com/23562689/68804349-d4c

[2019-11-14 07:36] dfdgsdfg commented on #235
sslOptions key should be 'ca', 'cert', 'crl', 'key', 'pfx'.

[2019-11-14 08:14] renkun-ken commented on #235
I tried the following config but still access denied. I'm not sure if the entries are corresponding ones:

[code]

[2019-11-14 08:41] renkun-ken commented on #235
I alter user from `REQUIRE X509` to `REQUIRE SSL` and connect with the above ssl settings, and the following error occurs:

[code]

[2019-11-14 08:41] renkun-ken commented on #235
I alter user from `REQUIRE X509` to `REQUIRE SSL` and connect with the above ssl settings, and the following error occurs:

[code]

[2019-11-14 18:49] Fmstrat opened #446 "Move postgres messages above query in output."
**Is your feature request related to a problem? Please describe.**
Potentially related to: https://github.com/mtxr/vscode-sqltools/issues/437 and https://github.com/mtxr/vscode-sqltools/issues/417 which you fixed awesomely.

In the latest version of SQL Tools, If I run a very long query, such as adding a function, it used to show a blank result to let you know there was a success. However, now it

[2019-11-15 04:03] mtxr commented on #442
@frankyjuang any luck?

[2019-11-15 06:35] wjfang90 commented on #443
I have the same problem, but I have not found a message supported by the MSSQL version.

[2019-11-15 08:19] frankyjuang commented on #442
sorry a bit tight these days. will try this weekend

Matheus Teixeira <notifications@github.com> 於 2019年11月15日 週五 下午12:03寫道：

[2019-11-16 23:07] steg0 commented on #277
I'm interested in this as well. I support the idea of splitting on semicolons with a regex. I've extracted the Run Current Query command out of the original branch by @vrokolos and tried changing it, starting with b3d0110e747280d8ac74d6b68c8de06b0da8c750. I'm going to test it over the next couple of weeks and open PR if successful.

[2019-11-17 05:25] JoeyRxy opened #447 "Can't Connect to Mysql8 while authoprotocal='xprotocal' & port=33060"
**Describe the bug**
A clear and concise description of what the bug is.
- error msg : `Error opening connection (intermediate value).getAffectedRowsCount is not a function`

- my settings:
[code]
- fact : I can use cmd to connect. Here's the results:
[code]
- fact 2 : I can use Idea to open the databases, here's the results:

![](https://github.com/JoeyRxy/tmp/blob/master/Snipaste_2019-11-17_13-2

[2019-11-17 20:18] frankyjuang commented on #442
@mtxr oh my bad. Realized that i have to provide a empty string for password. Misunderstood the meaning of `askForPassword`. But still ran into another issue which is already filed here https://github.com/mtxr/vscode-sqltools/issues/447

[2019-11-17 20:18] #442 closed

[2019-11-17 20:41] frankyjuang commented on #447
Same here. The error was raised this line

https://github.com/mtxr/vscode-sqltools/blob/master/packages/core/dialect/mysql/xprotocol.ts#L83

[2019-11-18 01:42] mtxr commented on #446
Thanks @Fmstrat. Messages were moved to another place in `vnext` branch.

Keep following the project to get updates on that, ok?

Thanks.

[2019-11-18 01:42] #446 closed

[2019-11-18 01:53] #447 closed

[2019-11-18 01:55] mtxr commented on #277
Thanks @steg0

[2019-11-18 01:58] mtxr commented on #443
@zhutoutou @wjfang90 Does your connection need encryption?

[2019-11-18 01:59] mtxr commented on #444
@wesleydean can you paste the logs of SQLTools (and Language Server) output channel as well?

[2019-11-18 02:02] mtxr commented on #395
Hey guys, that's something I really want to do, but still have to work in some stuff before that.

Since we have native tunnels as a workaround, I don't consider this high priority for now. See https://github.com/mtxr/vscode-sqltools/issues/230#issuecomment-494624547

I won't close this because I feel we are close to work on this now. But for now, please, try using native tunnels, ok?

[2019-11-18 02:07] wjfang90 commented on #443
No,I connected direct

[2019-11-18 07:53] zhutoutou commented on #443
Me too

[2019-11-20 18:43] mojoaxel opened #460 "format a GRANT statement"
The indentation of the most keywords is wrong inside a `GRANT` statement.

## Steps to reproduce

[code]
## Expected Result

[code]

## Actual Result

[code]

[2019-11-20 21:15] flight505 opened #450 "Jump server / multiple servers"
Is it possible to use SQLtools when you have multiple login points?
One of the servers I need to query, requires me to initially log in to a Mysql server then a second login is required to get to a MariaDB.

Usually, I connect via SSH or Sequel Pro - but it would be a very nice feature if it is/was possible directly from VScode.

Thanks

[2019-11-22 15:12] cscholle1 opened #451 "MySQL auto-formatting breaks block execution"
**Describe the bug**
Autoformat results in queries not running correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new .sql file with 2 blocks
2. Save file with auto-formatting
3. Notice no extra line spacing between blocks
4. Run first block (it fails)

**Expected behavior**
All blocks should be able to be run successfully.

**Screenshots**
Only the last block can be run succ

[2019-11-24 04:02] vsshailesh commented on #252
this fails now @ariel-bentu ?
` npm install @sap/hana-client@2.4.126 --@sap:registry=https://npm.sap.com `

 node build.js

Error: Command failed: node-gyp build
In file included from ../src/hana.cpp:5:
../src/h/hana_utils.h:308:11: error: no template named 'Handle'
                        Handle<Value>                           arg,
                        ^
../src/h/hana_utils.h:311:6: error: re

[2019-11-24 09:48] ariel-bentu commented on #252
I suppose locking to a specific version of the driver is a receipe for
ocasionalnfailures like this.
I suggest changing the code to refer to latest version. Matheis, what do
you say?

בתאריך יום א׳, 24 בנוב׳ 2019, 06:02, מאת vsshailesh ‏<
notifications@github.com>:

[2019-11-24 13:25] mtxr commented on #252
Go for it @ariel-bentu.

Just please use v0.21 branch

On Sun, Nov 24, 2019, 06:48 ariel-bentu <notifications@github.com> wrote:

[2019-11-25 07:02] two-bridges opened #452 "store passwords in env vars"
First off, SQLTools is great.  Thanks for the extension.

One gripe is that it looks like passwords can only be stored in plain text in the settings.  This is unfortunate as you generally wouldn't want to send passwords to git.

Instead, it would be good if you can use environment variable substitution.  Eg. passwords are in stored in environment variables and then only environment variable names

[2019-11-27 06:19] two-bridges commented on #452
Ah great, I will try that - thanks.  Sounds like it will do the trick actually.  Could even be exactly what I need.  Environment variables are available everywhere not just when running from a cli, ASAIK.

If `${env:ENVVARNAME}` works then there's no need to change the extension at all (perhaps you could document in the README.md for best practices with password handling).

I'll test it out once I

[2019-11-27 12:39] ira-gordin-sap commented on #281
Thank you so much.
It helps me to fix another issue with another database.

[2019-11-28 12:41] fkita opened #454 "Problem connecting to IBM DB2"
When trying to access IBM DB2, I'm reaching the following error message.

Error opening connection [IBM][CLI Driver][DB2] SQL0204N  "SYSIBM.TABLES" is an undefined name.  SQLSTATE=42704

I checked our DB2 and in fact I can't see the table/view named "TABLES" at SYSIBM Schemes, is there a way to workaround this step while trying to access IBM DB2?

ps.: I'm not sure if it's related to RACF access a

[2019-11-28 14:21] josecanciani commented on #284
Yes, it appears to be fixed, thanks!

[2019-11-29 09:05] njesp opened #455 "SSPI login to PostgreSQL times out/fails"
**Describe the bug**
When I try to login to Postgres 11.2 on Windows, the connection never comletes. In the server log, the following appears.

2019-11-28 15:00:31.755 CET [10760] LOG:  connection received: host=172.22.69.7 port=52217
2019-11-28 15:00:52.756 CET [9836] FATAL:  canceling authentication due to timeout

SQLTools takes some time, but concludes that the connection is made. When a query

[2019-12-02 15:42] lrkwz opened #456 "Fields with same name override each other"
If ou esecute something like

[code]

only the second column will be shown.

[2019-12-02 22:48] two-bridges commented on #452
I've just tried that but it's not working.  Apparently VSCode's variable substitution is not yet implemented for general use settings.json (only works in limited places like debugging, tasks and a few particular settings).

I'll go with the Global Settings solution you suggested, I think that's adequate for now.  I cut-paste my existing connection settings from .vscode/settings.json into the globa

[2019-12-04 06:42] boukisny commented on #443
Did anyone find a solution to this issue?

[2019-12-04 15:30] josecanciani commented on #411
Can't wait for v0.22 to be available!
Does this fix avoids/limits the information_schema traversing in any way? Or is it just loading it in a separate connection or something like that?

[2019-12-05 10:37] BuZZ-dEE opened #457 "Oracle connection string does not work"
I can not connect to an Oracle DB using the connection string method. I use the following connection string:

[code]
I get the following error message:

 - SQLTools Version 0.21.3
 - VSCode Version: 1.40.2
 - Driver Used/Version: Don't know
 - OS: Arch Linux

[2019-12-05 22:33] apj68 commented on #457
I tried the extended connection like this:
[code]
And I get:
[code]
The logs don't say much:
[code]

Would love to have a settings file example.  I'm not sure if something went wrong with my installation but I had no settings file and cannot find anything in the docs on whether there are required entries.

[2019-12-05 22:54] samkessaram opened #458 "Formatting support for Jinja templating"
**The problem:**
_Short version: the formatter breaks Jinja templating syntax._

I'm developing models using [dbt](https://github.com/fishtown-analytics/dbt) which uses Jinja templating for interpolating variables, introducing control flow structures, and reusing macros.

e.g.

[code]

dbt is pretty widely used (1.2k stars on GitHub), and there's at least [one medium sized project](https://github.

[2019-12-06 08:43] mickeypearce commented on #457
Here is Oracle Start Guide: https://vscode-sqltools.mteixeira.dev/driver/oracle, although your connection settings seems allright. Did you try reloading VS Code?

[2019-12-06 08:46] mickeypearce commented on #457
@BuZZ-dEE : Can you please confirm if your "connectString" works with SQL Developer or similar tool you usually use to connect to DB?

[2019-12-06 09:11] BuZZ-dEE commented on #457
@mickeypearce yes, I use that connection string:

[code]

also in DBeaver and it works.

[2019-12-06 09:59] mickeypearce commented on #457
Maybe try creating a "Net Service Name" as suggested in: https://oracle.github.io/node-oracledb/doc/api.html#-1424-jdbc-and-oracle-sql-developer-connection-strings.

[2019-12-06 10:09] mickeypearce commented on #457
I tried connecting with connections identifier ("connectString") which is quite larger in my case (I usually connect with alias) but unfortunatelly I cannot reproduce.

[2019-12-06 22:10] apj68 commented on #457
@mickeypearce, thanks for your reponse.  Yes, I tried reloading vscode.  I also tried the "Net Service Name" approach.  For some reason, I have a feeling it's not even getting to the actual connection attempt rather it's failing for some other reason.  That's why I thought something about the `settings.json` was wrong.

[2019-12-07 13:59] mickeypearce commented on #457
Did you use "New connection" command or manually or you manually edited settings.json file?

[2019-12-08 08:28] kasanitej commented on #444
I too cannot able to connect. But my OS is windows. my file extension is ".sqlite3" not ".db"

[2019-12-11 02:13] samkessaram opened #459 "Formatting support for Jinja templating"
**The problem:**
_Short version: the formatter breaks Jinja templating syntax._

I'm developing models using [dbt](https://github.com/fishtown-analytics/dbt) which uses Jinja templating for interpolating variables, introducing control flow structures, and reusing macros.

e.g.

[code]

dbt is pretty widely used (1.2k stars on GitHub), and there's at least [one medium sized project](https://github.

[2019-12-11 02:14] mariusa opened #464 "Formatting testcase: results not as expected"
**Describe the bug**
Formatting doesn't work as expected

**To Reproduce**
Please see attached testcases
[test-input.txt](https://github.com/mtxr/vscode-sqltools/files/3787714/test-input.txt)
[test-expected.txt](https://github.com/mtxr/vscode-sqltools/files/3787713/test-expected.txt)

[2019-12-11 17:30] apj68 commented on #457
@mickeypearce, I manually edited `settings.json`.  I just tried from the new connection command.  I used the "server/port" option and when I tried to test the connection it gave me:
[code]
I'll try other connection options and see what happens.

[2019-12-11 17:40] apj68 commented on #457
I tried with `connectString` and I get the same message.  Another thing: after saving it gives me an option to "Connect Now" but when I click Connect Now (from the preview screen) it takes me to the new connection creation page.  Also, I'm not sure where it's saving it because I don't see any new files in `.vscode` .

[2019-12-11 21:27] majordoobie commented on #421
I see the commit was made - but how do I specify a remote path? =o

[2019-12-12 17:05] apj68 commented on #457
@mickeypearce , I'm connected!  I deleted the existing `settings.json` and then use the connection wizard.  From here I started getting different errors, first that `nodejs` was a dependency, then `oracledb`.  Once those were resolved, I tried the connection and found that for the `server/port` connection type I had to use `service name` rather than `database name`.  Now it's looking good, thank y

[2019-12-12 17:09] apj68 commented on #457
Hmm.. Now when I highlight a region and run `SQLTools: Run Query` it asks me to enter the query.  Ugh.

[2019-12-13 13:06] mickeypearce commented on #457
If you'd like to execute a selection there is a different command: "Run Selected Query".