[2021-01-12 12:42] smaspe opened #754 "Improve autocomplete"
**Is your feature request related to a problem? Please describe.**
Autocomplete is currently quite limited. For example, the second column in `select a, b from c` does not receive suggestions. Cases like `with foo as (select * from bar) select * from baz` the with clause column will receive suggestions from the baz table.

**Describe the solution you'd like**
Replacing node-sql-parser with [gethue

[2021-01-12 20:57] DCToddM opened #756 "Manual install"
Is there a manual install process for the SQLTools Extension?

[2021-01-12 21:38] jamesmyatt opened #757 "Unable to install sqlite3 npm package"
**Describe the bug**

I am unable to install the sqlite3 npm package, because there is a loop of the extension asking to install it.

I am able to install the sqlite3 npm package outside of vscode in an arbitrary directory using `npm install sqlite3@4.2.0`.

<details>

[code]
</details>

**To Reproduce**
Steps to reproduce the behavior:
1. Install sqltools and sqlite3 driver extensions
2. Connect

[2021-01-14 17:57] JGoldz75 opened #758 "Error Message on Database Connect: "Cannot read property 'localeCompare' of undefined""
Trying to connect to a Microsoft SQL Server that uses integrated AD security. My connection string looks like this:
"server=MYSERVERHERE;database=MYDATABASEHERE;Integrated Security=true;User ID=MYDOMAIN\\MYUSERNAME;Password=MYPASSWORD"

Clicking "Test Connection" works, and gives the message that the connection was successful.

However, clicking "Save Connection" presents the error message "Reques

[2021-01-15 10:47] JianJenniferGong commented on #604
Same issue here

[2021-01-18 08:31] kj-9 commented on #604
I checked `information_schema.schemata` and it only returns schemas that my user owns. It seems AWS changed the behavior at some point of time.

I also tired to replace that query and I look trough some options. I'm happy if this summary helps:
1. Use `pg_*` tables which [seems more supported by AWS](https://docs.aws.amazon.com/redshift/latest/dg/c_join_PG.html)
2. Use redshift-specific system vie

[2021-01-19 06:37] payen-py commented on #703
@KerimG  Thanks a lot, I really solve this issue

[2021-01-20 06:40] miversen33 commented on #757
I am experiencing the same issue. Below is my log of trying to connect to the sqlite database, running the install prompt, and then trying to connect again. Basically, it is stuck in a loop where it cant seem to find the installed dependency, but there isn't much in the way of errors coming back, except for a failed connection.

[code]

[2021-01-22 13:39] kj-9 commented on #604
Because the maintainer seems busy currently, I published [the quick fix version](https://marketplace.visualstudio.com/items?itemName=kj.sqltools-driver-redshift) of redshift driver for this issue. If anyone want the quick fix for this issue (like me), please use this extention.

Dear @mtxr,
As soon as this issue is solved for current PostgreSQL driver, I will unpublish this driver.

[2021-01-23 09:33] fappelman commented on #638
I had the same problem and fixing the path didn't do the job for me. I got it working (on the Mac) using the following steps. If you are not on a Mac it may still be the right steps, you just have to figure out the paths yourself.

First step is to go to the directory where `vscode-sqltools` stores its dependencies:

[code]
Next make certain that the dependency is in the file `package.json`. My fi

[2021-01-23 23:33] miversen33 commented on #757
Further info,
I setup a new Ubuntu 20.04 Virtual machine, and installed npm and node via the APT package manager (as opposed to following the info on https://nvm.sh), and after restarting my vscode session, I was able to get sqlite to work properly.

My guess is the script is looking in a certain place for the sqlite node modules but cant find them there and then it fails. This would explain why i

[2021-01-27 00:06] EugZol commented on #655
Same error in 0.23.0.

[2021-01-27 19:06] magic-lantern commented on #757
My installation of sqltools was working great until about a week ago when I updated my npm/node installation. After that, sqltools sqlite driver stopped working with the error as described in this issue - an infinite installation loop.

I'm on macOS so my steps will be different than others, but I found this previous issue that gave me some guidance - see #638

My fix was to remove the installed n

[2021-01-27 21:06] LiangLouise commented on #667
I also met the similar issue, as I tried to use option `socket file` and keep the `server` and `port` blank. But when testing connection, the driver would just ignore the `socketPath` and start to use the default `127.0.0.1:5432`.

And I walked around the psql driver's code, this part of [driver.ts](https://github.com/mtxr/vscode-sqltools/blob/7c382e8e02b77e7df6147cbc67d19339aabd3a10/packages/driv

[2021-01-28 12:43] jamesmyatt commented on #757
As suggested by @magic-lantern, I've fixed this by deleting the "node_modules" and "package-lock.json" from `C:\Users\<username>\AppData\Local\vscode-sqltools\Data`

However, I don't get any tables, which is a separate issue.

[2021-01-28 17:25] rafaelurben commented on #723
Same error here. But this error only occured when using create or drop statements, not for select. (I haven't tested it with other statements)

[2021-01-29 02:12] mtxr commented on #604
@kj-9 thanks for the help. In fact I've been very busy, and I just saw your previous comment.

I see you published the extension specific for redshift, and my personal opinion is that you did good and it's better to have extensions individually prepared for each systems, so in this case, I'ld like to propose you to keep your project, and get it even deeper on Redshift specifics.

What do you say?

[2021-01-29 10:08] jamesmyatt commented on #307
@OzzyTheGiant : https://github.com/mtxr/vscode-sqltools/issues/757

[2021-01-29 10:13] jamesmyatt commented on #703
@KerimG , I can confirm that this workaround works for me, but it's not a permanent solution.

@mtxr, is this easy to fix?

[2021-01-29 12:24] jamesmyatt commented on #703
I think this is a problem of Windows paths. I've just found an empty `C:\c%3A\__Data\...\data\database.sqlite` file, which I assume was created by sqltools.

[2021-01-30 05:54] kj-9 commented on #604
@mtxr thank you for your reply.

It is fine for me to keep my redshift driver separate from the PostgreSQL driver.

This will be nice information for users. It is bit confusing that there are two drivers for redshift for now.
Is this should be another issue? Tell me if I can help for doing this.

I agree with you that there are too many databases for one person to follow. I cannot believe that you

[2021-01-31 18:55] dkbarn commented on #731
What I find bizarre is that, at least with the MySQL driver, a database name is required to create the connection, but that connection isn't actually restricted to that database. When I expand the new connection in the CONNECTIONS view, I see every database listed underneath it. This makes requiring the database name not only unnecessary but misleading.

[2021-02-01 19:06] asnickolaz opened #761 "Not connected with 'unix_socket' Mariadb plugin"
VS Code:
Request connection/GetChildrenForTreeItemRequest failed with message: ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MariaDB client

My con settings:
{
  "mysqlOptions": {
    "authProtocol": "default"
  },
  "previewLimit": 50,
  "askForPassword": true,
  "server": "localhost",
  "port": 3306,
  "driver": "MariaDB",
  "

[2021-02-02 02:49] stevenzlee commented on #350
Would appreciate the capability to run multiple ; separated queries as well... for mysql

[2021-02-02 11:45] kjjohnsen opened #762 "Path to sqlite database must be absolute"
**Describe the bug**
The default path when selecting a database file is relative to the project folder, e.g. ${workspaceFolder:test}/test.db .  SQLTools will connect to the database, but won't show any tables or allow queries.  If you change the path in settings to be absolute, e.g. c:/test.tb, it will work.

**To Reproduce**
Steps to reproduce the behavior:
1. Put database file in project folder

[2021-02-05 08:46] Stadly opened #763 "MySQL's NULL-safe equal is not correctly formatted"
**Describe the bug**
When formatting MySQL, the [`NULL`-safe equal](https://dev.mysql.com/doc/refman/8.0/en/comparison-operators.html#operator_equal-to) operator is formatted as `<= >` instead of `<=>`.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a simple query `SELECT 1 <=> 1;`.
2. Format the document (`Ctrl+Alt+F`).
3. Notice that the query is changed to `SELECT 1 <= > 1;`.

**Exp

[2021-02-07 17:01] stephanemoulec commented on #710
Problem still exists. In most recent version (both VS Code and extension), I get message "Running the contributed command: 'sqltools.getChildrenForTreeItem' failed." when opening the tree

[2021-02-08 07:24] Sanjeevsnow opened #764 "When running query in snowflake using flatten function, => is getting converted to = >"
**Describe the bug**
When running query in snowflake using flatten function, => is getting converted to = > (extra space is getting added). This is leading to syntax error. Could you help in fixing this.

<!-- Try to get more info on taking a look on the results window to see what's going on using the command Developer:

**To Reproduce**
Use this query and save it in .sql format file. Open it and

[2021-02-11 06:42] ysl2 commented on #747
I have the same problem when I select the two line to execute:
![image](https://user-images.githubusercontent.com/39717545/107608448-fc506500-6c76-11eb-91b2-fb825ba8e2d0.png)
However when I select a single line to execute, it performed well.

[2021-02-11 13:40] tanderegg commented on #707
FWIWI, just ran into this as well:

- SQLTools Version: 0.23
- VSCode Version: 1.53.0-insider
- OS: Mac OSX 10.14.6
- PostgreSQL Driver
- Database version: postgres 10

[2021-02-11 13:48] dpalmetzvbg commented on #707
Not too much activity in this extension. I need this to be fixed. I will try to contact the developer directly.

[2021-02-11 16:44] jasonsack opened #765 "Formatter types path incorrect in latest @sqltools/formatter version"
**Describe the bug**
Typescript does not recognize types for `@sqltools/formatter` in the latest released version `1.2.2` as the types path is incorrect.

The path was fixed in [this commit](https://github.com/mtxr/vscode-sqltools/commit/0be895d3b6f8dd9732901d3378ab13c0969af5a9) on Oct 9 2020 but has not yet been released.

**To Reproduce**
Steps to reproduce the behavior:
1. import `@sqltools/for

[2021-02-11 16:51] jasonsack commented on #765
PR for the fix here: https://github.com/mtxr/vscode-sqltools/pull/709

[2021-02-11 17:03] tanderegg commented on #707
Note this appears to be an issue with `node-postgres` itself: https://github.com/brianc/node-pg-native/issues/62#issuecomment-327224294

[2021-02-12 05:59] dpalmetzvbg commented on #707
@tanderegg Thanks for tracking this down. Somebody sent me an email yesterday in order to contract him to fix this. I wanted to answert today, but the mail is magically gone today (yes, really. I am not kidding). So I cannot answer.
Or it was to late yesterday, and I was dreaming.

[2021-02-12 20:25] ryexley opened #766 "Reuse one results window/tab for all queries"
**Describe the bug**

Sorry, this is more of a question than a bug report, but the only two options are Feature Request and Bug Report.

What I'd like to know is, is there a setting that will allow me to configure SQLTools such that when I execute a query, that it will reuse the existing results window when I execute a query, rather than opening a whole new window/tab every time I execute a query.

[2021-02-13 18:11] shrikantkulkarni23 opened #767 "Redshift connection using ODBC driver"
we use azure plugin for Redshift connection using ODBC driver. How to configure new connection in sqltool for redshift using ODBC driver - system DSN.

[2021-02-13 19:03] shrikantkulkarni23 commented on #44
@mtxr - any plans supporting odbc driver for redshift?

[2021-02-13 20:02] dudb commented on #50
ctrl + e, ctrl + e

[2021-02-15 22:26] jessereitz commented on #744
@mcamou FYI this is already implemented with `sqltools.queryParams.enableReplace` and `sqltools.queryParams.regex`, it's just not very well documented

[2021-02-17 05:01] myag75-github commented on #710
I've the same issue - using latest version 1.10.1 with the below properties. When expanding the connection getting the following error "Request connection/GetChildrenForTreeItemRequest failed unexpectedly without providing any details". I'm able to execute the SQLs without any issues after double clicking the connection.

{
            "mssqlOptions": {
                "appName": "SQLTools",

[2021-02-17 14:48] serdula opened #768 "Character "greater than" > breaks comments"
**Describe the bug**
Character greater then > breaks comment in formatter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vscode-sqltools.mteixeira.dev/playground/formatter
2. Click on insert into below text:
-- comments are
-- breaks by sign greater than >
-- unfortunately
3. See error

**Expected behavior**
the comment should not be affected by a character greater than >

**S

[2021-02-19 22:16] python4osint commented on #710
Running into the same issue/error, using PostgreSQL.

Database is visibly connected, running simple sql (create table) works fine. But cannot expand the connected db, error message  keeps popping up:

` Running the contributed command: 'sqltools.getChildrenForTreeItem' failed.`

[2021-02-22 08:20] lnxbil commented on #452
I tried the extension in `code-server` and it works great if I store the plaintext password in the configuration. The environment substitution however, does not work. As @two-bridges already pointed out, it would be great if vscode would have such a method, but for the last 1+ years, there was no such thing.

Maybe we could try to solve it in the extension until it is mainstream vscode?

[2021-02-24 10:45] Odwerneh commented on #716
+1

I work on queries having >400 lines and I really cannot orient myself among the different result set tabs.

Resul#1 - Result#n would be perfectly fine. Nice to have would be to add possibility to rename the tab or take just 1st line of query where I cann add some coment that would be displayed as a header.

[2021-03-01 13:44] StefanBrand commented on #592
Is it possible to turn background colour off, while keeping outline colour? E.g. setting `"sqltools.currentQueryBg": false` does not work.

[2021-03-03 04:12] liudonghua123 commented on #762
I have the same problem. I can't make it work even I changed to the absolute path in `setttings.json` sometimes. I always got no such table error. I think the database file connected should be shown in the opened windows or the log window for debugging.

[2021-03-03 13:03] magiruuvelvet commented on #710
I had the same issue today with a MariaDB database. Turned out the password was wrong, once I used the correct password the table tree was showing up in the sidebar. Really weird. I logged in as root user to the development database in case that matters.

The extension doesn't seem to handle invalid connections or wrong passwords correctly. When using some random IP address were no database is run

[2021-03-04 14:26] AdamSpannbauer commented on #682
+1 to this request.  This is a deal-breaker for using this tool for Postgres use case.

[2021-03-05 11:33] mcamou commented on #625
This is very annoying to me. I usually have several VS Code workspaces open and I'd like the same SQLTools connections to be available in all of them. After adding a new connection, I find myself having to open the settings JSON, copying the new connection from the workspace to the user settings, and deleting the workspace connection, or just opening the JSON directly and copy/pasting an existing

[2021-03-05 13:16] SADANANDKUMAR commented on #710
guys mine also have same problem

Running the contributed command: 'sqltools.getChildrenForTreeItem' failed.

[2021-03-05 16:10] DustinWin commented on #710
Same problem!

[2021-03-12 03:17] mrbaungartner commented on #710
You need to click the plug icon (which is beside the name of the connection) to connect to the database, then it will ask for password.

[2021-03-15 19:15] rangitoto72 commented on #710
Same issue here:

Environment
VSCode: February 2021 (version 1.54)
SQL Tools: V 0.2.0
OS: OS11.2.3 ( Apple silicon)

Error:
Running the contributed command: 'sqltools.getChildrenForTreeItem' failed.
![image](https://user-images.githubusercontent.com/47403165/111208486-b151a680-85c2-11eb-9e95-5a3782c64978.png)

Here is the connection, it is fine, as it has the green dot for connected as well as the

[2021-03-16 20:23] wences-dc-uba-ar opened #771 "vscode navigation hot-keys stop working on query results panel"
**vscode navigation hot-keys stop working on query results panel**

**Some times** (but fairly common), when executing a slected query (with hot-key: Ctrl-E + Ctrl-E) the result pane appears and get focus, and It seems that the normal hotkeys to navigate throgh vscode interface (like Ctrl+1, Ctrl+W, Ctrl+TAB, Ctrl+PgUp, Ctrl+PgDwn Ctrl+B) stop working, until other panel is selected with the mouse.

[2021-03-17 08:43] NCC1701M opened #772 "Add default bookmarks or use project depending storage"
I use a dev container and have the sqltools extension installed in the container. When I have to rebuild the container, all my bookmarks are gone.

Bookmarks should be persistent even the underlying environment has changed.

I would suggest to add the bookmarks to the `.vscode/settings.json` or at least to a special file within the `.vscode` folder.

The `settings.json` could be like:

[code]

[2021-03-17 11:54] bertofer commented on #632
I don't know if this would be feasible, but I would do 2 different commands:
- Open in current(or last?) results pane
- Open in new results pane

[2021-03-18 17:35] f0rk opened #773 "AWS Redshift Data API support"
**Is your feature request related to a problem? Please describe.**
Redshift has a Data API, essentially an HTTP-based API for executing SQL queries.

Here's a description of the functionality: https://aws.amazon.com/blogs/big-data/using-the-amazon-redshift-data-api-to-interact-with-amazon-redshift-clusters/

**Describe the solution you'd like**
Database driver supporting this method of interaction

[2021-03-19 00:34] mtxr commented on #604
@kj-9 can you create a repo. for your driver? then I can update the docs here to give the users instructions to install and use your driver instead of the PG one.

[2021-03-19 13:21] fatpowaranga opened #778 "Ability to run a bookmark query across multiple selected database connections"
**Is your feature request related to a problem? Please describe.**
I work on a lot of databases (specifically SQL Server in my case) with a very similar schema and find myself needing to report on data between them.

**Describe the solution you'd like**
It would be great to multi select database connections and then when clicking the Execute bookmark query button it ran that query against all data

[2021-03-20 10:48] samdruster opened #779 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `sqltools`
- Extension Version: `0.23.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-20 12:25] paintmeyellow commented on #710
Same issue

Extension version: 0.23.0
VS Code version: Code 1.54.3
OS version: Linux x64 5.8.0-45-generic

[2021-03-21 06:47] NCenerar commented on #651
Hello.

Probably related: When running single statements, it works:
[code]
[code]

but not when run together:
[code]

Fun fact: if I comment one line, it sill doesn't work which I find very weird...
Not working:
[code]
[code]

Thanks.

[2021-03-22 01:37] mtxr commented on #716
Fixed by #774. Pending release

[2021-03-22 01:37] #716 closed

[2021-03-22 01:38] mtxr commented on #762
Can you open a PR for this?

[2021-03-22 03:05] mtxr commented on #697
Will do! thanks guys

[2021-03-22 03:21] mtxr commented on #757
Here are the paths:

macOS: ~/Library/Application Support/vscode-sqltools
Windows: %LOCALAPPDATA%\vscode-sqltools\Data (for example, C:\Users\USERNAME\AppData\Local\vscode-sqltools\Data)
Linux: ~/.local/share/vscode-sqltools (or $XDG_DATA_HOME/vscode-sqltools)

This can vary based on each machine setup, I hope making the path explicity here can help you guys fix/debug it so we can find a better so

[2021-03-22 03:22] #757 closed

[2021-03-22 03:22] mtxr commented on #757
This is the package I use to generate the paths btw: https://www.npmjs.com/package/env-paths

[2021-03-22 03:24] mtxr commented on #756
can you explaing it a bit more? Manual install can be literally anything...

[2021-03-22 03:27] mtxr commented on #683
@isc-rsingh can you open a PR to mark your driver as official like you mentioned before? It could be another name that you think it's better.. I still don't have a final opinion about the name, so I'll leave it up to you.

Thanks again guys

[2021-03-22 03:27] #683 closed

[2021-03-22 03:29] mtxr commented on #779
I'm closing it for now. As is I can't do neither guess anything about this issue. In can you want to reopen, please add more details and feel free to reopen it

[2021-03-22 03:29] #779 closed

[2021-03-22 13:18] mtxr commented on #697
just published the latest versions available on vscode marketplace. new releases will be published as well.

closing

[2021-03-22 13:18] #697 closed

[2021-03-22 16:57] sajadshafi commented on #710
I also had the same issue as I switched to root user it worked fine. But logging in as another user doesn't work.

[2021-03-23 05:34] mtxr commented on #764
Can you give an example query so we can write tests to fix this?

[2021-03-23 05:37] mtxr commented on #749
Duplicate of #697. Closing

[2021-03-23 05:37] #749 closed

[2021-03-23 05:38] mtxr commented on #765
Released already

[2021-03-23 05:38] #765 closed

[2021-03-23 05:39] mtxr commented on #765
Duplicate of #733

[2021-03-23 05:41] mtxr commented on #721
Dup #697

[2021-03-23 05:42] #721 closed

[2021-03-23 05:44] mtxr commented on #718
You can always change It in your editor to anything else. This shortcut is there since the beginning, I don't think worth changing now. So since vscode has a way to do that individually, I'll close this issue for now

[2021-03-23 05:44] #718 closed

[2021-03-23 05:54] sfc-gh-sakumar commented on #764
Thanks for getting back on this. Below is the example code:

CREATE OR REPLACE MATERIALIZED VIEW TESTMV AS
SELECT event_date,
AS_INTEGER(value :Id) AS test_id
FROM TestTable,
LATERAL FLATTEN (input => v :TESTPOLICYID);

We can see formatter is converting => to = >

[2021-03-25 07:53] ElCondor1969 commented on #586
Any updates or roadmap for Oracle Driver porting on last version?
Thanks.

[2021-03-25 15:48] smaspe commented on #694
After further research, my understanding is that, first of all, at the very least, `pageSize` must be set in the `NSDatabase.IResult` object. Otherwise it's assumed to be 50, regardless of how many items are present. The `pageSize` value must be the size of the `results[]` content.

Then, ​pagination can be removed entirely by specifying that the page size is the result size. In most case that app

[2021-03-26 01:36] #756 closed

[2021-03-26 01:37] mtxr commented on #586
@cfont we need a dev. @mickeypearce has been busy, do you want to try?

[2021-03-26 01:38] mtxr commented on #586
I'm closing this issue since a couple of months passed. In case anyone need an specific driver, feel free to open a issue targeting just the driver needed.

[2021-03-26 01:38] #586 closed

[2021-03-26 07:36] ElCondor1969 opened #781 "Oracle Driver porting or adding"
Any updates or roadmap for Oracle Driver porting or adding on last version?
Thanks in advance.

[2021-03-29 02:11] isc-rsingh commented on #683
@mtxr I can't remember if the install process for "official drivers" used to be different, but now it seems that all drivers are on equal footing, and the difference is whether the code is part of your project or separate, so I think it makes sense to keep things exactly as they are now.

[2021-03-29 06:02] tiny1990 commented on #483
+1

[2021-03-29 09:05] offer8 opened #783 "yarn install @sqltools/extension fails on: "Error installing vscode.d.ts: Error: Request returned status code: 404 while""
Hi @mtxr ,

**Describe the bug**
yarn install of plugin started to fails in version **0.21.8**.

**To Reproduce**
We have a DOCKER image which builds the sqltools extension:

[code]

Since last week it started to fail on:

[code]

Could you please assist?

[2021-03-30 03:10] mtxr commented on #783
this has nothing to do with the extension.

If yout check `/source/vscode-sqltools/node_modules/.bin/vscode-install` file you will see it requests some microsoft servers and those are returning 404.

There's a long time I don't support the v0.21.x branches, so I'm not up to date with recent changes on vscode api for those versions.

As seen here https://github.com/microsoft/vscode/issues/62429 mic

[2021-03-30 03:10] #783 closed, assigned to nobody

[2021-03-30 03:12] mtxr commented on #475
Dup of #395

[2021-03-30 03:12] #475 closed

[2021-03-30 03:14] mtxr commented on #483
@jelez for SSH we have #395 we it's being tracked.

@xiaozhu1337 could you give an real-world example so I can search more about your needs?

For some drivers socks connection are supported already, but I'm not sure if that's the proxy thing you are looking for

[2021-03-30 03:16] mtxr commented on #395
Still no updates on this folks, sorry for that.

Has been hard to maintain the project for the past few months, but I'm trying to get back on track.

PR's are welcome if anyone want's to take a chance on this one

[2021-03-30 03:18] mtxr commented on #781
We need a dev for that. The maintainer the oracle driver reported to be busy.
I don't have the knowledge required on Oracle DB to get it ported, so we need someone willing to work on that to have any updates

[2021-03-30 03:20] mtxr commented on #781
I'll convert this to a discussion since it won't be worked in this repository, but the discussion still have room to grow here

[2021-03-30 03:22] #781 closed, assigned to nobody

[2021-03-30 03:27] mtxr commented on #747
Dup of #723

[2021-03-30 03:27] #747 closed

[2021-03-30 12:52] filasik commented on #710
same problem, OS Windows 10

[2021-04-03 05:02] samdruster opened #788 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `sqltools`
- Extension Version: `0.23.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-04-03 19:42] Chimecrypto commented on #655
Unfortunately, No one has the answer to this problem...

[2021-04-07 09:49] thojanssens opened #789 "Allow to see the `create table` sql"
To see the table structure, I right-click a table and select "Describe Table".

It'd be nice to have one additional mode where I can just see the raw SQL (CREATE TABLE...).

What I suggest is a button to allow to switch the view from the table you show (with columns table_catalog, table_schema, table_name, ...) and the SQL for the table structure (not the data of course).

I prefer to see the raw

[2021-04-09 22:19] andrew-dixon opened #790 "Double Click Field name to add at cursor"
**Is your feature request related to a problem? Please describe.**
To add a field name to the current cursor location, you have to right click and then select the "Add Name(s) to cursor" option from the context menu.

**Describe the solution you'd like**
Be able to simply double click on the field name to activate this functionality instead of having to mess around with a right click and the conte

[2021-04-11 04:15] metalshanked commented on #727
For MSSQL, is it possible to leave this blank and the Broswer view show the schema tables for ALL the DBs instead of the one which is currently selected?

[2021-04-11 11:12] Kaloyanes commented on #710
I have the same problem. OS: Windows 10

[2021-04-11 17:14] nihirisuto commented on #632
So the preferred expected behavior that's in line with just about every other db management tool (run query in same tab) _used_ to be how this behaved?

I think I've uninstalled/reinstalled SQLTools 10+ times because I always find myself annoyed at the new tabs opened each time when I execute a query.

[2021-04-11 17:32] nihirisuto commented on #710
Tested my connection credentials in dbeaver and this, and I'm getting the `sqltools.getChildrenForTreeItem` error for all but one connection. Was able to expand tables for one of them but the other 3 connections I'm trying aren't working.

[2021-04-12 12:54] kj-9 commented on #604
@mtxr Sorry to keep you waiting. it took some time to refactoring my entire sqltools forked repo as a standalone redshift driver one. [Here](https://github.com/kj-9/sqltools-redshift-driver) it is.

[2021-04-14 17:24] Pedram-Mirelmi commented on #710
same issue!
i'm using MySQL server 8.0.23 on vscode 1.55.2
linux ubuntu 20.04 LTS
it gives me an error with the message: "running the contributed command: 'sqltools.getChildrenForTreeItem' failed"

[2021-04-15 11:25] designermonkey commented on #723
Any updates regarding this error?

[2021-04-17 00:38] LucasMarmo commented on #710
https://stackoverflow.com/questions/50093144/mysql-8-0-client-does-not-support-authentication-protocol-requested-by-server/50131831#50131831

Execute the following query in MYSQL Workbench

ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password'

Where root as your user localhost as your URL and password as your password

Then run this query to refresh privileges:

flush

[2021-04-20 13:00] KikeSenpai opened #794 "MS SQL Server query timeout: request failed to complete in 15000ms"
More complex queries failed to execute due a timeout limit, it seems there is no way to change this setting.

This is the log, but it doesn't show anything about the timeout
[1618923065059] INFO  (ext): EXECUTING COMMAND => sqltools.getConnections
[1618923065053] INFO  (ls): REQUEST RECEIVED => connection/GetConnectionsRequest
[1618923065055] INFO  (ls): REQUEST RECEIVED => connection/RunCommandRe

[2021-04-21 14:01] davidshq commented on #788
Looks like there should have been some data associated with the bug that was copied to your clipboard and you need to paste? That info alone doesn't provide enough to troubleshoot the issue.

[2021-04-21 14:04] davidshq opened #795 "SQLTools Ability to Connect to Dev Containers?"
I have a Python 3 project I've opened in a dev container (using VSC's Remote-Containers). When I attempt to connect to the SQLite db I have in this container the SQLTools interface only sees the local OS, not the container's OS.

Am I simply misusing the tool or does it not yet support interacting with container db's directly?

[2021-04-22 13:36] flokain commented on #676
i have the same issue, when i am trying to connect via VPN to my db. when i turn of vpn i see in the cscode-sqltools logs that the correct host is used but of course is not reachable

[2021-04-22 13:36] flokain commented on #676
is there a way to increase the loglevel of sqltools?

[2021-04-23 09:10] rangitoto72 commented on #710
Might work but as you can see, the initial query, as with my issue is for TSQL ( Microsoft SQL Server. NOT MySql ), so using root@localhost has nothing to do with it.

[2021-04-23 12:47] alevvalles opened #797 "AWS Aurora with MariaDB/MySQL driver?"
Hi!
Can I use your package.mysql with Aurora? I'm doing some tool research for my team and I'd like to add your extension to my list.

Thnx
AleV

[2021-04-24 01:30] philopian commented on #402
So this is what i did to get it working...

1.  Spin up a docker container
[code]

2. Connecting to the `MySQL v8` Database with [`SQLTools` extension](https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools). You will also have to download the Extensions drivers: MySQL
  - *NOTE* we had to make a database `some-db` manually above
[code]

[2021-04-24 05:27] akashdiphazra opened #798 "Save Connection button is not properly visible in vscode monokai theme"
![image](https://user-images.githubusercontent.com/61003681/115948384-b708a900-a4eb-11eb-99e1-f5e74be7c8f9.png)

[2021-04-24 05:28] akashdiphazra commented on #798
My editor configurations are

![image](https://user-images.githubusercontent.com/61003681/115948421-ed462880-a4eb-11eb-8293-1cd80cabee82.png)

[2021-04-25 13:31] matsujju opened #799 "not able to connect AWS RDS for postregSQL database"
**Error on connection testing:**
## Running the contributed command: 'sqltools.testConnection' failed.

**Desktop information:**
 - SQLTools Version [e.g. v0.23]
 - VSCode Version: [latest]
 - OS: [Windows]
 - Driver:
   - AWS PostgreSQL
 - Database version: [PostgreSQL 12.1]

[2021-04-26 11:21] firedev opened #800 "Use single Tab"
**Is your feature request related to a problem? Please describe.**

Is it possible to use single tab for output? I am trying to have like SQL notebook - edit markdown document, write query, execute write down results and forget about it. But after a while SQL tools tabs eat up all memory and it hangs, have to close it manually.

**Describe the solution you'd like**

I would like to just mash `Cmd-

[2021-04-28 17:58] cnpryer commented on #533
I believe `object_id`, `count`, `sum` are some examples of reserved words that I'm still seeing unaffected on my end.

Id: ms-mssql.mssql
Description: Develop Microsoft SQL Server, Azure SQL Database and SQL Data Warehouse everywhere
Version: 1.10.1
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-mssql.mssql
+Windows
+VSCode 1.55.2

I'll create anot

[2021-04-28 19:28] cnpryer opened #802 "Format-on-save for UNION statements continues to indent first line"
**Describe the bug**
Every time I save my `SELECT` in my `UNION` statements will indent. So if I continue to save over and over it'll continue to indent.

[![Image from Gyazo](https://i.gyazo.com/85fca8d1cd7079b40fa94ae0564c1fe2.gif)](https://gyazo.com/85fca8d1cd7079b40fa94ae0564c1fe2)

<details><summary>Example Snippet</summary>

[code]
</details>

**Logs**
<details><summary>I believe these logs

[2021-04-29 09:58] ongkokl commented on #491
Hi there @mtxr

i'm able to connect to the DB , but when run query got same error as show in the screenshot.
![image](https://user-images.githubusercontent.com/50367330/116533195-ab661980-a913-11eb-8ff1-0681f9684d2a.png)

VS Code 1.55.2
Description: SQLTools MySQL/MariaDB Version: 0.2.0
Name: SQLTools Version: 0.23.0
OS : Windows 10 ver 20h2
[code]

[2021-04-30 15:35] alanmpitts commented on #695
Did you ever get a resolution to this issue? I have the same problem.

[2021-05-01 00:36] ongkokl commented on #491
Anyone could help please ?

[2021-05-02 16:59] TravisC671 commented on #402
hey, for anyone still on this who has inserted a connection timeout and still getting this
`Error opening connection Client option 'pooling.maxIdleTime' does not support value 'NaN'`
just close VisualStudio and re-open it. I hope this saves a few people from making my mistake!

[2021-05-03 06:39] semirenko commented on #682
absolutely needed feature!

[2021-05-03 15:40] elpapi42 commented on #395
This will be a awesome feature, for a normal workflow the workaround is suboptimal

[2021-05-04 03:05] JJCSPR commented on #280
Hi @mtxr! Has there been any work on this? Eager to learn more.

[2021-05-06 16:50] cdalexndr opened #803 "Formatter breaks postgres @@ syntax"
**Describe the bug**
Formatting sql with [postgres operator](https://www.postgresql.org/docs/12/functions-textsearch.html) `@@` adds a space between resulting in invalid sql `@ @`.

**To Reproduce**
Steps to reproduce the behavior:
1. Format `lexeme @@ plainto_tsquery('en', 'keyword')`
2. Result invalid: `lexeme @ @ plainto_tsquery('en', 'keyword')`

**Expected behavior**
`lexeme @@ plainto_tsquer

[2021-05-07 17:38] psinnathurai commented on #710
Same Issue here.

[2021-05-10 02:19] pbower commented on #675
This is still an issue in the current version.

[2021-05-11 13:30] zing-rsa opened #811 "Remove redundant autocomplete suggestions"
When you hit space at the end of any line in the SQL file inside VSCode, it presents you with a set of autocomplete suggestions:
[code]
Does this happen to everyone? I have tried my best to narrow it down, the only time it stops is when I disable SqlTools.
Is there potentially a way to prevent this from happening in the settings? Thanks

Steps to reproduce the behavior:
1. Go to end of a line in S

[2021-05-16 22:25] ecesar88 commented on #710
Same here

[2021-05-17 07:16] ngdangtu-vn opened #818 "A format option for bracket"
# Brackets
I always prefer C-like format syntax where brackets always stay in a whole line itself. It would be nice if we have an option like that. An option like this:

[code]

Where as:
- `preserve` means nothing is changed
- `default` traditional style where open brackets stay in the same line and close brackets have it own line.
- `lax` if content inside bracket has newline, brackets will have

[2021-05-17 07:33] ngdangtu-vn opened #819 "Formatter should respect indentation"
**Is your feature request related to a problem? Please describe.**
The way Formatter killed off all my indentation cause me a lot of trouble in reading the code. Please don't do that.

[code]

[code]

**Describe the solution you'd like**
I simply want the formatter respect my indentation. Therefore I would like to add this option:
[code]

Where as:
- `preserve` means nothing changes (default)
- `n

[2021-05-20 11:17] assapir commented on #799
Same in MacOS and PG 11.7 and the driver is `SQLTools PostgreSQL/Redshift Driver`
logs:
[code]

[2021-05-21 03:01] aaronsteers commented on #479
I came here looking for something similar. My similar idea was to store in `.env` files and map into the settings file using environment variables.

Are there any other workaround available as of today to keep creds out of `settings.json`?

I have not tried this yet, but the only other workaround I could think of was to store the same info in the users' `settings.json`, rather than in the workspac

[2021-05-21 03:03] aaronsteers commented on #210
Related to: #479

[2021-05-21 17:21] dumbledad opened #820 "Choosing the database driver if you are blind"
**Is your feature request related to a problem? Please describe.**
I'm teaching a blind kid coding. We could not work out how to choose the database driver when adding a new connection, he only seemed to be able to get to the 'add new driver' link. The buttons for MariaDB and MySQL were only visible by sight and only clickable with a mouse.

**Describe the solution you'd like**
- Make the buttons

[2021-05-21 23:12] kbec commented on #673
In the interest of housekeeping, I think this is a duplicate of #604.

[2021-05-21 23:31] kbec commented on #604
Any confirmation on this solution?

I wiped extensions and restarted VS Code to start fresh. Installed SQLTools v0.23.0 and Redshift Driver (Dedicated ver) v0.0.2.

Attempting to connect, I see the following.
![image](https://user-images.githubusercontent.com/46684748/119206567-1ad9af80-ba61-11eb-9469-266288c2fba4.png)

Do both drivers need to be installed?
Assuming yes, I installed SQLTools Postg

[2021-05-22 21:30] NathanSFon commented on #710
I was having the same problem.
I decided to change the _user_  to **'root'** and in the password I left with ask when connecting, from that moment there was no error

[2021-05-24 00:54] kj-9 commented on #604
Hi @dudeKB
No, you don't need two drivers.
Perhaps you are trying using dedcated driver with  a PostgreSQL/Redshift Driver connection config.

Can you check that you created and using the config for dedicated driver?
You can create it with "Add new connection" -> clicking below.

![image](https://user-images.githubusercontent.com/46800811/119282729-b5aad780-bc75-11eb-8305-bf50f94a802d.png)

[2021-05-24 05:34] prakashrajPk opened #821 "Invalid regular expression"
return new RegExp("^([\\p{Alphabetic}\\p{Mark}\\p{Decimal_Number}\\p{Connector_Punctuation}\\p{Join_Control}" + specialChars.join('') + "]+)", 'u');
               ^

SyntaxError: Invalid regular expression: /^([\p{Alphabetic}\p{Mark}\p{Decimal_Number}\p{Connector_Punctuation}\p{Join_Control}]+)/: Invalid escape
    at new RegExp (<anonymous>)

[2021-05-24 16:44] kbec commented on #604
Ok, that makes sense - and totally fixes the issue. I figured I had just skipped a step somewhere.

Thanks @kj-9 for the quick response! And thanks to all for your work on this!

[2021-05-26 07:11] tepene commented on #459
As I'm struggling with the same issue I was wondering if this feature has been implemented? According to #531 it was not merged because of code formatting issues?

Is it planned to implement this feature or what exactly is missing in #531. Maybe I can help out, although my javascript experience is not vast.

[2021-05-27 19:50] samkessaram commented on #459
Hey @tepene, I got sidetracked and this became less of a priority, though I'm game for opening it back up. I can't remember fully what indentation issues I was referring to in #531 but when I get a chance to look into it I'll let you know. Feel pull that branch and play around.

[2021-05-29 04:48] LordDewi commented on #723
Something that I just discovered...SQLTools does not seem to like Commenting. I've been watching this tutorial which introduced me to SQLTools and it works fine in the tutorial but did not for me. https://www.youtube.com/watch?v=Cz3WcZLRaWc
What I was doing however was commenting out the previous tests, to save them so I could go back and look at them later. Then I would put the new code ABOVE the

[2021-05-29 13:30] rafaelurben commented on #723
Yeah, that could really be the problem - I remember also using comments when the issue occurred.

@LordDewi This is not directly related to this topic, but the reason your code block didn't work is that you only used one backtick (``` ` ```), which corresponds to an inline code block. For multiline code blocks, you should use three backticks (` ``` `).
You can find more information [here](https://

[2021-05-30 03:27] edurojasr commented on #682
Yes pls! +1 to this request

 I was searching why for PostgreSQL its only 1 DB per connection.
This would be great!

[2021-05-31 20:25] Morgy93 commented on #692
The error thrown is:

[code]

[2021-06-02 18:16] mdavinicius commented on #710
Same issue for me too :(

[2021-06-03 19:03] Sheepyhead commented on #794
Seconded, this needs to be an option somewhere, or if it is, it needs to be more obvious. I've scoured settings and documentation and found nothing

Edit: There is an option actually but it's connection specific so you need to go to edit connection and there it is down by the bottom

Edit2: It seems to not be respected as I get the "Timeout: Request failed to complete in 15000ms" error regardless

[2021-06-04 13:11] AngelinCalu commented on #655
This still seems to be an issue on the current version.

[2021-06-04 13:25] KikeSenpai commented on #794
It seems we are not getting support on this issue

[2021-06-07 19:19] shetubd opened #826 "Blank Panel"
I install vscode-sqltools in docker. I can not create new connection. It's show blank panel.
![Untitled](https://user-images.githubusercontent.com/37763269/121075861-83fa4a80-c7f7-11eb-8d4a-5f947618b1d3.jpg)

code-server: v3.10.2
VS Code: v1.56.1
Commit: 387b12ef4ca404ffd39d84834e1f0776e9e3c005
Date: 2021-05-21T23:13:00Z
Browser: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:89.0) Gecko/20100101 Fir

[2021-06-09 07:13] ninoCan commented on #187
Hey, sorry to touch base with this again. Still, it's not intuitive which are the fields that go in the "sqltools.format" customization option

https://github.com/mtxr/vscode-sqltools/issues/187#issuecomment-482695363

[2021-06-09 14:48] #826 closed, assigned to nobody

[2021-06-09 14:49] shetubd commented on #826
Change http to https. Now panel can open

[2021-06-10 08:00] MGMehdi commented on #710
Me too I'm running MySQL on docker with WSL2 (Ubuntu)
Latest version of VSCode and SQLTools

My docker-compose

[code]

SQLTools connection

[code]

[2021-06-10 21:04] grantwforsythe commented on #723
I ran into this same issue when trying to change the schema of a table with `ALTER TABLE`.

[code]

I ended up just running these commands in the Workbench and switch back to `SQLTools` afterwards. As of yet, I haven't run into any other instances of this issue.

#### To Reproduce
Follow pages `17` to `34` from [Learning SQL](https://www.amazon.com/Learning-SQL-Generate-Manipulate-Retrieve/dp/1492

[2021-06-14 01:22] shinzoke commented on #710
Same thing here... would be Nice to have a decent fix or someone to point me into the right way...
Using docker on wsl2

[2021-06-14 10:59] real-felix opened #828 "The formatter doesn't handle some blocks correctly"
**Describe the bug**
Some blocks like BEGIN/END or IF/END IF are not handled.

**To Reproduce**
This code is formatted like that:

[code]

**Expected behavior**
It should look something like that:

[code]

[2021-06-16 13:00] Maransatto opened #830 "Table suggestion at max 100 tables"
**Describe the bug**
Some tables tables are not shown on table suggestions.
I realized that it shows me at max 100 tables

Another thing that I realized is that it shows me the suggestion of all the tables on the server, but it would be better to bring only from the active database.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to one or more databases having more than 100 tables.

[2021-06-16 13:05] Lucs1590 commented on #830
+1

[2021-06-16 13:06] Lucs1590 commented on #830
Up!

[2021-06-20 15:59] dumbledad commented on #820
Any ideas for a work around?

[2021-06-21 11:48] Sherpard commented on #402
this shold receive way more thumb ups! it fixed my issue. thanks!

[2021-06-22 01:05] pbower opened #832 "Unable to save results as CSV or JSON. EXPORT, Open Results and Save Results all broken."
After running a query, 'Save as CSV' or 'Save as JSON' options do not work.

**Steps to reproduce the behavior**:
1. Go to SQLTools and run a query.
2. Click on EXPORT, 'Open Results', or 'Save Results'
3. For EXPORT, nothing happens and no notification.
4. For Save Results/Open Results, See error

**Expected behavior**:
A saved CSV file or JSON file on hard drive. XLSX would be nice too, but out

[2021-06-22 18:14] GrayLiterature opened #833 "It seems as if there is no support for JSONB data types?"
**Describe the bug**
I am trying to create a simple table that has a JSONB column, but it seems that while JSON is recognized, JSONB is not.

**To Reproduce**
Steps to reproduce the behavior:
`CREATE TABLE responses(
    Respondent INT NOT NULL PRIMARY KEY,
    MainBranch VARCHAR(200),
    Hobbyist VARCHAR(3),
    Age INT,
    Age1stCode INT,
    CompFreq VARCHAR(10),
    CompTotal INT,
    Conver

[2021-06-22 18:21] #833 closed, assigned to nobody

[2021-06-25 06:21] xianyulli opened #834 "Format even short queries"
Format does not take effect if there are few fields or conditions
less case：
![image](https://user-images.githubusercontent.com/73095124/123379355-8fec5780-d5c0-11eb-8e5c-104fd93afac3.png)
many case：
![image](https://user-images.githubusercontent.com/73095124/123379410-a72b4500-d5c0-11eb-8cc7-d966ae70fe61.png)

[2021-06-29 12:36] RoneyThomas commented on #710
If anyone is having trouble with mysql 8.0 and above, use this and it will work.

[2021-07-06 11:19] cherub-i opened #835 "connections fails / maybe TLS version problem"
**Describe the bug**
Using SQLTool and the MySQL driver, I cannot successfully connect to a specific database:
[code]

With the exact same connection parametes (server, port, database, user, password) I can connect using the MySQL Workbench client.
I would however very much prefer to use SQLTools as it is so nicely integrated into VSCode.

Colleagues of mine use IntelliJ and the database browser i

[2021-07-08 21:40] leepatrick-goop opened #836 "All connections gone, cannot add new conenction."
**Describe the bug**
A clear and concise description of what the bug is.

When opening SQLTools today my connections were missing and I am unable to add new connections.

Webview console output:

![4A5F67E2-EBC5-44EB-AADA-B77924CC57AE](https://user-images.githubusercontent.com/36421292/124993684-8cfa5980-dff9-11eb-8c9e-47ed6aeb0c72.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2021-07-09 15:01] MarcelSchuermann commented on #655
Agree, the error still exists.
Any solutions / workarounds?

[2021-07-12 08:15] Chimecrypto commented on #655
None. i failed my assignment for not resolving this.

[2021-07-13 16:04] adriancuadrado commented on #720
You can use these web apps as a workaround in the meantime:
https://wtools.io/generate-sql-create-table
https://editor.datatables.net/generator/

Or you can google "online database table creator" and choose your favourite option.

[2021-07-13 17:52] adriancuadrado opened #837 "Add "drop table" option"
**Is your feature request related to a problem? Please describe.**
I cannot drop a table directly from the UI. I cannot create a table either, but that feature is already requested in this issue: https://github.com/mtxr/vscode-sqltools/issues/720

**Describe the solution you'd like**
It would be nice to have an option in the context menu that opens when I right-click a table to drop the table.

[2021-07-13 18:04] adriancuadrado opened #838 "2 context menus open right-clicking on 'describe table'"
**Describe the bug**
2 context menus open one on top of another when right-clicking on 'describe table', and I have to click somewhere else to make the top context menu disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on a table
2. select 'Describe table'
3. Right click in a row

**Expected behavior**
Only one context menu should appear.

**Screenshots**
With 2 context

[2021-07-13 20:06] adriancuadrado opened #839 "Do not open an sql editor each time you connect"
**Describe the bug**
When I connect to the database, an sql editor opens and is annoying because I have to close it every time and because I also have to tell the popup that asks me "Do you want to save changes you made to xxx?" that I don't want to save the changes because I didn't do any changes at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to connections
2. disconnect and con

[2021-07-15 06:53] wonboyn opened #840 "Driver MySQL is not installed"
I am using VS Code remote containers and have installed the SQLTools plugin (v0.23.0) and the SQLTools MySQL/MariaDB plugin (v0.2.0) into the container (not the local VS Code instance).

This has been working fine for a while but in the last day I have started getting the following error when trying to connect to the database: Driver MySQL is not installed

Steps to reproduce the behavior:
1. Setu

[2021-07-15 20:40] laurenh-soa commented on #832
I am having precisely this issue with a different configuration:

- SQLTools v0.23.0
- VSCode v1.58.2 (user setup)
- OS: Windows_NT x64 10.0.18363 (Windows 10 1909)
- Driver: SQLTools Intersystems IRIS v1.1
- Database: Cache for Windows (x86-64) 2018.1.5 (Build 659U)

[2021-07-16 14:52] fonnesbeck opened #842 "Connection lost on SQL Server"
When running most queries using the SQL Server driver, I get failures that simply return:

[code]

No other information is in the console. If I run a simple query like selecting a few rows from a simple table, it returns results as expected. Anything with more structure seems to fail. Note that this occurs with working queries that run without error with other clients (e.g. Azure Data Studio), so

[2021-07-16 17:27] emerxom opened #843 "Add option "use windows authentication" in connection Assistant for SQL Server"
that's it

[2021-07-19 06:50] spking11 commented on #402
Me too...

And this method doesn't work.

[2021-07-19 22:38] govindasharma1986 commented on #246
Hi @mtxr,

Just now I too faced this issue. Here's a snippet for it:
[code]

I was trying to connect to our prod mysql server and that's when I faced it. I am able to connect to it from python mysql.connector, sqlalchemy and mysql workbench.

I wished to able to connect to it from vscode for productivity.

I read that instead of mysql package if we use mysql2 then that would solve the issue. I am

[2021-07-19 22:55] govindasharma1986 commented on #395
+1
It would much appreciated!

[2021-07-20 02:02] ajcastro opened #844 "How to remove the blue highlighting?"
How can I remove the blue highlight color? This happened when there is no text selection.

![image](https://user-images.githubusercontent.com/4918318/126250645-e34e9181-c72b-4c29-ab5d-161f1ecf7b4f.png)

It disappear when there is a selection:

![image](https://user-images.githubusercontent.com/4918318/126251020-ac39fc55-6d91-4f5e-ab56-9cbdb49ace1a.png)

[2021-07-21 02:59] JourdanClark commented on #762
There is more to this. After simply doing "Test Connection" on the file, it will tell me that the connection is good and it will create a directory at "C:/c%3A". It is URL encoding the file path. It is creating a new empty database when it does this.

EDIT:

For clarification, the original path of
`C:\Users\School\Documents\Projects\Unit 3 - Data Engineering\Sprint 10 - SQL and Databases\Module 1

[2021-07-22 20:14] govindasharma1986 commented on #246
Hi @mtxr ,

Can we reopen the issue and prioritize it?

Thanks

[2021-07-26 15:59] hinst opened #845 "Default VS Code keyboard shortcut "Go to file..." becomes unavailable"
It is sad; blows my mind why this logic exists

[2021-07-27 00:19] KateYoak opened #846 "Full error message display from database server"
**The problem**
When I use SQLTools with Postgres driver, I get very abbreviated error messages, compared to what I would get from the postgres console.

Example error from SQLTools:
![image](https://user-images.githubusercontent.com/1856012/127074827-2f058b05-38e7-41e5-9528-08b0e6e41d4d.png)

Same error from psql client:
[code]

As a developer, I get complete information necessary to solve the pr

[2021-07-27 15:45] Fmstrat commented on #625
It's been a long time and this issue is still presenting itself. Any feedback?

[2021-07-30 07:40] zdravkoggeorgiev commented on #723
This error occurred to me when I try to execute CREATE TABLE statements. The interesting part is, that table was CREATED. So SQL executed successfully. I think it's a problem with display of results.

[2021-08-03 19:19] michaellifly commented on #728
any update?

[2021-08-05 02:42] Choens commented on #844
I actually had this exact same problem, but I found an easy "fix". Go to settings and find `sqltools.format`. You will have to edit the settings.json. You will need to create  a variable `highlightQuery`, set to `false`. The default is `true`. This is what mine looks like:

[code]

Of course, only the second to last line, `"highlightQuery": false` is specifically relevant, but it shows you what it

[2021-08-05 13:05] orellabac commented on #728
Not yet. It seems to be something in the SQLTools extensions. They have some condition that validates the file language to be .sql and the language is changed to snowscriptjs for syntax coloring. So I think the issue requires a fix on the SQLTools side but I am still looking into it to see if there is any workaround I can do.

[2021-08-06 16:30] ismusidhu opened #848 "Running the contributed command: 'sqltools.saveResults' failed."
Sometimes I get this error when I try to save results in CSV/JSON file. Once I get this error, I'm not able to save it even after repeated attempts.

MacOS Catalina 10.15.4 (19E287)

VSCode details->
Version: 1.59.0
Commit: 379476f0e13988d90fab105c5c19e7abc8b1dea8
Date: 2021-08-04T23:14:40.191Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 19.4.0

[2021-08-06 20:37] deejcunningham opened #849 "Running the contributed command: 'sqltools.saveResults' failed."
**Describe the bug**
When trying to save results as CSV or JSON, I the the error:

I am also unable to open results as either CSV or JSON with the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Make a query that returns some results.
2. Click on the Save Results (or Open Results) button in the top right of the results tab.
3. Choose either CSV or JSON.
4. Click save on the

[2021-08-06 20:42] deejcunningham commented on #849
Further fiddling indicates that this actually only fails _sometimes_. Will need further fiddling to understand exactly what differentiates failure from success.

[2021-08-06 21:03] deejcunningham commented on #849
Results of fiddling. Seems like multiple connections throws off the saving/opening, specifically when the results being saved/opened are not from the most recent connection.

Success:
1. Open new, single connection.
2. Run single query.
3. Click Open or Save on results.
4. Success :heavy_check_mark:

Failure:
1. Open new connection (MSSQL).
2. Run query on this first connection.
3. Receive results

[2021-08-10 21:25] june-remind101 commented on #695
Yah, this is a problem with accessing redshift on AWS as well.

We likely want to add a checkbox for the setup that, when checked, adds a handler for the TLS client to add this handler `checkServerIdentity` and return true.

[2021-08-13 11:32] PvdBerg1998 commented on #246
Same issue for me

[2021-08-13 14:20] pau1tuck commented on #655
This is still a problem.
`Running the contributed command: 'sqltools.addConnection' failed.` (mariadb on Arch Linux)

[2021-08-14 15:08] eahanson commented on #402
I had this problem and was able to fix it by setting the port to `33060` instead of `3306` as described in the [docs here](https://vscode-sqltools.mteixeira.dev/driver/mysql#know-errors-and-how-to-fix), and then disconnecting and reconnecting. (I might have restarted VSCode too.)

[2021-08-14 17:50] caesarsamsi opened #853 "The documentation page is missing???"
I don't understand how 1 million people use this without instructions??? I got it to install, got the driver installed.

Then what? Where is the management console? Editing, Running, Debugging, Troubleshooting?

The documentation is a big fat "PAGE NOT FOUND".

This extension should at the very least be disabled until the author fixes these glaring issues.

I'm appalled that Microsoft's Visual Stu

[2021-08-15 16:35] Jood80 commented on #593
I'm facing the same issue with v0.23.0
disabling it and re-enabling it again, make it works

[2021-08-15 18:38] onrgumus opened #854 "command 'mssql.runQuery' not found"
Hey All, I have seen command 'mssql.runQuery' not found into the vcscode all the time. I have tryied many time. Please help me !!

[2021-08-16 05:03] Actticus opened #855 "Connect to database over SSH"
For additional security, our team has closed access to the database directly, so a solution is needed to access the database over SSH, for example, as in TablePlus

[2021-08-16 07:41] qaisershehzad opened #856 "Query columns with special characters not working"
Query columns with special characters not working..

I have a below query and is valid query with column names with some special characters like #, $ etc
[code]
Now when I format this query it get white space between special character and name. e.g
`Select a #
 from b`
 which makes it invalid query. As column name is `a#`

is there a way we can allow special characters in query or format ignore wh

[2021-08-17 12:43] iwogar commented on #710
Hey, I'm not sure how MySQL got into this but the original issue was raised for MS SQL. Is this fix supposed to work for MS SQL too?

[2021-08-17 21:28] tony-brookes opened #857 "Make SQL Tools settings recognise VS Code variables and environment variables."
The various VS Code variables are not respected in SQL Tools settings.  For instance if I want to set the folder where my SQL sessions should be stored I can't use `${workspaceFolder}/sql-sessions`.  If I do I get `"Error cannot create directory /${workspaceFolder}/sql-sessions.  Read only"`.  This is because the code seems to just be taking what is in the configuration and whacking a / at the fro

[2021-08-18 03:03] RoneyThomas commented on #710
Yup

[2021-08-19 18:49] deejcunningham commented on #849
I have this reliably working based on my earlier comment so I will close this issue.

TL;DR: Only open a single connection at a time, run your query, then open/save your results before opening or switching to any other connections.

Hopefully this helps somebody in the future :)

[2021-08-19 18:49] #849 closed, assigned to nobody

[2021-08-21 10:33] Yanpas opened #858 "Can't install sqlite3 4.2.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-21 10:36] Yanpas commented on #858
Thoughts: installing drivers is a major PITA. Maybe things were easier if backend was using java+JDBC instead of node

[2021-08-23 15:01] smaartdata commented on #298
Any update?

[2021-08-23 17:09] Phara0h commented on #298
Would love to have this feature.

[2021-08-25 21:56] dallenbaldwin commented on #757
I'm running into this again on my newly installed, Ubuntu 20.04 based Zorin 16 distribution. I'm using NVM for Node and the extension can't seem to find npm, even after setting my "terminal.integrated.shellArgs.linux": ["-i"] option in my settings.json. I honestly think this might be an upstream issue with VS Code and NVM. It seems that the extension can't find anything NVM is doing. It can't see

[2021-08-25 22:00] dallenbaldwin commented on #757
Additionally, there isn't anything in $HOME/.local/share/vscode-sqltools except for Bookmarks.json. I would assume there's supposed to be at least a package.json in there

[2021-08-26 16:30] pkit commented on #565
Hmm, doesn't seem to be fixed in the newest version.
Tries to connect to `http://346d1bcc-a3d1-485e-82d6-38439d5655bc.webview.localhost:3000/webview/index.html?id=346d1bcc-a3d1-485e-82d6-38439d5655bc` for me and fails miserably.

[2021-08-27 21:57] ubermanl opened #860 "Test Connection Success with wrong credentials"
**Describe the bug**
When a new connection is to be added, "Test Connection" shows success with no data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Connections
2. Click on Add New Connection
3. Scroll down to Test Connection button and press it
4. See green "Succesfully Connected!" message.

**Expected behavior**
To get an error stating username and password are mandatory fields.

[2021-08-31 07:30] myriamhanna opened #861 "Execute full SQL script"
Using SQLTools, I can only run my sql script line by line. I can't find any way to run the whole script. Is there a way to do so?

[2021-08-31 07:37] #861 closed, assigned to nobody

[2021-08-31 07:55] myriamhanna opened #862 "Execute full SQL script"
**Describe the bug**
Using SQLTools, I can only run my sql script line by line. I can't find any way to run the whole script in one run

**Desktop (please complete the following information):**
 - SQLTools Version v0.23.0
 - VSCode Version: 1.59.1
 - OS: Linux
 - Driver:
   - [ ] PostgreSQL/Redshift
   - [X] MySQL/MariaDB
   - [ ] MSSQL/Azure
   - [ ] SQLite
   - [ ] Other? Which...
 - Database ve

[2021-08-31 16:23] bfine9618 commented on #298
I would use this extension exclusively with this feature

[2021-09-02 16:16] AlpBilgin opened #864 "Running multiple INSERT INTO statements results in error."
**Describe the bug**

When I use the "run on active connection" button on  an .sql file with multiple INSERT INTO statements, the statements are all successfully executed but the extension throws a javascript looking error "Cannot destructure property name of  'undefined' as it is undefined".

When I run the statements individually everything works out fine.

I similarly tried running multiple SEL

[2021-09-02 21:35] caesarsamsi opened #865 "How to volunteer to fix your tutorials, documentation, UI, installation, basically the entire thing?"
**Is your feature request related to a problem? Please describe.**
I am always frustrated when using an extension. There isn't an obvious way to make use of the extension or its drivers. Documentation is not available. This is poorly done for sqltools. You have a great feature list, I installed it, great, now what do I do to use those touted features???

**Describe the solution you'd like**
I want

[2021-09-03 05:55] ufukty commented on #116
Idk about `formatLanguages`. But I find another way.

Open VS Code settings with command plate : `Preferences: Open Settings (JSON)`

Add that section to appropriate place:

[code]

[2021-09-07 13:36] evanwills commented on #855
I would also find this very useful.

On top of the normal DB connections settings it would need
* Host/IP
* (possibly) Port
* Username,
* Password,
* SSH key (or the option to use .ssh/config)

[2021-09-08 20:44] ScriptPup opened #866 "PostgreSQL Connection Reports no Schemas"
**Describe the bug**
When connecting to PostgresSQL from SQLTools, the connection works correctly but the database explorer shows "Nothing here" under schemas, despite the company having a ton of schemas defined. It seems that the explorer just isn't working for some reason. The output from SQLTools doesn't show any errors in the /GetChildrenForTreeItemRequest request.

The only error from webdevl

[2021-09-08 23:21] psmatsinhe commented on #710
Hi, any explanation for this error beside having to downgrade!!!?

[2021-09-09 13:57] cgstaber commented on #459
I could also really use this!

[2021-09-10 13:37] malocan commented on #655
<img width="1635" alt="Снимок экрана 2021-09-10 в 16 34 24" src="https://user-images.githubusercontent.com/49976288/132861851-8aa86064-cc16-4770-b4eb-8a89a042fb29.png">
 The same issue. Still can not go to the next step of creating new connection

[2021-09-16 19:52] nvmker commented on #864
Same issue here, voting for fix that.

[2021-09-16 19:54] nvmker commented on #723
I tried to run multiple INSERT queries and got the same error.

[2021-09-17 02:32] slankka commented on #855
Same for our company, we use SSH tunnel to access databases for development. And we're not allowed to access Linux server via password, we perfer SSH public keys.

[2021-09-19 23:05] philcart commented on #843
Definitely need this as an option. We have a couple of servers where SQL Authentication is disabled.

[2021-09-20 08:30] huangjj27 commented on #710
refer to Aidin's answer below that stackoverflow post.

[2021-09-20 08:33] huangjj27 commented on #710
refer to Aidin's answer below that stackoverflow post.

[2021-09-20 08:35] huangjj27 commented on #710
I think this issue can be fixed by adding support of authorization for `caching_sha2_password`,  but as is mentioned in  #101, this issue of MySQL version may be not fixed.

[2021-09-21 06:08] Little-Star-Star opened #868 "can't export"
Issue Type: <b>Bug</b>

can't export

Extension version: 0.23.0
VS Code version: Code 1.60.1 (83bd43bc519d15e50c4272c6cf5c1479df196a4d, 2021-09-10T17:07:10.714Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No
Remote OS version: Linux x64 4.15.0-142-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx   (8 x 2096)|

[2021-09-21 06:08] Little-Star-Star commented on #868
can't export

[2021-09-22 00:50] kdmiltner opened #870 "Connections"
Issue Type: <b>Bug</b>

I set my database connections (about 10) - a mix of Redshift and PostgreSQL. They seemed to be working fine, but when after I finished for the night and came back to my laptop the next morning they were missing (this was on 9/20/2021). I reset a handful today (9/21/2021) and those were also working fine, until after I closed my computer and came back a couple hours later th

[2021-09-24 07:16] Fargath15 opened #871 "Error selecting connection connect ECONNREFUSED 127.0.0.1:5432"
[1632467339076] INFO  (ls): Connection instance created for default.
    ns: "conn-manager"
[1632467339080] ERROR (ls): Connecting error: {"code":-32001,"data":{"driver":"PostgreSQL","driverOptions":{}},"name":"Error"}
    ns: "conn-manager"
[1632467339081] ERROR (ext): ERROR: Error opening connection connect ECONNREFUSED 127.0.0.1:5432, {"code":-32001,"data":{"driver":"PostgreSQL","driverOptions"

[2021-09-30 05:44] rubensa commented on #44
Couldn't be developed a generic JDBC driver implemented with [node-jdbc](https://github.com/CraZySacX/node-jdbc)?
This would allow connecting with any database that has a JDBC driver (despite you have Java installed and available in the PATH) without having to implement an specific SQLTools driver for that database.

[2021-10-01 08:35] aecliam commented on #655
same issue with me too. I've been trying to disable and enable like what others have said but it's still an error.

[2021-10-01 22:27] mantcz commented on #575
I am afraid this is happening to me too. Few days ago it was still there though, so something recent.

Desktop:

SQLTools Version v0.23.0
VSCode Version: Version: 1.60.2
Version: 1.60.2
Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Date: 2021-09-22T11:59:27.195Z
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

Driver Used/Version: PostgreSQL
OS: MacOS BigSur

[2021-10-01 22:41] mantcz commented on #575
Interesting, it looks like `sqltools` ended up inside `Run and debug` section.

<img width="529" alt="Screenshot 2021-10-01 at 23 37 33" src="https://user-images.githubusercontent.com/43110249/135693242-2d7b01c1-700c-4be9-8b75-4a278405c21a.png">

[2021-10-05 11:52] mc-zact opened #872 "User level "settings.json" is ignore if a local ".vscode/settings.json" sqltools.connections block exists"
**Describe the bug**
A clear and concise description of what the bug is.

I noticed that trying to add global connections in the user settings.json was not working, but adding via wizard which adds them in the workspace level did.

After removing the SQL tools block from settings and reloading I now see the global connections.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit you User set

[2021-10-06 01:46] jcro21 commented on #754
I too would love to see autocomplete working for column names.

It's currently partially working for the first column of a select statement - it suggests columns from *all* tables, rather than columns from tables in the `FROM` clause of the statement only.
Unfortunately for all subsequent columns in the `SELECT` statement there is not even the behaviour described above.

This is a great extension,

[2021-10-06 10:52] awoehrl opened #874 "Bigquery Support"
Hi,

it would be great to have Google BigQuery support as well. There are ODBC and JDBC drivers for BQ:, maybe these would help?

https://cloud.google.com/bigquery/docs/reference/odbc-jdbc-drivers

Best
Andreas

[2021-10-06 13:11] christien-kelly commented on #541
@Kevinoh47 can you elaborate on the above I'm having the same issue.

[2021-10-06 18:49] gullpavon commented on #483
@mtxr An example would be when you're trying to connect to Snowflake (which requires connecting to somevaluehere.snowflakecomputing.com) from your company and in order to do so you need to use a proxy  i.e. proxy.c.domain.com:8080 because you are behind a firewall.

[2021-10-11 14:30] jankap commented on #728
Would love to see stored procedures supported too. Any way we can help with that?

[2021-10-11 14:38] jankap opened #875 "Stored Procedures for MySQL and MSSQL"
**Is your feature request related to a problem? Please describe.**
We rely on stored procedures in our MySQL database development but they are not supported by sqltools.

**Describe the solution you'd like**
Being able to see stored procedures in the connections view and call them in queries would be great.

[2021-10-13 11:45] pbelosa commented on #395
+1
Needed this feature today and have installed beekeeper instead for now. Would love to see this!

[2021-10-17 16:17] manoranjanpanigrahi opened #876 "Keyboard shortcut to run queries"
hii , is there a keyboard shortcut to run all the queries from keyboard. otherwise every time I have to click on 'run on active connection'.

[2021-10-18 09:30] ofajardo opened #877 "Not possible to query temporal tables with "Run selected query" command"
**Describe the bug**
If I create a temporal table with a statement by clicking on "Run on active connection", delete the query and then type a second query selecting from that temporal table, everything works as expected.

However, if I have the two queries one after the other in the same editor, then I first highlight the create temp table statement, do right click and click on "Run selected quer

[2021-10-18 09:36] ofajardo commented on #877
As a side note :

If I have these two queries in one editor and click on "Run active connection", I get a multiple query result window with two tabs, both show "Query returned 0 rows", while I would expect to see one row coming back from the second query.
If I add a third line, just a commented empty line ("--"), then I get three tabs, the two first say query returned 0 rows, and the third one ret

[2021-10-18 20:31] willycotes commented on #710
in my case the problem was solved by changing the hostname "localhost" by the local ip "127.0.0.1"

[2021-10-20 16:14] tlifke01 commented on #877
Bumping this issue that I'm having as well.

Example:

I run this create table query:
`CREATE TABLE #new_temp_table as (
select count (distinct identifier) id_count
from database1.table1)
`

Then try to pull from it:
`
select id_count
FROM #new_temp_table
`

And get the error
`relation #new_temp_table does not exist`

I'll note that when I don't make new_temp_table a temporary table (i.e. new_temp

[2021-10-20 22:57] michaelweissDM commented on #723
Really enjoy SQL tools in vs-code.  Just running basic select statements with 1 join and a where/ group by and the only way not to get the error:
Cannot destructor property 'name' of 'undefined' as it is undefined
Is to take the comments out.  Not to bad on small queries but with my longer complex queries and procedures I have to comment through out the script.   Going to send a small donation and

[2021-10-21 13:32] JamesWigley commented on #710
I solved mine when I realised I had a trailing space in my server address .  It does seem that the positive result from the Test Connection can be misleading,

[2021-10-27 20:04] tlifke01 commented on #877
Previously linked issue provided solution. This issue can be closed.

[2021-10-28 06:09] ofajardo commented on #877
thanks @tlifke01! that indeed solves the issue with creating temporal tables.

The issue described in the side note is still there, so I leave it here for the developer's consideration.

[2021-10-29 11:58] kzajaczkowski commented on #483
+1 to this one.

Many organisations use mandatory proxy which means that you cannot connect without proxy support at all.

[2021-11-04 17:59] mike-pt commented on #723
I'm seeing the same in any insert query, they are indeed successful, initially I though something was wrong with the queries, but I guess its with the output of the result.

[2021-11-09 16:47] OmarArain commented on #874
Hi, I second this. Support for BQ would simplify the number of IDE-like tools I need to open for my daily workflows.  What would it take to add support for ODBC/JDBC drivers in this extension?

[2021-11-11 08:29] MatCast opened #878 "Unable to see connection tree"
**Describe the bug**
When clicking on the left arrow on an active connection i get the following error and the connection tree is not shown:
`Request connection/GetChildrenForTreeItemRequest failed unexpectedly without providing any details.`

After the error appeared once it does not show up again upon re-clicking on the arrow but the connection tree still does not diplay.

I can run queries on t

[2021-11-11 20:41] dthompson-maystreet commented on #832
The offending code appears to be here:

https://github.com/mtxr/vscode-sqltools/blob/ba294769be006e9e605d70ca487e5ce6fb4126c8/packages/plugins/connection-manager/language-server.ts#L56

What it looks like to me is that the cache is never set; any successfully executing response should invoke the function defined at https://github.com/mtxr/vscode-sqltools/blob/8ee200af8cd659eb868f2889f0c42dd9c88984

[2021-11-12 11:10] GammaSquare opened #879 "Output tab doesn't return BLANK value"
With a Snowflake connection, the output tab doesn't return a row when the value is ''. The value NULL is properly returned but BLANK is not, which is misleading. (I haven't had time to test on other databases, but the bug seems to be in the output tab, not related to the DB engine)

I've used this script to confirm:

[code]

The output tab mentions 1-4 of 4 rows but the tab includes only:
[code]
I

[2021-11-12 11:34] BenGinders commented on #819
This would be great if it could be added, currently indentation type or amount is not valid in the sqltools.format setting

[2021-11-15 17:35] maesenka opened #881 "Show Postgresql foreign tables"
**Is your feature request related to a problem? Please describe.**
I have a schema populated by foreign tables. Unfortunately, these objects are not visible in the connection explorer.

**Describe the solution you'd like**
A "foreign tables" section under the Schema node in the explorer tree.

**Describe alternatives you've considered**
Alternatively, the foreign tables could be listed under the '

[2021-11-15 22:37] scdigitalmedia commented on #246
Having the same issue. I've tried the altering user and making updates to the mysql conf file, to no avail. Any other ideas?

[2021-11-16 11:42] leomatter commented on #746
i have the same connecting with ssl to a GCP postgres server
Error opening connection Hostname/IP does not match certificate's altnames: Host: localhost. is not cert's CN: hayry-332210:hayrydb
connecting with psql or knex works..

i know it seems unrelated, but I think there could be a more general issue with ssl

[2021-11-16 21:16] ferm10n commented on #794
https://github.com/mtxr/vscode-sqltools/blob/ba294769be006e9e605d70ca487e5ce6fb4126c8/docs/src/pages/driver/mssql.mdx#11-specific-options

Looks like there is support for this. This got mine working:
[code]

[2021-11-22 08:45] binhtddev commented on #800
Duplicate of #632

[2021-11-23 02:52] lex3001 commented on #712
+1 for this feature ... and the ability to export with or without Headers would be helpful too.
Being to able to export to the clipboard and then paste into Excel or Google Sheets would be fantastic.

[2021-11-29 22:44] SomeoneIsWorking commented on #875
Can't see them on MSSQL as well. Really really essential to the project I'm working on.

[2021-11-30 15:37] ch33orange commented on #704
me tooooooooo~  We need help!!!

[2021-12-01 15:47] SiJiL82 commented on #839
There's an option in the extension settings to disable this:
![image](https://user-images.githubusercontent.com/65114782/144266335-a409b59e-90a4-479d-bd53-8845c71536f3.png)

[2021-12-01 17:19] Cody-at-Benjamin commented on #486
+1

[2021-12-01 17:23] Cody-at-Benjamin commented on #700
+1

[2021-12-03 09:28] Rohit-B-Patil commented on #710
Problem Solved just using some steps.

I also got the same issue and solved easily.

Delete the existing "MySQL connection" on which this error is occured in VSCode using right click "Delete Connection"

You will not loose any existing database or any table.

So create new "Add new connection" then select "MySQL connection" with same existing database on which this error is occuring. TEST it .Save

[2021-12-04 05:35] alcarcdr opened #884 "Getting error: Cannot destructor property 'name' of 'undefined' as it is 'undefined'"
In the SQL Console: Message output the following error happens with some basic MySQL DDL failing:
[code]
The MySQL that is being executed is:

[code]
(This works fine if executed using MySQL CLI.)

**To Reproduce**
Steps to reproduce the behaviour:
1. Create MySQL Schema DB and open connection to it
2. Paste the MySQL SQL code above and execute it
3. See that it fails with error mentioned above

*

[2021-12-06 13:10] cheanwei opened #885 "Unable to Connect to Postgresql on other port"
I created a Postresql connection in the SQLTools settings with port number 35433. However following error was captured in the log output.

[1551681558188] ERROR (ls): Connecting error: {"code":-32001,"data":{"driver":"PostgreSQL","driverOptions":{}},"name":"Error"}
    ns: "conn-manager"
[1638795210289] ERROR (ext): ERROR: Error opening connection getaddrinfo ENOTFOUND postgresql postgresql:5432,

[2021-12-06 17:09] DonJayamanne opened #886 "Consider activating this extension only for specific events"
Currently this extension gets activated everytime, even when opening a plain text file.
This results in unnecessary resource usage on end user machines.

Orignally filed here https://github.com/microsoft/vscode/issues/138481

Please could you update the `activationEvents` in `package.json` to activate only when necessary:
More information can be found here https://code.visualstudio.com/api/referen

[2021-12-09 03:25] mbtolou opened #888 "dictGet support for clickhouse code formatter"
hi.

[code]

above code no format to this :

[code]

https://vscode-sqltools.mteixeira.dev/playground/formatter

[2021-12-10 11:07] emil14 opened #889 "404 on docs"
https://vscode-sqltools.mteixeira.dev/features

[2021-12-10 11:43] emil14 commented on #298
Any updates? This one is extremely needed!

[2021-12-10 11:44] emil14 commented on #632
any updates?

[2021-12-10 15:57] savvo commented on #668
I've just run across the same. It seems "Add new connection" doesn't check for duplicate entries, allowing e.g.

[code]

and resulting in:

[code]
Worked around it by editing settings.json

[2021-12-10 17:29] rgimenes26 commented on #858
I'm having the same error and could not use SQLTools yet. Tried evething and cant make it work.

When i thy to connect to the database it ask to install sqlite3 v.4.2.0 and them it fails.

Windows 11 , node 16.13.1, npm 8.1.2.

The final part of the log here:

[2021-12-10 18:21] sfscgjohnson opened #890 "Trusted Connection = Yes prompts for password"
Attempting to setup a Connection to MSSQL Server with a Connection String

Provider=SQLNCLI11;Server=myServerName\theInstanceName;Database=myDataBase;Trusted_Connection=yes;

This should be integrated security but I am being prompted to enter a password and Tests fail if no password is entered.

[2021-12-11 06:23] hemanttaskology opened #891 "feature request related to a problem"
**Is your feature request related to a problem%3F Please describe.**%0AA clear and concise description of what the problem is. Ex. I'm always frustrated when [...]%0A%0A**Describe the solution you'd like**%0AA clear and concise description of what you want to happen.%0A%0A**Describe alternatives you've considered**%0AA clear and concise description of any alternative solutions or features you've c

[2021-12-13 14:57] ScriptPup opened #892 "Improved titles/custom result titles"
**Is your feature request related to a problem? Please describe.**
It's less of a problem and more of an annoyance. Many queries I run are verbose, so when I run them their titles are also extremely long which then pushes all other result sets off-screen and requires scrolling and hovering to find the one I'm looking for. I keep results sets up and 'alive' sometimes for days at a time if I'm worki

[2021-12-13 19:01] msdrigg opened #893 "Formatter breaks the postgres timescaledb => syntax"
**Describe the bug**
The formatter breaks the timescaledb => syntax. This may be standard postgres syntax, but I have only seen it in timescaledb's documentation (https://docs.timescale.com/timescaledb/latest/how-to-guides/continuous-aggregates/create-a-continuous-aggregate/#creating-a-continuous-aggregate).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test.sql document and add t

[2021-12-14 10:34] TomPohys commented on #668
I was able to delete duplicated connection by Command Palette (`Ctrl + Shift + P`) -> `SQLTools Management: Delete connection`. Then the rest of the connection shows up

[2021-12-20 20:21] magic-lantern commented on #858
I've used this extension for about a year for SQLite. Has worked well and been easy to use. Somehow in the last month or two it stopped working and I get a similar error as reported above. Endless 'You need to install "sqlite3@4.2.0" to connect to...' messages.

[2021-12-21 19:03] FHCRPO opened #894 "Add a config option to suppress "Insert" SQL Console Messages"
**Is your feature request related to a problem? Please describe.**
As a user, when I create a TEMP table, then add a ton of inserts into that table the SQL Results display opens a ton of tabs stating that each insert was successful.  I would like there to be a config option to suppress adding a tab per insert statement in the SQL Results view.

Given that I have configured SQL Tools to suppress IN

[2021-12-22 11:06] SiJiL82 commented on #723
Getting the same thing with literally just the SQL below, no comments.

USE testdb;
SHOW TABLES;

Strangely, SHOW DATABASES; works fine though.

[2021-12-31 22:41] amgilder commented on #884
If it helps, I can add some further experience to the original report. I too am encountering this error when interacting with MySQL (MacOS 12.1, VS Code 1.63.2, SQLTools 0.23.0, SQLTools MySQL/MariaDB 0.2.0, MySQL Community Server 8.0.27).  In my experience, the error arises whenever there are multiple SQL statements in the SQL file being run. With only a single SQL statement in the file, the erro

[2022-01-01 12:41] alexandruchircu commented on #697
Hi, using a code-server instance (https://github.com/coder/code-server), the main extension is found in open-vsx's marketplace, but no drivers are available to download (@tag:sqltools-driver returns nothing).

[2022-01-02 17:06] s-wuest commented on #858
I also have this very same error. Couldn't use SQLite until now because of it.
Does anyone know a workaround to this?

[2022-01-06 15:37] rconjoe commented on #723
Same issues here. Flatpak VSCode on Ubuntu 21.10.

All of my queries worked fine until I ran an INSERT; with other blocks commented out. After that, even queries that worked before are throwing the `Cannot destructure property 'name'` error.

[2022-01-06 19:39] nikmartin opened #895 "When trying to display a view in SQL Server 2019, get error: "Invalid usage of the option NEXT in the FETCH statement""
When trying to fetch a view, the error in the title is displayed. Opening developer tools and looking at the response from SQL Server, here's the query that's being run:

```SELECT * FROM [booked-work] ORDER BY index ASC OFFSET 0 ROWS FETCH NEXT 50 ROWS ONLY; ```

If I run this in Azure Dev Studio, I actually get multiple errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2022-01-07 14:25] mtxr opened #896 "New maintainers! Meet @george-james-software and @gjsjohnmurray!"
Hey guys, I'm not able to focus in the project like I used to do and that's why I'm looking for maintainers.

Currently I need to focus more on my family, my kid is growing and I want to spend more time with him on my free time. Also I have a lot to do in my current company and I've been far from SQL databases in the past 18 months.

That said, if you have interest on maintaining the project, reac

[2022-04-22 07:36] AF1QUE commented on #632
We are still missing this particular feature, I hope this issue gets the attention of the extension author.

[2022-04-22 08:03] gjsjohnmurray commented on #800
Closing as duplicate.

[2022-04-22 08:03] #800 closed, assigned to nobody

[2022-04-25 21:31] efibutov commented on #757
Looks like there is no solution for the issue.. Ubuntu 21.10, node 16

[2022-05-03 15:46] chaitanya71998 commented on #821
@prakashrajPk  did you got solved from this issue?

[2022-05-05 19:43] cesarep opened #899 "Foreign Key query results clicable"
Hi!

It would be really nice to make foreign key cells on the table records view clickable, opening a new table showing the respective record on the foreign table, kinda like https://www.adminer.org/en/ does

[2022-05-08 03:30] luni3359 commented on #740
Same issue here
* SQLTools Version: 0.23.0
* VSCode Version: 1.67.0
* OS: Linux

[2022-05-12 15:12] a-silverson commented on #757
Hello!) I have the same problem on Mac.

[2022-05-13 10:47] george-james-software commented on #891
Not an issue.

[2022-05-13 10:47] #891 closed, assigned to nobody

[2022-05-13 10:50] george-james-software commented on #889
emil14, where does this link originate?  There isn't supposed to be a page at that url so the 404 is correct, but what did you click on to be directed there?

[2022-05-13 11:04] george-james-software commented on #889
Found it.  There's a link on this page that is bad: https://vscode-sqltools.mteixeira.dev/#features

[2022-05-13 14:42] philipmat opened #900 "Show row numbers in results grid"
It would be very useful for quick reference if the output grid showed row numbers. Like this

![SSMS Results](https://user-images.githubusercontent.com/709928/168307414-60f190b8-0026-4307-88d9-1c3976e2b029.png)
or
![PL/SQL Results](https://user-images.githubusercontent.com/709928/168307605-4dff5e2d-cc43-4c56-a249-4d7e4904eb36.png)

The alternative of adding something like `ROWNUMBER()` into the SQ

[2022-05-16 01:48] mtxr commented on #896
Hi everyone! Glad to be back here!

Today I wanted to share some good news! As you guys know, I haven't been close to the project like in the old years. That said, I'm happy to say that we know have new project maintainers!

Please meet @george-james-software and @gjsjohnmurray!

They are two of the oldest and most faithful users the project has ever had!

I'll keep in touch with them and I hope w

[2022-05-17 18:00] Dzejkop opened #901 "Weird formatting when queries contain `create` - or possibly caused by WSL?"
**Describe the bug**
When formatting a file with queries which contain `create`, the formatting removes spaces above said queries.

**To Reproduce**
Using the default `"preserve"` setting for `linesBetweenQueries`.

Take and format the following file:

[code]

The result on my machine looks like this:

[code]

**Expected behavior**
The formatting should respect the new lines between all queries.

[2022-05-19 09:33] ImreC opened #902 "SQLTools increases cpu usage to 100% for no reason"
Issue Type: <b>Bug</b>

I don't know. I am unable to load other extensions or copy files with this enabled currently

Extension version: 0.23.0
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:49:24.808Z)
OS version: Linux x64 5.17.5-76051705-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7

[2022-05-20 16:24] ahsand97 opened #903 "SQLTools not asking to install the dependencies and not validating form with the button "Test Connection""
Based on this [discussion](https://github.com/mtxr/vscode-sqltools/discussions/785) basically SQLTools only asks to install extra dependencies when you click on the button "Save Connection" and then the button "Connect now", meaning that the button "Test Connection" is always gonna fail if you don't have the extra dependencies already installed or do the steps mentioned first.

Also, the button "T

[2022-05-21 07:47] GeorgePaulino commented on #757
ok

[2022-05-21 13:55] FrankCoder commented on #723
This is still an issue, seems like it cannot run anything other than a single statement.

I had something like the following:

USE db;
SELECT ...;

If I remove the USE statement, the query runs fine, otherwise I get the 'cannot destructure ...' error.

[2022-05-22 05:08] ivorynoise commented on #855
+1

[2022-05-23 07:07] tarekahf commented on #710
I am facing the same problem when connecting to SQL server from VS Code. However, I can run SQL Queries.

I tried to follow all steps mentioned in this post to resolve the issue, but nothing worked. Please help.

Tarek

[2022-05-23 07:08] tarekahf commented on #710
This action is not working at my end on SQL Server and I m getting a syntax error when trying to execute the provided command.

[2022-05-25 02:58] tarekahf commented on #878
I have the same problem. Any resolution found?

[2022-05-25 03:00] tarekahf commented on #710
I have the same problem but on Windows and MS SQL Server. Any resolution found?

[2022-05-28 16:47] TKDMzq opened #904 "Unable to install sqlte3."
**Describe the bug**
When Tryingto connect to SQLite db SQLTools prompts for dependency install that fails due to asking for outdated version of the package and having issue with dependency.

Failes due to __node-pre-gyp__ beeing deprecated
It advises to use __@mapbox/node-pre-gyp__

**To Reproduce**
Steps to reproduce the behavior:
1. Craete connection to SQLite DB
2. Click on 'connect'
3. Aprove

[2022-06-01 07:55] gotounix commented on #858
In Windows:

[code]

Then, go to `C:\Users\USERNAME\AppData\Local\vscode-sqltools\Data`:

[code]

Last and Important, edit `C:\Users\USERNAME\.vscode\extensions\mtxr.sqltools-driver-sqlite-0.2.0\out\ls\plugin.js` file, search `4.2.0` and change it to `5.0.8`(your installed version).

Restart VS Code, everything goes well.

[2022-06-01 18:41] jacobhalstead commented on #885
Was this issue ever resolved? I'm having a similar error.

`Error opening connection getaddrinfo ENOTFOUND`

[2022-06-04 03:14] tschaffter opened #906 "Cannot activate the 'SQLTools MySQL/MariaDB' extension because it depends on the 'SQLTools' extension, which is not installed. Would you like to install the extension and reload the window?"
**Describe the bug**
See issue description [here](https://github.com/Sage-Bionetworks/challenge-registry/issues/277).

**To Reproduce**
The steps are described in the above issue.

**Expected behavior**
The error message should not appear and the extension `SQLTools MySQL/MariaDB` should be activated when the devcontainer starts for the first time.

**Screenshots**
Screenshots and logs are include

[2022-06-05 13:29] s-wuest commented on #858
This solution worked for me. Huge Kudos!

[2022-06-05 23:30] Nintorac commented on #892
I would almost consider this a bug, I don't tend to keep queries around but usually have some windows open in side-by-side mode and after building a query I have to use my mouse's hyperscroll to go back to the beginning of the tabs list to close to the right (@ScriptPup's workaround will probably help with this however)

It looks to me like the title is being set here https://github.com/mtxr/vscod

[2022-06-07 04:56] KHVBui opened #907 "Freezes when trying to run large SQL script"
- Issue Type: `Bug`
- Extension Name: `sqltools`
- Extension Version: `0.23.0`
- OS Version: `Darwin x64 20.6.0`
- VS Code version: `1.67.2`

[code]

[2022-06-07 07:58] GongT commented on #904
I can install `sqlite3` with npm from commandline, but fail when install by this extension.

And I can't find document about `sqltools.useNodeRuntime`,

[2022-06-08 15:54] haubourg opened #908 "Connect to postgres using pg_service ?"
Hi,
pg_service files allows to define -  like Oracle allows - access to connection strings via alias, which avoids risks of credential leaks and makes thing a lot easier to change environment.

See : https://www.cybertec-postgresql.com/en/pg_service-conf-the-forgotten-config-file/

One example with psql : ` psql service=myalias`

I would love to have this connection option in SQLTools. It is suppo

[2022-06-09 07:17] mathief123 commented on #365
Hi! I'm also not getting the alert, is it fixed yet?

[2022-06-13 06:40] cheasea opened #909 "SQLTools crashes"
**Describe the bug**
When I try to launch VS Code with SQLTools enabled, the plugin crashes.

**Desktop (please complete the following information):**
 - VSCode Version: 1.68.0
 - OS: Windows 7

**Additional context**
Here is my logs.
[code]

[2022-06-16 22:38] StefanPenchev05 opened #910 "Having trouble executing Query"
I am using:
- Operating System: MacOS
- Visual Studio Code [1.68.1 ]
- SQLTools[v0.23.0]
- Driver - MySQL[v0.2.0]

_This is the SQL Code I am trying to run_

[code]

When I try to run the query this error message shows:

**How do I fix this?**

[2022-06-21 12:12] DaveParr commented on #479
I recently came back to try SQLtools because I couldn't remember why I stopped around 2018.

Love everything else that has been done on this project, but this will be likely why it doesn't stick with me again. Sorry :/

[2022-06-23 10:30] gimbo commented on #876
If you look at the extension's page within VSCode (i.e. run the command "View: Show Extensions" to get the extensions list in the left-hand sidebar, and then find SQLTools in there), there's a "Feature Contributions" tab on that page, which shows all of the settings and commands for the extension (all extensions have this, it's a very handy reference).

Under "Commands" there are several relating

[2022-06-23 10:32] gimbo commented on #862
What happens when you run the "Run This File" command provided by the extension? For me that runs all of the queries in the file, one at a time.

[2022-06-23 11:19] gimbo commented on #687
Yes please! At the moment the "Run This File" command is very unpleasant to use because every query gets its own "sub tab", the first one is always the open one (I usually care more about the last one as that's what I'm working on), and there's no way to navigate except with the mouse. This makes iterating on an entire SQL file (e.g. one which starts with teardown/setup, followed by queries) much

[2022-06-23 11:21] gimbo commented on #766
Duplicate of #632?

[2022-06-24 07:05] niccolomineo opened #911 "Open query results in bottom split panel"
At the moment, query results open automatically to the right of the query prompt.

It would be useful to add an option to open the results in a split panel at the bottom of the viewport, in the fashion of many (if not all) the database IDEs.

[2022-06-24 17:41] tkekawa3712 commented on #878
Any resolution?

[2022-06-24 22:06] flatrick commented on #762
just wanted to chime in that I'm having the same issue in case it could be of any help, and I also get the file created at `C:\c%3A\my\local\path\dbfilename`, which should point to some bug while converting the pathway into a string.

@mtxr curious question, why did you want a PR created by the bug-reporter? Correct me if I'm totally wrong here, but I would only create a PR if I had a possible sol

[2022-06-26 11:19] s-wuest commented on #858
Does anybody know now to do this on a mac as well? I can't find the data path for step 2

[2022-06-27 14:20] siddharthlal25 commented on #713
Any updates on the authenticator for SSO?

[2022-06-29 15:27] cnpryer commented on #802
User error.

[2022-06-29 15:27] #802 closed, assigned to nobody

[2022-07-02 15:17] SethFalco commented on #718
While I see where you're coming from, I do think it offers a bad user-experience to override default shortcuts in Visual Studio Code with no warning.

I think it makes sense to either:
1. Change the shortcut.
2. At least use an info message or prompt to ask the user on initial usage if they'd like their shortcuts overridden.

Or at least, anything but doing it silently where the user has to figure

[2022-07-02 16:49] SethFalco opened #912 "Tests connection button always returns success status even if it shouldn't"
**Describe the bug**
When creating a new connection, you can put any value for `Server Address*` and `Port*` and when clicking `TEST CONNECTION`, it will be a successful connection even though it shouldn't be.

Once the connection saved, the UI displays that we're connected but if one actually attempts to execute queries, it'll just throw errors.

[code]

When I save settings with the host, `host_

[2022-07-03 06:07] kartzke commented on #757
Same problem.  I don't use SQLite often, but it was working for me in late 2021 and now I'm getting the endless "Install sqlite3@4.2.0" loop.

[2022-07-06 22:08] niccolomineo commented on #772
I am working in the same scenario as the OP, so please evaluate his suggestion ASAP.

[2022-07-08 12:56] myriamhanna commented on #862
Works perfectly

[2022-07-08 12:56] #862 closed, assigned to nobody

[2022-07-12 17:05] tnightengale commented on #871
@Fargath15 any resolution here? I am encountering the same thing.

[2022-07-13 19:18] dre-bk201 commented on #757
I think have found a solution in regards to NVM linux.
1. Go to respective `vscode-sqltools` directory (in my case `$HOME/.local/share/vscode-sqltools` running Manjaro 5.15) remove everything except `Bookmarks.json`.
2. Open vscode from the terminal `$ code` (I think this works because nvm is registered to export on shell launch idk).
3. Try connecting to SQLite database.
4. Install deps from prom

[2022-07-14 21:19] charlesphil commented on #911
I believe this is a duplicate of https://github.com/mtxr/vscode-sqltools/issues/280. As far as I can tell, there hasn't been any movement on the issue and I'm also keen to have this feature as well.

[2022-07-17 00:45] loynoir opened #914 "[BUG] preserve empty line between SQL blocks"
**Describe the bug**
`linesBetweenQueries: preserve` but empty lines are removed.

**To Reproduce**
[code]

[code]

**Expected behavior**
Empty line preserved when `linesBetweenQueries: preserve`

**Actual behavior**
Empty line removed when `linesBetweenQueries: preserve`

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2022-07-17 00:46] loynoir commented on #914
https://github.com/mtxr/vscode-sqltools/issues/507

[2022-07-20 15:07] philipmat opened #915 "Enable CodeLens integration only for *.session.sql files / Command to enable on demand for other files"
**Is your feature request related to a problem? Please describe.**
Frequently I need to change a SQL file and have no need to execute the lines within. Yet SQLTools appends "Execute" decorators for almost every single line:
![image](https://user-images.githubusercontent.com/709928/180011251-cd3d850c-a5c3-4599-bcc1-e313d4857a9f.png)

**Describe the solution you'd like**
I would like to have a way t

[2022-07-22 13:27] mathroc commented on #795
Looks like this is the same as https://github.com/mtxr/vscode-sqltools/issues/692

[2022-07-22 14:49] gjsjohnmurray commented on #795
Thanks @mathroc. Closing as duplicate.

[2022-07-22 14:49] #795 closed, assigned to nobody

[2022-07-22 21:05] gjsjohnmurray commented on #914
Does https://github.com/mtxr/vscode-sqltools/discussions/887#discussioncomment-3009193 help you?

[2022-07-22 21:14] gjsjohnmurray commented on #907
Which driver? By large do you mean one that returns a lot of rows? Or that selects a small number of records from a large table?

[2022-07-22 21:32] KHVBui commented on #907
I basically had a script that created table and populated it with many lines of values using a lot of lines of "INSERT INTO". The SQL file was 1.9 MB so it's a lot of queries.

When I ran chunks of the script at a time instead of the whole thing at once, it worked.

I attached the SQL script below as a txt file.

[Chinook_PostgreSql.txt](https://github.com/mtxr/vscode-sqltools/files/9172246/Chinoo

[2022-07-22 21:51] gjsjohnmurray commented on #879
Related to #900

[2022-07-22 22:01] gjsjohnmurray opened #918 "Problem running multiple queries in one editor"
[code]

If I add a third line, just a commented empty line ("--"), then I get three tabs, the two first say query returned 0 rows, and the third one returns the one row I am expecting from my select query.

_Originally posted by @ofajardo in https://github.com/mtxr/vscode-sqltools/issues/877#issuecomment-945587138_

[2022-07-22 22:03] gjsjohnmurray commented on #877
Side note split into separate issue.

[2022-07-22 22:03] #877 closed, assigned to nobody

[2022-07-22 22:05] gjsjohnmurray commented on #876
@gimbo thanks for contributing that information.

[2022-07-22 22:05] #876 closed, assigned to nobody

[2022-07-22 22:12] gjsjohnmurray commented on #885
See also #871

[2022-07-22 22:18] gjsjohnmurray commented on #885
Is it possible you also have a workspace-level definition? See #872

[2022-07-22 22:19] gjsjohnmurray commented on #871
Is it possible you also have a workspace-level definition? See #872

[2022-07-22 22:19] gjsjohnmurray commented on #676
Is it possible you also have a workspace-level definition? See #872

[2022-07-22 22:23] gjsjohnmurray commented on #901
Does the advice at https://github.com/mtxr/vscode-sqltools/discussions/887#discussioncomment-3009193 about `linesBetweenQueries` help?

[2022-07-22 22:27] gjsjohnmurray commented on #870
Maybe #872 is relevant. Please check workspace level `settings.json` file as well as user level one.

[2022-07-22 22:28] gjsjohnmurray commented on #868
If you still have this problem please provide more information.

[2022-07-22 22:44] gjsjohnmurray commented on #889
See also #853

[2022-07-22 22:49] gjsjohnmurray commented on #848
Can you provide steps that reproduce the issue?

[2022-07-22 22:50] gjsjohnmurray commented on #854
Can you provide details of how to reproduce the issue?

[2022-07-22 22:55] gjsjohnmurray commented on #844
@Choens thanks for contributing this solution.

[2022-07-22 22:55] #844 closed, assigned to nobody

[2022-07-22 22:58] gjsjohnmurray commented on #839
@SiJiL82 thanks for answering this issue.

[2022-07-22 22:58] #839 closed, assigned to nobody

[2022-07-22 23:01] gjsjohnmurray commented on #837
Please write a DROP TABLE statement and execute it.

[2022-07-22 23:03] gjsjohnmurray commented on #720
@softgandhi this is unlikely to happen.

@adriancuadrado thanks for your suggestions.

[2022-07-22 23:03] #720 closed

[2022-07-22 23:06] gjsjohnmurray commented on #836
Please check that your `settings.json` file contains valid JSON.

[2022-07-22 23:20] gjsjohnmurray commented on #821
If you are still getting this problem please give detailed reproduction steps.

[2022-07-22 23:31] gjsjohnmurray commented on #794
@ferm10n thanks for providing the information.

[2022-07-22 23:31] #794 closed, assigned to nobody

[2022-07-22 23:34] #788 closed, assigned to nobody

[2022-07-22 23:40] gjsjohnmurray commented on #773
I suggest you create and publish a standalone driver extension. Maybe use the source of the embedded driver as a starting point.

[2022-07-22 23:40] #773 closed

[2022-07-22 23:46] gjsjohnmurray commented on #766
Closing as a duplicate - thanks @gimbo

[2022-07-22 23:46] #766 closed

[2022-07-23 00:11] #736 closed

[2022-07-23 00:17] gjsjohnmurray commented on #731
Duplicate of #727

[2022-07-23 00:26] gjsjohnmurray commented on #713
Closing because standalone driver extension exists.

[2022-07-23 00:26] #713 closed

[2022-07-23 00:43] gjsjohnmurray commented on #762
Duplicate of #703

[2022-07-23 00:43] #762 closed

[2022-07-23 00:55] gjsjohnmurray commented on #695
See also #746

[2022-07-23 01:14] gjsjohnmurray commented on #673
Duplicate

[2022-07-23 01:14] #673 closed

[2022-07-23 01:19] gjsjohnmurray commented on #870
Or perhaps https://github.com/mtxr/vscode-sqltools/issues/668#issuecomment-991088634

[2022-07-23 12:51] Dzejkop commented on #901
I imagine that would work, but I don't necessarily want line breaks between all queries. Really I just want to preserve what I have.

[2022-07-24 15:23] adriancuadrado commented on #837
@gjsjohnmurray The whole point of this feature request is to drop a table more easily without wasting time manually writting a DROP TABLE statement. Duh.

[2022-07-24 20:32] gjsjohnmurray commented on #837
@adriancuadrado how much time do you estimate such a button would save you per year, say?

[2022-07-24 21:26] adriancuadrado commented on #837
@gjsjohnmurray It's just a feature request, for fuck sake. Don't implement it if you don't want to. Who the fuck am I to tell you what to do with your project? I just wanted to suggest an idea I thought was worth implementing, but whether you think it's actually worth whichever time and effort it takes to implement it is up to you. Just close this issue if you don't feel like implementing it. Or k

[2022-07-24 22:08] #837 closed, assigned to nobody

[2022-07-25 00:55] zachary-wang12 opened #919 "Can't create connection, with blank page showing"
**Describe the bug**
I'm using vs-code server(recently released by Microsoft) local mode. When I click create connection button, it only shows a blank page with no bottons or messages on it.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install SQLTools extension and SQLTools MySQL/Mariadb extensions
2. Restart the vscode server;
3. Click SQLTools -> "Add new connection" button;
4.

[2022-07-26 18:16] davehowell commented on #907
This is not an issue with SQL Tools, you're going to run into this same issue no matter which SQL client you use. There is no strict limit in postgres for how large the query can be but its a lot of parsing to do and there are a few workarounds or alternatives.

1. Chunk it into a few scripts - as you already tried.
2. use psql and/or `COPY FROM` to do bulk inserts,  see https://dba.stackexchange.

[2022-07-26 18:31] davehowell commented on #874
Community drivers can be created and there are [useful docs to support this](https://vscode-sqltools.mteixeira.dev/contributing/support-new-drivers)  as well as a [github template repository](https://github.com/mtxr/vsc-sqltools-driver-template) to start from.

The README.md also has this message:

It won't use ODBC/JDBC, as a VSCode extension it is node.js/Typescript so would likely need to use t

[2022-07-26 18:42] davehowell opened #920 "Databricks support"
**Is your feature request related to a problem? Please describe.**
No driver for connecting to Databricks SQL

**Describe the solution you'd like**
I would like to work on this - adding this ticket to check noone else is already doing this or if they are to see if efforts can be combined

**Describe alternatives you've considered**
Using DBeaver or other JDBC SQL clients - can't do this for a part

[2022-07-27 09:23] gjsjohnmurray commented on #496
@capsamon did the response from @ariel-bentu help you resolve this issue?

[2022-07-27 13:03] mtxr commented on #889
Dup of #853

[2022-07-27 13:03] #889 closed, assigned to mtxr

[2022-07-28 06:58] nithinpm09 commented on #757
I tried this bro. It still isn't working for me. The same error keeps showing.

[2022-07-28 08:03] jankap commented on #875
Now, that new maintainers seem to be found, is there any chance to work on this topic? I can't use the extension currently, because we're using stored procedures a lot.

[2022-07-28 11:32] danielvy opened #921 "Unable to connect to SQLite database"
Since updating to Node 18.6 SQLTools extension stopped working with SQLite.

When trying to connect to the sqlite database, I get the error _'You need to install "sqlite3@4.2.0" to connect'_. Trying to install the driver by clicking "install" reports a successful installation but the problem persists. There doesn't seem to be any errors in the logs from the installation.

Also tried uninstalling S

[2022-07-28 16:48] 0x3ch0 commented on #757
This error still persist on WSL2 Ubuntu 20.04. The pop up of sqlite3@4.2.0 won't go away.

[2022-07-28 16:55] 0x3ch0 commented on #757
For anyone encountering the issue. The solution that worked for is
`$HOME/.local/share/vscode-sqltools` delete all files except the `Bookmarks.json` and then close the uninstall the SQLTools SQLite driver extension then reinstall it. And open your SQLite database again. It's weird it just work like that for me.

[2022-07-28 17:03] nithinpm09 commented on #757
This worked like magic. Thanks a lot bro.

[2022-07-28 17:07] 0x3ch0 commented on #757
Glad it also worked for you mate cheers!

[2022-07-28 19:30] gjsjohnmurray commented on #921
See also #858

[2022-07-28 19:31] gjsjohnmurray commented on #904
See also #858

[2022-07-29 10:53] gjsjohnmurray opened #924 "Build failures - has CODECOV_TOKEN expired?"
See https://github.com/mtxr/vscode-sqltools/runs/7577287610

[2022-07-30 21:25] gjsjohnmurray commented on #906
See https://github.com/microsoft/vscode/issues/149309

[2022-07-31 14:42] Lewiscowles1986 opened #925 "UTF8 mysql"
**Describe the bug**

The plugin struggles with `utf8mb4` encoded fields, even if the database is correctly setup.

I Verified it is the plugin, by connecting using command-line `mysql-client-core-8.0` (ubuntu package name), and executing the same query.

**To Reproduce**
Steps to reproduce the behavior:
1. Install this plugin in vscode
2. Ensure you have a database you can connect to
3. Run the f

[2022-07-31 15:05] Lewiscowles1986 commented on #925
Looks like you are using npm package `mysql`. Here is a helpful link to it's documentation about collation, which confusingly (mysql specific) `utf` is 3-byte utf8 not 4-byte utf8.

[npmjs mysql package connection `charset` option](https://www.npmjs.com/package/mysql#connection-flags:~:text=charset%3A%20The%20charset%20for%20the%20connection.%20This%20is%20called%20%22collation%22%20in%20the%20SQL

[2022-07-31 15:21] Lewiscowles1986 commented on #925
Interestingly, although `charset` does fix the SQL `INSERT` statement, it does not fix the view of the table. For now would you be open to a literal one-liner? I'll open it anyway.

Update, it did eventually fix the table. Unsure why it took a while to show.
![Screenshot from 2022-07-31 16-29-10](https://user-images.githubusercontent.com/2605791/182033701-51b4411d-8faa-4317-9e34-ea6fc77ab7ca.png)

[2022-07-31 15:32] gjsjohnmurray commented on #925
Please use the example at https://github.com/mtxr/vscode-sqltools/issues/491#issuecomment-628091743 to add a `charset` property with the correct value to the `mysqlOptions` object property of your connection definition.

[2022-07-31 15:42] Lewiscowles1986 commented on #925
Hi, thanks for responding on a weekend.

Unfortunately, you've linked an issue 2.5 years old, still open, which hasn't clarified where or what to add. I did notice there was some pairing file which defines user configurable options.

As this field is not presently user configurable, and should not affect viewing (or interacting with) utf8 3-byte data-sets, are we sure we need to go through all tha

[2022-08-01 10:24] mtxr commented on #853
The page you are referring to is now fixed. Although, I get your point. Documentation is something very important, but in the begging most of the extension install steps were by design added through the extension workflow flow. Not sure if you got to see the extension settings page that got more field types supported even before vscode team added full support to its own JSON schema on vscode setti

[2022-08-01 10:25] #853 closed, assigned to mtxr

[2022-08-01 10:39] gjsjohnmurray commented on #925
In the JSON where your connection is defined, find the `"driver": "MySQL"` line and add a `mysqlOptions` property after it to get the following:

[code]

With this in place the published driver should have the same behaviour as you are proposing in your PR.

Another tactic with the current published driver is to run this statement immediately after connection:
[code]

I am concerned that by changi

[2022-08-01 11:41] gjsjohnmurray opened #927 "Be an AuthenticationProvider so connection passwords can be held in keystore"
Connection passwords can either be stored as plaintext in the connection definition or else be prompted for every time you connect.

Become an [AuthenticationProvider](https://code.visualstudio.com/api/references/vscode-api#AuthenticationProvider) that can store passwords in the workstation keystore/keychain. This API arrived in [VS Code 1.54](https://code.visualstudio.com/updates/v1_54#_authentic

[2022-08-01 11:42] gjsjohnmurray commented on #452
Closing in favour of #927

[2022-08-01 11:42] #452 closed

[2022-08-01 11:43] gjsjohnmurray commented on #479
Closing in favour of #927

[2022-08-01 11:43] #479 closed

[2022-08-01 11:45] gjsjohnmurray commented on #210
Closing in favour of #927

[2022-08-01 11:45] #210 closed

[2022-08-01 14:14] lukaso opened #928 "Extension causes high cpu load"
I simply have sqltools installed, and because of that each of my vscode windows is using about 30% CPU. I am not even connected to an SQL database.

Even when not running anything, sqltools remains loaded (no other extensions are loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Install sqltools
2. run vscode

**Expected behavior**
I expect vscode to use minimal resources when running.

[2022-08-01 14:36] kantum commented on #680
Any new on this?

[2022-08-01 14:59] gjsjohnmurray commented on #928
The current version of the extension activates as soon as VS Code starts up. In future it may be possible to change this so it only activates when first needed by a running VS Code instance. But I wouldn't expect it to be doing any CPU-intensive work most of the time.

On your first `code --status` the extension host was also being used by `streetsidesoftware.code-spell-checker-2.3.4`. Do you also

[2022-08-01 17:03] gjsjohnmurray opened #930 "Activate extensions less eagerly"
Currently the core extension and the bundled driver extensions all include `*` in their set of [`activationEvents`](https://code.visualstudio.com/api/references/activation-events).

They would be better VS Code citizens if they only activated when being used for the first time.

[2022-08-01 17:19] gjsjohnmurray commented on #924
Still seems to be broken. See https://github.com/mtxr/vscode-sqltools/actions/runs/2776548495

[2022-08-01 17:27] gjsjohnmurray commented on #930
The four bundled drivers currently have this:

[code]

However the `onCommand` event doesn't yet support wildcards. See https://github.com/microsoft/vscode/issues/134373

[2022-08-01 17:28] gjsjohnmurray commented on #928
I opened #930 for activating less eagerly.

[2022-08-01 21:26] stuartstein777 commented on #921
I have the same problem on Ubuntu.

[2022-08-02 16:11] lukaso commented on #928
Sorry, I didn't notice that. The problem went away when I uninstalled SQLTools and reinstalled it again (disabling SQLTools and reenabling did not do anything).

I now no longer can reproduce the problem.

[2022-08-02 16:14] gjsjohnmurray commented on #928
Thanks for the update. Closing the issue. If it happens again please open a new one.

[2022-08-02 16:14] #928 closed, assigned to nobody

[2022-08-03 00:34] mtxr commented on #924
https://github.com/mtxr/vscode-sqltools/actions/workflows/test-formatter.yml @gjsjohnmurray newer builds are working fine apparently.

I see no issue when I go to the actions page. the link you shared is from a PR that had a outdated branch. the formatter token was renamed to CODECOV_TOKEN_FORMATTER, so old PRs might still fail :/. newer will work just fine

[2022-08-04 03:27] GKilm opened #932 "How to show mysql's meta database, like `information_schema`?"
How to show mysql's meta database, like `information_schema`?

If there is not  the feature , please make it.

[2022-08-04 07:00] Lewiscowles1986 commented on #925
Sorry, didn't see this until just now. I'll try to use this tonight maybe, see if it can work. Anything that avoids is good for me.

If this works without a PR 🏆 probably worth documenting for people, but very much appreciate your time and patience on this.

[2022-08-04 09:27] gjsjohnmurray opened #933 "Merged update to documentation hasn't been published"
PR #922 added a new page named Testing to the documentation. The PR was merged several days ago but the new page hasn't yet appeared under the Contributing section at https://vscode-sqltools.mteixeira.dev/

I had understood that the public doc site got updated from the repo once a day.

[2022-08-04 11:59] VolpiGiuliano commented on #655
Same issue, and it always shows this message
<img width="932" alt="Screenshot 2022-08-04 135902" src="https://user-images.githubusercontent.com/69405583/182841807-479003b5-9e84-45c5-bda6-d555f928cc15.png">

[2022-08-04 14:20] gjsjohnmurray commented on #932
The driver explicitly excludes some databases from the it displays in the connection manager:

- information_schema
- performance_schema
- sys
- mysql

A future enhancement could change this. Meanwhile you can run your own queries on tables in those databases.

[2022-08-04 14:30] gjsjohnmurray commented on #924
@mtxr they've only been working because I created https://github.com/mtxr/vscode-sqltools/pull/929 to comment out the upload to codecov again, I got @george-james-software to approve it. Then I merged it to dev, then merged dev into a dependabot PR, approved it, used `gh api` to manually set the `build (10.x)` status check to `success`, then merged the PR. Repeated that cycle lots of times until a

[2022-08-04 14:45] auduny commented on #868
I have the same problem, same version of extension, but running on OS X on M1 arch. running agains a mysqldatabase

I get a

`Request connection/SaveResultsRequest failed with message: Cannot destructure property 'results' of '(intermediate value)' as it is undefined.`

When i try to export or open to cvs or json

It seems to be related to issue #832 with pull-request https://github.com/mtxr/vscod

[2022-08-04 16:16] gjsjohnmurray commented on #655
@RagionierBolo yours looks more like #668

[2022-08-06 07:22] sivaramasubramanian commented on #680
I have created PR #935 to fix this issue.
@mtxr Please review and merge it.

[2022-08-07 09:00] #911 closed, assigned to nobody

[2022-08-09 13:17] idantr opened #937 "This repo is missing latest release 0.23.0 and vsix's"
**Describe the bug**
This repo is missing latest release 0.23.0
I was able to download 0.23.0.vsix file from vscode marketplace and https://open-vsx.org/api/mtxr/sqltools/0.23.0/file/mtxr.sqltools-0.23.0.vsix
can this release please be added with links to all the updated vsix's including the drivers

**Expected behavior**
This repos should include all the release versions and artifacts

**Screensh

[2022-08-10 08:39] lionslair commented on #395
+1

[2022-08-10 13:43] gjsjohnmurray commented on #937
It may be too late to create a release record in GitHub for the exact commit at which @mtxr built and released 0.23 and the bundled extensions. We plan to record the next release here though.

Please help us understand why you want the VSIX artifacts attached to the release record here in addition to being published on Marketplace.

[2022-08-10 13:43] gjsjohnmurray commented on #933
@mtxr please investigate.

[2022-08-10 13:48] gjsjohnmurray commented on #395
How about using https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh and connecting VS Code over SSH to your remote server?

[2022-08-10 13:53] gjsjohnmurray commented on #925
@Lewiscowles1986 were you able to try my suggestion?

[2022-08-10 15:27] gjsjohnmurray commented on #714
This may have been intentional as a way for the user to discover all the databases they have access to. In PR #938 I am taking a different approach for the MySQL driver, promoting the database specified in the connection to the top of the list. That PR also allows the user to access one of the the meta-databases by naming it in the connection spec.

@mikes-gh @bherbruck do you think that approach

[2022-08-10 16:19] gjsjohnmurray commented on #937
I have created https://github.com/mtxr/vscode-sqltools/releases/tag/v0.23.0

[2022-08-10 16:19] #937 closed, assigned to nobody

[2022-08-10 20:39] kc-salazar commented on #592
This is closed so I assume the devs consider it a feature rather than an issue. Why is this a default? It is disruptive, not a value-add. Shading all the SQL, making it appear to be actively selected, is nonsensical.

[2022-08-10 21:50] gjsjohnmurray commented on #592
@kc-bonilla I guess it is intended to be useful when your document contains multiple statements separated by semicolons.

As detailed above, if you don't want it please change your `sqltools.highlightQuery` setting. Changing the default value of a setting is potentially disruptive for a lot of people.

[2022-08-10 21:54] gjsjohnmurray commented on #592
@klukiyan these are instances of a feature VS Code calls code lenses. If you want to prevent them from appearing in files for which the language has been set to `sql`, edit the `sqltools.codelensLanguages` setting and remove the `sql` entry from its array.

**Update**: after changing this setting, run the `Developer: Reload Window` command to refresh the appearance of open documents.

[2022-08-11 11:23] #803 closed, assigned to nobody

[2022-08-11 11:43] #680 closed

[2022-08-11 12:29] klukiyan commented on #592
@gjsjohnmurray . this thread is dead since long time ago.
I abandoned this extension because after some research I discovered that it's the "guilty" extension that freezes the sql user snippets.
Without it they pop-up immediately, with this extension enabled it thinks for 1-3 seconds even on a very powerful PC.
I couldn't find a solution to it, so I switched to using another extension.

[2022-08-11 16:17] gjsjohnmurray commented on #915
Are you certain that the "⏯️ Execute" codelens is coming from the SQLTools extension? I've never seen it, nor can I find source code that's creating it.

[2022-08-11 16:34] gjsjohnmurray commented on #592
@klukiyan thanks for the update.

[2022-08-11 16:41] philipmat commented on #915
You're absolutely right, @gjsjohnmurray  - it did come from a different extension ("cweijan.vscode-redis-client").

Thank you for pointing that out.

[2022-08-11 16:41] #915 closed, assigned to nobody

[2022-08-12 00:57] kc-salazar commented on #592
@gjsjohnmurray doubtful. A default formatting that's nearly indiscernible from text selection? And not just the line or the block, but the entire file. It's not a default in the other 200+ common extensions affecting the editor, which tells me people don't want it.

[2022-08-12 07:33] gjsjohnmurray commented on #592
@kc-bonilla I don't understand what you mean by "the entire file". Here's what I get when I click on the word CREATE on line 8:

![image](https://user-images.githubusercontent.com/6726799/184306687-39f6ade0-84e0-4812-b5a3-813c800ec2d1.png)

[2022-08-12 18:40] gjsjohnmurray opened #942 "GH workflow triggered on release is failing"
https://github.com/mtxr/vscode-sqltools/blob/6eaa1c266a33ef6916e5263081f781326d105d4d/.github/workflows/upload-release-assets.yml#L40

That file was deleted in this commit:

https://github.com/mtxr/vscode-sqltools/commit/c4b163886d245c680efb630c5ab8125de8ce5c0c

[2022-08-12 18:47] gjsjohnmurray commented on #942
Log files of example failed run
[logs_2486.zip](https://github.com/mtxr/vscode-sqltools/files/9329229/logs_2486.zip)

[2022-08-12 21:09] Lewiscowles1986 commented on #925
I was, it did not work. But perhaps I misunderstood. I re-downloaded the plugin (to remove any edits) and followed the guidance to add to `"charset": "utf8mb4_general_ci"`. I Closed VS-Code and re-opened, and then connected.

[2022-08-12 21:09] Lewiscowles1986 commented on #925
The command to set the charset seems to not work at all, but then compound commands don't seem to be working either. I've switched to DBeaver instead.

[2022-08-12 21:32] gjsjohnmurray commented on #925
Thanks for testing anyway. Since you're no longer using the extension I'm closing this.

[2022-08-12 21:32] #925 closed, assigned to nobody

[2022-08-13 02:54] gjsjohnmurray commented on #906
Let's hope that https://github.com/microsoft/vscode/pull/150333/files gets approved and merged in time for the next VS Code release.

[2022-08-13 03:36] gjsjohnmurray commented on #896
We are pleased to announce the first new release since we became maintainers.

https://github.com/mtxr/vscode-sqltools/releases/tag/v0.24.0

We hope to get the new versions of the extensions published on Marketplace and Open VSX soon. Until that happens you can download them from the link above and drop the VSIX files individually onto the Extensions view of VS Code.

[2022-08-13 03:42] gjsjohnmurray commented on #930
Duplicate of #886

[2022-08-13 03:42] #930 closed, assigned to gjsjohnmurray

[2022-08-13 03:55] gjsjohnmurray commented on #865
@caesarsamsi are you still interested in doing this? The project is now open for PRs again. Documentation source is in .mdx files under the /docs section of the repo. Another idea would be to leverage VS Code's walkthroughs[walkthroughs](https://code.visualstudio.com/api/ux-guidelines/walkthroughs)  feature.

[2022-08-13 03:57] gjsjohnmurray commented on #884
See also #864

[2022-08-13 04:03] gjsjohnmurray commented on #893
See also #764

[2022-08-13 04:07] gjsjohnmurray commented on #836
@leepatrick-goop if you post more information we can reopen this.

[2022-08-13 04:07] #836 closed, assigned to nobody

[2022-08-13 04:08] #821 closed, assigned to nobody

[2022-08-13 04:13] gjsjohnmurray commented on #753
Does https://github.com/mtxr/vscode-sqltools/issues/925#issuecomment-1201026001 help?

[2022-08-13 04:25] gjsjohnmurray commented on #738
See also https://github.com/mtxr/vscode-sqltools/issues/703#issuecomment-698754168

[2022-08-13 04:35] gjsjohnmurray commented on #723
See also #651

[2022-08-13 14:21] marknefedov opened #943 "Syntax validation, error highlighting"
**Is your feature request related to a problem? Please describe.**
Syntax validation and error highlighting.

**Describe the solution you'd like**
Validate SQL statements with or without db connection against existing schema.

**Describe alternatives you've considered**
[SQL language server](https://github.com/joe-re/sql-language-server) can be used as staring point.

[2022-08-14 11:57] idantr opened #944 "SQLTools not supported in vscode for web"
**Is your feature request related to a problem? Please describe.**
Microsoft released vscode framework in web : https://vscode.dev/

**Describe the solution you'd like**
Currently sqltools is not working on this new platform
I am also trying to implement sqltools with sqllite support(driver) in vscode for web and it is not working for me

**Describe alternatives you've considered**
Currently i am

[2022-08-14 23:03] mtxr commented on #942
I need to revisit this guy. I believe things have changed here since the last release. I'll keep you posted

[2022-08-14 23:16] mtxr commented on #933
Fixed

[2022-08-14 23:16] #933 closed, assigned to mtxr

[2022-08-15 19:54] #910 closed, assigned to nobody

[2022-08-17 16:17] alan-hma commented on #592
![image](https://user-images.githubusercontent.com/97567852/185187555-b1b6a96e-d470-42e2-bd88-e7616cbcc464.png)

When I double-click to select some text, it changes to:

![image](https://user-images.githubusercontent.com/97567852/185191076-b958d8ad-1139-4a1f-97d0-133958671faf.png)

I am uncertain why any user would want their code to constantly look (incorrectly) like selected text as a default.

[2022-08-17 16:25] gjsjohnmurray commented on #592
@alan-hma did you try the suggestion about turning  the feature off?

![image](https://user-images.githubusercontent.com/6726799/185192405-4ad23caf-409f-4701-a75b-39dab2903f55.png)

I think your code is getting so much highlighted because you don't have semicolons at the end of your statements.

[2022-08-17 16:31] alan-hma commented on #592
Sorry @gjsjohnmurray, had to move on and uninstalled the extension.

I'm dealing with a lot of legacy code support, so minimal changes are the goal on my end.

[2022-08-18 13:02] idantr commented on #944
@mtxr can someone look at the above request, we would like to use this opensource in out web product but it is not working in it's latest version

[2022-08-18 20:51] gjsjohnmurray commented on #944
@idantr having reviewed the information [here](https://code.visualstudio.com/api/extension-guides/web-extensions#migrate-extension-with-code) I don't think it will be possible to achieve this without major re-engineering. In particular, the SQLite driver uses the [sqlite3](https://www.npmjs.com/package/sqlite3) package which is written in C++. The VS Code browser runtime environment only supports

[2022-08-19 19:52] ferm10n commented on #846
Came here looking for the same thing! This would be fantastic to have supported

[2022-08-19 19:56] ferm10n commented on #846
Taking a peek at the vscode devtools reveals that the full error details are accessible from this extension
![image](https://user-images.githubusercontent.com/7970987/185697195-6751e427-c840-40c9-9144-51f14aecf497.png)

All that would be needed is to print it all out. I think that would be a better approach than trying to run `psql`, which could be awkward for remote vscode-server setups.

[2022-08-21 05:47] mtxr commented on #714
@gjsjohnmurray most of the DB tools I see they list all databases. The idea of having a target database is meant just for having default queries targeting that database, that doesnt mean the database should not be seen,

In this case, I liked your proposal on #938 . I believe the majority of the users uses other DBs eventually.

In this scenario, since you will display the target DB at the top, I

[2022-08-22 10:42] gjsjohnmurray commented on #924
Hmm, still not working for Formatter Test & Build actions triggered by my pushes.

For example:

https://github.com/mtxr/vscode-sqltools/runs/7949447061?check_suite_focus=true

Details:

![image](https://user-images.githubusercontent.com/6726799/185901082-fcacbbf7-a866-4653-b43c-641e47fb31a5.png)

Compare with this one triggered by a push by @mtxr:

https://github.com/mtxr/vscode-sqltools/runs/793

[2022-08-22 10:54] gjsjohnmurray commented on #924
@mtxr maybe the test-formatter.yml action should only do its codecov/codecov-action@v1.0.2 step on pull_request and not on push to the dev branch, because in the latter case it seems the action job has fewer permissions (perhaps because it is operating on files that may have been pushed from a fork so shouldn't yet be trusted).

[2022-08-23 15:18] zachary-wang12 commented on #944
Maybe we are meeting the same issue #919

[2022-08-23 16:37] gjsjohnmurray commented on #919
Does the problem also happen after you update to the new releases of the extensions?

[2022-08-24 15:16] przemek-oc commented on #868
+1
`[2022-08-24 17:12:23.870] [exthost] [error] Error: Request connection/SaveResultsRequest failed with message: Cannot destructure property 'results' of '(intermediate value)' as it is undefined.
	at c:\Users\username\.vscode\extensions\mtxr.sqltools-0.24.0\dist\extension.js:2:114042
	at c:\Users\username\.vscode\extensions\mtxr.sqltools-0.24.0\dist\extension.js:2:114449
	at Immediate.<anonymous

[2022-08-24 19:46] joncard1 opened #949 "Export issue"
**Describe the bug**
This is something that I have been able to do in the past, so I assume it was introduced in the latest update. When I perform a query (the same query I have previously saved in a .sql file and was able to export), I get a result and there is a button at the bottom of the window that says, "Export". When I click this button, there is no response. I have looked in the logs, and

[2022-08-24 19:58] joncard1 commented on #949
I actually got the results I was looking for by clicking "Open"; I had thought that was to open a file that had results in it. Perhaps this bug is that it's not clear to me the difference between "Open" and "Export" at this point.

[2022-08-26 13:35] zachary-wang12 commented on #919
Still the same issue

[2022-08-28 05:10] Faiamfine commented on #402
I got connect ECONNREFUSED 127.0.0.1:33060

[2022-08-28 12:12] #942 closed, assigned to mtxr

[2022-08-28 12:13] #924 closed, assigned to mtxr

[2022-08-29 07:37] 0xd3bu9 commented on #723
Did this have a solution? Has anyone successfully removed that warning?
I have problems even with the code
`CREATE TABLE ...`
But the table was created successfully, so what does that mean?

[2022-08-29 19:05] incansvl commented on #723
I believe it means the code is running correctly but the extension is failing to parse the data being returned by the server correctly. Unfortunately I don't see any responses from the developer here so it seems this extension has probably been abandoned.

[2022-08-30 07:32] 0xd3bu9 commented on #723
Ops, very sad indeed :(. I'll probably remove this extension. I think everyone wants to know if this is working correctly.
The question remains open until the development team updates. A long while more...

[2022-08-31 10:38] gjsjohnmurray commented on #723
It hasn't been abandoned. I am one of the new maintainers, and the original developer is still involved as far as his day job and non-work life permits.

[2022-08-31 14:40] gjsjohnmurray commented on #651
Will be fixed once #950 merges.

[2022-09-01 11:51] gjsjohnmurray commented on #932
Resolved by #938 (merged but not yet published)

[2022-09-01 11:51] #932 closed, assigned to gjsjohnmurray

[2022-09-01 14:06] gjsjohnmurray commented on #912
Also #860

[2022-09-01 16:20] #832 closed, assigned to nobody

[2022-09-01 17:38] gjsjohnmurray commented on #949
Prior to being fixed in #880 the Export button wasn't wired up to do anything.

The fix will appear in the next release.

[2022-09-01 17:38] #949 closed, assigned to nobody

[2022-09-01 18:13] #768 closed

[2022-09-01 21:29] gjsjohnmurray commented on #909
Does the problem still happen after you update to the latest SQLTools (0.24.0)?

I see you are using Windows 7. The final release of VS Code for that platform is 1.70.3. The latest VS Code (1.71) is not compatible with Windows 7.

[2022-09-01 21:47] gjsjohnmurray commented on #902
Does this problem still happen with the latest SQLTools (0.24.0) and the latest VS Code (1.71)?

If so, does it happen as soon as you start VS Code? Or when you try to connect? Or when defining a connection? If connection-related, which driver are you using?

[2022-09-02 04:30] gjsjohnmurray commented on #906
New PR to watch is https://github.com/microsoft/vscode/pull/159822

[2022-09-02 05:19] gjsjohnmurray commented on #751
Code has changed in this area. Do you still experience the problem with the latest version, 0.24.0?

[2022-09-02 05:26] gjsjohnmurray commented on #875
See also #728

[2022-09-02 05:38] gjsjohnmurray commented on #690
Should be fixed by #791

[2022-09-02 05:42] gjsjohnmurray commented on #679
Does the problem still occur with the current release?

[2022-09-02 05:51] #651 closed

[2022-09-02 05:58] gjsjohnmurray commented on #518
This is not supported.

[2022-09-02 05:58] #518 closed

[2022-09-02 06:00] gjsjohnmurray commented on #510
If the problem still occurs please report it to the driver extension authors.

[2022-09-02 06:00] #510 closed

[2022-09-02 06:02] #496 closed

[2022-09-02 06:05] gjsjohnmurray commented on #465
CSV and JSON formats are already available.

[2022-09-02 06:05] #465 closed

[2022-09-02 15:12] cheasea commented on #909
Yes, the problem still happens on the version 0.24.0

[2022-09-02 15:30] gjsjohnmurray commented on #909
Thanks for checking. I have some more questions:

- Is your Windows 7 32-bit or 64-bit? The info copied from VS Code's Help\About dialog will show us this.
- Does the crash also happen with VS Code 1.70.3?
- Does it happen as soon as you start VS Code after installing the SQLTools extension?
- Does it happen if you disable all other extensions?
- If it happens only when connecting to a database, w

[2022-09-02 16:02] gjsjohnmurray commented on #912
Fix has been merged.

[2022-09-02 16:02] #912 closed, assigned to gjsjohnmurray

[2022-09-02 16:02] gjsjohnmurray commented on #860
Fix has been merged.

[2022-09-02 16:02] #860 closed, assigned to gjsjohnmurray

[2022-09-02 16:05] gjsjohnmurray commented on #723
Fix has been merged.

[2022-09-02 16:05] #723 closed

[2022-09-04 12:53] idantr commented on #858
We too have this issue, and updating C:\Users\USERNAME\.vscode\extensions\mtxr.sqltools-driver-sqlite-0.2.0\out\ls\plugin.js manually is a currently a workaround, is a more permanent solution planned?

[2022-09-05 01:27] mtxr commented on #858
have anyone used better-sqlite3 library before? it seems to be a good alternative for the sqlite extension. I'm considering to give it a try for the sqlite driver if it helps on the installation workflow. This gyp issues is always trouble..

[2022-09-05 01:46] mtxr commented on #904
Closing in favor of #858 . Seems to be the same issue. @TKDMzq feel free to re-open if you disagree

[2022-09-05 01:46] #904 closed, assigned to nobody

[2022-09-05 01:47] mtxr commented on #921
@danielvy can you provide more information? have you checked the extension output to see if it looks like #858 ?

[2022-09-05 03:50] gjsjohnmurray commented on #866
Does the problem still occur with the current release of the SQLTools extension and driver?

[2022-09-05 03:52] gjsjohnmurray commented on #854
No response from OP.

[2022-09-05 03:52] #854 closed, assigned to nobody

[2022-09-05 03:55] gjsjohnmurray commented on #840
Maybe a duplicate of #906

[2022-09-05 03:57] gjsjohnmurray commented on #840
Closing as duplicate. @wonboyn if you disagree please reopen it.

[2022-09-05 03:57] #840 closed, assigned to nobody

[2022-09-05 03:59] gjsjohnmurray commented on #797
Please try it and report any issues you encounter.

[2022-09-05 03:59] #797 closed, assigned to nobody

[2022-09-05 04:02] gjsjohnmurray commented on #835
@cherub-i does the problem also happen after you update to the current release of VS Code and the SQLTools extension and driver?

[2022-09-05 04:16] gjsjohnmurray commented on #767
AFAIK the PostgreSQL / Redshift driver from this repo doesn't support connecting with ODBC.

[2022-09-05 04:16] #767 closed

[2022-09-05 04:27] gjsjohnmurray commented on #604
Closing with recommendation to use the dedicated Redshift driver from https://marketplace.visualstudio.com/items?itemName=kj.sqltools-driver-redshift

[2022-09-05 04:27] #604 closed

[2022-09-05 04:30] gjsjohnmurray commented on #712
PR merged. Feature will be in next release.

[2022-09-05 04:30] #712 closed

[2022-09-05 04:33] gjsjohnmurray commented on #704
<strike>Please try using the dedicated Redshift driver from https://marketplace.visualstudio.com/items?itemName=kj.sqltools-driver-redshift and report back here. </strike>

Ignore that. You are asking about MariaDB whereas Redshift is based on PostgreSQL.

[2022-09-05 04:40] gjsjohnmurray commented on #688
Closing as stale. Please reopen if desired.

[2022-09-05 04:40] #688 closed

[2022-09-05 05:06] gjsjohnmurray commented on #450
Closing because no response to request for more information.

[2022-09-05 05:06] #450 closed

[2022-09-05 05:09] gjsjohnmurray commented on #362
Seems to be a duplicate of #361

[2022-09-05 05:09] #362 closed

[2022-09-05 05:18] gjsjohnmurray commented on #701
Duplicate of #322

[2022-09-05 05:18] #701 closed

[2022-09-05 08:30] gjsjohnmurray commented on #906
Fixed in today's Insiders
[code]

[2022-09-05 08:30] #906 closed, assigned to nobody

[2022-09-05 13:39] danielvy commented on #921
@mtxr

Not sure which additional information to provide.

As I said, there's prompt to install "sqlite3@4.2.0". When proceeding, a terminal opens for a brief moment that attempts to install the driver. The npm command appears to be successful from what I can see (it closes pretty quickly). Then when trying to connect again, it still requires to install "sqlite3@4.2.0".

The only relevant thing I c

[2022-09-05 15:02] gjsjohnmurray commented on #921
@danielvy please download the ZIP from the link it https://github.com/mtxr/vscode-sqltools/pull/953#issuecomment-1237171674 then unzip it and install it into VS Code. One way to install is to drag/drop it onto the Extensions view.

Then let us know if you can connect.

[2022-09-05 15:44] gjsjohnmurray commented on #858
@idantr please use the link at https://github.com/mtxr/vscode-sqltools/pull/953#issuecomment-1237171674 to download a zip containing a pre-release version of the SQLite driver VSIX. Install it (e.g. drag/drop into the Extension view of VS Code), then reload VS Code and retry your connection.

[2022-09-05 15:53] gjsjohnmurray commented on #892
@Nintorac that change only shipped last month (August) in 0.24.0. Please update and confirm.

[2022-09-05 16:04] gjsjohnmurray commented on #892
See also #635

[2022-09-06 05:13] idantr commented on #944
@gjsjohnmurray sorry,
you are correct our setup is different then vscode web, we are using something more similar to
vscode on "code spaces" and we have other issues with this opens source probably related to how we setup the environment variables
i am closing this as irrelevant

[2022-09-06 05:13] #944 closed, assigned to nobody

[2022-09-06 06:36] gjsjohnmurray commented on #920
How is your driver development going? If / when it is published let us know and we'll add a link to it in the README and online documentation of the main extension.

[2022-09-06 07:38] #753 closed

[2022-09-06 12:17] danielvy commented on #921
@gjsjohnmurray

Still can't connect.

Now I get a prompt to upgrade to "sqlite3@5.0.10", after selecting "upgrade now" it installs sqlite but next time I try to connect I still get the prompt.

One thing I noticed is that the `npm i sqlite3@5.0.10` is being executed in `~/Library/Application Support/<project name>`, so the sqlite package in installed under `~/Library/Application Support/<project n

[2022-09-07 14:51] gjsjohnmurray commented on #921
@danielvy what exactly is the string that you represented above as `<project name>`?

Through reading source code and testing on Linux I would expect it to be `vscode-sqltools`, but maybe on macOS it is something else. And are you seeing it vary depend on what folder you opened in VS Code?

[2022-09-07 15:10] gjsjohnmurray commented on #402
@Faiamfine are you certain that the config which creates your Docker container connects your host workstation's port 33060 to the same port inside the container? And that MySQL in the container is listening on that port? If you are, please open a fresh issue on GitHub with details of your setup.

[2022-09-07 15:40] #892 closed, assigned to nobody

[2022-09-07 15:40] #635 closed

[2022-09-07 15:50] gjsjohnmurray opened #956 "Remove AWS Redshift from Official Drivers list"
The page at https://vscode-sqltools.mteixeira.dev/src-content-current-drivers first points AWS RedShift users at the official pg driver, then later mentions the community driver.

I think we should drop the first pointer in favour of the second. The dedicated RedShift driver is able to deal with issues such as #604.

Also remove it from README of main extension and from keywords in driver.pg/packa

[2022-09-07 16:53] danielvy commented on #921
My bad, I feel silly. I named my test project "vscode-sqltools" so I just assumed it's where the install path is taken from. The path is indeed  `~/Library/Application Support/vscode-sqltools/`. Sorry about that.

I deleted all relevant directories and reinstalled the extensions. Now there's an error when _sqlite3@5.0.10_ is compiled from source, but it doesn't seem to be directly caused by the ex

[2022-09-07 20:53] gjsjohnmurray commented on #921
@danielvy thanks for the extra information. Does your workstation contain Apple silicon (e.g. M1, M2) or is it an Intel one?

[2022-09-08 05:09] mtxr commented on #956
makes perfect sense to me @gjsjohnmurray . let's go for it.

The more we can focus on the extension the best. The community should be the best source to support the drivers since they will have most of its knowledge considering the amount of db types existing out there. Since we already have a PG driver, let's make this one the "official" version from now on. Before we make this official, let's ch

[2022-09-08 05:51] #896 closed, assigned to nobody

[2022-09-08 09:09] cclauss commented on #921
https://github.com/nodejs/node-gyp/pull/2556#issuecomment-1168303313

[2022-09-08 10:29] danielvy commented on #921
Yes, it's a Macbook Pro with M1 chip.

[2022-09-08 10:39] danielvy commented on #921
Even though the installation error is not caused directly by the extension, `vscode-sqltools` still reports a successful installation of `sqlite3`. The terminal window sometimes closed quickly and it's hard to understand what's going on unless someone digs in the `npm` logs. Maybe the extension can detect and report unsuccessful driver install?

Also, the node-gyp bug may or may not be fixed anyti

[2022-09-08 14:03] cclauss commented on #921
Try backslash-space or quotes?
`~/Library/Application\ Support/vscode-sqltools/`
`"~/Library/Application Support/vscode-sqltools/"`

[2022-09-08 15:46] gjsjohnmurray opened #959 "Only try to detect Node path when `sqltools.useNodeRuntime` setting requires this to happen"
Currently done unconditionally:

https://github.com/mtxr/vscode-sqltools/blob/37c6ad09c037d06bcc81441b127275901c3dacd2/packages/extension/src/language-client/client.ts#L93

[2022-09-09 02:54] davehowell commented on #920
@gjsjohnmurray hey thanks for following up on this.

It's in progress https://github.com/davehowell/sqltools-databricks-driver/tree/databricks-driver . I tried to do some async await all for the query execution then realized that queries on a page could be a script with some ordering of execution implied, so backtracked from there to using a _for_ loop. I have the config for the connection string

[2022-09-09 03:12] #848 closed, assigned to nobody

[2022-09-09 03:22] gjsjohnmurray commented on #830
Do you see more if you set a larger value on `SQLTools.results.limit`? Or maybe on the `previewLimit` property of your connection definition?

[2022-09-09 03:27] gjsjohnmurray commented on #799
Are you able to try the community-contributed driver?

https://marketplace.visualstudio.com/items?itemName=kj.sqltools-driver-redshift

[2022-09-09 10:30] gjsjohnmurray commented on #921
@danielvy please try the dev VSIX in the attached zip. It won't solve the problem of sqlite3 failing to build an M1 binary on a path containing spaces, but it should keep the build window open so you can see the command that was run. Then I suggest you run that command (omit the ` && exit(0)` bit) in a temp folder whose path doesn't contain spaces. Assuming it succeeds, move the node_modules folde

[2022-09-09 11:31] mtxr commented on #921
Guys, I’m about to help with the SQLite over the weekend. I was able to install it on my m1 here outside of the extension, I haven’t detected though the difference between the extension and the terminal I was using.

possibly workaround would be install somewhere and move, but I’ll try to get a better steps on  how to do this.

[2022-09-09 11:34] gjsjohnmurray commented on #921
@mtxr glad to hear you've got an m1 to work on. When you installed the sqlite3 package from a terminal was there a space in your path?

[2022-09-09 11:57] danielvy commented on #921
I copied the entire folder from `~/Library/Application Support/vscode-sqltools` to a temp directory, ran `npm i sqlite3@5.0.10` there, sqlite3 was successfully built and installed on my M1, then copied it all back as is.

SQLTools is now able to connect to the database. Will have to do this each time I update node or a new sqlite3 version is required but I can work with this for now.

[2022-09-09 12:06] CyberFoxar commented on #703
On windows, using SQLTools `v0.24.0` and SQLTools SQLite `v0.3.0` I can also confirm that this is an issue.

The new connection wizard wants to use the VSCode variable and it does not work with the tool.

[2022-09-09 15:29] gjsjohnmurray commented on #703
I have reproduced the issue and prepared a fix. I believe the problem only shows on Windows.

[2022-09-09 15:51] gjsjohnmurray commented on #614
Same thing occurs when configuring a connection for the SQLite driver on a remote environment such as a GitHub Codespace.

[2022-09-09 16:28] gjsjohnmurray commented on #614
It happens because the button wraps an `<input type="file" />` element on the form that displays in the WebviewPanel:

https://github.com/mtxr/vscode-sqltools/blob/37c6ad09c037d06bcc81441b127275901c3dacd2/packages/plugins/connection-manager/webview/ui/components/FileInput/index.tsx#L26-L36

[2022-09-09 17:21] gjsjohnmurray commented on #614
The webview probably needs to post a message to the extension to call window.showOpenDialog. When this returns a uri the extension would post to the webview a message conveying the fsPath of the uri.

[2022-09-09 17:37] gjsjohnmurray commented on #920
@davehowell thanks for the update. Looks like you're making great progress. Incorrect width value doesn't ring any bells with me, so I'm pinging @mtxr in case some ring for him,

[2022-09-10 07:00] #870 closed, assigned to nobody

[2022-09-10 07:03] #865 closed, assigned to nobody

[2022-09-10 15:10] gjsjohnmurray commented on #895
Given that Azure Data Studio also reports errors with that query, is your request here that SQLTools should report more details of errors? If so, this is a duplicate of #846

[2022-09-10 17:14] ghost opened #962 "‘DELETE’ does not have an automatic prompt，but ‘CREATE’，‘INSERT’... has"
**Describe the bug**
My English is terrible.
When I enter 'D', "DELETE" is not automatically completed.
When I enter 'C', "CREATE" is automatically completed

**To Reproduce**
Steps to reproduce the behavior:
1. Connect database
2. input sql： d

**Expected behavior**
"DELETE" should be prompted

**Screenshots**
![image](https://user-images.githubusercontent.com/57295339/189494273-5193548d-f3a2-4ab

[2022-09-11 00:45] gjsjohnmurray commented on #962
This is caused by an issue in a component we use:

https://github.com/cloudera/hue/issues/2983

[2022-09-11 00:56] gjsjohnmurray commented on #811
@zing-rsa can you still reproduce this with the latest versions of VS Code and SQLTools?

[2022-09-11 01:02] timeday1102 commented on #962
I see, thank you

[2022-09-11 01:02] ghost commented on #962
I see, thank you

[2022-09-11 03:01] gjsjohnmurray commented on #719
In the current version (0.24.0) the error message also shows in the Results tab immediately below the red X icon.

Closing this issue.

[2022-09-11 03:01] #719 closed

[2022-09-11 03:17] gjsjohnmurray commented on #526
That commands needs to be run from a table node in the connection tree so it knows which table you want an insert statement for, and also to get the column names from that tree.

[2022-09-11 03:17] #526 closed

[2022-09-11 04:42] #798 closed, assigned to nobody

[2022-09-11 05:18] #838 closed, assigned to nobody

[2022-09-11 05:24] #959 closed, assigned to gjsjohnmurray

[2022-09-11 05:52] #703 closed

[2022-09-11 13:30] #903 closed, assigned to nobody

[2022-09-11 21:12] #820 closed, assigned to nobody

[2022-09-11 21:13] #845 closed, assigned to nobody

[2022-09-11 21:46] gjsjohnmurray commented on #902
Maybe related to #505, but we need more information from @ImreC

[2022-09-12 05:35] ImreC commented on #902
This is not related. For me sqltools crashed without any querying. I think it has to do with processing large sql files (for example pg_dump outputs). That completely crashes sqltools. I think there should be a mechanism to recognize large files and stop processing them. Would be difficult for me to reproduce now as I reported this 4 months ago an have not been using sqltools since.

[2022-09-12 10:12] gjsjohnmurray commented on #902
Thanks for the info. I'm going to link this to #907 and close it as a duplicate.

[2022-09-12 10:12] #902 closed, assigned to nobody

[2022-09-12 10:52] cherub-i commented on #835
Hello @gjsjohnmurray, thank you for coming back on this.
In the meanting, the project to which that database belonged, has migrated to a different infrastructure.
I am sorry, but therefore I cannot test that change under the same conditions as when I opened the issue.

[2022-09-12 11:59] gjsjohnmurray commented on #835
Thanks for letting us know. I'll close the issue.

[2022-09-12 11:59] #835 closed, assigned to nobody

[2022-09-14 02:56] #632 closed

[2022-09-14 08:56] daniellockyer commented on #921
@gjsjohnmurray Hey! 👋🏻

I'd love to merge and release M1 binaries but I'm hitting [a blocker](https://github.com/TryGhost/node-sqlite3/pull/1594#issuecomment-1245306227) that is preventing that. If anyone here has any ideas, I'd be glad to hear them 🙂

[2022-09-14 19:59] Anutrix commented on #907
Same issue when I just open any large(25000+ lines) .sql file in VSCode editor.
renderer1.log has:
[code]

VSCode doesn't freeze but all actions like global searching, git features, etc. just don't finish. As if they are waiting for some action to be finished. Making it unusable till restart.

Closing and opening the folder/vscode fixes it until I open the large file again.
Same error is seen in r

[2022-09-15 18:53] xendren opened #971 "New Version 0.25.0 Keeps Crashing"
**Describe the bug**
This morning (9/15/2022) we were working perfectly fine with the extension version 0.24.0, but it automatically updated and requested that I reload the extension.  After updating the latest 0.25.0 version and reloading, the extension is no longer working properly.  I have attempted to uninstall and reinstall the extension many times, but I get the same results.  In the screens

[2022-09-15 19:50] gjsjohnmurray commented on #971
I haven't yet been able to reproduce this. Testing on 64-bit Windows 11 with VS Code 1.71.2 and a workspace in which the only enabled extensions (discounting built-in ones) are SQLTools (0.25.0) and the Snowflake driver (0.4.2).

Your report seems to indicate that you are getting this problem on Windows, Linux and Mac. Is this true? Please give more details about the OS(es) you are seeing the issu

[2022-09-15 19:55] gjsjohnmurray commented on #921
Today's 0.4.0 release of the SQLTools SQLite driver uses a new release of the sqlite3 package (5.1.1) which should be able to download binaries suitable for macOS on ARM64 hardware. I'm closing this but will reopen if told that it doesn't work.

[2022-09-15 19:55] #921 closed, assigned to nobody

[2022-09-15 19:57] gjsjohnmurray commented on #884
Fixed in the 0.4.0 MySQL driver which was published today.

[2022-09-15 19:57] #884 closed, assigned to nobody

[2022-09-15 20:00] gjsjohnmurray commented on #868
Should be fixed in today's releases (0.25.0 main extension, 0.4.0 MySQL and SQLite drivers). If any of you still get these issues after upgrading please report here.

[2022-09-15 20:00] #868 closed, assigned to nobody

[2022-09-15 20:01] gjsjohnmurray commented on #864
Fixed in today's 0.4.0 MySQL driver release.

[2022-09-15 20:01] #864 closed, assigned to nobody

[2022-09-15 20:04] gjsjohnmurray commented on #704
Please update to latest VS Code and extensions, then re-test. If you still have these problems, open a new issue.

[2022-09-15 20:04] #704 closed

[2022-09-15 20:06] gjsjohnmurray commented on #690
Please re-test after updating to 0.25.0 and report back if the problem remains.

[2022-09-15 20:06] #690 closed

[2022-09-15 20:13] xendren commented on #971
Confirm the issue occurred on a Mac running latest MacOS.  Also, confirmed from the same Mac that was remote-ssh extension into an Ubuntu 22.04 server.  Another user confirmed having the same issues on Windows 11.  That Windows user had everything working all morning, and it popped up wanting to reload the UI for the new 0.25.0 version.  After they reloaded the UI, they had the exact same issues.

[2022-09-15 21:22] Stycos opened #972 "Cannot add new connection"
I cannot create a new connection. When I click on the circled locations in VS code there is no response.

![image](https://user-images.githubusercontent.com/17010448/190509915-318747e9-95a0-42fb-967c-70c1cfe1c520.png)

If I use Ctrl+Shift+P then type in "SQLTools Management: Add New Connection" I get the error seen above.

**Expected behavior**
See a list of Drivers

**Desktop:**
 - SQLTools Versi

[2022-09-15 21:55] gjsjohnmurray commented on #972
Please go to the Output view (one way is <kbd>F1</kbd>, start typing "Focus on output" and choose the command). In the dropdown on Output view choose "SQLTools". Use the button by the dropdown to clear the output. Then use Command Palette (F1) to run `Developer: Reload Window`. When the reload has completed, check the SQLTools Output for error information and paste it here.

[2022-09-15 22:11] Stycos commented on #972
I just get the following:

[1663279824883] INFO  (ext): SQLTools is starting
[1663279824901] INFO  (ext): initializing language client...
[1663279824902] INFO  (ext): Detecting node path (if this stalls check Terminal view for the stuck session and kill it)...
    ns: "lc"

[2022-09-15 22:18] gjsjohnmurray commented on #972
Please inster the following line as line 2 of your settings.json file, which you can open by running `Preferences: Open User Settings (JSON)` from Command Palette:

[code]

Save the change, restart VS Code, and see if the problem remains.

[2022-09-15 22:23] Stycos commented on #972
That worked! Thank you!

[2022-09-15 22:38] gjsjohnmurray commented on #971
Please try the suggestion at https://github.com/mtxr/vscode-sqltools/issues/972#issuecomment-1248692174

[2022-09-16 01:34] #972 closed, assigned to nobody

[2022-09-16 03:20] erjenkins29 commented on #971
Not to be vague-- but this new version has crashed my sqltools as well-- I reverted back to 0.24.0 and it worked fine. I'll give a more details in a moment, but basically the project didnt recognize the correct .git, my connection to aws redshift was not displayed, and when trying to add a new connection, the extension didn't respond.  everything looked normal in the .vscode/settings.json -- I'm a

[2022-09-16 03:53] gjsjohnmurray commented on #971
@erjenkins29 please try the setting suggested in the linked comment above and let us know if it fixes 0.25.0

[2022-09-16 05:12] erjenkins29 commented on #971
Hi @gjsjohnmurray -- I can confirm that the suggestion in https://github.com/mtxr/vscode-sqltools/issues/972#issuecomment-1248692174 fixes 0.25.0 in my environment -- thanks for the clear instructions

[2022-09-16 11:26] gjsjohnmurray commented on #972
@Stycos thanks for confirming this as a resolution. We have released 0.25.1 which reverts the default of this setting. It is now `false`, which is how it was in 0.24 and earlier versions. The only official driver that needs the setting to have a different value is the [SQLite](https://vscode-sqltools.mteixeira.dev/driver/sqlite) one.

[2022-09-16 11:48] gjsjohnmurray commented on #971
@xendren we published 0.25.1 today which reverts the default of the `sqltools.useNodeRuntime` setting to `false`, which is what it was in 0.24 and earlier. I'm not certain this will make any difference to your crashes, but please try it.

If 0.25.1 still crashes please temporarily disable all of your SQLTools **driver** extensions and re-check.

[2022-09-16 12:22] simplemind opened #974 "Does the extension provide linting functionalities?"
Hi,
Could you please let me know if the extension has the functionality to highlight errors in SQL code? I could not find an answer within the list of features.
I code in MySQL and I have installed MySQL driver. SQLTools does not prompt any errors and I would like to know if this is because it is not designed to lint SQL code. Or because there is something missing on my end.
Thank you
Karolis

[2022-09-16 13:48] robmv opened #975 "Reduce how many times the Node runtime auto-detected notification is displayed"
**Describe the bug**

Every time VS Code is started the `Node runtime auto-detected. Using /usr/bin/node.` is displayed. This is annoying, the notification bell remain unread until I go and remove the notification.

**To Reproduce**

Steps to reproduce the behavior:
1. Open VS Code with this extension installed.
2. See notification.

**Expected behavior**

I expect the notification to be displayed

[2022-09-16 13:54] gjsjohnmurray commented on #974
No, the extension doesn't yet leverage any of the [Diagnostic](https://code.visualstudio.com/api/references/vscode-api#Diagnostic)-related parts of the VS Code API, which is how extensions contribute to the Problems view, nor [CodeAction](https://code.visualstudio.com/api/references/vscode-api#CodeAction)s which linters typically use to offer fixes.

Interesting idea though...

[2022-09-16 14:08] gjsjohnmurray commented on #975
Please update to 0.25.1 which reinstates the previous default (false) for auto-detection of a Node runtime. Of the four "official" drivers, only the SQLite one needs a Node runtime identified. This is documented [here](https://vscode-sqltools.mteixeira.dev/driver/sqlite).

[2022-09-16 14:12] robmv commented on #975
Thanks for the fast response, solved. I don't use the SQLite driver but if its users haven't said something about the notification being annoying, maybe I am too picky :(

[2022-09-16 14:29] gjsjohnmurray commented on #975
Glad this has helped you. Closing, but will keep your feedback in mind in case others concur.

[2022-09-16 14:29] #975 closed, assigned to gjsjohnmurray

[2022-09-16 15:54] simplemind commented on #974
Thank you for a quick reply. Good to know its an idea worth considering

[2022-09-16 18:15] mingjue8888 opened #976 "Can i get json results when query finished for default open ?"
Can i get json results when query finished for default open ? I don't wanna click the format button for every one query.

[2022-09-16 20:32] xendren commented on #971
Just confirmed that 0.25.1 has corrected the issues, and everything appears to be working fine in al of our environments.

[2022-09-16 20:40] gjsjohnmurray commented on #971
@xendren thanks for that good news. Closing the issue. Sorry for the inconvenience caused.

[2022-09-16 20:40] #971 closed, assigned to gjsjohnmurray

[2022-09-17 11:51] mtxr commented on #974
possibly duplicate of #943

[2022-09-17 13:19] gjsjohnmurray commented on #974
@mtxr I agree. Tagged as duplicate and closed.

[2022-09-17 13:19] #974 closed, assigned to nobody

[2022-09-17 13:51] sivaramasubramanian opened #977 "Formatting a Query with large IN criteria is very slow"
**Describe the bug**
Formatting the [attached SQL Query](https://github.com/mtxr/vscode-sqltools/files/9591817/sample.sql.txt) with SQLTools formatter takes more than 25-30 seconds.
I'm using an M1 Macbook Pro with 16GB RAM so the hardware must not be much of an issue here.

The Query has a large number of values in IN ( ... ) expression (around 5000), when formatted each of these values will be i

[2022-09-17 16:16] sivaramasubramanian commented on #977
I have raised PR #978 with a fix that somewhat improves the performance.

[2022-09-19 15:06] JVT038 opened #983 "None of the buttons do something and an error with detecting node runtime"
**Describe the bug**
When I start vscode, I instantly see this error in my terminal:
[code]
Also, I've navigated to the directory, and turns out the `.node-runtime` file doesn't exist, which is probably why there's an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open vscode
2. See error

**Expected behavior**
I expected the extension to work normally, not show this error

**Desktop

[2022-09-19 15:29] gjsjohnmurray commented on #983
Please use Settings Editor to make sure your `sqltools.useNodeRuntime` setting is either `false` or entirely absent from your JSON-format settings.

[2022-09-19 16:12] JVT038 commented on #983
That fixed it, thanks.

[2022-09-19 16:12] #983 closed, assigned to nobody

[2022-09-20 19:53] xenago commented on #710
I can confirm this is still an issue when using the MS SQL server driver. It connects OK but no tables visible.

![image](https://user-images.githubusercontent.com/11216007/191351792-d36ca8e8-5dd5-4d31-b4c5-a024aac26c2e.png)

[2022-09-20 20:51] Data-Science-Link commented on #110
Hello, I am using your "SQL Tools" extension in visual studio code along with the "Redshift Driver (Dedicated ver)" extension to connect to my data.

When working in a .sql file I first attach the .sql file to my active redshift connection. I am able to run queries within this .sql file, but when typing something as simple as "SELECT * FROM schema_a." no table names are suggested. In other SQL IDE

[2022-09-20 21:30] gjsjohnmurray opened #984 "Autocomplete problems seen with the "Redshift Driver (Dedicated ver)" extension"
_Originally posted by @Data-Science-Link in https://github.com/mtxr/vscode-sqltools/issues/110#issuecomment-1252898329_

[2022-09-21 11:51] #858 closed, assigned to nobody

[2022-09-21 11:53] mtxr commented on #678
@hdd1013 I believe this is fixed already. Can you confirm on latest version?

Can't reproduce it anymore

[2022-09-21 11:54] #678 closed

[2022-09-21 12:52] gjsjohnmurray commented on #976
@mingjue8888 is this an enhancement request for being able to set that queries immediately open their results in JSON documents instead of the current tabulat format?

[2022-09-21 13:02] gjsjohnmurray commented on #984
Does the SQLTools channel of your Output tab give any clues about what's happening when you manually trigger the lookup with ctrl+space?

I'm not seeing similar problems with the standard PostgreSQL driver, so you might need to report this to the author of the dedicated driver.

[2022-09-21 13:32] gjsjohnmurray commented on #710
@xenago after connecting are you able to run this query:

[code]

If so, does this list schemas and tables?

[2022-09-21 13:33] gjsjohnmurray commented on #878
After connecting are you able to run this query?
[code]
If so, does this list schemas and tables?

[2022-09-21 13:41] gjsjohnmurray commented on #907
@Anutrix if your issue is about the time it takes to open and format a very large SQL query,  #977 may be relevant.

[2022-09-21 14:25] Anutrix commented on #907
@gjsjohnmurray Not exactly. I don't need to format it. Just opening a large `.sql` file makes VSCode completely unuseably slow. Searches never start/end. Every extension actions gets stuck. As if waiting for some previous action to end.

[2022-09-21 14:47] xenago commented on #710
Yes, it does list them:
![image](https://user-images.githubusercontent.com/11216007/191534270-82fb3cbb-0a71-4ede-9772-fbf13b170213.png)

After doing some checking, I think the issue is related to the selected Database for the connection:
![image](https://user-images.githubusercontent.com/11216007/191534436-f9510ae4-50e1-4591-a0b8-f5c68a1da8a7.png)

I am only able to see tables in that database whi

[2022-09-21 14:49] gjsjohnmurray commented on #907
@Anutrix please open a new issue for your problem. This one is about **running** a large SQL script.

If possible please attach a .sql that demonstrates the problem to your new issue. Make sure it doesn't contain any confidential data.

[2022-09-21 14:56] gjsjohnmurray commented on #710
@xenago so your issue is the same as #714

[2022-09-21 15:07] xenago commented on #714
I think like most other tools (SSMS, DBeaver, etc) all of the connection's accessible databases should be usable, with the user able to select which one from the active connection is used. If that is not possible then these other inaccessible databases should be hidden or otherwise indicated to be unusable, since it makes for a very confusing UI. The proposal in #938 seems close to this which is a

[2022-09-21 16:11] Scriptize commented on #710
@xenago
I had the /GetChildrenForTreeItemRequest failed error for my azure cloud database; interestingly enough I changed the database to master like u did here and it's working perfectly fine haha so thanks

[2022-09-21 19:53] Data-Science-Link commented on #984
@gjsjohnmurray thank you for the reply.

I tried using ctrl+space again. I had more patience this time. Upon waiting 20-30 seconds after pressing ctrl+space intellisense in sql tools gave me table options under a schema.

Similarly, in the select statement I wrote the table alias then ".", pressed ctrl+space, and had to wait ~45 seconds for column names to be suggested by intellisense.

Do you hav

[2022-09-22 02:58] mingjue8888 commented on #976
yes

[2022-09-22 08:16] gjsjohnmurray commented on #984
This file holds the queries that the driver runs on behalf of the main extension:

https://github.com/kj-9/sqltools-redshift-driver/blob/main/src/ls/queries.ts

Maybe they can be made more efficient.

[2022-09-22 12:27] freddietattersall commented on #350
Hi @mtxr - would it be possible to understand if running multiple queries at once is in the pipeline for this product? This extremely useful and is currently a pretty big limitation on the usefulness of this extension? Thanks, Freddie

[2022-09-22 12:32] freddietattersall opened #986 "Running multiple queries at once"
**Is your feature request related to a problem? Please describe.**
It is quite frustrating not being able to run multiple queries at once. When writing a full sql script, it is often a requirement to build tables as you go before arriving at the final product. Running queries one by one is very inefficient and slows down any updates

**Describe the solution you'd like**
I would like to be able to

[2022-09-22 12:54] gjsjohnmurray commented on #350
@freddietattersall which driver extension are you using in conjunction with the SQLTools extension? This issue was originally raised for an OracleDB driver extension.

[2022-09-22 12:54] gjsjohnmurray commented on #986
Which database driver are you using?

[2022-09-22 12:55] freddietattersall commented on #986
Hi @gjsjohnmurray - thanks for getting back quickly. I'm using the snowflake driver. Thanks, Freddie

[2022-09-22 12:59] gjsjohnmurray commented on #986
Please raise this at https://github.com/koszti/sqltools-snowflake-driver

[2022-09-22 12:59] #986 closed, assigned to nobody

[2022-09-23 09:58] martijnarts commented on #914
I'm finding the same. Trying to keep the line count preserved has very unpredictable behaviour, but always ends up in all blank lines being removed after a few saves.

[2022-09-23 13:43] gjsjohnmurray opened #987 "`Copy value(s)` context menu command in SQL Console doesn't work"
1. Connect to a server (I used the SQLite driver)
2. Run a query (I used `SELECT * from nosuch`)
3. Switch to the "SQL CONSOLE: MESSAGES" tab on the Panel
4. Right-click on the message (e.g. `SQLITE_ERROR: no such table: nosuch 14:34:26`) and choose `Copy value(s)`
5. Open an empty text document and paste into it. You get whatever was already on the clipboard.

**Expected behavior**
Text of copied

[2022-09-23 16:35] bangroot opened #988 "changing tabs when running multiple queries throws error"
When I run multiple queries in a `@block` against postgres, if I try to change tabs in the output window, I get the following error:

[code]

**Desktop (please complete the following information):**
 - SQLTools Version v0.25.1
 - VS Code Version: 1.71.2
 - OS: Mac
 - Driver:
   - [✅ ] PostgreSQL/Redshift
   - [ ] MySQL/MariaDB
   - [ ] MSSQL/Azure
   - [ ] SQLite
   - [ ] Other? Which...
 - Databa

[2022-09-23 19:36] Anutrix opened #989 "Most of VSCode hangs when a large sql file is open"
**Describe the bug**
VSCode doesn't freeze technically but practically.
All actions like global searching, git features, etc. just don't finish. As if they are waiting for some action to be finished. Making it unusable till restart.
Same issue when I just open any large(25000+ lines) .sql file in VSCode editor.
renderer1.log has:

[2022-09-15 01:06:03.179] [renderer1] [info] UNRESPONSIVE extension

[2022-09-24 10:15] Anwen954 opened #990 "connection error"
**Describe the bug**
ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MySQL client

**To Reproduce**
Steps to reproduce the behavior:
1. MySQL版本          mysql  Ver 8.0.28 for Win64 on x86_64 (MySQL Community Server - GPL)
2. 操作系统名称	Microsoft Windows 11 专业版
3. 操作系统版本	10.0.22000 版本 22000
4. 报错信息              ER_NOT_SUPPORTED_AUTH_MO

[2022-09-24 13:41] kj-9 commented on #956
Hi, thanks for mentioning me.

I'm completely fine with removing the redsfhit driver from the SQLtools document. Other than that, I have no paricular wishes for updating SQLtools documentation in favor of the dedicated version.

 But let me know if there is anything I can help.

[2022-09-24 14:41] gjsjohnmurray commented on #990
Please see https://vscode-sqltools.mteixeira.dev/en/drivers/mysql/ where there is a section titled "MySQL 8 and ER_NOT_SUPPORTED_AUTH_MODE".

[2022-09-24 20:46] gjsjohnmurray opened #992 "Driver icons in connection tree are hard to see in dark themes"
While fixing a bug preventing them from displaying at all (at least on Windows) as part of #991 I noticed how poorly the ones in the supported drivers display with the Dark+ theme (and presumably other dark themes):

All inactive:

![image](https://user-images.githubusercontent.com/6726799/192117760-80d68149-47f8-43f0-977f-39f6ec9adeab.png)

MySQL and PGSQL connected, SQLite connected and active:

[2022-09-26 14:53] gjsjohnmurray opened #994 "Add a badge to the Activity Bar icon showing how many connections are connected"
When VS Code 1.72 ships it ought to be possible to add a count badge to the SQLTools icon to show the number of connected connections.

See https://github.com/microsoft/vscode/issues/161780 for pointers.

[2022-09-26 15:15] gjsjohnmurray commented on #988
Cross-referenced to https://github.com/mtxr/vscode-sqltools/issues/920#issuecomment-1241439519

[2022-09-26 16:12] gjsjohnmurray commented on #919
I recently got added to the VS Code Server Preview but haven't yet been able to replicate your issue. I installed SQLTools extension 0.25.1 and MariaDB/MySQL driver 0.4.0, both current at Marketplace.

I am using insiders.vscode.dev with this About box info:
[code]
My `uname -a` output is:
[code]

After checking those two extensions are up to date on your server please post the output of the SQLTo

[2022-09-27 05:52] leonid-shevtsov commented on #988
Also happens if you set `"sqltools.results.reuseTabs": "connection"` and run a new query.

Seems like it has to do with the number of columns in the result set; if it changes you get the error.

[2022-09-27 20:10] gjsjohnmurray commented on #988
@leonid-shevtsov thanks for the clue.

@mtxr I can repro it in the test workspace by creating the contacts table and then running this pair of queries together:

[code]

The result tab appears with two sub-tabs. When I switch to the second sub-tab the error gets reported there.

Initially I couldn't get breakpoints in .tsx files to bind. I fixed that by adding this to the "Launch SQLTools" configu

[2022-09-28 09:33] gjsjohnmurray commented on #984
@Data-Science-Link if you want to pursue this please open an issue on the extension repo at https://github.com/kj-9/sqltools-redshift-driver and maybe link to this one.

I'm closing this here.

[2022-09-28 09:33] #984 closed, assigned to nobody

[2022-09-28 09:47] gjsjohnmurray commented on #918
Seems to be working correctly with current versions:

![image](https://user-images.githubusercontent.com/6726799/192747814-802dcef8-c288-48e1-ae5f-18a2b4c800bd.png)

[2022-09-28 09:47] #918 closed, assigned to nobody

[2022-09-28 10:05] gjsjohnmurray commented on #879
Confirmed still happening in current versions (PG driver used here):
![image](https://user-images.githubusercontent.com/6726799/192751918-6f376bcd-ded5-4536-83ca-4e9d09ab2b2a.png)

[2022-09-28 10:08] gjsjohnmurray commented on #879
Results opened in JSON format:
![image](https://user-images.githubusercontent.com/6726799/192752382-3f03d463-b2dc-4dee-99d5-27f3b8dacd2d.png)

[2022-09-28 10:16] gjsjohnmurray commented on #856
Try enclosing column name in doublequotes (tested with PG):
[code]

[2022-09-28 10:16] #856 closed, assigned to nobody

[2022-09-28 10:19] gjsjohnmurray commented on #842
Are you still able to reproduce this with latest VS Code and extension versions?

[2022-09-28 10:31] gjsjohnmurray commented on #834
Probably not related to number of fields:
[code]
unchanged when formatted.

[code]

becomes
[code]

[2022-09-28 15:12] #893 closed, assigned to nobody

[2022-09-28 15:39] gjsjohnmurray commented on #988
Different numbers of columns don't seem to be required. I also get it from this:
[code]
But not from this:
[code]

[2022-09-28 15:45] gjsjohnmurray commented on #914
Simple case:
[code]
After first format:
[code]
After second format:
[code]

[2022-09-28 19:00] #977 closed, assigned to nobody

[2022-09-28 19:19] gjsjohnmurray opened #997 "0.25.0 release record needs finalizing and 0.25.1 record needs adding"
On 15-Sep-2022 I published 0.25.0 on Marketplace along with 0.4.0 of MySQL and SQLite drivers.

I had intended to create the GH release from dev (https://github.com/mtxr/vscode-sqltools/commit/36bea5f3956ebda6d10c23f816ef11df9442112a) but found that @mtxr had already started drafting one. Opening this issue to track the completion of this release record.

Once 0.25.0 record is in place we need to

[2022-09-30 07:24] davehowell commented on #920
That issue #988  is exactly the same width value error I was seeing. Glad that it's not something caused by me doing it wrong. Using a single query-per-block is a fine workaround so I won't worry about. I haven't progressed on this for a few weeks but coming back to finish it soon, work permitting.

[2022-09-30 08:02] git1453 commented on #878
I have the same problem.
And when I want to run this query

Then
<img width="401" alt="image" src="https://user-images.githubusercontent.com/83624279/193221667-ade50c62-ba84-4789-8f7d-a3267346f99a.png">

[2022-09-30 16:23] gjsjohnmurray commented on #878
@git1453 please confirm which driver you are using, and which versions of the driver and main extension.

Does the CONSOLE button give any more information?

And if you right-click on your connection in the SQLTools view, choose "Edit Connection", then press "TEST CONNECTION" does this succeed?

[2022-09-30 20:37] gjsjohnmurray opened #999 "`useNodeRuntime` detection mechanism fails on Windows lacking PowerShell 7"
Using 0.25.1 on a Windows workstation that hasn't had PowerShell 7 installed, the autodetection mechanism of `"sqltools.useNodeRuntime": true` fails. See #993 for details.

[2022-10-02 02:56] zrong commented on #921
- SQLTools Version: 0.25.1
- SQLTools SQLite: 0.4.0
- VSCode Version: 1.71.2
- OS: macOS 12.6 (Intel)
- Database version: sqlite3 3.37.0
- Node: v16.17.1

`~/Library/Application Support/vscode-sqltools$ npm install sqlite3`

[code]

[2022-10-02 06:11] gjsjohnmurray opened #1001 "sqlite3 package caused failing node-gyp build on macOS 12.6 (Intel)"
_Originally posted by @zrong in https://github.com/mtxr/vscode-sqltools/issues/921#issuecomment-1264536590_

- SQLTools Version: 0.25.1
- SQLTools SQLite: 0.4.0
- VSCode Version: 1.71.2
- OS: macOS 12.6 (Intel)
- Database version: sqlite3 3.37.0
- Node: v16.17.1

`~/Library/Application Support/vscode-sqltools$ npm install sqlite3`

[code]

_Originally posted by @zrong in https://github.com/mtxr/vs

[2022-10-02 06:22] gjsjohnmurray commented on #1001
@zrong please follow the steps in https://github.com/mtxr/vscode-sqltools/issues/921#issuecomment-1241889201 except don't put the `@5.0.10` suffix on the `sqlite3` package identifier when you ask npm to install it.

After following that procedure can you connect to your SQLite database?

[2022-10-02 08:11] idantr commented on #858
@mtxr when is v0.4.0 of sqlite plugin expected as it includes the fix https://github.com/mtxr/vscode-sqltools/pull/953 that i use?

[2022-10-02 11:54] gjsjohnmurray commented on #858
@idantr it is already on Marketplace.

https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools-driver-sqlite

[2022-10-02 12:18] zrong commented on #1001
I did like https://github.com/mtxr/vscode-sqltools/issues/921#issuecomment-1241889201 and It works!

[2022-10-02 12:40] gjsjohnmurray commented on #1001
@daniellockyer any idea why `npm install sqlite3` on @zrong's darwin x64 machine decided to build the binary rather than simply download it? Maybe firewall restrictions preventing downloading the binary? Is there any extra logging that could help diagnosis?

[2022-10-02 14:11] idantr commented on #858
thanks a lot , we cannot use the links in the marketplace due to licensing issues can you please also update https://github.com/mtxr/vscode-sqltools/releases/tag/v0.24.0 with the latest version of this plugin?

[2022-10-02 15:59] gjsjohnmurray commented on #858
@mtxr please attach the new driver VSIX files to the 0.25.0 release record when you publish it (see #997). Similarly the main extension VSIX onto 0.25.1.

[2022-10-02 16:01] gjsjohnmurray commented on #997
@mtxr please attach the new driver VSIX files to the 0.25.0 release record when you publish it. Similarly the main extension VSIX onto 0.25.1.

See https://github.com/mtxr/vscode-sqltools/issues/858#issuecomment-1264653395

[2022-10-03 00:15] daniellockyer commented on #1001
@gjsjohnmurray The logs should say if it failed to download the binary. We'll need the full output 🙂

[2022-10-03 10:15] gjsjohnmurray commented on #1001
@daniellockyer please clarify which logs and where to find them.

@zrong If you're willing, please close VS Code, remove the folders and files which you used the workaround to create, start VS Code and watch for the build to begin and fail. Then capture the logs being requested.

[2022-10-03 10:17] daniellockyer commented on #1001
I believe it's `npm install sqlite3 --verbose` - they get output to the console

[2022-10-03 14:48] zachary-wang12 commented on #919
After changing to online mode (vscode.dev), it works. I persume it caused by my network connection.

[2022-10-03 14:48] #919 closed, assigned to nobody

[2022-10-03 14:58] mathroc commented on #692
Would someone be able to explain how much work it would take to implement this? And if it's something the maintainers are interested in?

I'm just trying to figure out if this is something we'll likely see one day? And, if this is something I could look into when I have some spare time

[2022-10-04 01:16] zrong commented on #1001
[code]

[2022-10-04 01:31] daniellockyer commented on #1001
Looks like some sort of network connectivity/firewall issue to me 🙂

[2022-10-04 08:57] gjsjohnmurray commented on #1001
@zrong does your connectivity have any constraints on accessing github.com? Are you required to use a proxy?

[2022-10-04 13:41] gjsjohnmurray commented on #692
@mathroc when I tested just now with SQLTools 0.25.1 and SQLite driver 0.4.0 installed and VS Code connected over SSH to an Ubuntu server I was able to connect to a database on that server provided I typed the full path and filename of the database file into the field on the Connection Assistant dialog. The "SELECT FILE" button does indeed browse my workstation's local filesystem when it should ta

[2022-10-04 13:46] zrong commented on #1001
I have to access github.com through a proxy. I set a proxy in the browser but not in the terminal.

[code]

Now it is OK.

[code]

[2022-10-04 18:51] skellogg commented on #828
I find the same...

formatted output of test:

SELECT line
FROM tsttable IF(@id <> 0) BEGIN
INSERT INTO tsttable(line1, line2)
SELECT line1,
	line2
FROM tsttbl2
END

[2022-10-05 03:32] seeejj commented on #655
I'm also facing this issue today in 2022. Any luck?

[2022-10-05 06:18] gjsjohnmurray commented on #655
@seeejj did you try the suggestion at https://github.com/mtxr/vscode-sqltools/issues/668#issuecomment-993403972 to delete one instance of a duplicate connection definition?

[2022-10-05 07:34] mark-me opened #1002 "Cannot add new connection"
Hi,

I can't add new connections with version v0.25.1, which works in a previous version (0.24 which is the latest I could find with a release tag). When I click the add connection buttons (both options) nothing happens.

I don't know if it is relevant, but I'm running Visual Code on a Windows 10 Enterprise machine.

Kind regards,
Mark

[2022-10-05 10:15] gjsjohnmurray commented on #1002
Have you installed the SQLite driver extension? There's a known issue affecting Windows machines using that driver but that haven't had PowerShell 7 installed, so only have Windows PowerShell available.

One solution is to install PowerShell 7 from https://aka.ms/PSWindows

[2022-10-05 10:37] gjsjohnmurray commented on #1001
@zrong does it help if you add this to your settings?
[code]

[2022-10-05 11:01] mark-me commented on #1002
Thank you very much for your fast reply. I have PowerShell 5.1 installed. I need a system administrator to get 7 on my machine, but as soon as that is done I'll let you know the results

[2022-10-05 11:20] mark-me commented on #1002
Hi again,

PowerShell 7.2.6 was installed, but no change: I can't add connections. The output gave me this:
[code]

The terminal showed this:
[code]

Does that help?

[2022-10-05 11:41] mark-me commented on #1002
OK... I found out what it was.... I feel kind of silly now: I needed to install [Node.js](https://nodejs.org/en/). It now works like a charm. Thanks for giving me a start in solving this.

[2022-10-05 11:41] #1002 closed, assigned to gjsjohnmurray

[2022-10-05 12:44] mathroc commented on #692
Hi! I tried it again, with SQLTools 0.25.1 SQLite driver 0.4.0, and MySQL/MariaDB driver 0.4.0 connected to a Dev Container in my case

and I can't add a connection, when I lunch the "SQLTools Management: Add New Connection" command, here is what I got:

![image](https://user-images.githubusercontent.com/291531/194060875-27ddbc82-ebda-422e-a64c-1bee9bfc3cc3.png)

I tried it when not connected to D

[2022-10-05 15:14] thewilq opened #1003 "Add New Connection does nothing"
Hi,

sqltools Add New Connection does nothing for me, I can click all day. No error messages, nothing.
I tried reinstalling the extension. Are there any pre-requisites for it to work properly?
How do I figure out what's wrong?
![image](https://user-images.githubusercontent.com/32635620/194096585-502bd229-44a3-4341-984b-df6009b5f6a8.png)

[2022-10-05 16:06] jbhannah commented on #1003
I get the following error when trying to open the "Add New Connection" view:

<img width="479" alt="Screenshot 2022-10-05 at 09 05 10" src="https://user-images.githubusercontent.com/179194/194108238-fc80d8a8-62d6-4e82-91af-af7f1fc78298.png">

An entirely empty tab titled "SQLTools Settings" is opened, but nothing else happens.

[2022-10-06 18:36] sivaramasubramanian commented on #977
@gjsjohnmurray Thanks for reviewing and merging the change.

When is the next release planned?
Also, the NPM package for the formatter ( https://www.npmjs.com/package/@sqltools/formatter ) has not been updated in the last 2 years. Are there any plans to update the NPM package too?

[2022-10-07 13:37] dariusdev opened #1004 "SQL formatting issue = >"
**Describe the bug**
I am using PosrgreSQL server  and have query:

`
SELECT create_hypertable (
    'test.test2',
    'timestamp',
    chunk_time_interval = > INTERVAL '1 day'
  )
`
Symbol `= >` is formatted with space in the middle and it corrupts the query. How i can ignore that symbol formatting or configure it to format properly ?

it should be formatted
`chunk_time_interval => INTERVAL '1 da

[2022-10-07 16:20] gjsjohnmurray commented on #1004
Fixed in #995 which will be in the next release.

[2022-10-07 16:20] #1004 closed, assigned to nobody

[2022-10-08 16:46] mtxr commented on #997
Just did 0.25.1, sorry for taking longer on this.

[2022-10-08 16:46] #997 closed, assigned to mtxr

[2022-10-09 03:40] ihornovelution commented on #593
The same happened to me too on VS Code v. 1.71.2, SQL Tools v. 0.25.1. Disabling it and re-enabling it again helped.

[2022-10-09 09:59] nickleeh opened #1005 "Cannot input table in command palette "Show Table Records""
**Describe the bug**
When I try to select a table in command palette, it can show list of tables, but doesn't accept any input. If input any character, the list becomes empty.

**To Reproduce**
Steps to reproduce the behavior:
1. press ⌘-E, ⌘-S, to open command palette for "Show Table Records". The drop down list will show a full list of table names.
2. In the input box, input any character that m

[2022-10-10 04:08] its-mrarsikk opened #1006 "Can't connect to user"
**Describe the bug**
A clear and concise description of what the bug is.
I can't log in a user created by phpMyAdmin.

**To Reproduce**
Steps to reproduce the behavior:
1. Create user with password and all priveleges using phpMyAdmin on server hosted by MAMP
2. Create a connection using SQLTools GUI
3. The connection should be like so:
![image](https://user-images.githubusercontent.com/94739102/19

[2022-10-11 13:16] pztrn commented on #497
Hey, sorry for necroposting, yet looks like this issue should be re-opened as it is not working properly. Or should I create separate one?

My usecase: store session files within `.vscode` folder (so they'll be `.gitignore`'d automagically). I cannot make it work, tried to specify:

* `${workspaceFolder}/.vscode` - trying to create `$\{workspaceFolder\}/.vscode` and fails to save session file.
* `

[2022-10-11 14:43] broander opened #1007 "Redshift Driver not Introspecting Database"
I'm connecting to a Redshift instance, and successfully connecting, but the driver in VSCode is not successfully introspecting any of the objects in the database like the schemas, etc.  Using the postgres driver in DBeaver I am able to see the objects in the DB.

VSCode SQL Tools Redshift driver:
![image](https://user-images.githubusercontent.com/66220841/195120628-428dbba1-15b2-498c-aacc-1a212a6c

[2022-10-11 16:32] gjsjohnmurray commented on #1007
Please install the community contributed driver from https://marketplace.visualstudio.com/items?itemName=kj.sqltools-driver-redshift and define a connection to use that.

[2022-10-11 22:08] broander commented on #1007
Perfect, didn't notice there was a dedicated driver.  I just tried it and it works fine.  Thank you!

[2022-10-11 22:08] #1007 closed, assigned to nobody

[2022-10-12 10:42] yevon commented on #988
Same here with Postgresql. If you check the reuse tab setting, it just fails when changing the query.

[2022-10-13 15:08] RaptorX opened #1008 "Sqlite Connection not working"
**Describe the bug**
Tried to create a new Sqlite connection but I get a warning saying I should use `sqltools.useNodeRuntime`
after I follow the instructions then I get errors and cant create a connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'connections'
2. Click on 'add connection'
3. Select Sqlite
4. See error
![image](https://user-images.githubusercontent.com/328761/19

[2022-10-14 09:42] gjsjohnmurray commented on #997
@mtxr no problem. Thanks for doing that!

[2022-10-14 09:57] gjsjohnmurray commented on #1008
My guess is you only have the Windows PowerShell version that ships with Windows.

Please go to https://aka.ms/PSWindows and follow the instructions about installing PS 7. Then try again.

[2022-10-14 10:36] gjsjohnmurray commented on #1006
Are you certain that MAMP's MySQL is listening on port 3306? The doc at https://documentation.mamp.info/en/MAMP-Windows/First-Steps/index.html implies it is on 8889.

[2022-10-14 11:03] gjsjohnmurray commented on #497
@pztrn please open a new issue to request that the `${workspaceFolder}` variable gets supported in the `sqltools.sessionFilesFolder` setting.

[2022-10-14 11:13] gjsjohnmurray commented on #1003
From Command Palette please run `SQLTools Management: Show Output Channel Logs`

Copy the content of that output channel and paste it here, or save it to a file and attach the file. Please note that email responses to GitHub will not transmit attachments. Please use the web UI.

[2022-10-14 11:15] gjsjohnmurray opened #1009 "Schedule for next release, oncluding NPM package for formatter?"
_Originally posted by @sivaramasubramanian in https://github.com/mtxr/vscode-sqltools/issues/977#issuecomment-1270520189_

_Originally posted by @sivaramasubramanian in https://github.com/mtxr/vscode-sqltools/issues/977#issuecomment-1270520189_

[2022-10-14 11:18] gjsjohnmurray commented on #1009
@sivaramasubramanian I have split this to a separate issue. There are a few PRs waiting review/approval, then I think we will do another release.

@mtxr can this include a new release of the formatter package?

[2022-10-14 11:20] gjsjohnmurray commented on #1003
Perhaps https://github.com/mtxr/vscode-sqltools/issues/593#issuecomment-1272446735 is a workaround?

[2022-10-14 11:26] #956 closed, assigned to gjsjohnmurray

[2022-10-14 11:31] #914 closed, assigned to nobody

[2022-10-14 11:45] mtxr commented on #1009
Hi, I’ll take care of that today. There’s no automation for that yet
unfortunately

On Fri, 14 Oct 2022 at 08:18 John Murray ***@***.***> wrote:

--
Matheus
https://mteixeira.dev

[2022-10-14 12:14] pztrn opened #1010 "Support `${workspaceFolder}` variable in sqltools.sessionFilesFolder setting"
**Is your feature request related to a problem? Please describe.**
I have `.vscode` in `.gitignore` file and want to save session file there. Currently the only option is to specify absolute path to that directory, which actually not an option and would break if I move project somewhere else.

**Describe the solution you'd like**
Support `${workspaceFolder}` variable in sqltools.sessionFilesFolder

[2022-10-14 12:18] pztrn commented on #497
Thanks, filed #1010

[2022-10-14 14:01] RaptorX commented on #1008
You are correct, didnt know I needed PS 7. probably didnt see it in the documentation.

![image](https://user-images.githubusercontent.com/328761/195865613-1728f4e5-70ad-4d16-a3e2-8cdbaf658a12.png)

Will update and try again.

[2022-10-14 19:17] RaptorX commented on #1008
That didnt help.

installed latest powershell.
![image](https://user-images.githubusercontent.com/328761/195924152-32154439-c347-4c46-a681-cf8c657ed370.png)

Getting the same error.
[code]

[2022-10-15 22:10] edivaldo1990 opened #1011 "install issues"
Type: <b>Feature Request</b>

I just can not install any extesions

Extension version: 0.25.1
VS Code version: Code 1.72.2 (d045a5eda657f4d7b676dedbfa7aab8207f8a075, 2022-10-12T22:15:18.074Z)
OS version: Windows_NT x64 10.0.10240
Modes:
Sandboxed: No

[2022-10-15 22:10] edivaldo1990 opened #1012 "install issues"
Type: <b>Feature Request</b>

I just can not install any extesions

Extension version: 0.25.1
VS Code version: Code 1.72.2 (d045a5eda657f4d7b676dedbfa7aab8207f8a075, 2022-10-12T22:15:18.074Z)
OS version: Windows_NT x64 10.0.10240
Modes:
Sandboxed: No

[2022-10-16 05:25] gjsjohnmurray commented on #1012
Duplicate of #1011

[2022-10-16 05:25] #1012 closed, assigned to nobody

[2022-10-16 16:14] #1009 closed, assigned to mtxr

[2022-10-17 07:13] stefanrybacki opened #1014 "Merge connection configurations across setting scopes"
**Is your feature request related to a problem? Please describe.**
VSCode provides different setting scopes (settings.json files), i.e. user, workspace, remote, etc.
However, the available connections are only taken from the settings with the highes precedence.

**Describe the solution you'd like**
While this behaviour is good and desired for most settings, I'd prefer the option to merge connectio

[2022-10-17 19:46] gjsjohnmurray commented on #1011
Please give more details about the issue. Which driver extension are you trying to install? What happens?