[2017-04-24 07:04] haccanri opened #5 "Add config option for tab size"
Could you provide the SQL formatting options including indent_width in this tool, like the tool for sublime?

[2017-04-24 20:08] GaryFurash opened #6 "[Feature Request] Add Config Option for SQL Formatting"
different formatting options like http://www.dpriver.com/pp/sqlformat.htm

[2017-04-30 00:50] mtxr commented on #5
Sure. Will be release soon

[2017-04-30 00:51] mtxr commented on #6
I like the idea. Will be developed in a near future but connections comes first, ok?

[2017-05-05 01:38] haccanri opened #7 "Please provide config options to control the status bar appearance"
I mainly use sqltools to format sql and do not connect to a database. Could you please provide config options to disable the appearance of `SQLTools` and `Connect to database` in the status bar.

![image](https://cloud.githubusercontent.com/assets/7814424/25731164/73e230b6-3176-11e7-8da3-05d9bd936950.png)

I don't know whether my request is common, but it is definitely helpful to me. Thanks very m

[2017-05-13 21:34] mtxr commented on #5
Fixed. WIll be release on next update.

[2017-05-13 21:34] #5 closed

[2017-05-13 21:38] #7 closed

[2017-05-18 16:07] Danieleeee opened #13 "Oracle DB support"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

Hi, it's possible to use it with Oracle DB?

[2017-05-19 01:32] mtxr commented on #13
Sure, it will be developed soon, ok?

[2017-05-19 01:36] mtxr opened #14 "Password Prompt"
### Issue Type

* [x] Feature Request

### Description

Same as mtxr/SQLTools#99

[2017-05-20 20:56] Danieleeee commented on #13
Thanks

[2017-06-14 01:46] mtxr commented on #13
What are the most needed features for you?

[2017-06-14 08:00] Danieleeee commented on #13
In order of importance:

- _Code completion_ and _go to definition_ in packages
- Run SQL queries
- Format output of query (Tables)
-

[2017-07-12 07:07] michalwiecz opened #20 "HANA database support"
### Issue Type

* [ x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

[Description of the bug or feature]
I would like to see a HANA database support
### Steps to Reproduce (For bugfixes)

1. [First Step]
2. [Second Step]
3. [a

[2017-07-17 12:13] callamaris commented on #13
Browsing database objects like tables, packages, views etc. (View user_objects/dba_objects) would be very usefull.

also a command to open&compile packages

[2017-07-31 11:32] aiboy opened #25 "PostgreSQL Support"
Thanks for your awesome work. Can you add PostgreSQL Support?

[2017-08-10 16:38] MurphysChaos opened #26 "BUG: Keyboard Shortcut for Bookmark Query on MacOS closes VS Code"
### Issue Type

* [X] Bugfix/Errors

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [N/A] Did you check the logs?
* [N/A] Did you check the Setup?

### Description

```⌘Q``` on the Mac is the global command to close the current application. Using the configured **Bookmark create** keyboard shortcut results in VS Code closing.

### Steps to Reproduce (For bugfixes)

1

[2017-08-11 16:03] tripl3dogdare opened #27 "Use contents of focused file with "Run selected query" if no selection made"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Description

During my workflow, I often want to quickly run a query that I have saved in a file. As it is, this adds an extra keypress of CTRL+A to my workflow. Bookmarks can only partially solve this issue, as the bookmark must be recreated every time the query is changed. I would suggest either using the

[2017-08-12 05:36] tripl3dogdare opened #28 "Open results window in same grouping as focused window"
### Issue Type

* [x] Feature Request
* [x] Bugfix/Errors
* [ ] Questions
* [ ] Other

(Not really sure which to classify this as, I'd assume feature request but it may be a bug)

### Description

Currently, when you execute a SQL query, the results window automatically opens in the first tab group (top/left). I believe it would make more sense (if possible) to have it open in the same tab group a

[2017-09-17 11:00] sluongng opened #29 "Concern toward rendering HTML content in cells"
### Issue Type

* [X] Feature Request
* [X] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [X] Did you check the logs?
* [X] Did you check the Setup?

### Description

Currently the SQLTools results page is rendering HTML contents(including images and videos) which was store in the row.
This should be avoided because these H

[2017-09-23 10:02] sluongng commented on #28
I would like to further adding that there should be options for user to customize the window location. And if there is already a result window open, may be reuse it instead of opening a new one(with scrolling through multiple results).

[2017-10-21 18:25] davidnussio commented on #13
What do you think about knexjs to minimize effort to support multiple databases?
I tried to implement a proof of concept api dialect for oracle with knexjs and it seems to work.

[2017-11-05 09:03] ilmam opened #30 "Drag & Drop from connection panel"
* [x] Feature Request

Would love to be able to drag and drop a table or a column from SQL Connections panel on the left, to the editor window. It would makes Writing a query much easier.

[2017-11-15 18:41] kenijo opened #31 "Use the default VS Code "Format Document""
* [x] Feature Request
* [yes] Are you running the latest version?

### Description

Please bind the formater / beautifier to the default VS Code "Format Document"

[2017-11-15 19:14] mtxr commented on #30
I will study to check how to do that. It's very useful!

[2017-11-30 15:07] marcocastignoli opened #37 "Please disable the notification to support this project"
Each time I open my editor I get a notification saying "Do you like SQLTools? [...]". I can't find a way in the options to mute this notification. Thanks.

[2017-11-30 15:39] mtxr commented on #37
It will be removed this week, but not completely. It will still pop up after some time.

For donators (any amount), it will be removed using a key code provide by email.

Have you consider to support open source projects?

[2017-11-30 15:54] moberemk commented on #37
Okay, while I appreciate where you're coming from here and agree that we as a community should try and support open-source projects more, having it only be disabled via a key code provide in exchange for money reminds me of shareware tactics. Honestly, until now I thought it was a bug that was making it appear so much.

[2017-11-30 15:57] marcocastignoli commented on #37
@moberemk totally agree with you. I will use my fork of this plugin till the notification will be removed.

[2017-11-30 16:03] mtxr commented on #37
You are right, @moberemk . Shareware is not something we would appreciate. But we need to find a way to keep it evolving. It takes me a lot of time to develop, maintain, and look for features. I have a family, a full-time job and I do this in my free time, for free. Also as you can check, I use to contribute to other projects like yarn, vscode, etc. They all are free and receive some resources for

[2017-11-30 16:55] mtxr commented on #37
Enhanced. Closing.

[2017-11-30 16:55] #37 closed

[2017-12-05 13:55] mtxr commented on #26
Will be fixed on next release.

[2017-12-05 14:53] mtxr commented on #26
FIxed

[2017-12-05 14:53] #26 closed

[2017-12-06 15:43] aditya43 opened #42 "Is there a proper installation guide available? I'm not able to get it working in VS Code"
### Issue Type
* [ ] Questions
* [ ] Other

### Description

I'm not able to get SQL tools working in VS Code. Following is the output I'm seeing when I execute a query.

![2017-12-06_211031](https://user-images.githubusercontent.com/25119995/33670078-2620cc9a-daca-11e7-8b29-d844111f2786.png)

SQLTools  works fine on Sublime Text-3. Is there a setting where I need to specify path to mysql executab

[2017-12-07 12:29] mtxr commented on #42
Well, no. Not yet at least.

Usually people update their settings reading the "settings" through VSCode Settings tool.

But you are completely right. We should write our own doc.

It will be done in a few days ok?

[2017-12-07 12:30] mtxr commented on #42
/remind me to create the docs in 5 days

[2017-12-10 18:27] mtxr commented on #30
Currently that's not possible. Vscode doesn't have support for drag from side explorer for custom plugins. Anyway I'll add a feature that adds the selected node to the current cursor place on click, ok?

[2017-12-11 13:39] ilmam commented on #30
Thanks for looking into this, appreciate the efforts. I like your suggestion, but maybe it would be better if that works either as right click, or double click rather than just a normal left click.
Thanks again for the awesome work!

[2017-12-12 10:23] aditya43 commented on #42
@mtxr Thank you

[2017-12-12 10:23] #42 closed

[2017-12-12 14:45] #31 closed

[2017-12-12 14:46] mtxr commented on #31
Feature added. But the old formatting is active.

Some users (like me) uses to format queries in other doc types.

[2017-12-12 14:47] mtxr commented on #30
Feature added. WIll be release in this next release.

[2017-12-12 14:47] #30 closed

[2017-12-14 15:51] #14 closed

[2017-12-14 16:05] #28 closed

[2017-12-14 16:14] #27 closed

[2017-12-15 16:53] #25 closed

[2017-12-15 17:09] mtxr commented on #20
Hey @michalwiecz , could you please submit a pull request of this feature?

As you are a user that understands the needs for HANA db, you could follow this commit mtxr/vscode-sqltools@6cc9774d867b70054b5902e7d0846d2366527012 and use this lib https://github.com/SAP/node-hdb to accomplish the same result that I've got with Postgres. Is it ok?

[2017-12-15 17:11] mtxr commented on #13
Hey guys, could you please submit a pull request of this feature?

As you are a user that understands the needs for Oracle db, you could follow this commit mtxr/vscode-sqltools@6cc9774d867b70054b5902e7d0846d2366527012 and use this lib https://github.com/oracle/node-oracledb to accomplish the same result that I've got with Postgres. Is it ok?

They have a lot of examples in their repository. As you

[2017-12-15 19:05] rvong opened #43 "How to turn off plugin notifications?"
Hello,

How do I turn off Donation request notification?

I found the issue in this file: https://github.com/mtxr/vscode-sqltools/blob/673ad277937cd592801c7cb56bb1c9ebc66e98d9/src/sqltools.ts

It shows:

      if (last.getTime() >= new Date().setHours(0, 0, 0, 0)) {
        return;
      }

Instead, the condition should be removed and it should always return so the code should not execute the Popu

[2017-12-15 19:06] rvong commented on #43
For those that do not plan to donate and have not used the tool extensively, they should have the option to not be bombarded with requests.  Otherwise, I'll uninstall/install when needed.

[2017-12-16 20:04] mtxr commented on #43
This "feature" is being developed.

The idea is to show message just to the ones that use it extensively. Can you please wait 1~2 days?

Anyway, the message is show once per day.

Hope you understand.

Thanks!

[2017-12-20 14:05] FireFighter1017 opened #44 "ODBC/JDBC support"
### Issue Type

* [X] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

I would like to connect not only to MSSQL or MySQL but also to DB2, CSV, Access, etc. using ODBC or JDBC.

### Steps to Reproduce (For bugfixes)

1. [First St

[2017-12-28 14:44] mtxr opened #45 "Create connection helper"
Display an assistant to create connections

[2017-12-28 14:44] mtxr opened #46 "Display results using ReactJS"
Use ReactJS to show query results

[2017-12-28 14:45] mtxr opened #47 "Show query result messages"
Show query messages on the same window as query results.

[2018-01-02 19:09] #29 closed

[2018-01-02 19:09] #43 closed

[2018-01-02 19:09] #46 closed

[2018-01-02 19:09] #47 closed

[2018-01-03 08:03] PixelT opened #50 "How to run SQL query?"
How I can run SQL query in VScode?

[2018-01-03 08:11] PixelT commented on #50
OK, I must select whole query first and add as bookmark... so to do not waste this topis, I would like to add suggestion to add possibility to run SQL query directly from input field, something like:
`SQLTools: Run query` or sth similar

[2018-01-03 12:16] mtxr commented on #50
Sure, it's a simple feature. It'll be release in the next release, ok?

[2018-01-03 12:18] mtxr opened #51 "SQLite Support"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

Add SQLite support

[2018-01-03 14:37] mtxr opened #52 "Startup Activation Taking 3s"
### Issue Type

* [ ] Feature Request
* [x] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

Extension is taking 3 seconds to start

[2018-01-10 13:52] frankred commented on #51
Currently there is no VSC Extension that can do this. This would be a unique selling point.

[2018-01-10 14:39] mtxr commented on #51
Yeah, but it's also a bit difficult to develop that.
The currently sqlite modules for node are compiled for SO version. The extension is packaged with the modules to avoid end-user to install it because it would take a lot of time.

I'm working in a way to do it, It would be awesome to be the first supporting SQLite, but it will take at least more 2 or 3 weeks.

Any tips that I could follow?

[2018-01-10 14:41] mtxr commented on #45
Preview:
![image](https://user-images.githubusercontent.com/707561/34778153-8faa761c-f603-11e7-85c3-4dc0e2f25d75.png)

[2018-01-10 20:34] frankred commented on #51
I've used this(https://github.com/mapbox/node-sqlite3) client several times and it worked very fine. We did not had any problems with different plattforms. It worked like a charm and `npm install sqlite3` was enough to got it run. And then "just" run the following commands:

Select all tables:
```SELECT name FROM my_db.sqlite_master WHERE type='table';```

Show Tables Schemas:
```SELECT * FROM sql

[2018-01-11 01:45] mtxr commented on #51
That's the module I've been trying to use.

The problem is that, when I run `npm install sqlite3` from my laptop, it builds sqlite3 from source for my arch.
When I publish the package, it generates a ZIP like file that VSCode installs in any user computers, but the sqlite3 built will be the same.

I have 3 alternatives for now that I'm testing:
- A way to create per-platform packages for complemen

[2018-01-11 01:56] mtxr commented on #51
FYI Microsoft/vscode#41444.

Let's see what they will say, maybe they have a workaround for that.

[2018-01-11 09:53] ilmam commented on #45
Wow! this looks very good. Is it available yet?

[2018-01-11 10:03] ilmam opened #54 "autoConnectTo not working"
Thanks again for the awesome work!
I am trying to use the option autoConnectTo but it doesn't seem to be working.

The following is my workplace settings file:

`
 "sqltools.connections": [{
        "name": "sh-dev",
        "server": "xx.xx.xx.xx",
        "port": 3306,
        "database": "******",
        "username": "******",
        "password": "******",
        "dialect": "MySQL"
}],
"sqltoo

[2018-01-11 18:39] purge opened #55 ".tt files being reformatted by this plugin"
### Issue Type

* [X] Bugfix/Errors

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

I haven't dug into why yet but an update to this extension has started reformatting all my .tt files. I disected my plugins and this alone being enabled caused the reformatting.

### Steps to Reproduce (For b

[2018-01-12 12:17] mtxr commented on #55
Yeah, it's a bug.

You can fast fix it till the next release by setting the configuration of completionLanguages to
[code]

[2018-01-15 09:00] awagner-mainz opened #56 "Windows has sqltools.log_level, unix has sqltools.logLevel ?"
### Issue Type

* [X] Question

### Prerequisites (For bugfixes)

Windows: VSCode 1.17.2, SQLTools v0.7.4
Linux: VSCode 1.19.2, SQLTools v0.11.3

I can not update either of the SQLTools extensions in VSCode.

### Description

Opening the settings,
I get a Warning about the Loglevel setting:
[code]
In windows, suggestions for sqltools.log* contain only "logging", but I get no warning for "log_level

[2018-01-15 12:01] tiansin opened #57 "Hopefully, formatting and autocomplete can be configured separately"
I configured completionLanguages  ["sql","php"]
 this will replace my php formatting function!

[2018-01-15 13:02] mtxr commented on #57
This is being fixed and will be released soon.

completionLanguages and formattingLanguages will be separated.

[2018-01-15 13:29] mtxr commented on #56
It doesn't seem to be a bug.

The settings are described here https://github.com/mtxr/vscode-sqltools#migrating-from-v00-to-v01-or-newer. We had some changes lately.

But for the updating issue, I didn't understand exactly what happened. I guess you can just uninstall and install it again to solve it, would you mind to try?

[2018-01-15 18:09] #55 closed

[2018-01-15 18:09] #57 closed

[2018-01-15 18:09] #50 closed

[2018-01-15 18:10] #45 closed

[2018-01-15 18:10] #54 closed

[2018-01-16 11:37] awagner-mainz commented on #56
Thanks for looking after it - and I apologize for not having noticed the settings migration documentation. Makes sense now.
... although, coming to think of it, the documentation says the changes have happened between from v0.**0***.* to v0.1*.*, whereas I am currently stuck between 0.7.4 (windows) and 0.11.3 (linux), so theoretically both version are newer than 0.1?

What does not work is getting

[2018-01-19 20:57] richarddavenport opened #59 "Could not connect (sequence)"
### Issue Type

* [ ] Feature Request
* [X] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [X] Did you check the logs?
* [X] Did you check the Setup?

### Description

I'm installing and trying to connect for the first time and I'm getting the error below.

### Steps to Reproduce (For bugfixes)

1. Installed Extension
2. Add

[2018-01-25 16:27] mtxr commented on #59
Could you please provide you connections settings? (Without passwords of course)

Also, try to connect using some cli or other tool to see what happens.

[2018-01-25 22:03] richarddavenport commented on #59
@mtxr not using a connection string, or at least I'm not providing one. I use the sql tools prompt for creating a connection, I have the following in my workspace settings:
[code]
I do use the mssql extension and use this as my connection setting and it connects:
[code]

[2018-01-25 22:09] richarddavenport commented on #59
Okay, so I stupidly let the port autofill for me and forgot that mssql uses 1433 for the port not 3306. However I was still getting a timeout error, which I fixed by increasing the timeout.

As a feature request, you could we get the port to autofill to the correct default port when changing "dialects" in the connection creation wizard?

[2018-01-26 08:18] awagner-mainz commented on #56
Hi - I've gotten a new computer in the office on wednesday, and with a new install of VSCode (for windows), and reinstall of sqltools (via Settings Sync extension), I automatically got an updated sqltools v0.11.4.

So, for me, everything is fine now it seems. Thank you for your support, and for the effort that goes into sqltools.

[2018-01-26 08:18] #56 closed

[2018-01-30 16:38] WilGatlin opened #60 "Server Requires Encryption error"
### Issue Type

* [ ] Feature Request
* [x ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x ] Are you running the latest version?
* [x ] Did you check the logs?
* [x ] Did you check the Setup?

### Description

[Description of the bug or feature]

Followed through with the setup procedure and experimented with different types of set ups, always terminating in thi

[2018-01-30 23:52] gpuma opened #61 "How to connect to LocalDB (Sql Server)?"
### Issue Type

* [ ] Feature Request
* [ ] Bugfix/Errors
* [x] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description
`(Running v0.11.4)`

Hello, how can I connect to a LocalDB SQL server instance? Using the following config gives me a connection error:

[code]
This database w

[2018-01-31 11:34] Jeordie commented on #59
Where or how can i check  the log?

[2018-01-31 15:36] richarddavenport commented on #59
@Jeordie Open up the Output panel (shift + cmd/ctrl + U) and select the sql tools output:
<img width="758" alt="screen shot 2018-01-31 at 9 35 07 am" src="https://user-images.githubusercontent.com/3596012/35631716-38b03c08-066a-11e8-9a5b-de1bec183d84.png">

[2018-02-01 08:42] SirTori opened #62 "Support for JSON-Fields"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Description

As of version 9.4 (I think) postgresql supports the JSON-Type.
Currently if I query a row with this type the output only displays ```[object Object]```.

Since showing the whole JSON within a table gets unreadable very fast, I suggest the JSON content should at least be available through copy&pa

[2018-02-01 09:29] Jeordie commented on #59
Thanks @richarddavenport

[2018-02-09 13:19] mtxr commented on #59
Seems that we should let user set an option to use SSL or not during the connection. It's an enhancement.
Thank you @richarddavenport .

[2018-02-13 23:10] mtxr commented on #62
Fixed. WIll be release soon.

[2018-02-13 23:11] mtxr commented on #60
Fixed. Will be release soon!

[2018-02-13 23:26] mtxr commented on #59
Duplicate #60.

[2018-02-13 23:26] #59 closed

[2018-02-13 23:28] mtxr commented on #52
Fixed. Now it takes less than 3s, but not much reduction.

[2018-02-13 23:28] #52 closed

[2018-02-13 23:31] mtxr opened #63 "Copy result row or cell content, messages and query"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Description

As an user, I would like to copy the entire result row, cell, messages or queries from the results screen.

Row could be copied as CSV, SQL Statement or JSON.

[2018-02-13 23:32] mtxr opened #64 "Allow to remove connections from explorer"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Description

I would like to change/update/add connections from Setup Connection screen.

[2018-02-20 08:11] Jeordie opened #65 "Not able to connect"
### Issue Type

* [ ] Feature Request
* [ ] Bugfix/Errors
* [x] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

I'm not able to connect to an MSSQL database. I think the problem is that I have to use a domainname before my username. These are the settings I'm using righ

[2018-02-20 12:38] mtxr commented on #65
Will be fixed together with #60

MSSQL has some particularities that SQLTools is not handling in this current version.

Thank you for reporting

[2018-02-23 13:31] #60 closed

[2018-02-23 13:31] #62 closed

[2018-02-23 13:32] #65 closed

[2018-02-26 07:40] Jeordie opened #67 "ConnectionError: Login Failed for user <username>"
### Issue Type

* [ ] Feature Request
* [x] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

As stated in issue nr 65. I'm still not able to connect to sql server. Resolving Issue #60 didn't bring a solution to my problem. I'm using the following info

[2018-03-02 13:42] Jeordie commented on #67
I have to use a domain name when logging in so: <domain>\jeordiep. I also tried it with double \\

[2018-03-02 14:10] mtxr commented on #67
You are right. i forgot to consider de domain parameter in the options as de TDS driver needs (http://tediousjs.github.io/tedious/api-connection.html#function_newConnection).

I'll release a fix for it later today, ok? Then you will be able to connect using this setup:

[code]

if you are using an azure server, you probably need to include the encrypt flag as following:

[code]

[2018-03-02 14:49] mtxr commented on #67
Closed on #68.

[2018-03-02 14:49] #67 closed

[2018-03-02 17:04] UncleVic opened #69 "Multiple Connections"
### Issue Type

* [ ] Feature Request
* [x] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

I've connected to more than 1 DB but see just first DB at sidebar

### Steps to Reproduce (For bugfixes)

1. Connect to first DB
2. Connect to second DB
3. [a

[2018-03-02 17:24] mtxr commented on #69
I've been thinking about that. But there are some concerns.

When we invoke to run a query, we should decide which connection we want to run? We should run in the last used? Should we have a tab per connection to run queries on each connection?

I'm open to suggestions, because I'ld love to use multiple connections easily. But I don't see how to decide it right now :(

[2018-03-05 07:52] Jeordie commented on #67
Hi I'm still not able to connect: I'm setting up a connection using the connection wizard (great add on). After that I'm trying to connect. The log shows me this error:

[2018-03-05T07:49:34.][v0.12.1] ERROR: Error selecting connection:
[2018-03-05T07:49:34.][v0.12.1] Error: Connection got disposed.
	at Object.dispose (C:\Users\jeordiep\.vscode\extensions\mtxr.sqltools-0.12.1\node_modules\vscode-j

[2018-03-09 14:47] EdBrereton opened #70 "Receiving Error "Error selecting connection Error: Connection got disposed." when connecting to MSSQL Server using integrated security"
### Issue Type

* [ ] Feature Request
* [X] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [X] Did you check the logs?
* [X] Did you check the Setup?

### Description

When attempting to connect to a MS SQL Server I get the error message in the title and the following logs are produced

[code]

### Steps to Reproduce (For bu

[2018-03-12 09:03] Jeordie commented on #70
I'm getting the same error, see my comments on closed issue [#67](https://github.com/mtxr/vscode-sqltools/issues/67)

[2018-03-13 12:51] Yanpas opened #71 "Schemas are not supported (postgresql)"
### Issue Type

* [ ] Feature Request
* [x ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [x ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

[Description of the bug or feature]
I have a database where all tables belons to different schemas. This extension lists all tables as if they are in databa

[2018-03-20 14:00] mtxr commented on #70
I'll be fixed soon. Sorry for my late reply guys. I'm in a hurry here

[2018-03-20 14:17] mtxr commented on #70
@EdBrereton
Can you please update VSCODE to v1.19+? It should work.

@Jeordie you can try again to check if it works

[2018-03-20 14:47] EdBrereton commented on #70
@mtxr I have just updated to VS Code V1.21.1 and still have the same error

[code]

[code]

[2018-03-21 09:48] Jeordie commented on #70
@mtxr I'm getting the exact error as stated by @EdBrereton

[2018-03-21 15:44] brbarkley opened #72 "No pg_hba.conf for host"
### Issue Type

* [ ] Feature Request
* [X] Bugfix/Errors
* [X] Questions
* [ ] Other

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [X] Did you check the logs?
* [X] Did you check the Setup?

### Description

Received error message: "no pg_hba.conf entry for host..." when trying to connect to postgresql database using SQLTools. I can connect on same computer from c

[2018-03-23 03:15] LiPengfei19820619 opened #73 "[Feature Request]Firebird Support"
### Issue Type

* [* ] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

Would you please support Firebird Database? Thanks.

[2018-03-28 02:54] Afonker opened #74 "[Feature Request] Stored Procedure Support"
### Issue Type

* [x] Feature Request
* [ ] Bugfix/Errors
* [ ] Questions
* [ ] Other

### Description

It would be great if there was support for listing **stored procedures** for postgresql.
Thanks.

[2018-03-31 04:08] art-ist commented on #61
Looks like you are using tedious to connect to MS SQL? If my impression is correct, you'l have two problems:
- tedious doesen't seem to support Integrated Security (=Trusted_Connection) thus only Sql Logins would work. [see issue 306](https://github.com/tediousjs/tedious/issues/306)
- tedious doesen't seem to support named pipes. [see issue 348](https://github.com/tediousjs/tedious/issues/348)

[2018-03-31 04:22] art-ist opened #75 "Support for schema (full qualified object name)"
### Issue Type

* [x] Feature Request
* [x] Bugfix/Errors

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

I didn't check with other dialects. But for MS SQL sqltools completely **ignores the Schema** or a database object. Let's say we have a table `Sales.Offers`. sqltools would in all comman

[2018-04-10 06:02] Ahmad-Magdy-Osman opened #76 "BUG: Any change in settings causes the command plate to come up with “null password (Press 'Enter' to confirm or 'Escape' to cancel)”"
### Issue Type

* [x] Bugfix/Errors

### Prerequisites (For bugfixes)

* [x] Are you running the latest version? Yes

### Description

Every time I change any of the settings in VSCode, the command plate to come up with "null password (Press 'Enter' to confirm or 'Escape' to cancel)". Hitting enter is enough to make things work fine, however, it is still annoying. I am not sure of the reason behin

[2018-04-10 22:48] szhu commented on #76
+1

(I was the one who posted the quoted answer. Thanks @Ahmad-Magdy-Osman for asking it!)

[2018-04-16 15:42] AfonsoOliveira commented on #76
+1

[2018-04-18 16:52] mtxr commented on #76
Sorry for my late reply guys.

I'll try to fix it till the weekend, okay?

Thanks!

[2018-04-18 17:50] mtxr opened #78 "feature request teste bot"
### Issue Type

* [x] Feature Request
* [x] Bugfix/Errors
* [x] Questions
* [x] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

[Description of the bug or feature]

### Steps to Reproduce (For bugfixes)

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What y

[2018-04-18 19:16] mtxr commented on #78
Closing! Just a test.

[2018-04-18 19:16] #78 closed

[2018-04-26 16:49] lopespt opened #79 "teste"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

[Description of the bug or feature]

### Steps to Reproduce (For bugfixes)

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:**

[2018-04-26 17:43] #79 closed

[2018-04-27 04:39] ckingdev opened #80 "Formatting keybindings aren't triggering formatting"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

With the default configuration for VS Code and SQLTools, Linux, following the instructions in the readme for formatting SQL with the keybindings (ctrl+

[2018-05-02 10:14] Danieleeee commented on #13
Hi,
there is an extension that can do this: [Oradew](https://github.com/mickeypearce/oradew-vscode)

[2018-05-03 07:38] Danieleeee commented on #13
These are some select that can be used:

`function describeTable(err, connection) { if (err) { console.error(err.message); return; } connection.execute( 'Select * from dba_tables where upper(table_name) like upper(:table_name) and owner in (:user_owner)', ['%siu%serv%sogg%','UTE'], // bind value function(err, result) { if (err) { console.error(err.message); doRelease(connection); return; } console

[2018-05-03 18:42] mtxr commented on #80
Hi @ckingdev!

You should press all ctr+e, holding ctrl, press b. It's a combination.

The actual behavior is correct with the default keybinding of vscode.

I'm closing the issue, ok?

Just let me know if you need :smile:

Thank you!

[2018-05-03 18:42] #80 closed

[2018-05-04 13:38] #76 closed

[2018-05-07 11:47] favorinfo opened #84 "format the sql with inline values"
### Issue Type

* [ ] Bug
* [x] Enhancement
* [x] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

I've get the sql command like `insert a(k,k,k) values (a,a,a),(b,b,b),(c,c,c);`

Once I formatted the sql commands, it ran out
[code]

is there anyways

[2018-05-07 17:33] mtxr commented on #84
![](https://www.forecast.it/favicon-16x16.png) [New card](https://app.forecast.it/project/P-1/workflow/C-1)

[2018-05-08 16:42] mtxr commented on #72
Have you tried this?

https://dba.stackexchange.com/questions/83984/connect-to-postgresql-server-fatal-no-pg-hba-conf-entry-for-host

Let me know if it works.

[2018-05-12 09:02] Danieleeee commented on #13
I see that in the Sublime version [SQLTools](https://github.com/mtxr/SQLTools) you have support for Oracle DB.
Why in VScode version it isn't planned? :(

[2018-05-16 13:02] Danieleeee commented on #13
Hi Mikey,
I think that if you realize a PR it will be taken into consideration.
Better to have some limitation with the node version that don't use the Oracle DB at all.
Thanks for you help in this issue.

[2018-05-16 18:06] kfordaccela opened #87 "Formatting issues "--""
### Issue Type

* [X] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [Y] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

I feel as though I generally write pretty consistent SQL code, however using the reformat option the following code has major issues.
[code]

will beco

[2018-05-16 18:08] kfordaccela commented on #87
SELECT
  - - This is a nice comment label 1 Value1,
  - - Start of Tables
FROM
  DUAL

[2018-05-16 18:08] kfordaccela commented on #87
`- - Testing SQL Formatting
SELECT
  - - This is a nice comment label 1 Value1,
  - - Start of Tables
FROM
  DUAL`

[2018-05-17 09:54] mickeypearce commented on #13
:point_right: #88.

[2018-05-17 10:11] Danieleeee commented on #13
@mtxr , are you able to marge #88 to main build?
Thanks

[2018-05-26 09:01] pakLebah commented on #51
Any progress on this? I need sqlite support as well. Thank you.

[2018-05-30 06:54] CodeMan-P opened #89 "How do I connect to multiple databases at the same time?"
"sqltools.connections": [
        {
            "name": "MySQL_local",
            "server": "127.0.0.1",
            "port": 3306,
            "database": "db1,db2,db3",
            "username": "root",
            "dialect": "MySQL"
        }
    ]

[2018-06-01 11:14] ttraenkler commented on #75
Same for PostgreSQL

[2018-06-06 11:30] mtxr commented on #89
It's being developed but I'm a quite busy right now.

It will take advantage of the new Activity Bar api to handle connections like WebStorm. Does it fit?

[2018-06-06 11:31] #61 closed

[2018-06-06 11:32] mtxr commented on #70
Still happening?

[2018-06-06 11:33] mtxr commented on #72
Closing. No response.

[2018-06-06 11:33] #72 closed

[2018-06-06 11:36] mtxr commented on #73
Hey @LiPengfei19820619, could you please submit a pull request of this feature?

As you are a user that understands the needs for Firebird, you could follow this commit 6cc9774 and use this lib [hgourvest/node-firebird](https://github.com/hgourvest/node-firebird) to accomplish the same result that I've got with Postgres. Is it ok?

As you can see at the commit, it's not difficult, it's almost to d

[2018-06-06 11:40] mtxr commented on #44
Hello @FireFighter1017!

Could you provide some queries to:

- fetch all database columns;
- fetch limited records of a table;
- fetch all database tables;

Like in [mysql.ts](https://github.com/mtxr/vscode-sqltools/blob/master/src/api/dialect/mysql.ts) file?

With that, it will help me to start this FT.

[2018-06-06 11:41] mtxr commented on #44
@BuZZ-dEE, @SimonDever and @dakaraphi. Feel free to help too.

[2018-06-07 09:52] Jeordie commented on #70
Yes still the same error

[2018-06-07 22:13] EdBrereton commented on #70
Ditto. Same for me.

On 7 June 2018 at 10:52, Jeordie <notifications@github.com> wrote:

[2018-06-13 19:03] alexdor opened #90 "Tracking users without their permission"
Why is the telemetry enabled by default?

According to GDPR in order to collect the data of European users, the user has to opt-in. Tracking European users without their permission is illegal.

[2018-06-14 12:22] mtxr commented on #90
This was developer before this GDPR global wave. I didnt have time to change it, but I'll change it today.

[2018-06-14 12:42] mtxr commented on #90
Published

[2018-06-14 12:42] #90 closed

[2018-06-14 12:53] alexdor commented on #90
Thanks for the quick response : )

[2018-06-14 21:16] nschonni opened #91 "After bump to 0.15 on marketplace, release notes are a 404 when plug-in updates"
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [x] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

After the latest update is run, clicking on Release Notes button, you are directed to https://github.com/mtxr/vscode-sqltools/blob/master/static/releas

[2018-06-18 11:54] FireFighter1017 commented on #44
DB2 for i5OS (using sql naming convention):
* To get all table columns : `Select * from qsys2.syscolumns`
* To get all tables : `Select * from qsys2.systables`
* Fetch first 100 records : `Select * from qsys.syscolumns fetch first 100 rows only`

MS Access:
* [Stack Overflow post: How can I get table names from an MS Access Database?](https://stackoverflow.com/questions/201282/how-can-i-get-table-

[2018-07-08 22:09] vrokolos opened #92 "Any possibility to display results on html preview tab with scrollable datagrids?"
SQL Results -> Scrollable HTML Datatable

[2018-07-10 12:32] vrokolos commented on #92
What more do you need?

[2018-08-14 09:02] ilmam opened #94 "All sqltools commands yield command not found"
Not sure what's going on. I haven't used sqltools for some time. Now I purchased a new laptop and have a fresh installation of latest vscode.
After adding the sqltools extension, I can't see the connection in the sidebar, and every time I call for any sqltools command like "Setup a connection" or "Connect", an error with message like this (depending on the command):
command 'SQLTools.setupSQLTools

[2018-08-14 10:11] ilmam commented on #94
Following is the complete error when showing devtools:

[code]

[2018-08-26 12:26] casbon opened #95 "Add export to csv/json"
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [X] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

As per the mssql extension, add export results to csv/json.  See the example here:
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-develop-

[2018-08-26 12:28] casbon opened #96 "Run current file"
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [X] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

Add ability to run sql file.

Unless, I'm mistaken I can run:
 - a query I type in a box
 - a query I bookmark

But I cant run the current file (or sel

[2018-08-29 08:59] PapsOu opened #97 "Formatting comments, new lines are not kept"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [x] Did you check the Setup?

### Description

I've got a similar bug to this issue (#87) when formatting simple queries with comments :

[code]

### Steps to Reproduce (For bugfixes)

1. Create a .

[2018-08-30 19:33] cmarin1983 commented on #44
Will you have support for Sybase?

[2018-09-05 15:06] tmastny commented on #28
I actually prefer it the other way: having the results open in a new column, so I can see the query and results side by side.

I second @sluongng's request: can we customize the window location so it can either open in the current column, or move to the next one?

[2018-09-12 18:32] Level0r0s commented on #73
I did the Firebird Interface implementation.

As I have no experience with extensions and do not know how to test.
@mtxr It would be possible to test and upgrade the master.

Tanks

https://github.com/Level0r0s/vscode-sqltools

[2018-09-14 03:57] Level0r0s opened #98 "Firebird Implementation"
I did the Firebird Interface implementation.

As I have no experience with extensions and do not know how to test.
@mtxr It would be possible to test and upgrade the master.

Tanks

https://github.com/Level0r0s/vscode-sqltools

[2018-09-18 14:15] qoolek opened #99 "Formatting comments and non-latin aliases"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

I've got two problem with formatting comments and non-latin aliases
1. After formatting, for each cyrillic simbol in alias, space is added
2. If commen

[2018-09-20 02:51] xinshangshangxin commented on #6
current status?

[2018-09-21 12:32] bearoutthere opened #100 "How to increase limit of 10 for view queries"
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [ ] Feature Request
* [x ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x ] Are you running the latest version?
* [ x] Did you check the logs?
* [x ] Did you check the Setup?

### Description

**Expected behavior:** See all records in the db

**Actual behavior:** Only 10 records are shown.  At the bottom the view query limits results to 1

[2018-09-21 17:38] ntt2k opened #101 "cannot connect to local mysql v8"
### Issue Type

* [*] Bug
* [ ] Enhancement
* [*] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [*] Are you running the latest version?
* [*] Did you check the logs?
* [*] Did you check the Setup?

### Versions

- *OS*: MacOS latest
- *SGDB*: MySQL v8

  "sqltools.connections": [
    {
      "name": "testdb",
      "server": "127.0.0.1",
      "dialect": "MySQL",

[2018-09-23 04:37] mtxr commented on #98
Sure! Thanks @Level0r0s !

[2018-09-23 05:53] #91 closed

[2018-09-23 06:17] mtxr commented on #101
Actually I can't fix this issue. Both mysql node libs (https://github.com/mysqljs/mysql/pull/1962) are not supporting this authentication.

I suggest you to try this SO answer for now:
https://stackoverflow.com/a/51918364

Let me know if it worked for you, but my hands are tied til' they merge this PR.

[2018-09-23 06:28] mtxr commented on #98
Duplicate #73

[2018-09-23 06:28] #98 closed

[2018-09-23 06:29] mtxr commented on #89
Duplicate #69

[2018-09-23 06:29] #89 closed

[2018-09-23 06:34] mtxr commented on #6
Stuck. Help wanted

[2018-09-23 06:37] mtxr commented on #97
Just opened an issue https://github.com/zeroturnaround/sql-formatter/issues/50 in the 3rd party lib.

[2018-09-23 06:42] mtxr commented on #87
Duplicate #97

I'll keep the tracking in #97 because it' really well described and seems to be the same issue.

[2018-09-23 06:42] #87 closed

[2018-09-23 06:44] mtxr commented on #70
Did the version v0.15 resolved this issue?

To be honest, I still trying to reproduce it locally, but no success.

[2018-09-23 06:50] mtxr commented on #84
Will be fixed in v0.15.1 as seen here:
![image](https://user-images.githubusercontent.com/707561/45925023-be0a4d80-bee3-11e8-984c-2d7d352d9ea7.png)

[2018-09-23 06:50] #84 closed

[2018-09-23 06:51] mtxr commented on #75
#71 seems to be the same.

I've created a milestone to fix this problem.

[2018-09-23 06:51] mtxr commented on #71
#75 seems to be the same.

I've created a milestone to fix this problem.

[2018-09-23 06:52] mtxr commented on #75
Closed in flavor of #71

[2018-09-23 06:52] #75 closed

[2018-09-23 07:27] mtxr commented on #96
Example:

![image](https://user-images.githubusercontent.com/707561/45925306-01b38600-bee9-11e8-99c6-09031ce5b451.png)

[2018-09-23 07:35] #96 closed

[2018-09-24 07:47] Jeordie commented on #70
Nope, unfortunately still the same problem

[2018-09-26 20:45] ntt2k commented on #101
The temporary fix suggested on StackOverflow works! Thanks.

[2018-09-30 08:20] ivsuleman opened #104 "How do I connect to a local DB?"
### Issue Type

* [ ] Question

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [x] Did you check the Setup?

### Description
I use SQLLite on mac to view database. How can I set-up the connection to db in VS using extension?

### Steps to Reproduce (For bugfixes)

**Expected behavior:** [What you expected to happen]

**Actual behavior:**

[2018-10-01 08:13] buzztic opened #105 "All tables from PSQL database are expanded by default"
### Issue Type

* [ ] Bug
* [x] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

Thank you for updating sqltools. The last release is great,
I noticed that before the release all tables were colapsed by default in side bar whereas n

[2018-10-04 21:10] OzzyTheGiant commented on #101
I would like to point out that if you are using PHP's PDO or mysqli_connect function and you're on PHP version 7.1, those utilities are already using the new caching_sha2_password plugin, which means that if you use the same username for php scripts and for the SQLTools extension, you're gonna have a bad time trying to connect to your site via localhost. According to this [Russian post](https://me

[2018-10-05 10:10] budisentosa opened #106 "firebird support"
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [X] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

### Steps to Reproduce (For bugfixes)

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

### Version

[2018-10-10 14:46] PapsOu commented on #105
It would be great to have a parameter to set this feature `on` or `off`, like ` "sqltools.tablesStartExpanded": false,`

@buzztic : You can select the first table, and pressing <kbd>space</kbd> will collapse it. Using with the <kbd>down arrow</kbd> you can collapse quickly all tables (but someone may think you're crazy if you have more than 50 tables to collapse every mornings :stuck_out_tongue_wi

[2018-10-10 15:59] buzztic commented on #105
thank you @PapsOu

[2018-10-15 05:33] rameshkithsiri opened #107 "ERROR: Failed to start language server"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [x] Did you check the logs?
* [ ] Did you check the Setup?

### Description

When I install SQL tools from vscode extensions panel it says `ERROR: Failed to start language server:`
I did nothing after installation. only reloaded

[2018-10-23 16:28] ZuluagaSD opened #108 "Impala with kerberos support."
### Issue Type

* [ ] Bug
* [ ] Enhancement
* [x] Feature Request
* [ ] Question
* [ ] Other

[2018-10-23 16:41] ZuluagaSD commented on #44
Will this help with connecting to an Impala DB using the Impala ODBC?

[2018-10-30 03:14] mtxr commented on #105
I like the idea of an parameter as @PapsOu suggested.

Would you like to make a PR?

I can release it right away.

[2018-11-06 22:48] mjbvz opened #109 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-11 05:24] benyaminl opened #110 "Autocomplete Enhancements"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/mtxr/vscode-sqltools/issues/110)

### Issue Type

* [ ] Bug
* [ ] Enhancement
* [X] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [X] Are you running the latest version?
* [X] Did you check the logs?
* [X] Did you check the Setup?

### D

[2018-11-13 23:39] benyaminl commented on #107
It seems your development machine isn't connected to interenet, if it's connected, then the problem lies on VS can't resolve the DNS and can't connect to google analytics. I've that problem while a go, and it will gone if it's connected correctly (If you connected to local network, you will be deemed as connected to internet or such, when the request is never fullfil, it cause error)

[2018-11-17 17:05] mtxr commented on #109
Thank @mjbvz .

I'm almost completing the migration to the new API. It will be release in a feel days.

[2018-11-23 09:17] PapsOu commented on #105
@mtxr Do you have planned a release soon ?

[2018-11-24 21:14] mtxr commented on #105
My intention is too release this this weekend, but I'm very busy with some work deliveries. I'm sorry.

The next release will have lots of enhancements, as you can check on master-webpack branch, but I have to finish some stuff there first, also test with all sgdb's.

[2018-11-27 11:49] PapsOu commented on #51
What about this extension ? https://marketplace.visualstudio.com/items?itemName=alexcvzz.vscode-sqlite

You probably do something like this one ?

[2018-12-16 06:08] benyaminl commented on #110
@mtxr Anyway If I want to contribute, where should I started? I have zero knowledge about VS Code extension. But I want to learn

[2018-12-28 05:02] benyaminl commented on #110
Anyway @mtxr Will you set up patreon profile? I want to support you monthly.

[2019-01-07 11:40] Bernd-L opened #114 "Quick Picker doesn't work with your extension"
### Issue Type

* [x] Bug
* [ ] Enhancement
* [ ] Feature Request
* [x] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [x] Are you running the latest version?
* [ ] Did you check the logs?
* [x] Did you check the Setup?

### Description

I can't open the Quick Picker. Very annoying. Furthermore, there isn't any entry in the keybinds JSON file. Thus, I can't even remove it.

I'm not even

[2019-01-10 13:44] mtxr commented on #114
Well, it doesn't look like a bug.

It's just a matter of changing the keybindings. `CTRL+E` is the default keybinding since the beginning. You can just change it on your keybindings to anything else.

Since you have a custom behavior for `CTRL+E`, the conflict happens.

You can get the keybindings from the global keybindings file, paste into yours (user file) using another editor.

Let me know in

[2019-01-10 13:44] #114 closed

[2019-01-10 14:09] mtxr commented on #110
Sorry @benyaminl. I've recently changed my job, so It was a hurry here.

I've just did. Here is the Patreon profile https://www.patreon.com/mteixeira

This autocomplete task it's a quite hard, I need to find a lib that parses the SQL, or we could write one.
Do you know how to do that?

[2019-01-10 14:30] benyaminl commented on #110
Hm.. It use the language server or not? I have no idea to be honest for starting. Maybe some clue about it?

[2019-01-10 14:34] mtxr commented on #110
Yeah, we use language server. But taking a step back, I think would be better to create a library, them you could also publish it and help other projects.

The library should take an SQL query, parse it and tell us what is a keyword, table, column, schema and so on.

Furthermore, after this first step, it could get a bunch of queries, and map relationships between tables and columns.

What do you

[2019-01-10 15:03] benyaminl commented on #110
I agree, just I think I need to read the VS code documentation first, for
now I have no time for doing it.  But I'll try.

Regards,
Benyamin Limanto
sent from my ASUS Fonepad 8

Pada tanggal Kam, 10 Jan 2019 21.34 Matheus Teixeira <
notifications@github.com menulis:

[2019-01-11 16:38] mtxr opened #115 "NEXT RELEASE: Webpacked Extension"
This is a guideline for the next release that will bring us some improvements.

This changes are happening on `master-webpack` branch, checkout and get it running to see how is it going.

Here is the checklist:

- [x] Setup Webpack
- [x] Change repository structure to a mono repo.
- [x] Migrate to the new Webview API #109
- [x] Fixes language server issues like startup #107 #70
- [x] Optional expa

[2019-01-11 16:39] mtxr commented on #109
This has already changed as seen on #155.

I'll be closing, it will be release soon.

[2019-01-11 16:39] #109 closed

[2019-01-11 16:40] mtxr commented on #107
This has already been changed as seen on #155.

I'll be closing, it will be released soon.

[2019-01-11 16:40] #107 closed

[2019-01-11 16:40] mtxr commented on #70
This has already been changed as seen on #155.

I'll be closing, it will be released soon.

[2019-01-11 16:40] #70 closed

[2019-01-11 16:45] mtxr commented on #101
@ntt2k I'll be closing this for now since I can't work on it till the 3rd party libs fixes this issue.

Feel free to reopen it whenever you want, ok?

Thanks!

Also, thank you @OzzyTheGiant for this well explained comment. Sure it will help :clap::clap:

[2019-01-11 16:45] #101 closed

[2019-01-11 16:48] mtxr commented on #92
@vrokolos, any suggestion on this?

[2019-01-11 16:52] mtxr commented on #104
@ivsuleman We are currently not supporting SQLite. There is an issue tracking that already, #51.

I'll keep track of it there, thanks.

[2019-01-11 16:52] #104 closed

[2019-01-11 16:54] mtxr commented on #105
This has already been changed as seen on #155.

I'll be closing, it will be released soon.

[2019-01-11 16:54] #105 closed

[2019-01-11 16:57] mtxr commented on #108
Tracked on #73

[2019-01-11 16:58] mtxr commented on #106
Tracked on #73

[2019-01-11 16:58] #106 closed

[2019-01-14 11:58] abenhamdine opened #116 "Allow user to disable auto formatting `formatOnSave` and `formatOnPaste`"
### Issue Type

* [ ] Bug
* [x] Enhancement
* [ ] Feature Request
* [ ] Question
* [ ] Other

### Prerequisites (For bugfixes)

* [ ] Are you running the latest version?
* [ ] Did you check the logs?
* [ ] Did you check the Setup?

### Description

Thx for this useful extension.
Anyway, it would be great to be able to disable automatic formatting, because my formatting rules are quite different.

[2019-01-14 20:59] mtxr commented on #116
Hey @abenhamdine, actually auto formatting is a VSCode feature, not SQLTools.

Could you please check if you have `formatOnSave` and `formatOnParte` active in you vscode settings?

[2019-01-14 21:18] abenhamdine commented on #116
Indeed yes, but autoformatting has never been applied on .sql files in vscode for me (and it was fine for us because we have our own sql style rules). it's just after have installed your extension that the autoformatting began to apply.

[2019-01-14 21:57] mtxr commented on #116
Right, it's formatting because SQLTools register as a format tool.

I'll add this option, but it will be enabled by default since you are the first that noticed that, ok?

Thanks @abenhamdine

[2019-01-15 14:30] abenhamdine commented on #116
agree. Thanks to you @mtxr !

[2019-01-16 09:08] Mwaiwathu opened #117 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `sqltools`
- Extension Version: `0.15.1`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/mwaiwathu/mtxr.sqltools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cp

[2019-01-16 12:18] mtxr commented on #117
This will be fixed on next release compiled with wepback.

[2019-01-19 18:48] mtxr commented on #117
@Mwaiwathu you forgot to attach the file.

[2019-01-19 22:06] mickeypearce commented on #115
I am waiting for the Oracle version. Will it be included in this release as well?

[2019-01-19 22:37] Mwaiwathu commented on #117
Will do that on Monday morning

On 19 Jan 2019 20:48, Matheus Teixeira <notifications@github.com> wrote:

@Mwaiwathu<https://github.com/Mwaiwathu> you forgot to attach the file.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mtxr/vscode-sqltools/issues/117#issuecomment-455805310>, or mute the thread<https://github.com/notifi

[2019-01-20 05:43] #115 closed

[2019-01-20 06:12] mtxr commented on #92
Closing due lack of information.

[2019-01-20 06:12] #92 closed

[2019-01-21 06:14] Mwaiwathu commented on #117
I can't find the file on my workstation. Just noticed an update though. Let's hope it's fixed. Otherwise will attach if the issue comes up again.

[2019-01-21 09:52] Korkman commented on #110
A quick hack: how about parsing the text for contained table names and limit column names to found ones? That should be more simple to implement than including a full SQL parser and gets 80% of the work done. Not correct all the time, but very helpful.

[2019-01-21 12:11] benyaminl commented on #110
I also think about that，but when I see the code, I feel help less hahaha..

Regards,
Benyamin Limanto
sent from my ASUS Fonepad 8

Pada tanggal Sen, 21 Jan 2019 16.52 Korkman <notifications@github.com
menulis:

[2019-01-21 12:53] benyaminl commented on #110
@mtxr is this the language server ? https://github.com/mtxr/vscode-sqltools/blob/master/packages/language-server/requests/completion/models.ts

[2019-01-21 14:12] mtxr commented on #110
Yes, all the code is here: https://github.com/mtxr/vscode-sqltools/tree/master/packages/language-server .

Those are the models for rendering suggestions, but you will probably need too.

Here is were the new completion logic should come: https://github.com/mtxr/vscode-sqltools/blob/master/packages/language-server/index.ts#L133

As you ca see, I just return all the items, that should be filtered b

[2019-01-21 14:51] PapsOu commented on #105
@mtxr Thank you for that release !

[2019-01-21 14:55] mtxr commented on #105
@PapsOu thank you for your contributions! Let me know how this release is working. This release had a bunch of enhancements. Should be faster to load, to run and so on. Please, read the #115 and give me some feedback. A review on VSCode marketplace would also be great!

[2019-01-21 15:03] PapsOu commented on #69
@mtxr Have you intentionally removed the button that opens a new empty SQL editor ?
![20190121-160054](https://user-images.githubusercontent.com/5792207/51482086-c8efc480-1d95-11e9-9749-4573c03eac23.png)

[2019-01-21 16:03] mtxr commented on #69
Yes, in a near future we will open an SQL file for a connection. Something
like pgadmin does (query tool).

You can still create an empty SQL file using the command palette.

Also, I always thought this button was useless and I could add more
important features there, like add new connection, open sqltools settings
(UI, coming soon).
Does it make sense?

On Mon, Jan 21, 2019, 13:03 PapsOu <notific

[2019-01-21 16:23] PapsOu commented on #69
I was using this button every time I wanted to execute any SQL queries (mainly for debug purpose).

But I know I can create a `something.sql` file into my projects that will holds my usefull queries (and ignoring it form SCM).

I think this button was very useful for any user that do this process :

1. Create a connection for a specific DB.
1. Connect to the database.
1. List tables and, optionall

[2019-01-23 22:13] jbelford opened #119 "Describe Table / Show Table Records only works for first connection"
**Describe the bug**
If I connect to a database and then run show table records or describe table commands I can select a table that is in that database.

However, if I then connect to another database and run this command again it will still show tables for the first connection and also throw an error if I try to choose any of them.

This is not how this used to behave.

**To Reproduce**
Steps to

[2019-01-24 11:36] #119 closed

[2019-01-24 11:36] mtxr commented on #119
Will be release in 10m.

Thanks @jbelford!

[2019-01-24 11:52] mtxr commented on #117
Thanks @Mwaiwathu!

I've ran some profiling today, could find anything wrong. I'll be closing this to keep tracks of the issues we are already aware, but feel free to reopen this as soon as you see the problem again.

Closing.

[2019-01-24 16:12] jbelford commented on #119
Wow that was quick! Thanks @mtxr!

[2019-01-24 16:58] mtxr commented on #119
:D It was simple, so just fixed that.

If the extension helps you, please consider a donation, support or just a review on the marketplace or a GitHub star and help me to keep the development.

Stars and reviews are really important too. ;)

[2019-01-28 17:06] mtxr opened #121 "Add filter/search box api support to connection explorer"
**Describe the solution you'd like**
As an user I want to search columns and tables in the connection explorer.

**Additional context**
Microsoft/vscode/issues/50062 Use native VSCode API

[2019-01-29 11:40] patleb opened #122 "cannot disconnect"
After connecting, the only way to disconņect is by reloading the window. Otherwise this error message pops out:

[code]

My connection config is:
[code]

[2019-01-29 14:35] mtxr commented on #122
I can fix this today after work. Thanks @patleb !

[2019-01-29 15:07] patleb commented on #122
Thanks to you! Great extension by the way, it's really useful.

[2019-01-30 12:47] #122 closed

[2019-02-01 18:01] jbelford opened #124 "SQLTools: Connect doesn't show configured connections"
Connect command should show configured connections as options. Right now it shows databases that you are already connected to

[2019-02-02 08:05] Shujee opened #125 "Show columns in the pane"
Would it be possible to list table columns under each table in the hierarchy? This is how it is displayed in most SQL tools that I have worked with. Currently I have to use Describe command which is not as efficient.

[2019-02-02 11:51] mtxr commented on #125
Ref: #cnada

[2019-02-02 11:53] Shujee commented on #125
mmmm?

[2019-02-02 11:55] mtxr commented on #125
Don't worry. It's a ref for the task manager I'll start to use.

Regarding that, that you be fixed today

On Sat, Feb 2, 2019, 09:53 Shujaat <notifications@github.com wrote:

[2019-02-02 11:56] Shujee commented on #125
Ah, thanks.

[2019-02-04 00:15] mtxr commented on #125
Related to #124.

[2019-02-04 01:01] mtxr commented on #125
@Shujee which version are you using?

Actually we have this in the connection explorer.

![image](https://user-images.githubusercontent.com/707561/52185515-7687bc80-2807-11e9-9db3-cec2fa9591f1.png)

Is this what you meant?

We had a bug in the previous release and it was not working, but version 0.16.6 already fixed that.

Please, if this is not what you mean, please fell free to reopen the issue.

[2019-02-04 01:01] #125 closed

[2019-02-04 02:56] Shujee commented on #125
Yes. This is what I was talking about. At the time of writing, the pane was not showing list of columns under each table, but it looks like this has been fixed now. I can see them now.

Thanks again.

[2019-02-04 07:31] mtxr commented on #116
@abenhamdine you can achieve this by settings option `formatLanguages` to `[]`.

Try it and let me know. It's better than having a option to complete disable the formatting.

Currently there is no way in vscode to disable just auto format via extension api. So for now, I'll keep it like this to avoid bigger issues, ok?

Let me know if this solves your problem.

Thanks.

[2019-02-04 07:31] #116 closed

[2019-02-04 07:35] mtxr commented on #99
This is very annoying.

I'll code it there. Can't wait them anymore.

[2019-02-04 08:08] #97 closed

[2019-02-04 08:08] #99 closed

[2019-02-04 08:08] mtxr commented on #99
I've made literally a workaround in the extension.

Let's wait for them now.

Releasing now v0.16.7

[2019-02-04 12:02] ransagy opened #126 "Cannot connect to Azure SQL anymore"
**Describe the bug**

Trying to connect to any Azure SQL server instance fails with the exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a new connection to an Azure SQL instance.
2. Try to connect.

**Expected behavior**
A connection is established, Assuming all details (URL, username, password etc) are correct.

**Desktop (please complete the following informati

[2019-02-04 17:31] ransagy commented on #126
@mtxr thank you for the quick response!

While this allowed me to move forward, It still didn't work. Despite having `"encrypt": true` in my dialect options as noted above, I still get the following error in the log:

`(node:17028) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 5): ConnectionError: Server requires encryption, set 'encrypt' config option to true.`

[2019-02-06 01:04] mtxr commented on #126
I'll reopen and take a second look into it

[2019-02-06 01:15] mtxr commented on #126
Just to keep you up to date, this warning is probably because of this:

https://github.com/mtxr/vscode-sqltools/blob/0a4565168b25b62058bd49139fd86ba37dd5fc27/packages/core/dialect/mssql.ts#L71-L98

Since the "encrypt" flag is a now issue because of miss configuration, I've decided to do a retry if fail and try without encryption.

[2019-02-06 13:31] ransagy commented on #126
As far as i know, Connections to Azure SQL have to be encrypted. Usually when specififying connection strings elsewhere, like in .NET, i have to supply the `;Trusted_Connection=False;Encrypt=True;` parameters.
I think `encrypt` is enough though.

I'll test it again as soon as there's a release.

[2019-02-08 14:23] gyohza opened #127 "Interrupting a running query"
Hi!

Can I request for any means of killing a running query? As it stands, the only way I can do so is through MySQL Workbench. If there is a way that I'm not aware of I must humbly ask for your guidance (quite new to VS Code, tbh).

I want to migrate out of Workbench and operate everything I can through VS Code and for all its worth, this extension rocks, but some queries turn out to be slower th

[2019-02-08 21:02] davidlwatsonjr opened #128 "Reduce notifications"
**Is your feature request related to a problem? Please describe.**
Every time I open VS Code, I get a notification about this extension.

**Describe the solution you'd like**
I would like to almost never get a notification about an extension. The experience is jarring and reduces the effectiveness of notifications. Notifications, IMO, should be reserved for instances where I must take action now.

[2019-02-08 22:38] mtxr commented on #128
Hi David,

Sorry about that. But actually that happened this week because we had multiple releases.

The intention of the notification is not to get donations, but to tell users we had an update and read te changelog.

If you are really receiving a notification every time you open VSCode, it's a bug. Should be showing every time. Just once per release.

Could you confirm that for me please?

[2019-02-09 19:49] mtxr commented on #110
I've started to try some parse and complete. It's referenced in the commit above. But it's really not that simples :(

[2019-02-10 05:09] #128 closed

[2019-02-10 05:34] mtxr commented on #128
I've added a rule to notify only if user has not been notified in the past 3 days.

As I told you, notifications are to notify about releases, not to get donations.

Also I've added an option to completely disable release notifications, `disableReleaseNotifications`.

So, please disable it if you think its annoying. Available on next release v0.16.9.

About you first comment, here is a little back

[2019-02-10 09:36] #126 closed

[2019-02-10 16:35] spjeff opened #129 "MSSQL - Trusted_Connection=True"
**Is your feature request related to a problem? Please describe.**
Create connection MSSQL requires a username/password for SQL text login.
Would like option for "Trusted_Connection=True" to login as current Windows user.  Single sign-on.  https://www.connectionstrings.com/sql-server/

**Describe the solution you'd like**
Create new connection checkbox "Trusted Connection" and user/password text b

[2019-02-11 06:41] mtxr commented on #129
Hi @spjeff.

Please se #61 for some background about this issue.

I want to  support it, but I'll need to wait till VSCode team allows us to handle installation time deps. See [ VSCode Roadmap](https://github.com/Microsoft/vscode/wiki/Roadmap#extension-authors), "Enable extensions to install additional platform specific components at extension installation time.". Issue Microsoft/vscode/issues/692

[2019-02-11 10:02] ransagy commented on #126
Confirmed, Works well now. Thanks!

[2019-02-11 10:10] #129 closed

[2019-02-11 15:40] spjeff commented on #129
Excellent, thank you @mtxr

[2019-02-12 03:55] BrettMoan commented on #44
Any ideas on what kind of work would need done to add this functionality? It something I could see myself using at work if you were able to get it working. Depending on what skills would be needed to implement I could try and set aside some personal time to contribute.

[2019-02-12 04:08] mtxr commented on #44
I'm currently working to add Oracle and SQLite. If we succeed, I will be able to add this functionality too :pray:

[2019-02-12 23:35] Gianluks90 opened #130 "Impossible delete database from explorer"
Hi! I'm learning to use databases and your extension, however I have a problem: I can not delete a database created by mistake from the explorer. This is a bug?

[2019-02-12 23:44] mtxr commented on #130
Hi @Gianluks90! No, it's not a bug. We currently doesn't have a option to remove the database via UI.
There's a issue for it, issue #64, but for now you can remove using vscode default settings editor.

Open the `Command Palette` and type  `settings`. It the `Preferences: Open Settings (JSON)`.

When the file opens, search for `sqltools.connections`, delete the lines of the connection created by m

[2019-02-12 23:44] #130 closed

[2019-02-14 17:43] jbelford opened #131 "Resizing columns not working"
Attempting to resize columns in the table view causes strange behavior such as:
* Getting multiple horizontal scroll bars
* Not being able to resize other columns

[2019-02-15 09:21] mtxr commented on #131
Hi @jbelford

Thanks for letting me know. Didn't see it before, but it's very annoying. Just saw it.
I might fix it today after or before get in to the work.

Thanks!

[2019-02-21 10:29] aszenz commented on #64
Is there no way to edit/delete a connection right now? If so then then the edit/delete buttons could be added to the sql connection sidebar next to each connection.

[2019-02-22 23:07] adainz commented on #44
If you could also add support for Teradata that would be amazing!

[2019-02-25 16:29] benyaminl opened #132 "Can't scroll Vertically"
**Describe the bug**
When having long data column, the column can't be scrolled vertically, maybe same for #92

**To Reproduce**
Steps to reproduce the behavior:
1. select a table with many columns
2. try to scroll vertically
3. oops no scrollbar

**Expected behavior**
Should scroll vertically like on old version

**Screenshots**
![image](https://user-images.githubusercontent.com/2817332/53352383-

[2019-02-25 16:31] benyaminl commented on #127
Sometimes I just request a new one, or execute new query and it just stop. For now at least.

[2019-02-27 00:33] BrettMoan commented on #51
Just out of curiosity, did you decide to use the `activate` command to do the node install on the user's side or did that not address the issue?

I'm curious how generic odbc/jdbc support will work once you've finished oracle/sqlite support./

[2019-02-27 01:05] mtxr commented on #51
Yes, there is a branch with a lot of changes feature/oracle that will resolve this issue. I'm not installing on activate, but on first use.

Hard work, but almost done. Needs just some polishing

[2019-02-28 03:15] BrettMoan commented on #51
Awesome! 🥇 Looking forward to see how it turns out.

I don't have experience with the syntax of how vscode and its extensions work otherwise I would offer to help test/review/document.

Best wishes. Looking forward to having an integrated solution as it will make vscode even more functional for my everyday development. 👍

[2019-02-28 11:48] #51 closed

[2019-02-28 11:48] #131 closed

[2019-02-28 11:48] #95 closed

[2019-02-28 12:05] mtxr commented on #13
Closed in #120

[2019-02-28 12:05] #13 closed

[2019-02-28 14:36] DanRic commented on #13
Hi, is possible to use this marge?
Add Oracle support and SQLite #120

[2019-02-28 15:04] mtxr commented on #13
I'm wrapping up the code and writings some docs. It will be released during the weekend, ok?

[2019-02-28 15:05] DanRic commented on #13
OK, Thanks!

[2019-02-28 16:21] mtxr commented on #132
Fixed. Will be released during the weekend

[2019-03-01 08:38] #63 closed

[2019-03-01 08:54] mtxr commented on #73
@LiPengfei19820619 can you test the open PR?

I believe it's already working, I've updated the references to the new code.

Thanks!

[2019-03-01 15:57] bfranklyn commented on #64
Where are the connections stored right now? I noticed that even when I uninstall the extension and then reinstall it the previous incorrect connections are still there. Are they stored in a file somewhere in the file system?

[2019-03-01 16:16] mtxr commented on #64
It's not released yet.

Next week you will be able to remove it using the right click menu over a connection
Matheus Teixeira
On Mar 1 2019, at 12:57 pm, Brandon <notifications@github.com> wrote:

[2019-03-03 21:53] mtxr commented on #64
Here is how it will work for it's first version:
![image](https://user-images.githubusercontent.com/707561/53702437-aebdf300-3de5-11e9-8bb2-9a20d546e209.png)

[2019-03-04 22:11] bfranklyn commented on #64
Awesome! 👍

[2019-03-07 14:12] #64 closed

[2019-03-10 09:04] quenck commented on #13
@mtxr I'm desperately waiting for that feature... Please release v0.17.x. Thx!

[2019-03-10 14:26] mtxr commented on #13
@quenck sorry for that; It will be released today for sure! I just took some time to do some polishing.

[2019-03-11 13:12] mtxr commented on #110
I won't be able to complete this for v0.17. But is the next feature for sure

[2019-03-12 08:21] mickeypearce opened #135 "Keeping default vscode Intellisense in autocompletion"
**Is your feature request related to a problem? Please describe.**
Autocompletion of DB objects (tables, columns, ...) by SQLTools is really nice. But I miss variables, medhods, ... from my code that VS Code provides in IntelliSense by default.

**Describe the solution you'd like**
Keep default VS Code autocompletion AND SQL tools DB objects autocompletion

**Describe alternatives you've considere

[2019-03-12 08:40] benyaminl commented on #135
Hey pearce, for now implementing intelisense itself is quite dificult task for Max, maybe you could help him a little bit more with supporting via patreon https://www.patreon.com/mteixeira to help fund this project so max have more time to implement such request :) It's a great feature anyway :) 👍

[2019-03-12 08:48] benyaminl commented on #132
Ehm @mtxr , it's still not scrolling on my side, is there anything I'm wrong on settings sql tools?
![image](https://user-images.githubusercontent.com/2817332/54186591-4f936900-44de-11e9-996b-e01f56a14c74.png)

[2019-03-12 11:45] mtxr commented on #132
Seems to be happening in only in Windows.

I'll fix this right now.

Thanks @benyaminl

[2019-03-12 11:58] benyaminl commented on #132
It's quite strange anyway. Hmm... Ur Welcome anyway.

[2019-03-12 12:08] mtxr commented on #132
![image](https://user-images.githubusercontent.com/707561/54198745-09baae80-44a6-11e9-9442-c4c610312eec.png)

Here is working every time. Which version of VSCode are you using?

[2019-03-12 12:09] benyaminl commented on #132
This one.
![image](https://user-images.githubusercontent.com/2817332/54198963-57610680-44fa-11e9-9231-9dee369dd02d.png)

[2019-03-12 12:16] mtxr commented on #132
Oh Boy...

[2019-03-12 12:16] benyaminl commented on #132
Is that too new? If yes then just ignore it.

[2019-03-12 12:27] mtxr commented on #132
No, it's the same version I'm using.

That might take some time. But it can be fixed for sure.
Thanks @benyaminl

[2019-03-12 14:30] mtxr commented on #135
Thanks @benyaminl!

@mickeypearce there is an issue (and a branch) fo this. It's a bit hard because of the variety of SQL parsers around. MySQL has some specific stuff, MSSQL too and PostgreSQL as well.

So I want to work it deeper to make it dialect independent. It's a loot of work, but now with the plugin architecture should be easier.

I'll close this i favor of #110, ok?

Feel free to reopen i

[2019-03-12 14:30] #135 closed

[2019-03-12 14:33] #132 closed

[2019-03-12 15:11] mickeypearce commented on #135
Just for clarifiaction... It would be nice to have it both at the same time:

1.  VS Code's word based completions (without SQL Tools, not connected):
![image](https://user-images.githubusercontent.com/1925433/54210612-1cea7000-44e0-11e9-8b44-db3041de5588.png)

2. SQL Tools autocompletion of DB objects (l_param is not on the list anymore):(
![image](https://user-images.githubusercontent.com/192543

[2019-03-12 15:50] mtxr commented on #132
@benyaminl please, try v0.17.4.

[2019-03-13 01:32] pakLebah commented on #51
SQLite support in this extension requires node.js installed on the system which I refuse to do. Just do it like AlexCovizzi's extension [here](https://github.com/AlexCovizzi/vscode-sqlite).

[2019-03-13 02:07] benyaminl commented on #132
Thanks! It's working now :)
![image](https://user-images.githubusercontent.com/2817332/54248494-6df57500-456f-11e9-9a96-8f5ee786e663.png)

[2019-03-13 07:59] DanRic commented on #13
Hi,
installing oracledb dipendence I have this error:
![1](https://user-images.githubusercontent.com/43675808/54262370-4b169100-456e-11e9-8297-a8195a574509.png)

[2019-03-13 09:09] jdan62 opened #136 "Horizontal scroll in results tab"
Header row don't scroll when a result cell is selected.

1. Execute a query
2. Click  a cell in results
3. Try to scroll horizontal
4. The header row stay fix

[2019-03-13 13:02] mtxr commented on #136
Which version are you using?

We had a fix at scrolls yesterday

[2019-03-13 13:57] jdan62 commented on #136
Version : 0.17.4

[2019-03-13 17:31] diggerydoo68 opened #137 "newly created Oracle connection fails, visual studio code"
**Describe the bug**
When trying to connect to oracle database with new connection, notification continues to say "You need "oracledb@3.1.1" to connect to database." When I click install i get no response with no connection or a "Request DependencyInstaller/install failed unexpectadly without providing any details" Error with no connection. FYI I have already installed node js and node-oracledb wa

[2019-03-14 08:51] mickeypearce commented on #137
Hey @diggerydoo68 .
Please post output from "Output" view (Ctrl + Shift +U) - channel "SQLTools Language Server" (right corner dropdown) just after the error happens, That would be really helpful.

[2019-03-14 13:50] mtxr commented on #135
Thanks @mickeypearce .

The idea is to keep both. Just one is not an option. For example, I use VSCode completions and SQLtools completions in my JS/TS files, and this is possible just If both are working.

I found a great SQL parser, it's just for SQLite, but I'm working on extending to other dialect to make it a bit easier. From scratch is almost impossible for me now

[2019-03-14 13:51] mtxr commented on #135
Thanks @mickeypearce .

The idea is to keep both. Just one is not an option. For example, I use VSCode completions and SQLtools completions in my JS/TS files, and this is possible just If both are working.

I found a great SQL parser, it's just for SQLite, but I'm working on extending to other dialect to make it a bit easier. From scratch is almost impossible for me now

[2019-03-14 13:52] mtxr commented on #137
@mickeypearce I'm assigning this one to you, so you can verify and work on it.

If confirmed, let me in case we need to publish it.

Thanks!

[2019-03-14 14:06] mtxr commented on #51
I saw this extension before, it's an option, but it goes against the architecture used here. The idea to use NPM packages is to avoid parsing results from STDOUT to JSON, that's a lot of processing, it can become slow easily. Packges just give us results as JSON.

I've found the way it handle queries (https://github.com/AlexCovizzi/vscode-sqlite/blob/master/src/sqlite/cliDatabase.ts), I can create

[2019-03-14 14:08] mtxr commented on #136
I'll take a look. Thanks @jdan62 .

If you have any additional info you could provide would be great.

[2019-03-14 14:14] mtxr commented on #73
Closing. Needs users to test it.

If someone want to move forward with it, here is the PR #123 and the branch with the code is `feature/firebird`.

[2019-03-14 14:14] #73 closed

[2019-03-14 14:15] mtxr commented on #20
Closing due lack of response and iteraction.

[2019-03-14 14:15] #20 closed

[2019-03-14 14:19] mtxr commented on #44
Hey guys, could you please submit a pull request of this feature?

As you are a user that understands the needs for ODBC/JDBC, you could follow this structure (https://github.com/mtxr/vscode-sqltools/tree/master/packages/core/dialect/sqlite) to accomplish the same result. Is it ok?

As you can see, it's not difficult, it's almost to define the queries it needs to run.

That's the first step. After

[2019-03-14 14:20] mtxr commented on #108
Hey @ZuluagaSD , could you please submit a pull request of this feature?

As you are a user that understands the needs for Kerberos, you could follow this structure (https://github.com/mtxr/vscode-sqltools/tree/master/packages/core/dialect/sqlite) to accomplish the same result. Is it ok?

As you can see, it's not difficult, it's almost to define the queries it needs to run.

That's the first step.

[2019-03-14 14:51] diggerydoo68 commented on #137
I realized after looking at the output(thanks for that info) why it was having trouble installing the oracledb extension. Now the extension is installed but I am getting a "ORA-12154: TNS: could not resolve the connect identifier specified" error.  Does SQLtools use a ODBC driver? How does sqltools locate the tsnames.ora file?

[2019-03-14 16:05] mickeypearce commented on #137
SQLTools uses node-oracledb driver that uses Oracle native client (Instant Client, for ex.) for connecting to Oracle DB.

Service name should be specified in "database" property:

from:  [OracleDB Connections](https://github.com/mtxr/vscode-sqltools/blob/master/docs/Connections/OracleDB.md).

If that wouldn't work you can include the whole connection string directly in "database" property:
`"datab

[2019-03-14 16:19] ZuluagaSD commented on #108
Done! [https://github.com/mtxr/vscode-sqltools/pull/138](url)

Please let me know if it's ok like that, first time contributing to any project but very happy to help!

[2019-03-14 16:23] mtxr commented on #108
I'll review till the end of the week.

@ZuluagaSD thank you! Welcome to the team!

[2019-03-14 18:28] mtxr commented on #136
Fixed in v0.17.5

[2019-03-14 18:28] #136 closed

[2019-03-15 01:19] pakLebah commented on #51
I don't see a few MB requirement would be a hurdle to your users. It's now common to see an application that requires a few hundreds MB or even a few GB. I have been using Alex Covizzi's extension for a few months and it's all fine, I don't see any major problems with it. Well, I only use sqlite for small databases (more or less 1000 records per table). I use other RDBMS for large databases.

I do

[2019-03-15 08:20] mickeypearce commented on #135
Ok. thanks.
Maybe consider also using `CompletionItemProvider` (`vscode.languages.registerCompletionItemProvider`, ...) as it allow multiple providers for a lang.

[2019-03-15 09:18] callamaris opened #139 "[Feature request] cluttered database tree view"
Hi,

please use the oracle system view user_tables instead of all_tables for the database panels.

unlike all_tables the system view user_tables shows only the tables owned by the connect user, which is the default behaviour of most oracle database clients.

The table list is pretty much unusable when connecting as an admin user, since the list can get so long on a big database that the scrolling

[2019-03-15 09:36] callamaris opened #140 "[Feature request] open cell value in new file"
Hi,

please add a new context menu item "Open cell value" to open a new editor and copy the selected cell value.

I am opening a new editor and copy the cell content with the button copy cell value for now.

a new button to do this in one go would improve my workflow a lot, espacially with clob/varchar/xmltype columns with long text content.

[2019-03-15 09:36] mickeypearce commented on #139
Hey @callamaris , thanks for the request.

As schemas are not yet supported (https://github.com/mtxr/vscode-sqltools/issues/71) I decided for `all_tables` as a compromise. Mainly because is useful to have all tables accessible to the current user at hand for example when working with autocomplete, etc.

But I also agree that tree view gets cluttered and also slows performance.

[2019-03-15 09:48] mickeypearce commented on #139
@mtxr , @callamaris , does it makes sense to wait for the schema support?

[2019-03-15 14:28] mtxr commented on #139
For sure! Thanks @mickeypearce.

After structuring explorer to support schemas, should be easy to do it.

Do you want to do it? Otherwise I'll take a shot on it in the weekend

[2019-03-15 14:28] mtxr commented on #137
@diggerydoo68 did you get it running?

Let us know so we could close this issue.

[2019-03-15 14:32] mickeypearce commented on #139
Please go ahead. :smile: I would then adjust the oracle dialect to the schemas support.

[2019-03-15 15:26] diggerydoo68 commented on #137
Still working on it. Where is it writing the connections details to? I don't see it in the settings.json file nor my oracle files (tnsnames.ora or oracle instant client folder). I created a connection through the regular "Setup a new connection" interface and I added the whole connection string to the the "database field" and excluded the port field and it still gave me the above Oracle error afte

[2019-03-15 15:33] diggerydoo68 commented on #137
a follow up question does sqltools work with LDAP?

[2019-03-15 16:07] mickeypearce commented on #137
In the workspace settings. Try manually adding connection to settings.json. maybe there is a problem if ./.vscode/settings.json is not existing already.

[2019-03-15 21:09] dboune opened #141 "[Feature] Pass dialectOptions to node-postgres in order to support SSL"
**Is your feature request related to a problem? Please describe.**

I am unable to connect to a PostgreSQL server that requires SSL.

The values in `dialectOptions` do not appear to be passed to `node-postgres`.

**Describe the solution you'd like**

I should be able to add `"ssl": true` to the connection `dialectOptions`, and establish a connection to PostgreSQL using SSL/TLS.

Additionally, `ssl

[2019-03-16 17:06] yacinehmito opened #142 "Dollar quoting not properly formatted"
**Describe the bug**
When using dollar-quoting (`$$`), SQLTools' formatter inserts a space between the two characters (`$ $`), which breaks the script.

**To Reproduce**
Write any piece of SQL with Postgres' dollar quoting.
Example:

[code]

**Expected behavior**
The two dollar signs should stay next to each other.

**Desktop (please complete the following information):**
 - OS: Mac
 - Version 10.

[2019-03-17 20:24] julientype opened #143 "[SQLite] Views showing as tables on explorer"
**Describe the bug**
when creating a view it loads in table folder not in view folder.....
sqlite
**To Reproduce**
CREATE VIEW v_tracks
AS
SELECT
    *
FROM
    UserCategory;

**Desktop (please complete the following information):**
 - OS: [ Windows]
 - SQLTools Version [-v0.17.x]

[2019-03-17 20:28] mtxr commented on #142
Which SQLTools version?

[2019-03-17 20:37] julientype commented on #143
would be nice if you added more templates off tables.....
like basic formats for insert delete where  ect.....
like an aid to get started with good formats.......  right click insert template type.....

[2019-03-17 20:46] julientype commented on #143
if take a look sql type generator statements you have mass to create templates from
just use the same name and inject the format ......
alter-table-stmt   analyze-stmt   attach-stmt   begin-stmt   commit-stmt   create-index-stmt   create-table-stmt   create-trigger-stmt   create-view-stmt   create-virtual-table-stmt   delete-stmt   delete-stmt-limited   detach-stmt   drop-index-stmt   drop-table-s

[2019-03-17 20:48] mtxr commented on #136
@jdan62 can you confirm it's working for you?

Feel free to reopen if it persists. But should be totally gone.

[2019-03-17 21:00] julientype commented on #143
here is what i mean.... on a listed View  you want to delete...menu generate script on view name
 drop-view-stmt
just call the way it is.....   you get full editor this way   add help tips on how to best format the template injection

[2019-03-17 21:14] mtxr commented on #51
@pakLebah don't get me wrong please, I'll give you some background about the project and reasons why I believe we are doing great here.

I can consider this as a fallback as said. Anyway I would implement that differently, and download the binaries on first use.

If you take a look at VSCode issues and their project roadmap, you will see that they are encouraging extension developers to keep exten

[2019-03-17 21:54] #140 closed

[2019-03-17 21:55] mtxr commented on #140
Will be released soon. Tks! Great idea.

[2019-03-17 22:34] #141 closed

[2019-03-17 22:38] mtxr commented on #141
I've added `pgOptions` setting. More info here: https://mtxr.gitbook.io/vscode-sqltools/connections/postgresql#1-1-specific-options

[2019-03-18 00:16] mtxr commented on #143
we already have for inserts. But yes, would be nice for sure.

Can you open a new issue as a feature request for this?
I'm already working on this bug. But the features should be handled separated.

Ok?

Thanks @julientype . Great insights

[2019-03-18 00:37] #143 closed

[2019-03-18 02:03] pakLebah commented on #51
Small is relative. Today's storage capacity is now moving to terrabyte. Unless you're still using a computer that only have a few hundred megabytes storage, I think a few hundred megabytes for a useful extension would be fine for common people.

Don't get me wrong, too. I like your extension, but I don't need nodejs. Installing nodejs just for a VS Code extension is too much for me. If I would wan

[2019-03-18 06:51] #142 closed

[2019-03-18 06:51] mtxr commented on #142
I could confirm it here. Fixed. To be released soon

[2019-03-18 16:53] julientype opened #146 "error in set focus"
**Describe the bug**
when i click view table  it renders the data window.....
the selected entry point is highlighted the table name ...ok
the error return creates a second highlighted the data connection entry..... bad error
it forces the selected entry to jump up the the data connection....
I have small screen so it mess up my tree on a large screen the effects would be un notice

next is add 2

[2019-03-18 17:19] julientype commented on #110
the best way to is to use XML   and use the dom engine.....   sql is base on bloc statements so you load it in an xml file .....    the xml template will hold all logic operators

var xmlDocAdmistration = XMLDocument

function getAppXMLCredentials(){
    xmlHttp = new XMLHttpRequest;
    xmlHttp.responseType = "document";
    xmlHttp.open("GET",'./Adminstration.xml',true);
    // Force the respons

[2019-03-18 20:00] julientype commented on #110
when you build dialog for input you point then to the  xml template entry and all syntax is held in the template.....  with a node reference ... to change the program around becomes simple you edit the template instructions .... for each attribute .....   your not playing with JavaScript it does what its suppose to do load the applicable node reference into the dialog.... so you avoid re-altering

[2019-03-18 21:22] julientype commented on #110
when have a xml data island do you really need an intellicence  drop down editor menus... no
your simply treating sql statements as form and its island holds all syntax.......
drag drop and set switches .....  so the end result would work like this ......
https://pxt.azureedge.net/blob/3a391831dd0f29344eb364be8a3c3cdeaa874d52/static/blog/lego/05-15-2018/editorgif.gif

[2019-03-19 15:38] julientype commented on #110
here how i recommend setting up an sql phrasing engine bata
vscode is built on V8 engine and will not be using sax or other type java libs but the v8 engine dom for speed
the best way is to create a folder on git hub to share its run time files ... just html java script and XML
to get on board we need the v8 engine to load up and we do this with electronjs   app
electron has the debugger we need a

[2019-03-19 15:45] jtuttas opened #147 "Error opening connection Request initialize failed with message: console.debug is not a function"
When I try to open a sqlite database I've got the error "Error opening connection Request initialize failed with message: console.debug is not a function"

OS: Windows 10
Node version: 6.11.1

[2019-03-19 16:50] jtuttas commented on #147
One addition, the problem appears on MySQL Databases too!

[2019-03-19 17:18] julientype commented on #147
console.debug   yep  a run time debug code needs to be removed...... your not in debug mode its an active app.....  v8 code error......

[2019-03-19 18:46] julientype commented on #110
here is where the magic happens unlike json   xml has parent child relations  and has open sintax to work with....  so a child node can be created using html tags    and the dom render engine ignores attributes
so we can use class = "stylename"  when we copy nodes from a xml file.....  and place in a list tree  html tag operation. or remove entry from the list.....
so all we do is drag and drop...

[2019-03-19 22:00] julientype commented on #110
here is better way..... create call to open a catview in your extension
https://code.visualstudio.com/api/extension-guides/webview
we need the the dom phrasing engine and the v8 debugger
your extension cant modify the dom....   yet we can do it this way......

Scripts and message passing#
Webviews are just like iframes, which means that they can also run scripts. JavaScript is disabled in webviews

[2019-03-20 07:28] jtuttas commented on #147
Thanks a lot, I updated to the latest node Version and the error disappears. Now I have an other new problem, the extension ask me to install Missing module "sqlite3@4.0.6". When I hit "install" this message still stay on.

[2019-03-20 07:28] #147 closed

[2019-03-20 13:21] mickeypearce commented on #137
@diggerydoo68 , any luck ?

[2019-03-20 14:39] mtxr commented on #110
Thanks @julientype ! I'll take a look at this during the weekend.

Great job!

[2019-03-20 14:42] mtxr commented on #146
Is it the latest version @julientype ?

[2019-03-20 15:35] julientype commented on #147
you have a global folder and a local folder where modules are installed
the vscode wizard may need a global copy not a local one

[2019-03-20 16:42] julientype commented on #146
yes the view was corrected as you did....  the return focus created 2  focus points where only 1  should be at all times base on the operation at hand.... styles to new features go hand and hand.... this way your not back tracking to correct features later..... so you have a style error and the selected action return entry
like if you create something what return focus entry should highlighted in

[2019-03-20 17:30] julientype commented on #146
ohh yes their is away to query the css being used in its frame to get its tree active object.....   again your not building arrays to cycle an active request .... your working from the load dom object... and let it do the work for you....   you do get dom access in vs-code addins but its limited  granted by vscode styles themes.....   your working off its style object.....

[2019-03-20 19:21] julientype commented on #146
Get a white board as you read draw the ideas on the board on how we are going to move information around..... your a data store connector and the cat window is your client......
the client will never connect to the database .... your the connector store.... where you add alter values from to the database.... like add delete create.....  where the complex code is not mix in with data connection sto

[2019-03-20 21:24] julientype commented on #139
3000 tables .......   lol..... with sql Intel-a-scene  menus.... lol

[2019-03-21 16:43] julientype commented on #110
what we do is have the data store feed xml data structure to the cat window not json to keep simple and compatible.....
1 the store data xml feeder
2 the html list tree for multidimensional form inert operations
3 the xml data schema   snips.....

now we to collect a xml call a stack  used for or JavaScript switch statement operations we dont load new libs .....

here is a debugger image i simple

[2019-03-21 17:06] mtxr commented on #146
Wait. We are talking about a lot of stuff.

What's the problem? Is because the 3 is being expanded on connect?

[2019-03-21 20:18] mtxr opened #148 "Allow chose to open results on side"
**Is your feature request related to a problem? Please describe.**

When executing queries, The document I'm working looses focus.

**Describe the solution you'd like**
As an user I want to open results on side, below or in the current viewColumn and keep the focus on editor.

[2019-03-21 20:38] rogenaro commented on #137
I'm having the same problem as first described. In my case, the installation fails because of the proxy authentication settings.
It seems that the installation command does not use the .npmrc settings on my user profile nor the "http.proxy" from vscode?.
Do I need to add those settings somewhere else?

[2019-03-21 20:53] julientype commented on #146
in a client server operation we need maintain a connection  so its important the data store tree to retain 1 element selected ..... you have a cat window open and moving to different   area in the store....
a) do you close the cat window
b) let the user submit sql   from a client window.  ..no
your command operation happens by the user.... im not sure  how vscode lets you do this in its implemente

[2019-03-21 21:03] julientype commented on #146
here is the code.... where a long array gets mess up and you need the user back to its inserted operation in the tree....
elem[iclause].scrollIntoView({});

[2019-03-21 21:43] mtxr commented on #146
Ok, I got it now.

But currently there's nothing I can do with vscode styles. Their api programmatically create an item defining icons and some other props, but it's JS only. CSS is not allowed right now. There is an issue on VSCode repo about this, I don't remember the name. I'll relate it later here, but for now, my hands are tied. Some extensions change VScode styles, but it's not persistente.

[2019-03-21 21:45] mtxr commented on #146
I'll close this issue since it's not a SQLTools bug itself. But I'll open or thumbs up the related issue on VSCode repository.

Thanks @julientype !

[2019-03-21 21:45] #146 closed

[2019-03-21 21:46] julientype commented on #148
when you set the css active element color with the  focus color and leave the tree the active color shows up not the focus color or it will go back to the original color
.divToolTree,
a:active {
    color: olive;
}
.divToolTree,
a:focus {
     color:red;
}

[2019-03-21 22:02] mtxr commented on #148
@julientype Please, keep it in the same thread

[2019-03-21 22:04] mtxr commented on #137
Hmmm. I'll take a look. I haven't tested with a proxy. Should work seamlessly, but I better to take a second look at this.

@rogenaro if you have JS skills and wants to try, take a shot please.

[2019-03-21 22:56] mickeypearce commented on #137
https://github.com/oracle/node-oracledb/issues/856#issuecomment-399797924

There is a link in the comment with proxy instructions.

@mxtr, where libs get installed to try this manually? In the ext folder or somewhere else?

[2019-03-21 23:23] julientype commented on #148
look at your css   where is focus....  no code need ... you group a class divtooltree, li
then simply append the classname  to the div and program its internal elements supported by css event actions.....
li {
    border-color: $lightThemeGray1 !important;

    &:hover {
      background: $lightThemeGray3 !important;
    }
    &.active {
      font-weight: bold;
      background: $lightThemeGray1

[2019-03-21 23:53] mtxr commented on #137
In the extension directory.

I'm on the phone right now. But a quick googling should be enough to find
the extensiona folder location.

But we have 2 issues here. The oracle connection using proxy and the npm
install with proxy. Can you work on the connection issue?

I'll work on the npm issue.

On Thu, Mar 21, 2019, 19:56 mickeypearce <notifications@github.com> wrote:

[2019-03-22 00:50] julientype commented on #148
never invent code... check. dom css may have the correct solution
for vcode you only target chrome.......
Pseudo-classes
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

[2019-03-22 02:16] #6 closed

[2019-03-22 02:19] mtxr commented on #6
I'm closing this issue because it there are no good enough JS libraries supporting all those features.

I plan to implement some of them, but not all. This is more like a prettier plugin that I could use than a feature of the extension.

Would be great to have, but it's a bit out of scope since some similar tools for database management also doesn't have it by default.

For now, I've added option

[2019-03-22 03:35] mtxr commented on #146
@julientype can you create a PR for this feature?

[2019-03-22 03:35] #148 closed

[2019-03-22 08:26] jpincas commented on #71
Related to this.  All our tables are inside schemas.  We see the tables in the sidebar, but when clicking to view a table, we get an error of the kind

[code]

[2019-03-22 08:32] jdobruchowski commented on #28
Yes please , as per @tmastny  , can we have a config for it ? because i would prefer  having it in original behaviour . I'm coming from sql developer and there you have static query output window.

[2019-03-22 08:48] jdobruchowski commented on #110
While it would be nice for this plugin to analyse sql and suggest object type to put i reckon it would take lot of work to make it decent. Why not just add some kind of prefix to tables and columns for users to decide what they want to auto complete . for example
select 1,2,3 from table.   [ctr+space]   and autocomplete lists all tables   etc .   ASFAIK    ! is not used in sql  so you could just d

[2019-03-22 13:32] mickeypearce commented on #139
Changed to show only tables owned by current user https://github.com/mtxr/vscode-sqltools/pull/149

[2019-03-22 13:32] #139 closed

[2019-03-22 17:45] flexchar opened #150 "Allow empty password connection"
Doesn't allow empty password connections. It is quite common to use root user with empty password while in localhost development. :)

[2019-03-22 18:49] julientype commented on #110
the object is to draw out your sql off relational logic switching statements
like one would work with svg vector images is xml    box, circles, layers and so on...
yet we only get a sql  word array stored in database to redraw our form array snips.....
building is the simple part.....

[2019-03-22 21:37] julientype commented on #110
here how simple this is....
dom object 1
html with its  CSS pseudo-class <-JavaScript  none needed ..its just appended dom call events
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
dom object 2
xml data store for operations
dom object 3
xml sql syntax forms
javascript file
A transponder code for the 3 dom object in operations it just takes a node and appends or removes or send va

[2019-03-23 00:18] julientype commented on #150
i would insert   prompt for option  login ......  then you dont have  files with user info in vscode txt base files
its sent into the connection

[2019-03-23 00:57] julientype commented on #110
mtxr  is the data store programmer  and needs help
we need a teem..... for the debug and the construct of cat window he will set up.... he runs the site and cant do all........ so we brake it down
css layout  user define icons and so on  good with colors
script structure drag drop  structures
xml sql builder  expert in sql and known html
and the master debugger to review and implement
mtxr will fe

[2019-03-23 03:31] julientype commented on #110
when we have our 5 we  close  this rant  and build....

[2019-03-23 03:53] julientype commented on #110
best video ever to learn how to code  and make money from....
https://www.youtube.com/watch?v=-sUXMzkh-jI

[2019-03-23 05:12] julientype commented on #110
my rants in the game is to pride my clients with tools you dont have....did i get paid to build them no.. can i yes

[2019-03-23 05:39] julientype commented on #110
xml was created in 1998 v 1.... i was their working with developers   do you see a new version 2 ..no... json is it predatory to shrink xml base from  guys like me complaining  to Microsoft its sintax is to big.... json is now made from 1998

[2019-03-23 13:16] mtxr commented on #150
Did you create the connection using the assistant or manually?

We accept connections without password. I believe just the settings editor handle it as a requirement.

Can you confirm?

If you created the connection using the wizard, you can input a password there, after that, go to your settings file and delete both "password" and "askForPassword" lines.

Anyway, I'll add this option to the wizar

[2019-03-23 18:13] flexchar commented on #150
Indeed I used assistant. If _Prompt For Password_ is set to _No_, then Validation line for _Password can't be empty_ is shown. Vice versa, if prompted for password, it cannot skip it with no input.

Thanks for the tip thou. :)

[2019-03-25 00:57] mtxr commented on #137
@rogenaro can you provide some information about your setup?
Which OS, npm/node version are you using? Where is you npmrc file? Workspace dir or home dir?

Thanks!

[2019-03-25 02:13] #150 closed

[2019-03-25 02:13] mtxr commented on #150
@flexchar thanks! Just fixed, I'll be release soon.

[2019-03-25 15:31] diggerydoo68 commented on #137
no dice. I manually added the connection details to the settings.json file. I ran it and it still gave me the TNS error. How do I know that it is using that settings file? If I go and create the connection through the extension interface it does not change my settings.json file. Should it?  I also tried leaving out the server and port option. It still gives me the TNS oracle error.  I'm a little f

[2019-03-25 16:45] mickeypearce commented on #137
@mtxr , do you perhaps have any idea why it wouldn't add/create settings file? I tried with no folder open, but it prints an error about not opened workspace. 👍

@diggerydoo68 , yes, it should be added to your workspace setting file. Do you see your connection in connection explorer? Can you please check your user settings if it was added there for some reason. (%USERPROFILE%\AppData\Roaming\Code\

[2019-03-26 15:53] diggerydoo68 commented on #137
ok so whenever I create a new connection it shows up in the connection explorer and the connection details are written to the settings.json from the workspace directory and nothing gets written to the settings.json for the user settings (%USERPROFILE%\AppData\Roaming\Code\User\settings.json ). I need to keep my settings.json files straight. So usually I am connecting via sqldeveloper to the databa

[2019-03-26 16:15] mickeypearce commented on #137
About LDAP connection: https://github.com/oracle/node-oracledb/issues/287#issuecomment-158244196
There is a link in the comment that could be helpful.

[2019-03-26 18:14] mtxr commented on #137
@mickeypearce it's a bug. We should be able to create connections for workspaces, or just in user settings.

I'll fix this tonight. Thanks!

[2019-03-27 05:19] mtxr commented on #137
I've fixed the add connection issue. I'm keeping the default behavior but I added an option to always save to globalSettings.

I'll close this issue since @mickeypearce comment seems to resolve the LDAP connection.

@mickeypearce or @diggerydoo68  would be great if you could write a guide to get LDAP running with the extension.

@diggerydoo68 if it doesn't solve your problem, feel free to reopen t

[2019-03-27 05:19] #137 closed

[2019-03-27 09:39] jtuttas commented on #147
Well if I install the library with ..
`npm install -g sqlite3@4.0.6` the problem still stays on. I've got the Message that sqlite3@4.0.6 needs to be installed, over and over again!

[2019-03-27 15:03] mtxr commented on #147
Installing it globally should have no effect. The extension install deps on itself folder.

Which extension version are you using? Whats your VScode version?

This bug was happening a few versions ago, but as far as I know, It's not happening on newer versions.

[2019-03-27 16:47] mtxr commented on #28
Yeah, it was added on latest releases.

Please, take a look at https://mtxr.gitbook.io/vscode-sqltools/changelog#v-0-17-7

[2019-03-27 18:36] julientype commented on #147
its doing it with me to.....   where i try and connect 3 or 4 times then it kicks in
it could be calling something without  the lib loaded....
like a call to open yet its not done processing and a second call happens and flags you need to install

[2019-03-27 18:54] julientype opened #152 "sqlite_sequence showing up in the tree"
in sqlite   when you create an auto increment index value it creates a table called
sqlite_sequence

this is basically a trigger type operation not an input table operation

to logically group this table type entry it should show up as a trigger entry its not a regular table.

SQLite - Triggers. SQLite trigger may be specified to fire whenever a DELETE, INSERT or UPDATE of a particular database ta

[2019-03-29 03:45] mtxr commented on #147
whats is printed on the output window? Use the command palette to find 'SQLTools output channel'

[2019-03-30 15:41] jtuttas commented on #147
Hello, VS Code I used the latest Version, the Extension Version of SQL Tools is 0.17.9

And here is the output after two cycles of "need to install sqlite....."

`(node:16008) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
Telemetry enabled!
Event: sessionStarted:langu

[2019-04-01 19:23] julientype commented on #147
node-pre-gyp   is a pre-compile version  V6  yet you need V9
node-gyp is used to compile the correct version with with its run-time node version
you need c-make tools installed  or run older node version  a node addon  a python connector

[2019-04-03 12:18] mtxr commented on #110
After failing the first attempt, I have good news: https://github.com/mtxr/sqltools-formatter/pull/1/files

I`m adding the ability to identify table names to our formatter tool, it`s better because the formatter is non blocking and non validating. The other parsers I tried I need to handle when it validates a query like 'SELECT FROM table', all of them gave errors because of missing column names,

[2019-04-03 14:37] benyaminl commented on #110
Congratulation Mateo! Another milestones, huge one ! It will be the only sql tools that support multi database engine autocomplete on VS Code! Yey!

[2019-04-03 15:16] jtuttas commented on #147
Ok, after uninstall Node and install the latest LTS Version everything works fine !

[2019-04-03 21:40] greenkeeper[bot] opened #155 "An in-range update of applicationinsights is breaking the build 🚨"
## The dependency [applicationinsights](https://github.com/Microsoft/ApplicationInsights-node.js) was updated from `1.2.0` to `1.3.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fapplicationinsights-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ap

[2019-04-03 23:44] #155 closed

[2019-04-04 02:25] greenkeeper[bot] opened #157 "An in-range update of @sqltools/formatter is breaking the build 🚨"
## The dependency [@sqltools/formatter](https://github.com/mtxr/sqltools-formatter) was updated from `0.1.0` to `1.0.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2F%40sqltools%2Fformatter-1.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@sqltools/fo

[2019-04-04 19:03] mjbvz opened #158 "Replace vscode-editor-font-* variables with vscode-font-* variables in webviews"
Hi, I noticed that your extension uses the `vscode-editor-font` variables in webviews. In VS Code 1.34, the `vscode-editor-font-*` css variables used in webview now track the `editor.font*` settings in VS Code. They previously tracked the UI font settings. See: https://github.com/Microsoft/vscode/commit/e88a32ff2cb11e750b57b7c844a4b17665f0f04a

To keep your existing styling, please change these va

[2019-04-05 01:19] greenkeeper[bot] opened #159 "An in-range update of applicationinsights is breaking the build 🚨"
## The dependency [applicationinsights](https://github.com/Microsoft/ApplicationInsights-node.js) was updated from `1.3.0` to `1.3.1`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fapplicationinsights-1.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ap

[2019-04-05 06:51] brandonkal opened #161 "Use sqlfmt"
**Is your feature request related to a problem? Please describe.**
The bundled formatter works decently but it would be nice to have something that is more aware of line length, as is common with Prettier.

Example:
input:
[code]
output:
[code]
Things I note are, no standardization on capitalization of keywords and the unnecessary extra lines that detracts from readability.

**Describe the solutio

[2019-04-05 06:51] brandonkal opened #463 "Use sqlfmt"
**Is your feature request related to a problem? Please describe.**
The bundled formatter works decently but it would be nice to have something that is more aware of line length, as is common with Prettier.

Example input:
input:
[code]
vscode-sqltools output:
[code]
Things I note are, no standardization on capitalization of keywords and the unnecessary extra lines that detracts from readability.

[2019-04-05 13:55] mtxr commented on #159
Closing since the build passes. Just failed once.

[2019-04-05 13:55] #159 closed

[2019-04-05 13:56] #158 closed

[2019-04-05 14:55] mtxr commented on #110
I've made some improvements on master. Just to allow easily pick tables for now, still a lot to do but it`s something.

The other branch will address most of column completions.

See v0.17.11

[2019-04-05 14:58] mtxr commented on #110
I'll be testing this today before publishing, but here is the link if you want to test https://transfer.sh/Gi3WA/sqltools-0.17.11.vsix

Feedbacks are always welcome

[2019-04-05 21:47] mappu opened #163 "Support connecting to MySQL (and others) by local AF_UNIX socket"
Hi,

Current default MySQL behaviour in Debian is to listen on `/var/run/mysqld/mysqld.sock` AF_UNIX instead of localhost AF_INET.

Is it possible to support this in the extension?

Regards
mappu

[2019-04-05 22:22] greenkeeper[bot] opened #164 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `24.0.1` to `24.0.2`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fts-jest-24.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this proj

[2019-04-06 03:23] mtxr commented on #163
Hi,

Yes, that's totally possible. The library we are using accepts socket connections, I just need to do some changes on code.

See: https://github.com/mysqljs/mysql#connection-options

If you/someone want to try to develop it, I can provide some guidance.

----------
# How to add this feature

Basically we need to add the options here:
https://github.com/mtxr/vscode-sqltools/blob/master/packages

[2019-04-06 03:31] mtxr commented on #161
Hi @brandonkal .

Yes, PRs are always welcome!

I just see a problem here: sqlfmt is written in GO, to add sqlfmt, we would need to bundle it to some platforms (at least):
- Linux x86 and x64
- MacOS x64
- Windows x86 and x64

Also add some guidance to allow users to setup it accordingly (PATH, dependencies and maybe some build infomation?).

I tested it online and liked a lot.

If you want to add

[2019-04-06 03:39] mtxr commented on #164
Build was stuck. Restarted and worked. Closing...

[2019-04-06 03:39] #164 closed

[2019-04-06 04:49] 01010101lzy opened #166 "Unable to correctly format comments with CRLF line breaks"
**Describe the bug**
When formatting a sql file with comments and `CRLF` line breaks, `-- comment` becomes `- - comment` and new lines are not preserved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new query.
2. Write some sql lines along with some comments.
3. Press `alt`+`shift`+`F` to format the file (`ctrl`+`E`, `ctrl`+`B` does not work in my case)
4. File gets scrambled.

B

[2019-04-06 05:44] brandonkal commented on #161
Yes.
The binaries are already published here: https://github.com/mjibson/sqlfmt/releases

However, while I really like it, I am not too happy with the lack of `CREATE FUNCTION` support.

Ultimately, it would be best to leave formatting to Prettier. Right now there is some work on that here: https://github.com/benjie/prettier-plugin-pg but it is unfinished and development has stopped due to the mai

[2019-04-06 06:13] mtxr commented on #161
Thanks @brandonkal!

Count on me. I'll be glad to help if you need.
I totally agree we could take over this prettier initiative. They have a lot of standards that we could follow and probably can help us a lot.

I'll move this issue to mtxr/sqltools-formatter for now since it's more related with formatting than the extension itself.

Let's work on this together.

[2019-04-06 16:55] mtxr commented on #71
@jpincas which version were you using?

[2019-04-07 08:08] jpincas commented on #71
Hey - I ended up uninstalling it, so I'm afraid I can't answer your question.  Is there a version that supports schemas?

[2019-04-07 08:54] mickeypearce commented on #71
For Oracle dialect I "abused" the "tableName" property so that it includes schema name:
https://github.com/mtxr/vscode-sqltools/blob/334074324f980397e0d233d162e269ff0bdf778c/packages/core/dialect/oracle/index.ts#L139
https://github.com/mtxr/vscode-sqltools/blob/334074324f980397e0d233d162e269ff0bdf778c/packages/core/dialect/oracle/index.ts#L149-L153

@mtxr , maybe it could be an option as a quick f

[2019-04-07 09:07] ransagy commented on #71
I'd love for this to happen in general, Intellisense, etc. If the dialect supports schemas, prepend it to the table name whenever its inserted somewhere. Not sure if that's still in the realms of a "quick fix"/phase 1 of this.

[2019-04-07 09:20] mickeypearce commented on #71
It is. Schema is then part of the tableName, so instead of "customer", you get "schema.customer" everywhere.

The only thing is missing is proper hierarchy in tree explorer as it support only two nodes for now:

- Tables
   - schema.customer

[2019-04-07 09:40] mickeypearce commented on #71
I think @mtxr working on this right now: https://github.com/mtxr/vscode-sqltools/commits/feature/sidebar-tree-enhanced , 👍

[2019-04-07 10:10] mtxr commented on #71
@jpincas, sorry you had to uninstall.
But I sure you will be happy if you give it another chance once this PR is got packaged, next version will support multiple schemas and databases, the same way DataGrip, Dbeaver and some other tools handle it.

@ransagy I'ld love too. I started to work hard on intellisense and I felt I should complete this task first.
It's a first step, but I'll roll it out th

[2019-04-07 12:54] jpincas commented on #71
@mtxr Definitely will reinstall and test it out.  Still looking for a way to improve my plpgsql workflow from within vscode rather than switching constantly between vscode and postico.

[2019-04-07 18:04] brandonkal opened #171 "Formatting breaking plain text files"
**Describe the bug**
This extension is messing with the wrong files...
In settings.json:
[code]
Note that formatLanguages is set to an empty string. The intent was to disable SQL formatting. Even if this is not the preferred API for disabling formatting, an empty string should be checked for. This caused strange bugs when saving plain text files (removal of new lines, adding of spaces in date stri

[2019-04-07 21:16] mtxr commented on #171
This is already fixed.
I'll be released shortly.

Thanks @brandonkal

[2019-04-07 21:52] #171 closed

[2019-04-07 22:07] #71 closed

[2019-04-07 22:09] mtxr commented on #71
![https://raw.githubusercontent.com/mtxr/vscode-sqltools/master/static/sidebar-explorer.png](https://raw.githubusercontent.com/mtxr/vscode-sqltools/master/static/sidebar-explorer.png)

[2019-04-07 22:10] mtxr commented on #71
But the release version will flatten tree elements with only one child

[2019-04-08 04:59] #74 closed

[2019-04-08 05:13] mtxr commented on #163
Hi @mappu, would you like to take a shot on this issue?

[2019-04-08 09:45] rectcircle opened #173 "Can't connect to MySQL8"
## Can't connect to MySQL8
![image](https://user-images.githubusercontent.com/18106246/55713377-20134600-5a23-11e9-96b0-b7d318cc103b.png)
![image](https://user-images.githubusercontent.com/18106246/55713480-55b82f00-5a23-11e9-99d0-82e8cfc7ab10.png)

## Log output

[code]

**Format SQL**

[code]

## Reference

## Reason

After version 5.7 of mysql, if DISTINCT and order by are used together, 3065 e

[2019-04-08 12:42] tonydiep opened #174 "How do you change font?"
How do you change the font used SQLTools' table view?

If it's an attribute in settings.json can you provide the css attribute we should be using please?

[2019-04-08 12:58] ransagy commented on #71
@mtxr Just to be sure - the current change is only relevant for the tree display, right? Not Intellisense/"Generate Insert Query" etc?

I know you're planning/working in those, Just making sure I'm not missing something.

[2019-04-08 13:41] mtxr commented on #71
Which RDBMS dialect are you using?

[2019-04-08 13:45] mtxr commented on #71
Take a look [here](https://mtxr.gitbook.io/vscode-sqltools/changelog). We had some improvements on Generate Insert queries and show records, but mostly for PostgreSQL, MySQL and SQLite.

If you feel there's some feature missing, please open an issue for me. Besides the insellisense, everything should be easier and quicker to develop now

[2019-04-08 13:48] mtxr commented on #174
Actually there is no way.

But this is a simple change. I can add it within this week.

Do you have any other customizations on table view you believe would be great to have?

[2019-04-08 14:00] mtxr commented on #173
@rectcircle if you run this query without the distinct, which results do you get?

I believe it will work.

Anyway I'm using MySQL 8.0.15 locally and it works with both queries, I believe the flag is already active in my docker image.

Thanks

[2019-04-08 14:07] ransagy commented on #71
I use (Azure) MSSQL almost exclusively. I was just wondering since this issue was seemingly about schema support everywhere, Hence why i wondered if its still a WIP for Intellisense and other places that don't directly insert the schema name with the table one.

If that's out of scope for this issue, I'll open new one(s).

[2019-04-09 03:30] #174 closed

[2019-04-09 04:56] #163 closed

[2019-04-09 04:56] #173 closed

[2019-04-09 09:46] chanaksha opened #176 "Can not connect to to database with only_full_group_by error"
**Describe the bug**
Can not connect to the database

Error

[code]

**To Reproduce**
1. Ensure that MySQL has (default) sql_mode=only_full_group_by set.
2. Connect to MySQL database by clicking on configured connection.

**Expected behavior**
Database should connect

**Screenshots**
![Screenshot from 2019-04-09 15-02-53](https://user-images.githubusercontent.com/35898631/55790213-8195ec00-5ad9-11

[2019-04-09 09:50] chanaksha commented on #176
The stack trace:

[code]

[2019-04-10 00:18] #176 closed

[2019-04-10 01:45] mtxr commented on #44
Does anyone know a good npm package, supporting all platforms and widely used?

I'll work on this issue soon, so I want to get all information I can for that.

[2019-04-10 01:46] mtxr commented on #127
That's true. For now there is no way to interrupt a query. I'll take a look at this but I cant do it right now.

[2019-04-10 03:25] benyaminl commented on #121
I agree no more. It would be great anyway !

[2019-04-10 03:27] benyaminl commented on #110
It's a huge task! Take your time!

[2019-04-10 05:06] BrettMoan commented on #44
This one looks promising for the odbc side:

https://github.com/wankdanker/node-odbc/blob/master/README.md

[2019-04-10 06:10] chanaksha commented on #176
Thanks for quick changes. I wouldn't have been that fast to contribute :)

[2019-04-10 06:59] mtxr commented on #176
You are welcome!

If you like the project, consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-04-10 15:11] Profesor08 opened #181 "Not Connecting to MSSQL Server"
**Describe the bug**
When I add an connection to existing and running mssql server and trying to connect - nothing happens. No errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Install MS SQL Express
2. Run MS SQL
3. Install Extension
4. Add Connection
5. Try to connect

**Expected behavior**
Something to happen or to show open connection, or some error, or something else to show a wor

[2019-04-10 15:42] mtxr commented on #181
Can you check the errors on output channel?

[2019-04-10 16:54] Profesor08 commented on #181
There is nothing about SQL

[2019-04-10 16:54] Profesor08 commented on #181
There is nothing about SQL

[2019-04-11 03:19] mtxr commented on #181
![image](https://user-images.githubusercontent.com/707561/55928524-5b627000-5bef-11e9-9f37-b24a9ef73e35.png)

You don't have this option?

This channel should provide all necessary log for me to fix this issue.

[2019-04-11 03:38] mtxr commented on #127
I found ways to cancel/kill running queries on potgresql and mysql, but it's more a workaround than a real solution.

It uses queries to kill queries, so i should change to code a bit to keep the pid of a running query to be used when user ask to cancel.

It doesnt look neat, but I believe it works.

See: https://github.com/mysqljs/mysql/issues/137

What do you think @gyohza, @benyaminl ?

For mos

[2019-04-11 09:00] gyohza commented on #127
@mtxr - you mean like, issuing `KILL` command? Correct me if I'm wrong, but then it would be a two-step workaround:
1. Run `SHOW FULL PROCESSLIST` and take note of the current query's PID;
2. Run `KILL` + the PID.

It would definitely work, I believe (can't test it right now, but I'm used to killing other people's queries in Workbench this way and it works), but think of the actual workload when y

[2019-04-11 14:17] briansix commented on #181
My previously working connections have also begin failing, and could be the same problem. I reinstalled vscode and the extension, still happening.

_Mac, VS Code 1.33.0, SQLTools v0.17, SQL Server 2012, authenticating with AD account using domain._

Steps to recreate:

Create or right-click existing connection, select connect.

Prompt error:

Would you like to see the logs?
Source: SQLTools (Exten

[2019-04-11 14:19] briansix commented on #181
My previously working connections have also begin failing, and could be the same problem. I reinstalled vscode and the extension, still happening.

_Mac, VS Code 1.33.0, SQLTools v0.17, SQL Server 2012, authenticating with AD account using domain._

Steps to recreate:

Create or right-click existing connection, select connect.

Prompt error:

Would you like to see the logs?
Source: SQLTools (Exten

[2019-04-11 16:00] ladychili opened #183 "Run the query and show results in a new window"
When I execute a single query, it would be great if I can choose whether the results show in a new tab or in the current result tab. Sometimes I'd like to compare the next results with the previous.

**Desired solution**
For example,
select query 1, pressing `command + E + E`  gives results in a tab.
select query 2, pressing `command + E + W` gives results in a new tab beside the previous.
So I ca

[2019-04-11 21:53] Romboter commented on #181
I'm seeing similar while trying to connect to a SQL 2012 server.
Windows 10
VS Code 1.33
SQLTools 0.17.13

The output only shows this
INFO: Executing SQLTools.openAddConnectionScreen
INFO: Executing SQLTools.addConnection
DEBUG: Configs reloaded!
INFO: Executing SQLTools.selectConnection

I am able to connect to this server via the SQL Server (mssql) extension and other tools.

[2019-04-11 21:56] mtxr commented on #181
Ok, thanks you guys.

I'll take a look after the job.

[2019-04-11 22:02] bergamin opened #184 "Add the possibility to test a connection before hitting create button"
To the left of the "CREATE" and "UPDATE" buttons, add a "TEST" button for us to test the connection we are creating or updating

[2019-04-11 22:09] bergamin opened #185 "Add the possibility to edit the connections we have already created"
Add to the Right-Click on the connection in the connections list a new item for editing it like we already have for deleting and connecting.

[2019-04-12 10:11] coding4smart commented on #13
Hi,

I installed oracledb,SQLTools in vscode,however can't connect to Oracle db.error is as below:
ApplicationInsights:CorrelationIdManager [ { Error: connect ETIMEDOUT 40.85.218.175:443
      at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1163:14)
    errno: 'ETIMEDOUT',
    code: 'ETIMEDOUT',
    syscall: 'connect',
    address: '40.85.218.175',
    port: 443 } ]
Request connection/Conne

[2019-04-12 10:15] coding4smart commented on #13
Hi

ApplicationInsights:CorrelationIdManager [ { Error: connect ETIMEDOUT ****
      at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1163:14)
    errno: 'ETIMEDOUT',
    code: 'ETIMEDOUT',
    syscall: 'connect',
    address: '****',
    port: 443 } ]
Request connection/ConnectRequest received
Request connection/ConnectRequest received
Request connection/ConnectRequest received
Request conn

[2019-04-12 10:41] coding4smart opened #186 "time out when connect to remote oracle db"
Hi

ApplicationInsights:CorrelationIdManager [ { Error: connect ETIMEDOUT ****
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1163:14)
errno: 'ETIMEDOUT',
code: 'ETIMEDOUT',
syscall: 'connect',
address: '****',
port: 443 } ]
Request connection/ConnectRequest received
Request connection/ConnectRequest received
Request connection/ConnectRequest received
Request connection/GetConnectionsReque

[2019-04-12 11:51] tonydiep commented on #174
Thank you so much for putting this feature in!

[2019-04-12 12:36] Profesor08 commented on #181
Output for SQLTools is:
`INFO: Executing SQLTools.selectConnection
INFO: Executing SQLTools.selectConnection
INFO: Executing SQLTools.selectConnection
INFO: Executing SQLTools.selectConnection`

Output for SQLTools Language Server is:
`Request connection/ConnectRequest received
(node:9796) UnhandledPromiseRejectionWarning: TypeError: The "config.authentication.options.domain" property must be of t

[2019-04-12 14:01] mtxr commented on #181
@Profesor08 can you share you connection object (in settings.json file)?

We have a prop that I believe it's set when it shouldn't. See:
[code]

[2019-04-12 14:32] #181 closed

[2019-04-12 14:40] mtxr commented on #181
Guys, please try v0.17.4. I believe all issues related here were fixed (maybe not $$ issue).

[2019-04-12 14:41] mtxr commented on #174
You are welcome!

If you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-04-12 14:41] mtxr commented on #163
@mappu let me know how is it going for you.

And if you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-04-12 14:43] mtxr commented on #71
Hey guys try the latest version. Most of the issues were fixed. Let me know how is it going for you.

If you like the project, please consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-04-12 15:41] Profesor08 commented on #181
[code]

[2019-04-12 15:42] mtxr commented on #181
Is it working with version 0.17.4?

[2019-04-12 15:44] Profesor08 commented on #181
Yes

[2019-04-12 15:59] briansix commented on #181
Connections are working for me

[2019-04-12 16:01] mtxr commented on #181
Thanks you @Profesor08 and @briansix .

If you like the project, consider a donation or reviewing it on VSCode marketplace. That you help it to keep evolving.

Thanks!

[2019-04-12 17:18] jim256 opened #187 "Write docs about settings options and add missing settings descriptions."
Wondering where I can find purpose and available options for each setting.

For example, what does "sqltools.format" do, and what values will it accept?

I apologize if this is readily available somewhere, or not the most appropriate way to ask. Tried finding docs on it and tried finding another way to submit a question, with no success

[2019-04-12 19:29] mtxr commented on #187
We don't have it for now.
But you can still use VSCode Ui to see the descriptions.

![image](https://user-images.githubusercontent.com/707561/56061414-bd31ef80-5d3f-11e9-8c9d-c9a1f09e98d6.png)

I See `format` is missing a description, but it I'll write it up here for you, sorry:

[code]

[2019-04-12 19:30] mtxr commented on #187
Also you can edit the setting file using vscode default autocomplete as follow:
![image](https://user-images.githubusercontent.com/707561/56061595-3a5d6480-5d40-11e9-88a9-14d920adad52.png)

I really need to spend more time writing the docs, I'll rename this issue achieve this purpose, ok?

Thanks @jim256

[2019-04-13 06:28] mickeypearce commented on #186
Hi.

Does this timeout error happens every time you execute this query or just from time to time?

Does it work with a really simple query, for ex: select 1 from dual?

Thanks for your answers and for your feedback.

[2019-04-13 21:11] mtxr commented on #183
I like where are you going with this.

I have just a problem I need to understand how to fix, it's in the core of the extension because we are using webviews to render the results and VSCode team says it is very memory hungry.

Some questions, you might already have an answer for that.

1. What do you expect to happen if you run the same query twice? Same tab, other tab or any other behavior?
2. W

[2019-04-13 21:13] mtxr commented on #185
We really need that.

[2019-04-13 21:13] mtxr commented on #184
That's something very helpful. I might work on it this weekend.

[2019-04-13 21:16] mtxr commented on #108
I'll close this issue because I believe will be easier to add support for that using ODBC/JDBC,
So in favor of #44, closed.

[2019-04-13 21:16] #108 closed

[2019-04-14 04:32] coding4smart commented on #186
Hi

   1.  In my case,it never works.

   2. I didn't test 'select 1 from dual',just tested 'select * from a_table';

Thanks

[2019-04-14 04:39] coding4smart commented on #186
Hi

    I just tested again minutes ago,it happens when I try to connect to my remote oracle db.

   2.I tested the queries in NodeJS again.It works with both select 1 from dual or my other queries.

   3.For more information,I'm connecting to the remote oracle db machine(host) with VPN as it's only available for connections through our VPN network.So once connected to VPN,it works in NodeJS to co

[2019-04-14 12:29] ransagy commented on #69
Just to be sure; This is closed, But i can't currently see an option to have multiple connections open, Only one. I.e. each sql file tab has its own connection, so i can work in multiple DBs at once.
Does this issue refer just to the UI? if so, i'll open a new issue.

[2019-04-14 16:41] mtxr commented on #69
Ok, that's a fair question.

We currently have a way to have multiple active connections, but not this per tab connection.

I've recently added codelens run block query support, I believe we could add a @conn/@connection inside of this blocks telling which connection should we use,

Maybe better also have a first line comment like `-- @connection <name>` to set a connection per file.

It's a tempo

[2019-04-14 17:08] ladychili commented on #183
Thanks for the reply.

I think that most of the time it is sufficient to present the results in one window/tab (just like now). Occasionally, users may like to run a query with the result showing in a new tab. For this case, a special `run` command/shortcut would be enough.
A bit like that you can choose to _open a webpage in the current tab_(left click) or _a new tab_(middle click) when using Chr

[2019-04-14 22:05] mtxr commented on #69
Take a look at https://mtxr.gitbook.io/vscode-sqltools/changelog. Try v0.17.15.

It's a temporary solution, but allows us to manage multiple connections easier than before.

[2019-04-14 22:11] mtxr commented on #187
I updated the docs with a few more info, but still have a lot to do.

Take a look there.

Thanks!

[2019-04-15 09:00] ransagy commented on #69
To be honest, I find the whole codelens approach as a configuration method very weird. It seems overly complicated to annotate every piece of SQL. Every single editor/extension I've seen isolates such settings to the tab instance to avoid such things, As you mentioned yourself.

Personally, I don't see myself using it, But it great that you added the option quickly - I'm sure others will find it u

[2019-04-15 11:21] mickeypearce commented on #186
Thanks, I find it difficult to reproduce in my case.

If you restart VS Code, connect to your DB and Run your query, this is the error you immedially get?

[2019-04-15 21:07] jim256 commented on #187
@mtxr Thank you so much!! Very helpful. Awesome how responsive you are.

I also have to say that I absolutely love how frequently you push updates and go after adding new features. Kind of refreshing. I love SQL Tools! Really looking forward to seeing the auto-complete feature move forward to be contextual. I think I'll be moving entirely to VS Code / SQL Tools soon :)

[2019-04-15 23:39] mtxr commented on #187
Nice! Thanks!

If you like the extension, consider a donation, marketplace review or star here in github. That you help the extension to keep evolving!

Thanks!

[2019-04-16 00:58] BrettMoan commented on #187
@mtxr

Off topic question:

I've been lurking a bit on sql tools cause it seems awesome and I don't have any side projects right now.

What skills/competencies would be necessary to be a productive contributor to vscode-sqltools? I'm assuming getting fully comfortable with nodejs and the "hello world" for vscodes plug-in development, but I'm wondering what I could focus my at home learning with an

[2019-04-16 01:38] mtxr commented on #187
HI @BrettMoan ,

You are welcome to contribute in any way you feel comfortable, the project has a lot of stuff in need of contributions, from docs to the core code, and I can provide guidance whenever you need.

The hello-world is a great beginning, I'm not kidding, sometimes we have issues/fixes that require just some debugging and 2~3 line changes, I'm trying to mark them with the label `good fi

[2019-04-16 01:45] mtxr commented on #186
That's interesting and not expected at all. Since we are using raw NodeJS process to handle oracle connections, I'm willing to say we might have a bug, but it's hard to reproduce for sure.

@coding4smart would you mind writing some code in a small repository for us to test?
I'll try to test it as well with other SGDBs trying to follow your pattern.

Following @mickeypearce idea, try to open your V

[2019-04-16 02:46] coding4smart commented on #186
Hi @mtxr,

     I'm also very curious why it's not working in my Mac.So I'm happy to help you testing this issue if writing some codes required.Let me know how to start this.

@mickeypearce,I have restarted my Mac,then connect to VPN,then start VS Code,then connect to the DB.From the Command Palette,I can see 'XXX currently connected' when I click on the Connect icon from the status bar.However in

[2019-04-16 02:51] coding4smart commented on #186
Hi @mtxr,

 I'm also very curious why it's not working in my Mac.So I'm happy to help you testing this issue if writing some codes required.Let me know how to start this.
@mickeypearce,I have restarted my Mac,then connect to VPN,then start VS Code,then connect to the DB.From the Command Palette,I can see 'XXX currently connected' when I click on the Connect icon from the status bar.However in the

[2019-04-16 03:47] mtxr commented on #69
@ransagy thanks. In fact the regex is matching only `[\w_]`. I've fixed it.

I started to work on session tabs as you said, seems to be more straightforward. Like you, I always used that kind of feature on other editors/tools, but on VSCode I wasn't finding a way to do that. But now I did!

Here is a beginning of this work if you want to try https://github.com/mtxr/vscode-sqltools/pull/188/files

[2019-04-16 06:43] mickeypearce commented on #186
Thanks. It looks that it fails getting a single connection from the pool...

You mentioned:

How do you connect to DB in your NodeJS app, do you use node-oracledb library? If yes, can you share connection configuration properties.

SQLTools Oracle uses a connection pool with default settings (for now): https://github.com/mtxr/vscode-sqltools/blob/a034d43264857e7f0b7824f32e8a77d6ad8dcc3a/packages/c

[2019-04-16 07:58] coding4smart commented on #186
Hi

    This is my test in NodeJS and didn't use configuration properties files so far,this piece of code is just for testing the connection works for this issue:
====
1.dbconfig.js:
module.exports = {
  user          : "XXX",
  password      : "XXX",
  connectString : "rwsXXX.com:1521/SID"
};
====
2.example.js:
process.env.ORA_SDTZ = 'UTC';

var oracledb = require('oracledb');
var dbConfig = requ

[2019-04-16 08:02] ransagy commented on #69
@mtxr That looks great! Looking forward to it.

[2019-04-16 09:17] mickeypearce commented on #186
Thanks again. It is a pool issue appareantly. You getConnection directly in your test, that is difference... hmm

Can you try connecting (in your test) with first creating the pool? :smile:

[code]

Sorry If I am asking too much... :bowing_man:

[2019-04-16 09:40] coding4smart commented on #186
Hi

     I'v tried this in example.js and it works with pool:

process.env.ORA_SDTZ = 'UTC';

var oracledb = require('oracledb');
var dbConfig = require('./dbconfig.js');

async function run() {
  let pool = await oracledb.createPool( {
    user          : dbConfig.user,
    password      : dbConfig.password,
    connectString : dbConfig.connectString
  });
  let connection;

  try {

    let sql,

[2019-04-16 09:41] coding4smart commented on #186
Hi

   I'v tried this piece of code in example.js and it works:

process.env.ORA_SDTZ = 'UTC';

var oracledb = require('oracledb');
var dbConfig = require('./dbconfig.js');

async function run() {
  let pool = await oracledb.createPool( {
    user          : dbConfig.user,
    password      : dbConfig.password,
    connectString : dbConfig.connectString
  });
  let connection;

  try {

    let sq

[2019-04-16 10:53] mickeypearce commented on #186
Thanks again. Your SQLTools connection settings must be similar to this? If not. please try:
[code]
Important: connectString maps to database property.

[2019-04-16 11:39] coding4smart commented on #186
Hi

    The connection Strings got no issue as I checked several times.

    I created the connection in SQLTools UI,but not sure in where it stored these info as seems can't edit the existing connections in SQLTools.Only got 2 options for existing connections:Connect or Delete Connection.

    Could you let me know where SQLTools stored these connect info?Also how to test the Pool,Connection with

[2019-04-16 11:40] coding4smart commented on #186
Any sample codes to test dbPool,db connection with SQLTools api in NodeJS?

[2019-04-16 12:01] mickeypearce commented on #186
The settings are stored to "User" or "Workspace" settings. (F1 => Preferences - Open User Settings, F1 => Preferences - Open Workspace Settings)

[2019-04-16 22:39] greenkeeper[bot] opened #189 "An in-range update of pg is breaking the build 🚨"
## The dependency [pg](https://github.com/brianc/node-postgres) was updated from `7.9.0` to `7.10.0`.

🚨 [View failing branch](https://github.com/mtxr/vscode-sqltools/compare/master...mtxr:greenkeeper%2Fdefault%2Fpg-7.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg is a direct dependency of this project, and **it

[2019-04-17 08:36] coding4smart commented on #186
Hi

    Have found the connection details in settings.json thanks to your comments,and tried to set the connectionTimeout bigger or 0 but got no luck.Also reading some similar threads of timeout issue about node-oracledb from github and stackoverflow.

    I got 1 question now is:
    As I saw the vscode-sqltools/packages/core/dialect/oracle/index.ts,seems not able to put other parameters like _lo

[2019-04-17 09:21] mickeypearce commented on #186
You are right, pool configuration is minimal at the moment (default settings), but this is also the case in your test nodejs app. The only difference is that SQLTools uses a named pool.

You execute your test node app in the same environment (via VPN) as you run SQLTools, right? :smile:

To debug you will have to clone the repo:
[code]

and then take a look a this doc:
https://github.com/mtxr/vsco

[2019-04-17 12:00] mtxr commented on #189
restarted build and worked.

[2019-04-17 12:00] #189 closed

[2019-04-22 22:06] iwsfutcmd opened #190 "Auto formatter changes "%s" to "% s""
**Describe the bug**
When the autoformatter is applied, `%s` is changed to `% s`. psycopg2 uses `%s` inside query strings as a symbol for what to replace with arguments, so this makes the query unusable.

**To Reproduce**
Apply autoformatter (with `ctrl-shift-I`).

**Expected behavior**
`%s` should be ignored by autoformatter, or there should be a setting to ignore it.

**Desktop (please complete

[2019-04-23 06:17] mickeypearce commented on #186
hey @coding4smart , are you still exepriencing the same problem?

[2019-04-24 00:32] NanoDano opened #191 "Sqlite connection error: Cannot read property 'conn' of undefined"
EDIT: Fix in the comments below and pull request created: https://github.com/mtxr/vscode-sqltools/pull/198

SQLite database is unable to connect with the following error:

[code]

- Desktop is Fedora 29.
- Node v10.15.0
- vscode built from master (1.34.0 currently)
- Sqlite version: 3.26.0 2018-12-01 12:34:55 bf8c1b2b7a5960c282e543b9c293686dccff272512d08865f4600fb58238alt1
- SQLTools  mtxr.sqltool

[2019-04-24 10:31] zetxx commented on #191
it is the same for oracle

[2019-04-24 13:18] ransagy opened #193 "Code completion is a little too fuzzy"
**Describe the bug**
When triggering code completion for SQL, The results i get are a little too verbose for what i wrote. For example, Writing `SomethingID` and triggering completion, I get results that just contain `ID` or just contain `Something`, That seems wrong to me in such cases as i explicitly wrote both.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new SQL tab
2. Connect

[2019-04-24 13:52] mtxr commented on #193
Hi @ransagy.

Please try to tweak IntelliSense settings a bit, we don't have much power on this fuzzy search since it's provide by VSCode, I just give it a list to be searchable.

Take a look here: https://code.visualstudio.com/docs/editor/intellisense#_settings

I'll close this since there is another on going work on issue #110 that would reduce the number of itens in the completion list, ok?

Le

[2019-04-24 13:58] ransagy commented on #193
Any idea if those are changes in newer VSCode version? Anyway, Tweaking any of those doesn't help, It still matches things incredibly fuzzy making it very hard to find what you're looking for.

I guess i'll look forward to your other change hoping it reduces the pain from VSCode's change.

[2019-04-24 19:10] pavkum opened #195 "Error not supported auth mode"
**Describe the bug**
I'm trying to connect mysql 8 but I'm getting an error saying "ER_NOT_SUPPORTED_AUTH_MODE. consider upgrading mysql client"

**To Reproduce**
Steps to reproduce the behavior:
1. configure the connection for any mysql server running in 8.x using sqltools
2. try connecting to server
3. See error

**Expected behavior**
Should connect to mysql without error

**Desktop (please comp

[2019-04-25 12:08] sigmasoldi3r commented on #191
I confirm that happens also with:
+ VS Code 1.33.1 (User Setup)
+ Electron: 3.1.6
+ Chrome: 66.0.3359.181
+ Node.js: 10.2.0
+ V8: 6.6.346.32
+ OS: Windows_NT x64 10.0.17134

[2019-04-25 14:53] daniel-dia commented on #191
Also happens to me

I suspect that it could be due the file system, but i tried with

[code]

with the same results.

[2019-04-25 15:11] daniel-dia opened #196 "MySQL Connection does not quote database name for the query that runs when "show table records" button is clicked."
**Describe the bug**
MySQL Connection does not quote database name when "show table records" button.
The automatic generated query must quote the database name with the ` character. but this does not happens, and, if the database name contains characters like dash or whitespace, the "show table records" does not works

**To Reproduce**
Steps to reproduce the behavior:
1. Go to select a database wh

[2019-04-25 17:24] zetxx commented on #191
no, this is not from file system it is a pure javascript, it means that some object is not initialized somewhere.... but i dont know how to dev extensions, but if issue persists i will need to learn :D

[2019-04-26 07:55] mickeypearce opened #197 ""Describe table" doesn't include schema"
**Describe the bug**
"Describe table" and "Show table records" command don't parse schema correctly when run from Command palette. It works if executed from table explorer.

**To Reproduce**
If "Describe table" is run from command pallete (table is selected from pick list) it doesn't include schema:

(view query):
[code]
It works if run from explorer table directly:

(view query):
[code]

Similar

[2019-04-26 12:33] AimvenDragtow commented on #191
same issue

[2019-04-26 16:51] tomgehrke commented on #191
Same here.

[2019-04-26 17:11] tomgehrke commented on #191
Actually, after actually reading the instructions, I got it working.

1. Ensure that Node is installed
2. Make sure sqlite3 is installed - **npm install sqlite3**
3. Make sure that useNodeRuntime is enabled in your settings.

Edit your settings.json file to include the line:

**"sqltools.useNodeRuntime": true**

That solved the issue for me.

[2019-04-26 17:32] NanoDano commented on #191
Hmm, I didn't see that in the docs at https://vscode-sqltools.mteixeira.dev/connections/sqlite - It actually says `Extension automatically installs SQLite driver (sqlite@v4.0.6)`

I tried to npm install the sqlite3 package but it failed and I did find a Fedora yum package `nodejs-sqlite3` which I installed, but that does not resolve the problem.

[2019-04-26 17:37] tomgehrke commented on #191
What about the 3rd step? If you open your settings.json file, do you have the sqltools.useNodeRuntime line in there? That was the key for resolving this issue for me.

[2019-04-26 17:41] NanoDano commented on #191
Double checked the settings, and when I added `"sqltools.useNodeRuntime": true`, it didn't recognize the sqlite package installed by yum, but it did ask me then to install the sqlite package, and it did successfully. So it looks like I didn't need the yum package but the sole step that matters is adding `"sqltools.useNodeRuntime": true` to settings.json. Thanks!

[2019-04-26 17:46] NanoDano commented on #191
Now that I re-read the docs, that step was unclear to me. I'm not sure why, it makes sense when I read it now. I guess the wording just didn't click with me because I do remember seeing it, but my eyes went to step 2 and saw the actual settings as json and thought that was all the settings I needed. Personally I think it would be a little clearer if step 1 had a similar block of code like:

[code]

[2019-04-26 17:47] tomgehrke commented on #191
Excellent! It's a happy day for both of us now! :D

And I'm right there with you. My eyes just slid right over that part initially as well.

[2019-04-26 17:52] NanoDano commented on #191
Created a pull request to make that step more prominent in the documentation:

https://github.com/mtxr/vscode-sqltools/pull/198

[2019-04-27 23:18] #191 closed

[2019-04-29 09:37] ransagy commented on #193
@mtxr See the suggestion in the latter vscode issue. Can we do something about it?

[2019-04-29 11:47] mtxr commented on #193
Yeah, I saw the issue you commented on VSCode. I'll take a look and release it today

[2019-04-29 11:48] mtxr commented on #193
Sorry I tooke longer to reply. Response edits are not notified via email.

[2019-04-29 12:17] mtxr commented on #186
Hey guys, what about this issue?

Does it persist?

@coding4smart

[2019-04-29 12:20] mtxr commented on #195
@pavkum  Go to vscode settings and try to add this `authProtocol` option. I might fix I believe. See:

https://github.com/mtxr/vscode-sqltools/blob/e39ef2ebfc111dca7d8e45e320e55a013d9c5cfa/.test-database/.vscode/settings.json#L65-L77

Let me know who it goes.

[2019-04-29 13:51] mtxr commented on #197
It's the same problem as #196.

Closing in favor of that.

[2019-04-29 13:52] mtxr commented on #193
Closed in https://github.com/mtxr/vscode-sqltools/commit/ac9487a9b3bac22bb8c5002356a5bd873ef9e933

[2019-04-29 13:52] #193 closed

[2019-04-29 13:55] mtxr commented on #197
Reopened. I got confused

[2019-04-29 14:01] #196 closed

[2019-04-29 14:21] #197 closed

[2019-04-30 08:47] pavkum commented on #195
@mtxr No luck. Now I get an error message saying connection reset (ECONNRESET). My server is running on a different machine. Would that be a problem?

[2019-04-30 10:48] mickeypearce commented on #186
Maybe we should add a "dialectOptions" property or something similar to connection settings object that would pass through any dialect specific options to a connection creation. @mtxr @coding4smart what do you think?

[2019-04-30 11:03] mtxr commented on #195
Can you share your connection settings? You can mask the properties if you need

[2019-04-30 11:10] mtxr commented on #186
I believe that is the best solution for now since it's an oracle only issue. I would just use the name `oracleOptions`m

[2019-04-30 13:21] pavkum commented on #195
@mtxr Please find my settings below

"askForPassword": false,
"connectionTimeout": 30,
"database": "db",
"dialect": "MySQL",
 "name": "db",
 "password": "db",
 "port": 3306,
 "server": "<my-ip>",
 "username": "db",
 "mysqlOptions": {
     "authProtocol": "xprotocol"
  }
}

[2019-04-30 13:24] mtxr commented on #195
can you check if you server has the port 33060 open?

Take a look at MySQL ports section [here](https://mysqlserverteam.com/mysql-guide-to-ports/)

[2019-04-30 23:03] omiba opened #199 "Error while trying to create columns tree for MSSQL"
**Describe the bug**
After connecting to MSSQL I receive the error message "Error while trying to create columns tree for MSSQL Cannot read property 'Project' of undefined"

Source: SQLTools (Extension)

**To Reproduce**
Steps to reproduce the behavior:
1) Open a SQL File
2) Connect to MSSQL database
3) Wait for error to display

**Expected behavior**
I shouldn't get an error

**Screenshots**
http

[2019-05-01 00:59] benyaminl opened #200 "Broken HTML View"
**Describe the bug**
The HTML result of query is broken. Maybe VS Code change something. Look at this
![image](https://user-images.githubusercontent.com/2817332/57002082-db746800-6be6-11e9-80c7-1179961af14a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Do any query and this will happens
4. See error

**Expected behavior**
It should be like before, not like this.

**Screenshots**
If ap

[2019-05-01 03:25] mtxr commented on #200
Hi @benyaminl,

Can you send me a screenshot of the HTML debug view?

Here is how to do it:
https://imgur.com/a/7k7HGpK

I want to check what is happening with the CSS of the table for you. I saw that bug before, but it was quickly fixed a month ago and should not be happening anymore.

[2019-05-01 03:32] mtxr commented on #200
That as updated on issue #158 per MS request,

[2019-05-01 04:10] mtxr commented on #199
@omiba what's the name of the table that has `Project` column?

[2019-05-01 04:17] mtxr commented on #199
@omiba Also, what's the `tree` prop of this result query:
[code]

[2019-05-01 05:03] mtxr commented on #193
@ransagy how is it going with the new version? Fixed?

[2019-05-01 07:12] benyaminl commented on #200
So sad leh, imgur blocked in Indonesia. I've seen it using host file.

So it's here.
![image](https://user-images.githubusercontent.com/2817332/57008517-f19c1b80-6c1a-11e9-93f4-90fd261b2e17.png)
Or maybe I need to remove and add the extension again?
Thanks.
![image](https://user-images.githubusercontent.com/2817332/57008543-1b554280-6c1b-11e9-9be5-6fe7a93debe8.png)

[2019-05-01 07:15] benyaminl commented on #200
Anyway I tried install and reinstall also clean the extension cache no help, still not working anyway. VS Code having a hard time -_-. Or maybe there's a extension that's collided with yours?

[2019-05-01 07:17] benyaminl commented on #187
Maybe consider helping via patreon monthly just for cup of coffee is great. Just $5 dollar :)
see https://www.patreon.com/mteixeira/posts :) Help @mtxr so his wife can let him work more in this tools :)

[2019-05-01 07:21] benyaminl commented on #193
If you consider maybe support @mtxr monthly via this link https://www.patreon.com/mteixeira/posts.
5 USD for a cup of coffee a month doesn't hurt but it will help his wife allow him to work more on this tools :)

[2019-05-01 07:34] benyaminl commented on #200
It said that ver 1.34, mine is 1.33, is that any possibility that it's not working on 1.33.1 ? I tried to update no new update from VS Code. Also no update from website. Hmm.. Why VS Code always break someone extension.. -_-

[2019-05-01 09:33] ransagy commented on #193
@mtxr Indeed, It works much better now, Much appreciated! Now I'll wait for the feature to limit it by table/schema (or at least prioritize it with the scoring/filtering system VSCode has) that you're working on for another issue, But this is at least now in a state that is useful for day to day work.

@benyaminl Despite not the place to have this discussion (on a specific issue), As you can see f

[2019-05-01 09:59] benyaminl commented on #193
Maybe monthly :v just kidding. I just persuade people to donate more. Hahaha..

Regards,
Benyamin Limanto

Send via Outlook for Android<https://aka.ms/ghei36> from my ASUS Pegasus X005

________________________________
From: Ran Sagy <notifications@github.com>
Sent: Wednesday, May 1, 2019 4:33:34 PM
To: mtxr/vscode-sqltools
Cc: Benyamin Limanto; Mention
Subject: Re: [mtxr/vscode-sqltools] Code com

[2019-05-01 14:01] pavkum commented on #195
@mtxr It's working fine with the port 33060. Along with the above options, I had to set SSL to true. Thank you :)

[2019-05-01 14:09] mtxr commented on #195
You're welcome!

[2019-05-01 14:09] #195 closed

[2019-05-01 14:14] mtxr commented on #200
@benyaminl can you do the screenshots again? I need to see going font-family  css prop :D

[2019-05-01 16:22] omiba commented on #199
Below is the output of your query:
`
"tableName","columnName","type","size","tableSchema","tableCatalog","dbName","defaultValue","isNullable","constraintType","tree"
"v_CommissionList","Project","nvarchar",222,"dbo","**DATABASE**","**DATABASE**","","YES","","**DATABASE**/dbo/views/v_CommissionList/Project"
"v_EX_Search","project","nvarchar",100,"dbo","**DATABASE**","**DATABASE**","","NO","","**DAT

[2019-05-01 19:19] mtxr commented on #200
@benyaminl https://transfer.sh/9985o/sqltools-0.17.17.htmlfix.vsix try this VSIX file with the commit https://github.com/mtxr/vscode-sqltools/commit/8b5e8546d7ed182b3e3644a71baf1ecfa1a31de2

I believe that fixes for you.

Use the command palette, search by VSIX and hit enter, pick the file, install and reload.

Let me know how it goes.

Thanks!

[2019-05-01 19:33] mtxr commented on #200
Sorry I didn't see this message before. VSCode are struggling a lot to link customization settings with CSS variables on webviews, so it's expected to have some problems with CSS. I'm expecting then to change a bit at least for the next 2 releases. At least those changes are not very complex, so we can quickly fix it, even though I was not expecting that for happening in version 1.34. It's the sam

[2019-05-02 02:57] benyaminl commented on #200
Transfer.sh also blocked in my country -_-. Ah.

[2019-05-02 02:58] benyaminl commented on #200
![image](https://user-images.githubusercontent.com/2817332/57054764-d1269c80-6cc0-11e9-89e4-f9039a6ada07.png)
This one?

[2019-05-02 04:07] benyaminl commented on #200
It's usable for now. Maybe need to wait for 1.34 version rolled out. Thanks Mat 👍
![image](https://user-images.githubusercontent.com/2817332/57056098-624e4100-6cca-11e9-9d2b-86a20d42201c.png)

[2019-05-02 04:33] mtxr commented on #200
@benyaminl nice!

I'll release another version in a few hours. While waiting, try to tweak the results CSS using this settings:
[code]

[2019-05-02 04:33] #200 closed

[2019-05-02 04:35] mtxr commented on #187
Closing since the purpose of this issue was achieved. But docs is an on going work that will be done more often now.

[2019-05-02 04:35] #187 closed

[2019-05-02 05:45] mtxr commented on #199
@omiba I'm realeasing a new version. Will be available shortly (v0.17.18).

I've changed the tree separator for something uncommon. I believe it can fix your issue. I couldn't reproduce it here.

Let me know how it goes.

[2019-05-02 05:45] mtxr commented on #199
Reopening. Closed by mistake

[2019-05-02 05:51] mtxr commented on #183
Got it!

I'll work on it after #188 .

I like your idea a lot

[2019-05-02 11:53] mickeypearce commented on #186
Ok, I will open a PR next week.

[2019-05-02 15:10] omiba commented on #199
Confirmed that the issue is not happening any longer.  Thanks!

[2019-05-02 15:10] #199 closed

[2019-05-02 15:18] mtxr commented on #199
@omiba thanks!

[2019-05-02 15:21] omiba opened #201 "Results window header doesn't stay locked to results"
**Describe the bug**
After selecting a bunch of data with lots of columns that go beyond the screen, when you initially scroll back and forth it works fine, but after going off the tab and resizing a few of the column widths it loses the lock between the header and the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a query with enough columns to go past the end of your screen (so

[2019-05-02 16:50] omiba opened #202 "Extension Host Crash after SQLTools.executeFromInput"
**Describe the bug**
After using a keyboard shortcut to run SQLTools.executeFromInput and having the editor open for a long period of time (30 minutes to an hour) with no activity the Extension Host will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Run some queries and leave the SQLTools results open
2. Go work on other things for 30 minutes to an hour
3. Come back and run a query

[2019-05-02 22:00] weltherrschaf opened #203 "Sidebar database explorer only shows tables and views"
**Describe the bug**
The only objects I'm shown in my sidebar database explorer are tables and views.

**Expected behavior**
I expected to see my Stored Procedures, Triggers, Assembly, etc, that are in my databases.

**Desktop (please complete the following information):**
 - SQLTools Version v0.17.18
 - VSCode Version: 1.33.1
 - Dialect Used: MSSQL 2016
 - OS: Windows

**Additional context**
Quer

[2019-05-03 01:15] mtxr commented on #202
They'd totally unexpected. Is it happening all the time with that steps or eventually?

Would you mind sharing other installed extensions you have?
I might dig deeper to find the root cause of this bug because it's unacceptable

[2019-05-03 01:19] mtxr commented on #203
That's expected. I didn't develop to list stored procedures yet for mssql, I need to put some effort on it.

Also this is a good first issue, someone can just add the queries to retrieve that information and it will start to work.

Would you like to try @weltherrschaf ? I can provide some guidance

[2019-05-03 01:23] mtxr commented on #201
No problem @omiba.

I'll work on that, I got it reproduced here, doesn't seem hard to fix. But I'll have time to fix it only tomorrow, ok?

Also thank you for donating! I you update the docs with your name, let me know if you don't want it or want to put another name.

[2019-05-03 13:11] #186 closed

[2019-05-03 13:28] deadpyxel opened #205 "SSL Error when trying to connect in MySQL database"
**Describe the bug**
I am trying to setup a connection using the extension to my remote Azure MySQL database, and keep getting an error about SSL options

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the extension
2. Create a new connection to an azure MYSQL database
3. Try to connect
4. See error message: "ERROR: Error:  { [Error: UNKNOWN_CODE_PLEASE_REPORT: SSL connection is requi

[2019-05-03 16:21] omiba commented on #202
I've had it happen 5-6 times.  I've just noticed that it seems like it's because of waiting a long time, i'm not 100% sure.

My extensions are;
Name: C#
Id: ms-vscode.csharp
Description: C# for Visual Studio Code (powered by OmniSharp).
Version: 1.19.0
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

Name: Laravel Blade Snippets
Id: on

[2019-05-03 21:35] deadpyxel commented on #205
Update, I got it working after fiddling around with the project in my local environment. The extension site is down for me, but the docs inside the project helped me out to  work around (the non recommended practice).

I would suggest that this error message was a bit clearer, since I had no idea which settings were missing.

Feel free to close this issue for now.

[2019-05-04 13:11] KorneiDontsov opened #207 "Black boxes over cells of types 'json' and 'jsonb' in "SQLTools Results" (PostgreSQL)"
**Describtion**
"SQLTools Results" renders black boxes over cells of types 'json' and 'jsonb' for PostgreSQL database.

**To Reproduce**
1. Create and connect to PostgreSQL database
2. Run queries
[code]
3. Third query gives described result

**Expected behavior**
No black boxes. Ideally there also should be a customization option to get json formatted.

**Screenshots**
![image](https://user-image

[2019-05-05 12:30] mtxr commented on #201
Fixes. To be released.

[2019-05-05 12:30] #201 closed

[2019-05-05 19:50] #207 closed

[2019-05-05 19:51] mtxr commented on #205
@deadpyxel thanks for the update.

Can you describe what you did to fix it? I can improve the docs with your findings or you can send a PR with you suggestions.

Thanks!

[2019-05-05 19:51] #205 closed

[2019-05-05 20:58] #203 closed

[2019-05-05 21:05] mtxr opened #208 "Oracle Procedures and Functions Support"
**Describe the solution you'd like**
We need to add the same support we already have for stored procedures/functionsin PostgeSQL, MySQL and MSSQL to Oracle.

**Additional context**
There is a query I've used in this project for Sublime Text, see:
https://github.com/mtxr/SublimeText-SQLTools/blob/ca45799b0b1699280478b464a1bc4a44fe4d5454/SQLTools.sublime-settings#L348

The problem is the currently I

[2019-05-05 21:06] mtxr commented on #208
@mickeypearce if you have time, please take a look at this, let me know what do you think.

[2019-05-05 21:07] mtxr commented on #202
@omiba  Thanks! I'll debug it and share my findings here

[2019-05-06 11:15] jordyvandomselaar opened #210 "Store connections somewhere else than settings"
Would it be possible to store connections somewhere else than in the config of VSCode? I sync my settings with a public gist and I don't want production credentials in there.

[2019-05-06 11:38] christiangun commented on #183
I don't know if this is possible, but for me to have the query results pop up in the panel instead of a tab would be A+. I often have my tabs in different groups and I have to move the query results around. The panel has a wide layout that suits table layouts and you could show hide it as necessary. Just my 2c :).

[2019-05-06 12:22] deadpyxel commented on #205
Sure, I'll open a PR. It's not an elegant solution, but It worked nonetheless.

[2019-05-06 13:18] ransagy commented on #183
@christiangun I think this is what happens now if you configure the settings in JSON to:

[code]

.. with the curious side-effect of not surviving vscode restarts very well - it leaves the empty space where the SQL results panel was, but connecting and executing a piece of SQL opens a new panel, leaving the empty space behind. This might be a bug that needs reporting separately, now that i think a

[2019-05-06 13:23] ransagy opened #211 "SQL Results in "location: besides" mode behaves oddly between VSCode restarts"
**Describe the bug**
When using the SQL results panel in the "location: besides" mode, where the panel opens "inside" of the SQL tab executing the query, Works well on its own. When closing and reopening VSCode, the SQL tab is retained (as per VSCode behavior/settings) and while the **space** that the SQL Results panel used to be in is retained, the panel is not. Executing another piece of SQL fro

[2019-05-06 13:44] mickeypearce commented on #208
I will gladly do it. :+1:

Just help me understand this functionality. It basically lists signatures of functions/procedures (parameters and return values data types) in explorer view. Standalone func/proc and package func/proc all under same tree node, is that correct?

[2019-05-06 13:52] mtxr commented on #208
Yes! Thanks!

Internal functions should not be listed for now. I plan to list it after completing the intellisense in a separate folder of the tree

[2019-05-06 13:58] mickeypearce commented on #210
I agree. I would suggest maybe adding a setting for specifing a DB connection configuration file, e.g: `"sqltools.connectionsConfigPath"`.

Also making the specification extension-independent, a general DB configuration that could be shareable between different extension for DB connection, e.g:
[code]

[2019-05-06 14:22] mickeypearce commented on #208
For Oracle I think it should be better to keep the "original" structure:
- procedures
-- proc1()
-- proc2()
- functions
-- func1()
-- func2()
- packages
-- pck_1
---- func()
---- proc()
-- pck_2

or not? For example If you have 40-50 user packages with more than 1K proc/func it will get quite messy otherwise.

[2019-05-06 14:32] ChrisTuckerNM commented on #44
How is the pull request coming?

[2019-05-06 14:34] ChrisTuckerNM commented on #44
Any movement on local repos for DB2?

[2019-05-06 17:29] ariel-bentu opened #212 "SAP Hana database support"
Hello,
Before I put the effort to prepare a Pull requestm I'd like to know if you would welcome a new dialect for SAP Hana.

Many thanks,
Ariel

[2019-05-06 17:35] mtxr commented on #212
Absolutely @arial-bentu!

Go for it. I'm totally welcome with contributions, dialects is were I need it most since I don't know all of them.
Please, go ahead and let me know if you need any help/guidance on it!
Welcome aboard!
On May 6 2019, at 2:29 pm, ariel-bentu <notifications@github.com> wrote:

[2019-05-06 19:48] mtxr commented on #208
That's up to you. It's just a change on the tree and we will achieve this. It does make sense to me. Thanks @mickeypearce

[2019-05-06 19:55] mtxr commented on #212
Related to #20.

[2019-05-06 19:59] mtxr commented on #210
Agreed!

@jordyvandomselaar would you like to take a shot and submit a PR for that?

[2019-05-06 20:01] mtxr commented on #44
Didn't have time to work on it yet. But PRs are welcome, for someone with knowledge on DB2 would be basic add the driver, add the queries and some copy & paste from other dialects you could use as an example

[2019-05-06 20:04] mtxr opened #213 "DOCS: How to add new dialects GUIDE"
**Is your feature request related to a problem? Please describe.**
Since the project is growing and add new dialects requests are becoming very common, we need to write a guide to add new dialects to help the community to do it.

Eg: #44 #212 #51 #106

[2019-05-06 20:08] raedwa01 opened #214 "Integrated Authentication not working with Mac and MSSQL"
I know that there have been open issues with Trusted Connections and WIndows.

I am using a mac.  I use kinit to sync with the domain and can do trusted connection using the command line MSSQL tools and the Azure Data Studio.

Was hoping your DB tool was a good way to get the features into VSCode.

I created a connection to my SQL server and got this response:

[code]

[2019-05-06 20:48] christiangun commented on #183
@ransagy I find that setting more intuitive than the default, so thanks for the tip :). But I was thinking about the panel that the terminal, debug output etc. is in. I don't want to hijack the original issue here though, just wanted to put the thought out there.

[2019-05-07 05:01] #185 closed

[2019-05-07 08:53] gulshan opened #216 "PostgreSQL error showing `relation "--" does not exist` on `Show table records`"
**Describe the bug**
On `Show table records` command in PostgreSQL error showing `relation "public.aspnetuserroles" does not exist`

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a Postgresql DB
2. Go to any table
3. Right click on table name
4. Select `Show table records`
5. See error-
[code]

**Expected behavior**
See the records from the selected table.

**Screenshots**
If app

[2019-05-07 09:02] ariel-bentu commented on #212
One more important question: Would you consider changing the license to something less viral? preferablly Apache, Eclipse ot similar?
Thanks

[2019-05-07 11:33] mtxr commented on #212
I need to check the differences first, but I don't see why not to change.

What do you want to achieve with this new licensing?

[2019-05-07 11:38] ariel-bentu commented on #212
As far as I know GPL, if I use it in our products, it requires that my product becomes open source.
I would like to prepackage your extension in our bundle.

[2019-05-07 11:53] mtxr commented on #212
Ok. Will need some time to check it, because I believe we are using some GPL libs too.

I can't check it right now, is it ok if I answer it tomorrow? I'll be checking the licenses here https://choosealicense.com/licenses/, also I'll take a look at Eclipse license that I don't know

[2019-05-07 12:14] mtxr commented on #216
Hi @gulshan,

We are not chaning the case of the table. Might be something else this error. Even though take a look https://blog.xojo.com/2016/09/28/about-postgresql-case-sensitivity/

Could you share an screenshot of your Tree view?  Also here is it working with both table names, i've created one without double quoting and another with quoutes "AspNetUserRoles".

https://imgur.com/DXWXubo

Let me

[2019-05-07 16:54] ariel-bentu commented on #212
Sure. Thanks

בתאריך יום ג׳, 7 במאי 2019, 14:53, מאת Matheus Teixeira ‏<
notifications@github.com>:

[2019-05-07 17:35] Anon232 opened #218 "[Feature Request] Oracle: Add toggle setting for table/column lookup"
Currently for the Oracle dialect the script that retrieves all tables/columns from the database has a condition where the owner of the objects must equal the current logged in user. This is a problem for me personally since where I am at, all the objects are owned by business accounts created and managed by our DBA's.

It would be great to have some kind of setting where we can toggle whether to i

[2019-05-07 17:57] mickeypearce commented on #218
Thanks for the request. 👍

Listing objects of all DB schemas is very useful. I am thinking about a extension setting in the manner of "sqltools.onlyUsersObjects" because with large databases with many schemas, it takes quite some time to load all the schemas and objects.

The other option would maybe be to add a property to connections, for example named "schema", that would be useful in cases whe

[2019-05-07 18:08] Anon232 commented on #218
Oh yeah for sure, this does create a bit of a "loading" period for objects to load because we have a rather large database so all the tables in each schema take a while to load.

I think both settings should exist. What would be useful for me is to have the onlyUsersObjects set to false, and I can include a JSON config as follows:

{
  "dialect": "OracleDB",
  "name": "oracledb1",
  "username": "d

[2019-05-07 18:20] mickeypearce commented on #218
You are right. That is exactly what exists in Oradew, although I never had a chance to properly test it:
https://github.com/mickeypearce/oradew-vscode/blob/13f9056b778256b3455dc4af6762de5c72ed5285/resources/dbconfig-schema.json#L69-L71
(sorry for cross-reference)

For loading, eventually a partial loading (for object types) or similar will be needed I guess...

[2019-05-08 00:56] #213 closed

[2019-05-08 10:44] gulshan commented on #216
Then may be casing is not the problem. Other actions like `Describe table` and `Generate insert query` are working without any problem. The database is a typical ASP.NET core "identity" database generated by the framework. Here is the tree view-

![Annotation 2019-05-08 164241](https://user-images.githubusercontent.com/751732/57369823-61c51700-71b0-11e9-8ed0-c2eb0d0c5d12.png)

[2019-05-08 15:04] Liturgist opened #220 "Add date to changelog entries"
Please add a date for the changelog entries so that the user can know when it became available or fixed.

[2019-05-08 17:22] mtxr commented on #220
Will do. But for now you can check the dates here: https://github.com/mtxr/vscode-sqltools/releases

Is it ok?

I'll update the changelog on next release

[2019-05-08 17:24] #208 closed

[2019-05-09 07:44] gulshan commented on #216
It is working now with the new version. Thanks.

[2019-05-09 09:33] jordyvandomselaar commented on #210
@mtxr Thanks for the reply! I'll have a look when I can, I've never touched VS code plugins before ( I only switched from PHPStorm to VSCode a week ago) so it might take some time.

I'm excited to learn about the plugin system though, should be a learning experience =)

[2019-05-09 21:33] #220 closed

[2019-05-10 03:18] NMSAzulX opened #221 "ER_UNKNOWN_TABLE: Unknown table 'parameters' in information_schema"
**Describe the bug**
INFO: Executing SQLTools.selectConnection
ERROR: Error:  ER_UNKNOWN_TABLE: Unknown table 'parameters' in information_schema
ERROR: Error:  { [Error: ER_UNKNOWN_TABLE: Unknown table 'parameters' in information_schema
	at handleResponse (c:\Users\Administrator\.vscode\extensions\mtxr.sqltools-0.18.2\extension.js:2164:48)
	at processMessageQueue (c:\Users\Administrator\.vscode\ex

[2019-05-10 09:06] callamaris opened #222 "Oracle datatypes in stored procedures"
**Is your feature request related to a problem? Please describe.**
Oracle 12c Database
When clicking on a stored procedure, the procedure signature will be inserted into the current editor.

This is a very usefull feature, but unfortunately it does not propperly show parameter datatypes.

1. it does not show user defined data types, but just the base type OBJECT
2. It shows __PL/SQL BOOLEAN__ inst

[2019-05-10 10:06] mickeypearce commented on #222
That would be really useful. Arguments and datatypes are read from the `args` column in `fetchFunctions` query:

https://github.com/mtxr/vscode-sqltools/blob/747ca71818f6125de279912c1130e1851c35ba3a/packages/core/dialect/oracle/queries.ts#L75

note:  `xmlagg` is used beacuse `listagg` exceeds 4000 in large procedures.

[2019-05-10 12:59] shyce opened #224 "Updating an existing global connection BUG."
**Describe the bug**
Editing connections doesn't work right. Defaults are displayed instead of the actual connection properties. After updating a connection, the port resets to default because of the prior issue and the old connection name re-appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new connection with a non-standard port under MySQL (global:3307).
2. Edit the connec

[2019-05-10 14:27] SpudNyk opened #225 "Add support for instanceName option for MSSQL"
**Is your feature request related to a problem? Please describe.**
I cannot connect to a sql server configured with instances as I cannot specify an instance name.

**Describe the solution you'd like**
Add support for the [instanceName](https://github.com/tediousjs/node-mssql/tree/v4.3.1#tedious) attribute in the connection options for MSSQL.

[2019-05-10 16:31] Liturgist commented on #220
Thanks for letting me know about dates in the history tree. I will
still be helpful to see them in the changelog. Thanks.

On Thu, May 9, 2019 at 4:33 PM Matheus Teixeira
<notifications@github.com> wrote:

[2019-05-10 16:35] mtxr commented on #220
I've also added on changeling. At least for the most recent versions

On Fri, May 10, 2019, 13:31 Paul Watson <notifications@github.com> wrote:

[2019-05-11 08:42] Drogon1573 opened #226 "A complete SQL statement will be truncated at a location that may be a keyword"
**Bug information**
If your SQL statement exists as part of the SQL keyword, SQLTools will truncate here.

**How to make this bug shows up**
1. Create a table in `SQL Server Express 2017`, which the table name is called `[Market].[dbo].[Goods]`. The table has 5 columns. They are `[Name]`, `[Series]`, `[TradeMark]`, `[MadeIn]` and `[Price]`.
2. Connect to database `[Market]` with SQLTools.
3. Show

[2019-05-11 18:37] #212 closed

[2019-05-13 19:44] callamaris commented on #222
Hi, i will look into it next week.

Listagg returns a varchar2, which is limited to 4000 characters in the sql engine but it can exceed 4000 characters when used in the plsql engine (up to ~32000 characters).

the only solution i could think of, is using a stored procedure instead. but creating stored procedures just for this purpose is a bad idea since it would break the whole thing when used wit

[2019-05-14 09:42] ransagy opened #229 "Connection indicator/progress"
I think it would be a better and more useful user experience if there was some UI element that shows a connection is in progress.

Right now, After connecting, Seemingly "nothing" happens. If we connected, At some point the connection name in the left bottom status bar would change to the connection name. If it failed, We would get a notification, but either might take quite a few seconds where th

[2019-05-14 12:26] sideshow-systems opened #230 "Connection via SSH"
Right now I'm using Sequel Pro on my mac to connect to MySQL databases. Here I do the connection via SSH. A configuration looks like this:

`
MySQL-Host: localhost
User: dbuser
Pass: dbpass
Database: dbname
Port: 3306 (optional)

SSH-Host: projectname.vagrant
SSH-User: vagrant
SSH-Key: path/to/key
SSH-Port: 22 (optional)
`

It would be great if this would be implemented so I could use the same con

[2019-05-15 13:16] KorneiDontsov opened #231 ""SQLTools Results" converts values of "timestamp" to a local time"
**Describe the bug**
"SQLTools Results" converts values of type "timestamp without timezone"(same as just "timestamp") to a local time like they're of UTC time zone.

**To Reproduce**
Steps to reproduce the behavior:
1. Run query
[code]
2. Look at result in "SQLTools Results": it has an offset corresponded to your local time zone.

For example, I'm in GMT 3, so I get the result `1969-12-31T21:00:0

[2019-05-16 06:04] mtxr commented on #69
@ransagy I finally got it working. We can open a session file when connecting, we can also attach and detach a connection from the file.

The PR #188 is pending docs to be released.

[2019-05-16 20:11] jeremypoulter commented on #230
Would this help: https://www.npmjs.com/package/ssh2 ?

Used by https://github.com/liximomo/vscode-sftp/ whick works really well in VSCode on both Linux and Windows (not tried Mac OS)

[2019-05-18 19:10] #69 closed

[2019-05-19 07:50] ransagy commented on #226
I've noticed this too; I believe this is the `GO` keyword being identified in the middle of such queries/names and interpreted as a split in the queries.

[2019-05-19 15:12] Drogon1573 commented on #226
The Following advice was suggested by my classmate. Is it easy to realize?

[2019-05-19 16:37] ransagy commented on #226
I haven't looked through the codebase, so only @mtxr can say better, but i assume it's a case of just correcting a regex in a similar manner to what your classmate suggested, yeah.

[2019-05-19 17:30] mtxr commented on #226
Hey guys, I'll take a look at this today and release it in the next release as well.

The parser is a third-party based code, so I'll need to dig a bit deeper to fix and write tests to avoid this from happening in the future.

[2019-05-20 05:00] mrchypark opened #235 "Support dialect libs extra options without filtering"
plz let me know how to set path

Thank you in advance.

[2019-05-20 05:01] mrchypark commented on #235
I tried link below `Additional security options` section.

https://dev.mysql.com/doc/dev/connector-nodejs/8.0/tutorial-Secure_Sessions.html

[2019-05-20 05:34] #226 closed

[2019-05-20 05:37] mtxr commented on #229
There is a new api for progress exchange between the language server and the UI about to be release by vscode team.

I plan to take a look at this once they release it, ok?

But definitely would be great to have a better indicator for that.

[2019-05-20 05:40] mtxr commented on #229
It uses the withProgress api defined here: https://code.visualstudio.com/api/references/vscode-api#window

But it's controled by the language-server instead of the window instance

[2019-05-20 05:42] mtxr commented on #221
Which version of MySQL are you using?

[2019-05-20 05:49] Drogon1573 commented on #226
I received an e-mail from GitHub that you fixed this bug and closed the issue. I can't wait reciving the new release and update to it! Thanks @mtxr 🎉🎉🎉

[2019-05-20 06:08] mtxr commented on #221
I'll release a new version with a possible fix. You are probably using MySQL older than v5.5 I believe by the searches I've made.

Let me know if it works for you.

[2019-05-20 06:09] mtxr commented on #202
@omiba do you still have this errors?

I tried to reproduce it here, but no success.

[2019-05-20 06:45] #211 closed

[2019-05-20 06:49] mtxr commented on #211
I've fixed this. Also I took this shot to enhance this behavior.

Now the names were changed to next, current, end or a number.
next means 'next to active editor', so it will pick the next column on right closer to the active editor.
end means 'always the last column on right', so it will create a new column every time in the last position.
current is the current column.

This is the same behavior

[2019-05-20 06:50] mtxr commented on #211
Forgot to say, the old value names 'beside' and 'active' were kept. But I believe the new ones are easier to understand.

[2019-05-20 07:17] #231 closed

[2019-05-20 07:22] #221 closed

[2019-05-20 07:57] ransagy commented on #211
That sounds great, Thank you :]

[2019-05-20 07:59] ransagy commented on #229
Yeah, definitely, let's take advantage of prior work done by the VSCode team when it's available.

[2019-05-20 08:23] ransagy opened #236 "Exception when connecting/changing connection not from an SQL file created from the sidebar"
Post the v0.19 changes for file sessions, There seems to be an issue using the `SQLTools: Connect` command. If you are not using the sidebar to create the SQL file/tab, Trying to connect throws the following exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open VSCode.
2. Create a new file or change the existing Untitled tab to be an SQL file via the language choice command

[2019-05-20 08:34] ransagy opened #237 "Missing Sessions and Multiple Connections features"
As per the changelog and Sessions and Multiple Connections documentation, The sessions/multiple connection management features are in the current v0.19 release, But it's features seem missing - No session files are opened automatically even after changing the relevant setting and the commands are missing from the palette.

[2019-05-20 11:53] mtxr commented on #236
Confirmed. Happens when no folder is open..

[2019-05-20 12:28] mtxr commented on #237
Yeah, it's not opening because it can't find a root folder. This happens when there is no open folders.

I'll close this since it's caused by #236.

Thanks again @ransagy !

[2019-05-20 12:29] mtxr commented on #237
I see you have edited this issue. You first comments are true. I'll add that features.

Reopening.

[2019-05-20 12:31] #236 closed

[2019-05-20 14:55] #237 closed

[2019-05-20 16:44] ransagy commented on #237
Confirmed, working well now. Thanks!

[2019-05-20 16:45] ransagy commented on #236
Confirmed, working well now. Thanks!

[2019-05-20 17:03] ransagy opened #238 "Add an option to configure query timeout"
While working on some heavier queries lately, I've come across the 15 second query timeout limit quite often. It would be useful to be able to configure it or even disable the timeout (per connection?) to allow for bigger/heavier queries to go through. Obviously, This shouldn't be off by default.
Changing the `connectionTimeout` setting has no effect on this either, it seems.

[2019-05-20 17:58] lando-cal opened #239 "Incompatible with VSCode Remote Container"
**Describe the bug**
While working in a the new Remote Container environment, connecting to a (container local) PGSQL server works, but any loaded tabs don't display.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a remote container environment
2. Add a PGSQL container to the docker-compose
3. Use normal extension settings to connect to the container
4. Connection will work in tree,

[2019-05-21 02:25] benyaminl opened #240 "MYSQL Timeout When connecting using account that have access to massive table and DB"
**Describe the bug**
Lately, since 1.17.4, connection to localhost using mysql driver is hard to be done, and always takes soooo long time to connect, not like previous version. It can be the driver problem, but I can't prove it now.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to DB
2. Waited (1-2 minutes, it's localhost and it's very strange)
3. Connection established
4. Suddenl

[2019-05-21 02:27] benyaminl commented on #240
Anyway as I look into it, it's query all the database columns and table, 2nd weird problem is I set the database I want to connect, it show all other database, maybe it's the root of the problem, because this database is quite heavy, and It's and ERP Database. It's from Dolibarr Project.

[2019-05-21 03:45] NMSAzulX commented on #221
@mtxr
Thanks.  There is another problem :

ERROR: Error:  ER_BAD_FIELD_ERROR: Unknown column 'f.data_type' in 'field list'
ERROR: Error:  { [Error: ER_BAD_FIELD_ERROR: Unknown column 'f.data_type' in 'field list'
	at handleResponse (C:\Users\Administrator\.vscode\extensions\mtxr.sqltools-0.19.1\extension.js:919:48)

MySql Version: 5.1.73.
Is the Mysql version too low?

[2019-05-21 12:01] mtxr commented on #221
Yes, the extension works better for 5.5 or newer.

But we can make it work for 5.5 or older, but it requires some adjustments, also some features will be disabled. But this happens in other tools as well.

For you case, the only feature that won't work would be the functions/procedures having the type signature.

@NMSAzulX If I show you where do we need to change, would you like to try to change i

[2019-05-21 12:03] mtxr commented on #239
Hi @lando-cal!

Glad you are trying the new VSCode feature!

I need to take some time to check this. This new remote environment feature is pretty new and I didn't had time to dig into that yet, ok?

If you want to take a shot and contribute you can always count on me too.

[2019-05-21 12:06] mtxr commented on #238
@ransagy which dialect are you using?

[2019-05-21 12:23] ransagy commented on #238
I have to remember writing those :]
I'm on MSSQL against an Azure SQL DB.

[2019-05-21 12:55] lando-cal commented on #239
Understandable!
I'm a bit busy this week, but I already planned on taking a shot at it when
I get a break in the workflow.
I just figured I'd put the issue in, in case anyone else comes looking for
it.
Thanks!

On Tue, May 21, 2019, 6:03 AM Matheus Teixeira <notifications@github.com>
wrote:

[2019-05-21 15:21] NMSAzulX commented on #221
@mtxr Thank you very much. First of all, I will upgrade the database. I'll learn about plug-in development later. I have to say, this plugin is really great.      : )

[2019-05-21 19:20] mtxr commented on #221
Ok, thanks for reaching me with this issue.

I'll try to take some time to make it work for older versions, but it's not a priority since MySQL 5.1 has been replaced a long time ago

Let me know how if you need anything else

[2019-05-21 19:21] mtxr commented on #239
Awesome! thanks @lando-cal !

[2019-05-22 01:31] mtxr commented on #127
@gyohza now suggestions so far.

Also, I would like to do that for all dialects, but I don't see an easy way of doing this.

I need to dig deeper because I just know how to do this for MySQL now

[2019-05-22 01:40] mtxr commented on #214
Hi @raedwa01!

I need to take a look on this. I don't have a way to test it on Mac right now, but I'm pretty sure we can do this. I've done it before in an old project.

Meanwhile, @ransagy I know you are using SQLTools with MSSQL in Azure as well, if you have any tips you could share, please give us a hand here, I'm blind for a moment. lol

[2019-05-22 01:57] mtxr commented on #214
@raedwa01 I did a quick search here because I thought I had seen it before, and I was right.

We similar issues before, take a look at #61, #126 and #129.

If that fixes you problem, please, let me know exactly what you did. I'll update the docs to include that guide.

If it works and you want to updates the docs, please go ahead and open a PR, I'll be very thankful!

[2019-05-22 02:01] mtxr commented on #225
This is already supported.

Reference: https://github.com/tediousjs/node-mssql/tree/v4.3.1#config

![image](https://user-images.githubusercontent.com/707561/58142129-40d2dc00-7c1c-11e9-87e7-82bfe515242f.png)

[2019-05-22 02:04] SpudNyk commented on #225
Yes the tedious driver supports it but the extension filters out “unknown” options, so it is not passed through to mssql/tedious.

[2019-05-22 02:04] #225 closed

[2019-05-22 02:05] mtxr commented on #225
I know, but if you add that to your server address, it should work for sure

[2019-05-22 02:06] mtxr commented on #225
[code]
@SpudNyk isn't it working like this?

[2019-05-22 02:06] SpudNyk commented on #225
Ok thanks I’ll give that a try tomorrow!

[2019-05-22 02:07] mtxr commented on #225
Ok, let me know how it goes and if needed you can always re-open the issue.

Keep me posted

[2019-05-22 02:10] mtxr commented on #230
Yeah, that would be cool.

I'm a bit in a hurry now, but I'll give it a try as soon as possible.

Right now you can do the tunneling using `ssh` command as seen here:
https://www.ssh.com/ssh/tunneling/example

If any of you guys want to try to develop it, I'll be very thankful!

[2019-05-22 03:04] NMSAzulX commented on #221
This is a mistake in my work, we did not upgrade in time. Thanks to the author's enthusiasm, I have no other questions at the moment.

[2019-05-22 05:59] sideshow-systems commented on #230
Yup, no problem there with an ssh tunnel. I'll try to implement this feature when I have some time for that.

[2019-05-22 08:57] ransagy commented on #214
All our Azure SQL connections are SQL authentication based and routed through a VPN when working remote, So I'm afraid my experience isn't very applicable here.

[2019-05-22 10:52] mtxr commented on #230
Thanks!

I'll close this for now since we have an working option.

[2019-05-22 10:52] #230 closed

[2019-05-22 11:29] SpudNyk commented on #225
Following up, that worked perfectly, though I could have sworn I had tried that method earlier.
My mistake and thank you for the help.

[2019-05-22 12:47] mitchellsimoens opened #241 "Connection use relative path of workspace"
**Is your feature request related to a problem? Please describe.**
I am using a sqlite connection, the path to the database file is the full, resolved path.

**Describe the solution you'd like**
Instead of a full path, use a relative path to the workspace. For example, it saved this to `.vscode/settings.json`:

[code]

If my workspace is opened up at the `/Users/my-user/my-project`, then I'd rathe

[2019-05-22 12:50] mitchellsimoens commented on #241
Forgot to also mention that this full path was created when I used the connection wizard and used the picker to choose the file.

[2019-05-22 19:35] saulfautley opened #242 "TypeError: Cannot read property 'addItem' of undefined"
**Describe the bug**
Just installed SQLTools for the first time and can't seem to get past this error after adding a new connection:
`Error while trying to create columns tree for MySQL Cannot read property 'addItem' of undefined`

**Screenshots**
![image](https://user-images.githubusercontent.com/2036475/58202775-b7cdaa80-7cd8-11e9-8a83-c1732c9ec507.png)
![image](https://user-images.githubusercon